<% if @composition.artists_name.blank? %>
  <% @default_descriptions = t(".default_descriptions", composition_title: @composition.title) %>
  <% en_default_descriptions = t(".default_descriptions", composition_title: @composition.title, locale: :en) %>
  <% de_default_descriptions = t(".default_descriptions", composition_title: @composition.title, locale: :de) %>
<% else %>
  <% @default_descriptions = t(".default_descriptions_with_artist", composition_title: @composition.title, artist: @composition.artists_name) %>
  <% en_default_descriptions = t(".default_descriptions", composition_title: @composition.title, artist: @composition.artists_name, locale: :en) %>
  <% de_default_descriptions = t(".default_descriptions", composition_title: @composition.title, artist: @composition.artists_name, locale: :de) %>
<% end %>

<div class="modal fade bs-example-modal-lg" id="catalogue-modal" aria-labelledby="catalogue-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header catalogue-modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2><%= t('.metadata_editor') %><%= " (ADMINS ONLY: score id #{@score.id})" if current_user.admin? || current_user.admin_light? %> </h2>
      </div>
      <div class="modal-body catalogue-modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="image-box">
              <div class="image-box-content-container text-center">
                <%= image_tag @score.cover_thumb.present? ? @score.cover_thumb : @score.cover.distributor_download.url, width: 200, height: 284, class: 'cover-thumb' rescue nil %>
                <div class="text-center">
                  <%= form_for(@score, url: cover_design_score_path(@score), method: :put, html: {id: 'upload-cover'}) do |f| %>
                    <div class="row">
                      <div class="cover_actions">
                        <div class="col-12">
                          <div class="form-group">
                            <%= f.select :cover_background_image, options_for_select(Constants::COVER_BACKGROUND_IMAGE.collect { |b| [b.humanize, "#{b}.jpg"] }), {:include_blank => 'Select Design'}, {class: 'form-control score-cover-design'} %>
                          </div>
                        </div>
                        <div class="col-12">
                          <p>
                            <%= t('.cover.choose_your_cover') %>
                            <i class="information_icon" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<%= t('.cover.choose_cover_info_point') %>"><%= image_tag('information.png', width: '12') %></i>
                          </p>
                        </div>

                        <div class="col-12">
                            <span class="btn btn-default btn-file">
                              <%= image_tag("soundnotation_dashboard/pencil-regular.png", class: "artwork-pencil", width: "30") %>
                              <%= f.file_field :cover, accept: 'image/jpeg, image/png', class: 'required score-cover' %>
                            </span>
                          <span>
                              <%= t('.cover.own_cover') %>
                            <i class="information_icon" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<%= t('.cover.own_cover_info_point') %>"><%= image_tag('information.png', width: '12') %></i>
                            </span>
                        </div>

                        <div class="col-12">
                            <span class="btn btn-default btn-file">
                              <%= image_tag("soundnotation_dashboard/pencil-regular.png", class: "artwork-pencil", width: "30") %>
                              <%= f.file_field :cover_logo, accept: 'image/*', class: 'required score-cover' %>
                            </span>
                          <span>
                              <%= t('.cover.replace') %>
                            <i class="information_icon" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<%= t('.cover.replace_info_point') %>"><%= image_tag('information.png', width: '12') %></i>
                            </span>
                        </div>

                        <div class="col-12">
                            <span class="btn btn-default btn-file">
                            <%= link_to image_tag("soundnotation_dashboard/download-regular.png", class: "artwork-pencil", width: "30"), cover_download_score_path(@score.id), target: '_blank', data: {turbolinks: false} %>
                            </span>
                          <span>
                              <%= t('.cover.download') %>
                            </span>
                        </div>

                        <!-- <div class="col-12">
                            <span class="btn btn-default btn-file">
                              <%= link_to image_tag("soundnotation_dashboard/download-regular.png", class: "artwork-pencil", width: "30"), impressum_download_score_path(@score.id), target: '_blank', data: {turbolinks: false} %>
                            </span>
                          <span>
                              <%= t('.cover.impressum_download') %>
                            </span>
                        </div>

                        <% if @score.created? && @score.score_files.only_pdf.present? %>
                          <div class="col-12">
                              <span class="btn btn-default btn-file">
                                <%= link_to image_tag("soundnotation_dashboard/download-regular.png", class: "artwork-pencil", width: "30"), final_pdf_download_score_path(@score.id), target: '_blank', data: {turbolinks: false} %>
                              </span>
                            <span>
                                <%= t('.cover.final_pdf_download') %>
                              </span>
                          </div>
                        <% end %> -->
                      </div>
                    </div>
                    <br/>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-horizontal">
              <%= simple_form_for(:meta_data, url: meta_data_update_catalog_path(score_id: @score.id), wrapper: :custom_horizontal_form, html: {class: 'catalogue-table-form'}) do |f| %>

                <%= f.fields_for :composition_attributes, @composition do |ff| %>
                  <%= ff.input :title, wrapper: :custom_horizontal_form, readonly: true, label: t('.title'), required: false, input_html: {:title => t('.message')} %>
                <% end %>

                <div class="form-group">
                  <label class="col-sm-4 control-label string optional"><%= t("meta_data.editor_modal.#{@first_author.author_type.try(:downcase)}") %></label>
                  <div class="col-sm-8">
                    <%#= debug @first_author %>
                    <input type="text" name="meta_data[authors_attributes][0][full_name_str]" class="form-control input-author" value="<%= @first_author.full_name %>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('.message') %>" readonly>
                    <input type="hidden" name="meta_data[authors_attributes][0][id]" value="<%= @first_author.id %>">
                    <input type="hidden" name="meta_data[authors_attributes][0][author_type]" value="<%= @first_author.author_type.try(:downcase) %>">
                    <input type="hidden" name="meta_data[composition_attributes][author_ids][]" value="<%= @first_author.id %>">
                  </div>
                </div>

                <div class="form-group">
                  <a class="btn append-new-catalogue-button"><%= t('.add_more') %></a>

                  <div class="catalogue-composer-container">
                    <%#= debug @authors %>
                    <% @authors.each_with_index do |author, index| %>
                      <div class="form-group dynamic-composer-field">
                        <div class="col-sm-4">
                          <input type="hidden" name="meta_data[authors_attributes][<%= index + 1 %>][author_type]" class="form-control composer-dynamic-select composer-autocomplete" value="<%= author.author_type.try(:downcase) %>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('.message') %>" readonly>
                          <input type="text" class="form-control composer-dynamic-select composer-autocomplete" value="<%= I18n.t('activerecord.attributes.author_role.' + author.author_type.try(:downcase)) %>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('.message') %>" readonly>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" name="meta_data[authors_attributes][<%= index + 1 %>][full_name_str]" class="form-control input-author dynamic-composer-input" value="<%= author.full_name %>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('.message') %>" readonly>
                          <input type="hidden" name="meta_data[authors_attributes][<%= index + 1 %>][id]" value="<%= author.id %>">
                          <input type="hidden" name="meta_data[composition_attributes][author_ids][]" value="<%= author.id %>">
                        </div>
                        <a class="btn delete-new-catalogue-button"><%= t('.remove') %></a>
                      </div>
                    <% end %>
                  </div>
                </div>

                <%= f.fields_for :score_attributes, @score do |ff| %>
                  <%= ff.input :genre, collection: Score::GENRE.collect { |g| [I18n.t('activerecord.attributes.score.genres.' + g.to_s).titleize, g] }.sort, prompt: 'Select Genre', required: false, wrapper: :custom_horizontal_form, label: t('.genre') %>
                <% end %>

                <%= f.fields_for :product_attributes, @product do |ff| %>
                  <%= ff.input :title, required: false, wrapper: :custom_horizontal_form, label: t('.instrumentation'), readonly: true, input_html: {:title => t('.message')} %>
                <% end %>

                <% unless @score.zero_difficulties? %>
                  <%= f.fields_for :score_attributes, @score do |ff| %>
                    <%= ff.input :difficulty, collection: Score::difficulties.collect { |k, v| [I18n.t('activerecord.attributes.user.' + k), k] }, prompt: t('.select_key'), required: false, wrapper: :custom_horizontal_form, readonly: true, label: t('.difficulty'), input_html: {:title => t('.message')} %>
                  <% end %>
                <% end %>

                <%= f.fields_for :composition_attributes, @composition do |ff| %>
                  <%= ff.input :key, collection: Composition::keys.collect { |k, v| [I18n.t('activerecord.attributes.composition.keys.' + k), k] }, prompt: t('.select_key'), required: false, wrapper: :custom_horizontal_form, label: t('.key') %>
                <% end %>

                <%= f.fields_for :score_attributes, @score do |ff| %>
                  <%= ff.input :keywords, required: false, wrapper: :custom_horizontal_form, label: t('.keywords') %>
                  <%= ff.input :beats_per_minute, required: false, wrapper: :custom_horizontal_form, readonly: true, label: t('.beats_per_minute'), input_html: {:title => t('.message')} %>
                <% end %>

                <!--TODO::Fix this copyright is no more an attributes-->
                <%#= f.fields_for :composition_attributes, @composition do |ff| %>
                <%#= ff.input :copyright, required: false, wrapper: :custom_horizontal_form, readonly: true, input_html: {value: ff.object.copyright || current_user.default_copyright, :title => t('.message')}, label: t('.copyright') %>
                <%# end %>


                <div class="form-group">
                  <label class="col-sm-4 control-label string optional"><%= t('.descriptions') %></label>
                  <div class="col-sm-8">
                    <a class="btn add-new-catalogue-select-button"><%= t('.add_more') %></a>
                  </div>
                </div>

                <% if @main_descriptions.blank? %>
                  <div class="form-group">
                    <div class="main-descriptions-container" data-description-1="<%= en_default_descriptions %>" data-description-2="<%= de_default_descriptions %>">
                      <div class="form-group dynamic-description-field">
                        <%= select_tag(:language_id, options_for_select(Language.order_by_name.collect { |l| [l.name, l.id] }, Language.current_locale_id), name: "meta_data[score_attributes][main_descriptions_attributes][0][language_id]", class: "form-control composer-dynamic-select composer-autocomplete lang-dynamic-select") %>
                        <div class="col-sm-8" style="margin-left: 200px; margin-top: -35px">
                          <textarea name="meta_data[score_attributes][main_descriptions_attributes][0][text]" cols="30" rows="10" class="form-control input-description dynamic-description-input"><%= @default_descriptions %></textarea>
                          <input type="hidden" name="meta_data[score_attributes][main_descriptions_attributes][0][score_id]" value="<%= @score.id %>">
                        </div>
                        <a class="btn delete-new-catalogue-button"><%= t('.remove') %></a>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="form-group">
                    <div class="main-descriptions-container" data-description-1="<%= en_default_descriptions %>" data-description-2="<%= de_default_descriptions %>">
                      <% @main_descriptions.each_with_index do |description, index| %>
                        <div class="form-group dynamic-description-field">
                          <%= select_tag(:language_id, options_for_select(Language.order_by_name.collect { |l| [l.name, l.id] }, description.language_id), name: "meta_data[score_attributes][main_descriptions_attributes][#{index}][language_id]", class: "form-control composer-dynamic-select composer-autocomplete lang-dynamic-select") %>
                          <div class="col-sm-8" style="margin-left: 200px; margin-top: -35px">
                            <textarea name="meta_data[score_attributes][main_descriptions_attributes][<%= index %>][text]" cols="30" rows="10" class="form-control input-description dynamic-description-input"><%= description.text %></textarea>
                            <input type="hidden" name="meta_data[score_attributes][main_descriptions_attributes][<%= index %>][id]" value="<%= description.id %>">
                            <input type="hidden" name="meta_data[score_attributes][main_descriptions_attributes][<%= index %>][score_id]" value="<%= @score.id %>">
                            <input type="hidden" name="meta_data[score_attributes][main_descriptions_attributes][<%= index %>][_destroy]" class="delete-description" value="false">
                          </div>
                          <a class="btn delete-new-catalogue-button"><%= t('.remove') %></a>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn catalogue-modal-save-button"><%= t('.save_all') %></button>
      </div>
    </div>
  </div>
</div>


<script type="text/template" id="template-composer-form">
  <div class="form-group dynamic-composer-field">
    <div class="col-sm-4">
      <select name="meta_data[authors_attributes][{{= composition_form_number }}][author_type]" class="form-control composer-dynamic-select composer-autocomplete lang-dynamic-select" data-sequence="{{= composition_form_number}}">
        {{ _.each(author_types, function(key, value){ }}
        <option value="{{= value }}">
          {{= upperFirst(key) }}
        </option>
        {{ }) }}
      </select>
    </div>
    <div class="col-sm-8">
      {{ if(author.id) { }}
      <input type="hidden" name="meta_data[authors_attributes][{{= composition_form_number }}][id]" value="{{= author.id }}"/>
      {{ } else { }}
      <input type="hidden" name="meta_data[authors_attributes][{{= composition_form_number }}][id]"/>
      {{ } }}
      <input name="meta_data[authors_attributes][{{= composition_form_number }}][full_name_str]" class="form-control dynamic-composer-input"/>
    </div>
    <a class="btn delete-new-catalogue-button"><%= t('.remove') %></a>
  </div>
</script>

<script type="text/template" id="template-description-form">
  <div class="form-group dynamic-description-field">

    <select name="meta_data[score_attributes][main_descriptions_attributes][{{= form_number }}][language_id]" class="form-control composer-dynamic-select composer-autocomplete lang-dynamic-select">
      {{ _.each(languages, function(language){ }}
      <option value="{{= language.id }}">
        {{= language.name }}
      </option>
      {{ }) }}
    </select>

    <div class="col-sm-8" style="margin-left: 200px; margin-top: -35px">
      <textarea name="meta_data[score_attributes][main_descriptions_attributes][{{= form_number }}][text]" cols="30" rows="10" class="form-control dynamic-description-input"><%= @default_descriptions %></textarea>
      <input type="hidden" name="meta_data[score_attributes][main_descriptions_attributes][{{= form_number }}][score_id]" value="{{= score_id }}">
    </div>
    <a class="btn delete-new-catalogue-button"><%= t('.remove') %></a>
  </div>
</script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
