$(".open-modal").html('<%= escape_javascript(render "editor_modal") %>');
$('#catalogue-modal').modal('show');
$('.readonly').tooltip({placement: 'bottom'});

window.scoreId = <%= @score.id %>;
window.languages = <%= @languages.to_json.html_safe %>;
window.authorInputCount = $('.input-author').length;
window.descriptionInputCount = $('.input-description').length;

$('.catalogue-modal-save-button').click(function () {
  var $form = $('.catalogue-table-form');
  var postData = $form.serialize();
  var formURL = $form.attr("action");
  if (validateDescriptionInput() && validateDescriptionLanguages()) {
    $.ajax({
      type: 'PATCH',
      url: formURL,
      data: postData,
      dataType: 'json',
      success: function () {
        toastr.success(I18n.t('meta_data.editor_modal.metadata_updated'));
        $('#catalogue-modal').modal('hide');
      },
      error: function (textStatus, errorThrown) {
        toastr.error(I18n.t('meta_data.editor_modal.update_failed'));
      }
    });
  }
});

$('.score-cover').change(function () {
  $('#upload-cover').submit()
});

$('.score-cover-design').change(function () {
  if ($(this).val())
    $('#upload-cover').submit()
});

$('#upload-cover').ajaxForm({
  dataType: 'json',
  beforeSubmit: function () {
    return toastr.info(I18n.t('meta_data.editor_modal.updating_information'));
  },
  complete: function (data, textStatus, jqXHR, $form) {
    $('#upload-cover')[0].reset();
    if (data.responseJSON.errors && data.responseJSON.errors.length > 0) {
      errors = data.responseJSON.errors;
      toastr.error(errors)
    }
    else {
      var score = data.responseJSON;
      $('.cover-thumb').attr('src', score.cover_thumb.url);
      toastr.success(I18n.t('meta_data.editor_modal.cover_updated'));
    }
  }
});

$('.main-descriptions-container').on('change', '.lang-dynamic-select', function (e) {
  $("option[value=" + this.value + "]", this)
  .attr("selected", "selected").siblings()
  .removeAttr("selected")
  e.preventDefault();
  var $parentDiv = $(this).parent('div');
  var defaultDescription = $('.main-descriptions-container').data('description-' + $(this).val());
  $parentDiv.find('.dynamic-description-input').val(defaultDescription);
});

$(".append-new-catalogue-button").click(function (e) {
  e.preventDefault();
  $(".catalogue-composer-container").append(_.template($('#template-composer-form').html())({
    author_types: authorTypeList(),
    author: {},
    composition_form_number: window.authorInputCount
  }));

  inputId =  $("[name='meta_data[authors_attributes]["+window.authorInputCount+"][id]']")
  inputName =  $("[name='meta_data[authors_attributes]["+window.authorInputCount+"][full_name_str]']")

  createTypeahead(inputName, inputId, window.authorInputCount, 'meta_data')
  return window.authorInputCount += 1;
});

$(".catalogue-composer-container").on("click", ".delete-new-catalogue-button", function (e) {
  e.preventDefault();
  $(this).parent('div').remove();
  return window.authorInputCount -= 1;
});

$(".add-new-catalogue-select-button").click(function (e) {
  e.preventDefault();
  $(".main-descriptions-container").append(_.template($('#template-description-form').html())({
    languages: window.languages,
    score_id: window.scoreId,
    form_number: window.descriptionInputCount
  }));
  return window.descriptionInputCount += 1;
});

$(".main-descriptions-container").on("click", ".delete-new-catalogue-button", function (e) {
  e.preventDefault();
  var $parentDiv = $(this).parent('div');
  $parentDiv.find('.delete-description').val(true);
  $parentDiv.hide();
});


function authorTypeList() {
  return {
    composer: I18n.t('meta_data.editor_modal.composer'),
    lyricist: I18n.t('meta_data.editor_modal.lyricist'),
    artist: I18n.t('meta_data.editor_modal.artist'),
    arranger: I18n.t('meta_data.editor_modal.arranger')
  };
}

function validateDescriptionInput() {
  var enoughContent = true;
  var minChars = 80;

  $('.dynamic-description-input').each(function (index, obj) {
    if (!($(obj).closest('div.dynamic-description-field').css("display") == "none")) {
      if ($(obj).val().length < minChars) {
        enoughContent = false;
        return false
      }
    }
  });

  if (enoughContent) {
    return true;
  } else {
    toastr.warning(I18n.t('meta_data.editor_modal.description_validation', {cn: minChars}));
    return false;
  }
}

function validateDescriptionLanguages() {
  var languageIds = [];
  var noUniqueLanguages = false;

  $('.lang-dynamic-select').each(function (index, obj) {
    var selectedOption = $(obj).find('[selected="selected"]');
    if (!($(obj).closest('div.dynamic-description-field').css("display") == "none")) {
      languageIds.push(selectedOption.attr('value'));
    }
  });

  noUniqueLanguages = languageIds.some(function(item, idx){ 
    return languageIds.indexOf(item) != idx 
  });

  if (noUniqueLanguages) {
    toastr.warning(I18n.t('meta_data.editor_modal.description_language_validation'));
    return false;
  } else {
    return true;
  }
}
