$black: #10161A;
$black-accent: #182026;
$dark-grey: #293742;
$grey: #8A9BA8;
$light-grey: #E1E8ED;
$white: #FFFFFF;
$primary: #137CBD;
$success: #0F9960;
$warning: #D9822B;
$danger: #DB3737;

$header-height: 64px;

$fontColor: $light-grey;
$vFill: calc(100vh - 64px);
@mixin center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}