<select data-enumeration="true" placeholder="Search" required="required" name="coupon[discount_type]" id="coupon_discount_type" style="display: none;">
  <%- [['Fixed Price', 'fixed_price'], ['Percentage', 'percentage']].each do |d_type| %>
    <% if form.object.discount_type == d_type.last %>
      <option value="<%= d_type.last %>" selected><%= d_type.first %></option>
    <% else %>
      <option value="<%= d_type.last %>"><%= d_type.first %></option>
    <% end %>
  <% end %>
  Fixed Price</select>
<div class="input-group filtering-select col-sm-2" data-input-for="coupon_discount_type" style="float: left;">
    <input type="text" class="form-control ra-filtering-select-input ui-autocomplete-input" style="display: inline-block;" placeholder="Search" autocomplete="off"><span class="input-group-btn"><label class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="Show All Items" role="button"><span class="caret"></span><span class="ui-button-text">&nbsp;</span></label></span>
</div>
