<%= form_for(composition) do |f| %>
  <% if composition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(composition.errors.count, "error") %> prohibited this composition from being saved:</h2>

      <ul>
      <% composition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :copyright %>
    <%= f.text_field :copyright %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
