<p id="notice"><%= notice %></p>

<h1>Compositions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Key</th>
      <th>Copyright</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compositions.each do |composition| %>
      <tr>
        <td><%= composition.title %></td>
        <td><%= composition.subtitle %></td>
        <td><%= composition.key %></td>
        <td><%= composition.copyright %></td>
        <td><%= link_to 'Show', composition %></td>
        <td><%= link_to 'Edit', edit_composition_path(composition) %></td>
        <td><%= link_to 'Destroy', composition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composition', new_composition_path %>
