<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @composition.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @composition.subtitle %>
</p>

<p>
  <strong>Key:</strong>
  <%= @composition.key %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @composition.copyright %>
</p>

<%= link_to 'Edit', edit_composition_path(@composition) %> |
<%= link_to 'Back', compositions_path %>
