A new sheet music has been created and uploaded just now: <br /><br />
Score: <%= @composition.title %> (Product: <%= @score.product.try(:title).try(:titleize) %>, ID: <%= @score.id %>)<br />
Transcriber: <%= @user.full_name %> (Email: <%= @user.email %>)
