<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <style>
    /*body { zoom: 800% }*/
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.tax-info {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  </style>
</head>
<body>

<div>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">

      <% currency = @invoice.amount_currency %>

      <tr class="top">
        <td class="title">
          <img src="<%= image_path wicked_pdf_asset_base64('logo.png') %>" style="width:100%; max-width:300px;">
        </td>
        <td>

        </td>
        <td align="right">
          Invoice #: <%= @invoice.invoice_id %><br>
          Created: <%= @invoice.invoicing_date.strftime("%B %d, %Y") %><br>
          Due: <%= @invoice.due_date.strftime("%B %d, %Y") %><br/>
          Payment status: <%= @invoice.state.humanize %><br/>
          <%= @invoice.paid_at.strftime("%B %d, %Y") if  @invoice.paid_at %><br/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="information">
        <td colspan="2" width="340px" style="width: 340px;">
          Soundnotation GmbH <br/>
          Herlingsburg 6-10<br/>
          22529 Hamburg<br/>
          Germany<br/>
          Phone: +49 408740 8898
        </td>

        <td align="right" width="340px" style="max-width:340px;width: 340px;">
          <%= @invoice.user.full_name %><br>
          <%= @invoice.user.company.presence %><br>
          <%= @invoice.user.email %><br/>
          <%= (@billing_address || [@invoice.user.street_house_number, @invoice.user.zip_code_city, @invoice.user.country.translations.find_by(locale: "en").name].join('<br>')).html_safe %>
          <% if @invoice.vat_number.present? %>
            <br />
            Vat Id:&nbsp;<%= @invoice.vat_number %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="heading">
        <td>
          Payment Method
        </td>
        <td>

        </td>
        <td align="right">
          Amount
        </td>
      </tr>

      <tr class="details">
        <td>
          <%= @invoice.paid_with %>
        </td>

        <td>

        </td>

        <td align="right">
          <%= @invoice.amount %>
          <%= currency %>
        </td>
      </tr>

      <tr class="heading">
        <td>
          Item
        </td>

        <td>
          Difficulty
        </td>

        <td align="right">
          Price
        </td>
      </tr>

      <% @invoice.invoice_items.each do |item| %>
        <tr class="item">
          <td><%= item.score.product.title %></td>
          <td><%= t('activerecord.attributes.user.' + item.score.difficulty.to_s) %></td>
          <td align="right"><%= item.amount %>&nbsp;<%= currency %></td>
        </tr>
      <% end %>


      <% if @invoice.cart.try(:coupon).present? %>
      <tr class="item">
        <td>&nbsp;</td>
        <td>Total Discount:</td>
        <td align="right"><%= @invoice.cart.coupon.display_name(currency) %></td>
      </tr>
      <% end %>

      <% @invoice.general_invoice_items.each do |item| %>
        <tr class="item">
          <td><%= item.description %></td>
          <td></td>
          <td align="right"><%= item.unit_cost %>&nbsp;<%= currency %></td>
        </tr>
      <% end %>

      <% shipping_cost = Money.new(@invoice.cart.shipping_cost * 100, currency).to_s %>
      <% shipping_cost = shipping_cost.split(".").join(",") if currency == 'EUR' %>

      <tr class="item">
        <td>&nbsp;</td>
        <td>Shipping Cost:&nbsp;</td>
        <td align="right"><%= shipping_cost %>&nbsp;<%= currency %></td>
      </tr>

      <% if @invoice.cart.try(:coupon).present? %>
        <tr class="item">
          <td>&nbsp;</td>
          <td>Total Discount:</td>
          <td align="right"><%= @invoice.cart.coupon.display_name(currency) %></td>
        </tr>
      <% end %>

      <% tax = Money.new(@invoice.cart.tax * 100, currency).to_s %>
      <% tax = tax.split(".").join(",") if currency == 'EUR' %>

      <% if @invoice.cart.tax_info.blank? %>
        <tr class="item">
          <td><%= @invoice.cart.tax_percent %>% of Total Price: <%= @invoice.amount - @invoice.cart.discount %></td>
          <td>Tax:&nbsp;</td>
          <td align="right"><%= tax %>&nbsp;<%= currency %><br />
          </td>
        </tr>
      <% else %>
        <tr class="tax-info">
          <td><%= @invoice.cart.tax_percent %>% of Total Price: <%= @invoice.amount - @invoice.cart.discount %></td>
          <td>Tax:&nbsp;</td>
          <td align="right"><%= tax %>&nbsp;<%= currency %><br />
          </td>
        </tr>

        <tr class="item">
          <td colspan="3" align="right">
            <small>(<%= @invoice.cart.tax_info %>)</small>
          </td>
        </tr>
      <% end %>

      <tr class="item">
        <td>&nbsp;</td>
        <td>Total:&nbsp;</td>
        <td align="right">
          <%= @invoice.amount %>&nbsp;<%= currency %>
        </td>
      </tr>
    </table>
    <table cellpadding="0" cellspacing="0">
      <tr style="font-size: 12px">
        <td>
          <h2>Soundnotation GmbH</h2>
          <p>Herlingsburg 6-10 | 22529 Hamburg | Germany | Managing Director: Martin Beinicke <br/>

            Court of Registration: Amtsgericht Hamburg | Registration Number: HRB 143996 | VAT ID Number: DE309947751
            <br/>

            Bank: Hamburger Sparkasse | IBAN: DE89 2005 0550 1228 1437 54 <br/>
        </td>
      </tr>
    </table>
  </div>

</div>
</body>
</html>
