.setupControls, input {
  user-select: none;
}

.setupControl {
  /*visibility:visible;*/
}

#buttonStart {
  background: url(image_path('audio_player/buttonStart.png')) no-repeat;
  display: inline-block;
  margin: 0.5em;
  width: 22px;
  height: 49px;
}

#buttonStart:hover {
  background: url(image_path('audio_player/buttonStart_hover.png')) no-repeat;
}

#buttonStartLeft {
  background: url(image_path('audio_player/buttonStartLeft.png')) no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  width: 26px;
  height: 32px;
}

#buttonStartLeft:hover {
  background: url(image_path('audio_player/buttonStartLeft_hover.png')) no-repeat;
}

#buttonStartRight {
  background: url(image_path('audio_player/buttonStartRight.png')) no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  width: 26px;
  height: 32px;
}

#buttonStartRight:hover {
  background: url(image_path('audio_player/buttonStartRight_hover.png')) no-repeat;
}

#soundWindow0 {
  width: 100%;
  height: 100px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

#soundWindow1 {
  width: 100%;
  height: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

#tabs {
  width: 100%;
  height: 40px;
  text-align: center;
}

.tab {
  width: 47%;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #265580;
  border: 1px solid black;
  color: white;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

input[type="range"] {
  display: inline-block;
  width: auto;
  margin-left: 15px;
  margin-right: 5px;
}
