.modal-dialog {
  @media only screen and (max-width: $phone-devices){
    margin: 25px 15px;
  }

  form {
    @media only screen and (max-width: $phone-devices){
      padding: 0 35px;
    }
    @media only screen and (max-width: $tablet-devices){
      padding: 0 35px;
    }
  }
}
