html {
  width: auto;
  height: auto;
}

body {
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.428571429;
}

h1 {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-size: 2em;
}

b {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-size: 1em;
}

p,
p strong,
p,
a {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}

.no_padding {
  padding: 0px;
}
