// media dimentions
$phone-devices : 572px;
$tablet-devices : 768px;

// media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$smail-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen-up: 1200px !default;
