/*
  Customize RailsAdmin theme here.
  Copy this file to your app/assets/stylesheets/rails_admin/custom/theming.scss, leave this one untouched
  Don't require it in your application.rb

  Look at the markup in RailsAdmin and go there to get inspiration from:

  http://getbootstrap.com

  Test me: (actual color should be the one defined in variables.scss if you did)

  body { background-color: $link-color; }
*/

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 150px;
}

/*
 * RailsAdmin html5 validation for select box, just apply the css to drop-down selector
 */

#score_scoring,
#score_product_id,
#score_composition_id,
#composition_product_language_id {
  opacity: 0;
  width: 2px;
  cursor: default;
  pointer-events: none;
  display: inline !important;
}
