<div class="modal-body distributor-modal-body">
  <div class="row">
    <div class="col-md-4">
      <p class="distributor-checkout-header"><%= t('.checkout') %></p>

      <p class="address-line"><%= t('.review_html') %></p>

      <div class="checkout-line"></div>
      <p style="font-size: 15px !important;"><b><%= t('.Billing address') %></b></p>

      <p><%= current_user.company %></p>

      <p class="address-line"><%= current_user.street_house_number %></p>

      <p class="address-line"><%= current_user.zip_code_city %></p>

      <p class="country-line"><%= current_user.country.name %></p>

      <div class="edit-line"></div>
      <div class="form-group checkout-form">
        <div class="col-sm-12">
          <label for="payment_method" class="payment-label control-label"><%= t('.Payment method') %></label>
        </div>
        <div class="col-sm-12 payment-info">
          <select class="form-control payment-select distributor-payment-select">
            <option value="other" name="other" selected="selected"><%= t('.Please choose') %></option>
            <option value="credit-card" name="credit-card"><%= t('.Credit Card') %></option>
          </select>
        </div>
      </div>
      <div class="payment-line"></div>
    </div>
    <div class="col-md-8">
      <div class="distribution-checkout-information">

        <div class="invoice-sentence">
          <div class="text-center" id="invoice-sentence"><%= t('my_soundnotation.creator_form.shop_checkout.invoice_sentence') %></div>
        </div>

        <div class="invoice-total-price">
          <div class="text-right" id="invoice-total-price"><p>Total: <%= price_with_unit(@plan.amount) %></p></div>
        </div>

        <%= form_for(:distributors, url: distributors_subscribe_path, method: :post, html: {class: 'form-horizontal subscription-form', id: 'distributor-payment-form'}) do |f| %>
          <%= hidden_field_tag :score_id, @score.id %>
          <div class="alert alert-danger hide" id="payment-error">
            <strong><%= t('.Error') %>:&nbsp;<span id="error-message"></span></strong>
          </div>

          <div class="checkout-credit-card">
            <div class="row credit-card-block">
              <%= image_tag("soundnotation_dashboard/visa-icon.png", class: "credit-card-image") %>
              <%= image_tag("soundnotation_dashboard/master-card-icon.png", class: "credit-card-image") %>
              <%= image_tag("soundnotation_dashboard/amex-icon.png", class: "credit-card-image") %>
              <%= image_tag("soundnotation_dashboard/discover-card-icon.png", class: "credit-card-image") %>
            </div>
            <div class="form-group" id="number">
              <label for="card_number" class="control-label"><%= t('.Card Number') %></label>
              <input type="text" class="form-control" data-stripe="number">
            </div>
            <div class="form-group">
              <label class="control-label">
                <span><%= t('.Expiration (MM/YYYY)') %></span>
                <input type="text" size="2" data-stripe="exp-month"/>
              </label>
              <span> / </span>
              <input type="text" size="4" data-stripe="exp-year"/>
            </div>
            <div class="form-group">
              <label for="card_holder" class="control-label"><%= t('.Card Holder') %></label>
              <input type="text" class="form-control" data-stripe="data-name" value="<%= current_user.try(:full_name) %>">
            </div>
            <div class="form-group" id="cvc">
              <label for="security_code" class="control-label"><%= t('.Security Code') %></label>
              <input type="text" class="form-control" data-stripe="cvc" style="-webkit-text-security: disc;">
            </div>
            <div class="credit-card-line"></div>
            <div class="total-credit-card-sum" id="total-price">
            </div>
          </div>
        <% end %>
        <div class="row checkout-options" id="order_details">
          <p style="margin-left: 10px; font-weight: bold; margin-bottom: 10px; margin-top: -10px;"><%= @score.product.title.humanize %></p>

          <div class="well distributor-well">
            <p class="distributor-composition-title"><%= t('.Title') %>: <%= @composition.title %></p>

            <p class="distributor-composer"><%= t('.Composer') %>: <%= @composition.composer_name %></p>

            <br>

            <p>
              <b><%= t('.Your sheet music product will be live for one year and automatically renewed unless taken down') %></b>
            </p>
            <br>
            <p>
              <b><%= t('.free_subscription_note') %></b>
            </p>
            <br>
            <p><%= t('.Distributed to') %>: <span class="shops-name"></span></p>

          </div>
          <div class="row checkout-result">
            <p class="pull-left" style="margin-left: 26px;">
              <%= t('.Difficulty') %>
              <b><%= t('activerecord.attributes.user.' + @score.difficulty) %></b> <%= t('.Arrangement') %>
              <b>Original</b>
            </p>

            <p class="pull-right" style="margin-right: 17px;"><%= price_with_unit(@plan.amount) %></p>
          </div>
          <div class="chordsheet-line"></div>
          <div class="checkout-price-calculation-text">
            <div>
              <p class="row" style="margin-bottom: 5px;"><%= t('.Net amount') %>
                : <%= price_with_unit(@plan.amount) %></p>

              <p class="row"><%= t('.VAT') %>: <%= price_with_unit(@plan.calculate_tax(current_user.id)) %></p>
            </div>
            <div class="price-calculation-line"></div>
            <a class="sub-total hidden">
              <p><%= t('my_soundnotation.score_form.checkout.total') %>: <%= price_with_unit(@plan.amount_with_tax(current_user.id)) %></p>
            </a>

            <p class="row"><%= t('.Total') %> <%= price_with_unit(@plan.amount_with_tax(current_user.id)) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
