<div class="modal-body distributor-modal-body">
  <div class="row">
    <div class="col-md-4 distributor-cover-container">
      <%= image_tag @score.cover.distributor_download.url, width: 200, height: 284 if @score.cover.url.present? %>
    </div>
    <div class="col-md-8">
      <div class="distribution-checkout-information">
        <div class="row checkout-options" id="order_details">
          <p style="margin-left: 10px; font-weight: bold; margin-bottom: 10px; margin-top: -10px;"><%= @score.product.title.humanize %></p>

          <div class="well distributor-well">
            <p class="distributor-composition-title"><%= t('distributors.distributor_payments.Title') %>: <%= @composition.title %></p>

            <p class="distributor-composer"><%= t('distributors.distributor_payments.Composer') %>: <%= @composition.composer_name %></p>

            <br>

            <p>
              <b><%= t('my_soundnotation.distributors.take_down.take_down_modal_text') %></b>
            </p>
            <br>

            <p><%= t('distributors.distributor_payments.Distributed to') %>:
              <span class="shops-name"><%= @score.shops_name %></span>
            </p>

          </div>
          <div class="row checkout-result">
            <p class="pull-left" style="margin-left: 26px;">
              <%= t('distributors.distributor_payments.Difficulty') %> <b><%=t('activerecord.attributes.user.' + @score.difficulty) %></b> <%= t('distributors.distributor_payments.Arrangement') %> <b>Original</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
