<% composition = ComposerDecorator.new(score.composition) %>
<td class="cover_field visible-md visible-lg"><%= image_tag score.cover_thumb.present? ? score.cover_thumb : score.cover.distributor_download.url, width: 100, height: 142 rescue nil %></td>
<td class="visible-md visible-lg"><%= score.publishing_date %></td>
<td class="composition-title">
  <span <%= "title=#{score.id}" if current_user.admin? %>><%= composition.title %></span>
  <% if score.demo_product? %>
    <br>
    <span class="demo-word">DEMO</span>
  <% end %>
</td>
<td class="visible-md visible-lg composition-author"><%= composition.author_name %></td>
<td class="visible-md visible-lg"><%= score.product.try(:title).try(:humanize) %></td>

<td>
  <div>
    <% if score.delivered? %>
      <button class="btn btn-sm distribute-button" disabled><%= t('.Delivered') %></button>
    <% elsif score.take_down? %>
      <button class="btn btn-sm distribute-button" disabled><%= t('.Taken Down') %></button>
    <% else %>
      <%= link_to t('.Distribute'), distributors_settings_path(score_id: score.id), class: "btn btn-sm distribute-button", :data => {remote: true} %>
    <% end %>
  </div>

  <div style="margin-top: 10px;">
    <% if score.not_delivered? %>
      <%= select_tag :options, options_for_select([t('.Update'), t('.Take Down')]), prompt: t(".Options"), class: "form-control distributor-select", data: {score_id: score.id}, disabled: true %>
    <% else %>
      <%= select_tag :options, options_for_select([[t('.Update'), 'update'], [t('.Take Down'), 'take_down']]), prompt: t(".Options"), class: "form-control distributor-select", data: {score_id: score.id} %>
    <% end %>
  </div>
  <% if current_user.admin? %>
    <div style="margin-top: 8px;">
      <input type="checkbox" name="score" data-score-id="<%= score.id %>"> <%= t('admin.actions.export.menu') %>
    </div>
  <% end %>
</td>
