<div class="modal-body distributor-modal-body">
  <%= simple_form_for(:distributors, url: distributors_update_settings_path(score_id: @score.id), html: {class: 'distributor-settings-form'}) do |f| %>
    <div class="row distributor-body-wrapper">
      <div class="col-sm-4 distributor-cover-container">
        <%= image_tag @score.cover.distributor_download.url, width: 200, height: 284 rescue nil %>
      </div>
      <div class="col-sm-4 countries-container">
        <div class="row">
          <p class="distributor-modal-paragraph"><%= t('.countries_regions') %></p>
        </div>
        <div class="row">
          <p class="distributor-modal-secondary-paragraph"><%= t('.can_this_be_sold_worldwide') %></p>
        </div>
        <div class="row">
          <label class="distributor-modal-label">
            <%= f.fields_for :score_attributes, @score do |ff| %>
              <%= ff.radio_button :world_release, true, :checked => true, class: "distributor-modal-checkbox distributor-checkbox-worldwide sale-checkbox" %>
              <%= t('.yes') %>
            <% end %>
          </label>
          <label class="distributor-modal-label distributor-checkbox-local">
            <%= f.fields_for :score_attributes, @score do |ff| %>
              <%= ff.radio_button :world_release, false, class: "distributor-modal-checkbox countires-checkbox sale-checkbox" %>
              <%= t('.no_i_have_some_restrictions') %>
            <% end %>
          </label>
        </div>
      </div>
      <div class="col-sm-4 sales-start-date-container">
        <div class="row">
          <p class="distributor-modal-paragraph"><%= t('.digital_sales_start') %></p>
        </div>
        <div class="row">
          <input type="text" name="distributors[score_attributes][publishing_date]" class="form-control datepicker-element" data-date-format="<%= t('date.formats.default') %>" data-provide='datepicker' value="<%= formatted_date(@score.publishing_date || Time.now) %>">
        </div>
        <div class="row">
          <label class="distributor-modal-label">
            <%= t('.set_release_date_html') %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8 distribution-options pull-right">
          <div class="row">
            <label class="distributor-modal-label release-in-label">
              <%= f.fields_for :score_attributes, @score do |ff| %>
                <%= ff.radio_button :custom_world_release, false, :checked => true %>  <%= t('.release_only_in') %>
              <% end %>
            </label>
          </div>
          <div class="row release-form">
            <%= f.fields_for :score_attributes, @score do |ff| %>
              <%= ff.input :country_ids, collection: Country.order_by_name.collect { |a| [a.name, a.id] }, input_html: {multiple: true, class: 'multiple-select', style: 'width: 100%;'}, wrapper: :custom_horizontal_form, label: false %>
            <% end %>
          </div>
          <div class="row additional-countries col-sm-12"></div>
          <div class="row">
            <label class="distributor-modal-label not-release-in">
              <%= f.fields_for :score_attributes, @score do |ff| %>
                <%= ff.radio_button :custom_world_release, true %>  <%= t('.Release worldwide but not in') %>
              <% end %>
            </label>
          </div>
          <div class="row">
            <%= f.fields_for :score_attributes, @score do |ff| %>
              <%= ff.input :restricted_country_ids, collection: Country.order_by_name.collect { |a| [a.name, a.id] }, input_html: {multiple: true, class: 'multiple-select', style: 'width: 100%;'}, wrapper: :custom_horizontal_form, label: false %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row distributor-modal-form">
      <div class="col-sm-4">
        <div class="row">
          <p class="distributor-modal-form-paragraph"><%= t('.title') %>:</p>

          <p class="distributor-modal-form-paragraph"><b><%= @composition.title %></b></p>
        </div>
        <div class="row">
          <p class="distributor-modal-form-paragraph"><%= t('.composer') %>:</p>

          <p class="distributor-modal-form-paragraph"><b><%= @composition.composer_name %></b></p>
        </div>
        <div class="row options-form">
          <%= f.fields_for :score_attributes, @score do |ff| %>
            <%= ff.input :gtin, label: "#{t('.ISMN/GTIN')}*", input_html: {type: :text, value: "#{@score.gtin.blank? ? (GTin.first_available) : @score.gtin}"} %>
          <% end %>
        </div>
        <div class="row options-form">
          <%= f.fields_for :score_attributes, @score do |ff| %>
            <%= ff.input :price, label: "#{t('.price')}**", collection: Score::prices.collect { |k, v| [k, k] }, required: false, hint: "**#{t('.This is how much the customer pays per download')}" %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <p class="distributor-modal-form-paragraph select-store-paragraph">
            <%= t('.SELECT THE STORES') %></p>
        </div>

        <% @shops.in_groups_of(3, false) do |shops| %>
          <div class="row">
            <% shops.each do |shop| %>
              <div class="col-sm-4">
                <%= image_tag(shop.logo.shop_thumb.url, class: "distributor-modal-store-image amazon-image") %>
                <!--<input type="checkbox" name="distributors[score_attributes][shop_ids][]" class="distributor-modal-checkbox store-checkbox amazon-checkbox" value="<%= shop.id %>" <%= 'checked' if @score.shops.include?(shop) %> >-->
                <input type="checkbox" name="distributors[score_attributes][shop_ids][]" class="distributor-modal-checkbox store-checkbox amazon-checkbox" value="<%= shop.id %>" checked>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>

    </div>
  <% end %>
</div>
