<div class="modal-body distributor-modal-body">
  <div class="row distributor-body-wrapper">
    <div class="col-sm-4 distributor-cover-container">
      <%= image_tag @score.square_cover.distributor_download.url, width: 200, height: 200, class: 'square-cover-thumb' rescue nil %>
      <div class="text-center">
        <%= form_for(@score, url: square_cover_design_score_path(@score), method: :put, html: {id: 'upload-square-cover'}) do |f| %>
          <div class="row">
            <div class="cover_actions">
              <div class="col-12">
                <div class="form-group">
                  <%= f.select :square_cover_background_image, options_for_select(Constants::SQUARE_COVER_BACKGROUND_IMAGE.collect { |b| [b.humanize, "#{b}.jpg"] }), {:include_blank => 'Select Design'}, {class: 'form-control score-square-cover-design'} %>
                </div>
              </div>
              <div class="col-12">
                <p>
                  <%= t('.cover.choose_your_cover') %>
                  <i class="information_icon" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<%= t('.cover.choose_cover_info_point') %>"><%= image_tag('information.png', width: '12') %></i>
                </p>
              </div>

              <div class="col-12">
                <span class="btn btn-default btn-file">
                  <%= image_tag("soundnotation_dashboard/pencil-regular.png", class: "artwork-pencil", width: "30") %>
                  <%= f.file_field :square_cover, accept: 'image/*', class: 'required score-square-cover' %>
                </span>
                <span>
                  <%= t('.cover.own_cover') %>
                  <i class="information_icon" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<%= t('.cover.own_cover_info_point') %>"><%= image_tag('information.png', width: '12') %></i>
                </span>
              </div>

            </div>
          </div>
          <br/>
        <% end %>
      </div>

      <div>
        <p class="distributor-modal-form-paragraph"><%= t("distributors.distributor_artists.title") %>:</p>

        <p class="distributor-modal-form-paragraph"><b><%= @composition.title %></b></p>
      </div>
      <div>
        <p class="distributor-modal-form-paragraph"><%= t('distributors.distributor_artists.composer') %>:</p>

        <p class="distributor-modal-form-paragraph"><b><%= @composition.composer_name %></b></p>
      </div>
      <%= simple_form_for(:distributors, url: distributors_update_settings_path(score_id: @score.id), html: {class: 'distributor-settings-form'}) do |f| %>
        <div class="row options-form">
          <div class="col-sm-12">
          <%= f.fields_for :score_attributes, @score do |ff| %>
            <%= ff.input :isrc_code, input_html: {value: score_isrc_code(ff.object.isrc_code)}, label: "#{t('.isrc_code')}*", hint: "*#{t('.if_you_dont_have_ismn_html')}".html_safe %>
          <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <%= simple_form_for(:distributors, url: distributors_update_settings_path(score_id: @score.id), html: {class: 'distributor-settings-form'}) do |f| %>

      <div class="col-sm-8 countries-container">
        <p class="distributor-modal-paragraph">Distribute your sheet music recording</p>
        <div class=" row options-form">
          <%= f.fields_for :score_attributes, @score do |ff| %>
            <div class="col-lg-12">
              <%= ff.label :artists_names, "Artist Name" %>
            </div>

            <div class="col-lg-12 input artists_names">
              <%= ff.input :artists_names, as: :array, label: false, class: "added_d form-control" %>
              <i class="add-recipient" id="add_new_recipient">+</i>
            </div>
          <% end %>
        </div>

        <div class="row">
          <p class="distributor-modal-form-paragraph select-store-paragraph">
            <%= t('.SELECT THE STORES') %></p>
        </div>

        <% @recording_shops.in_groups_of(3, false) do |shops| %>
          <div class="row">
            <% shops.each do |shop| %>
              <div class="col-sm-4">
                <%= image_tag(shop.logo.shop_thumb.url, class: "distributor-modal-store-image amazon-image") %>
                <!--<input type="checkbox" name="distributors[score_attributes][shop_ids][]" class="distributor-modal-checkbox store-checkbox amazon-checkbox" value="<%= shop.id %>" <%= 'checked' if @score.shops.include?(shop) %> >-->
                <input type="checkbox" name="distributors[score_attributes][recording_shop_ids][]" class="distributor-modal-checkbox store-checkbox amazon-checkbox" value="<%= shop.id %>" checked>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>

      </div>
    <% end %>
  </div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
