<div class="modal fade bs-example-modal-lg" id="sales-report-modal" aria-labelledby="sales-report-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content sales-report-modal">
      <div class="modal-header sales-report-modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2><%= t('.header.title') %></h2>
      </div>
      <div class="modal-body">
        <div class="col-md-4 col-md-offset-8">
          <input type="text" class="form-control date-range-picker">
        </div>

        <div class="sales-report-contents">
          <%= render partial: "sales_report_contents" %>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal"><%= t('admin.form.cancel') %></button>
      </div>
    </div>
  </div>
</div>
