<h1><%= t('.chart.title') %></h1>
<%= column_chart(@data_json,
                 colors: ["#209977"],
                 library: {
                   tooltip: {
                     pointFormat: "#{t('.chart.total')}: <b>{point.y}</b>"
                   }
                 }
    )
%>

<table class="table table-striped sortable">
  <thead>
  <tr>
    <th><%= t('.table.title') %></th>
    <th><%= t('.table.publisher') %></th>
    <th><%= t('.table.isbn') %></th>
    <th><%= t('.table.retailer') %></th>
  </tr>
  </thead>
  <tbody>
  <% @sales_reports.each do |sales_report| %>
    <tr>
      <td><%= sales_report.score.composition.title %></td>
      <td><%= sales_report.publisher_display %></td>
      <td><%= sales_report.gtin %></td>
      <td><%= sales_report.retailer %></td>
    </tr>
  <% end %>
  </tbody>
</table>
