<div class="modal fade bs-example-modal-lg" id="distributor-modal" aria-labelledby="distributor-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content distributor-modal">
      <% if @option_take_down %>
          <div class="modal-header distributor-modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h2>Distributor Editor: Take Down</h2>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="payments">
              <%= render 'distributor_take_down' %>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn distribute-button btn-take-down btn-update-confirm" data-delivery-status="take_down_processing" data-score-id="<%= @score.id %>"><%= t('my_soundnotation.distributors.take_down.confirm_take_down') %></button>
          </div>
      <% else %>
          <div class="modal-header distributor-modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h2><%= t('.Distribution editor') %></h2>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="distributor-options">
              <%= render 'distributor_options' %>
            </div>

            <div class="tab-pane fade" id="distributor-recording">
              <%= render 'distributor_artists' %>
            </div>

            <div class="tab-pane fade" id="payments">
              <% if @option_update %>
                  <%= render 'distributor_updates' %>
              <% else %>
                  <%= render 'distributor_payments' %>
              <% end %>
            </div>
          </div>
          <ul id="distributor-steps" class="nav nav-pills distributor-form-steps">
            <li class="active">
              <a data-toggle="pill" href="#distributor-options" class="to_distributor_options_oval" id="wrapper-nav-options"></a>
            </li>
            <li>
              <a data-toggle="pill" href="#distributor-recording" class="to_distributor_recording_oval" id="wrapper-nav-recording"></a>
            </li>
            <li>
              <a data-toggle="pill" href="#payments" id="wrapper-nav-payments" class="to_payments_oval"></a>
            </li>
          </ul>
          <div class="modal-footer">
            <a class="pull-left btn btn-nav distributor-back-button" id="to_distributor_options"><%= t('.Back') %></a>
            <a class="pull-right btn btn-nav distributor-next-button" id="to_distributor_recording"><%= t('.Next') %></a>
            <a class="pull-right btn btn-nav distributor-next-button" id="to_payments"><%= t('.Next') %></a>
            <% if @option_update %>
                <button class="btn distribute-button btn-update btn-update-confirm" data-delivery-status="update_processing" data-score-id="<%= @score.id %>"><%= t('my_soundnotation.distributors.take_down.confirm_take_down') %></button>
            <% else %>
                <button class="btn distributor-confirm-button"><%= t('.Buy') %></button>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
