$(".open-modal").html('<%= escape_javascript(render "sales_report") %>');
$('#sales-report-modal').modal('show');

$('.date-range-picker').daterangepicker(
  {
    locale: {
      format: 'DD/MM/YYYY'
    },
    startDate: moment().subtract(28, 'days').format("DD/MM/YYYY"),
    endDate: moment().format("DD/MM/YYYY")
  },
  function (start, end, label) {
    var startDate = start.format('DD/MM/YYYY');
    var endDate = end.format('DD/MM/YYYY');

    $.ajax({
      type: 'GET',
      url: '/distributors/search_sales_report',
      data: {start_date: startDate, end_date: endDate}
    });
  });
