$(".open-modal").html('<%= escape_javascript(render "settings") %>');
$('#distributor-modal').modal('show');
$(".add-recipient").on("click", function (e) {
  e.preventDefault();
  var textarea = $('<div class="new-artist"><input class="form-control added_d" name="distributors[score_attributes][artists_names][]" placeholder="Other Artist name"/><i class="remove-i">-</i></div>');

  textarea.insertAfter($(this));

  $(".new-artist .remove-i").on("click", function () {
      $(this).parent(".new-artist").remove();
  });

});

$(document).on('click', '.saved-artist > .remove-i', {}, function(e){
  $(this).parent(".saved-artist").remove();
})

$(".distributor-modal-form").show();
$('.distribution-options').hide();
$('.multiple-select').select2();
$('.distributor-confirm-button').prop('disabled', true);

if ($('.distributor-checkbox-worldwide').is(":checked")) {
  $('.distribution-options').hide();
} else {
  $('.distribution-options').show();
}

$('.countires-checkbox').click(function () {
  if ($(this).is(':checked')) {
    $('.distribution-options').show();
  } else {
    $('.distribution-options').hide();
  }
});

$('.distributor-checkbox-worldwide').click(function () {
  if ($(this).is(':checked')) {
    $('.distribution-options').hide();
  } else {
    $('.distribution-options').show();
  }
});

$('input.sale-checkbox').on('change', function () {
  $('input.sale-checkbox').not(this).prop('checked', false);
});

$('.checkout-credit-card').hide();
$('.invoice-total-price').hide();
$('.invoice-sentence').hide();

$('.distributor-payment-select').change(function () {
  if ($('.distributor-payment-select').val() === 'credit-card') {
    $('.distributor-confirm-button').prop('disabled', false);
    $('.checkout-options').hide();
    $('.checkout-credit-card').show();
    $('.invoice-total-price').hide();
    $('.invoice-sentence').hide();
    $('.gift-code-label').hide();
    $('.gift-code-input').hide();
    $('.gift-line').hide();
    $(".total-credit-card-sum").html($('.sub-total').html());
  } else if ($('.distributor-payment-select').val() === 'invoice') {
    $('.distributor-confirm-button').prop('disabled', false);
    $('.checkout-options').hide()
    $('.checkout-credit-card').hide()
    $('.invoice-total-price').show()
    $('.invoice-sentence').show()
    $('.gift-code-label').hide()
    $('.gift-code-input').hide()
    $('.gift-line').hide()
  } else {
    $('.distributor-confirm-button').prop('disabled', true);
  }
});

if ($('#distributor-options').hasClass('active')) {
  $('.distributor-confirm-button').hide();
  $('.btn-update').hide();
  $('#to_payments').hide();
}

if($('#distributor-recording').hasClass('active')){
  $('#to_payments').hide();
  $('.btn-update').hide();
  $('.to_distributor_options_oval').addClass('complete_step');
}

if($('#payments').hasClass('active')){
  $('.to_distributor_options_oval').attr("disabled", "disabled");

}

$('#to_payments, .to_payments_oval').click(function (e) {
  e.preventDefault();
  $('#distributor-steps a[href="#payments"]').tab('show');
  $("#to_distributor_recording").hide();
  $('#to_payments').hide();
  $('.distributor-confirm-button').show();
  $('.btn-update').show();
});

$("#to_distributor_recording, .to_distributor_recording_oval").click(function (e) {
  e.preventDefault();
  $('#distributor-steps a[href="#distributor-recording"]').tab('show');
  $("#to_distributor_recording").hide();
  $("#to_distributor_options").show();
  $('.distributor-confirm-button').hide();
  $('.btn-update').hide();
  $('#to_payments').show();
});

$("#to_distributor_options, .to_distributor_options_oval").click(function (e) {
  e.preventDefault();
  $('#distributor-steps a[href="#distributor-options"]').tab('show');
  $("#to_distributor_options").hide();
  $("#to_distributor_recording").show();
  $('.distributor-confirm-button').hide();
  $('.btn-update').hide();
  $('#to_payments').hide();
});


$('.btn-update-confirm').click(function (e) {
  var scoreId = $(this).data('score-id');
  var scoreUpdatePath = '/scores/' + scoreId;
  var deliveryStatus = $(this).data('delivery-status');
  var dataParams = {delivery_status: deliveryStatus};

  $.ajax({
    type: 'PATCH',
    url: scoreUpdatePath,
    data: {score: dataParams},
    success: function (data) {
      $('#distributor-modal').modal('hide');
      toastr.success(I18n.t('distributors.settings.update_successful'));
    },
    error: function (textStatus, errorThrown) {
      toastr.error(I18n.t('distributors.settings.update_failed'));
    }
  });
});

$(function () {
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
});

$('.distributor-confirm-button').click(function (e) {
  setStripeToken()
});

$('#to_payments, .to_payments_oval').click(function () {
  var $form = $('.distributor-settings-form');
  var postData = $form.serialize();
  var formURL = $form.attr("action");

  $.ajax({
    type: 'PATCH',
    url: formURL,
    data: postData,
    success: function (data) {
      var score = data.score;
      $('.shops-name').html(score.shops_name);
      toastr.success(I18n.t('distributors.settings.update_successful'));
    },
    error: function (textStatus, errorThrown) {
      toastr.error(I18n.t('distributors.settings.update_failed'));
    }
  });
});

$('.score-square-cover').change(function () {
  $('#upload-square-cover').submit()
});

$('.score-square-cover-design').change(function () {
  if ($(this).val())
    $('#upload-square-cover').submit()
});

$('#upload-square-cover').ajaxForm({
  dataType: 'json',
  beforeSubmit: function () {
    return toastr.info(I18n.t('meta_data.editor_modal.updating_information'));
  },
  complete: function (data, textStatus, jqXHR, $form) {
    $('#upload-square-cover')[0].reset();
    if (data.responseJSON.errors && data.responseJSON.errors.length > 0) {
      errors = data.responseJSON.errors;
      toastr.error(errors)
    }
    else {
      var score = data.responseJSON;
      $('.square-cover-thumb').attr('src', score.square_cover.distributor_download.url);
      toastr.success(I18n.t('meta_data.editor_modal.cover_updated'));
    }
  }
});

function setStripeToken() {
  var $form = $('.subscription-form');
  $('.distributor-confirm-button').prop('disabled', true);
  return Stripe.card.createToken($form, function (status, response) {
    if (response.error) {
      $('.distributor-confirm-button').prop('disabled', false);
      $form.find('#' + response.error.param).addClass('has-error');
      toastr.error(response.error.message);
    } else {
      var token = response.id;
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      $form.append($('<input type="hidden" name="coupon" />').val($('#gift-code-input').attr('value')));
      $form.submit();
    }
  });
}

$('.subscription-form').ajaxForm({
  beforeSubmit: function () {
    toastr.info(I18n.t('distributors.settings.payment_processing'));
    $(".page-loader").show();
  },
  complete: function (data, textStatus, jqXHR, $form) {
    $(".page-loader").hide();
    if (textStatus == 'error') {
      response = JSON.parse(jqXHR.responseText);
      toastr.error(response.error);
    } else {
      toastr.success(I18n.t('distributors.settings.payment_successful'));
      $('#distributor-modal').modal('hide');
    }
  }
});
