We have a job for you:<br />
Title: <%= @composition.title %><br />
Score: <%= @score.product.try(:title).try(:humanize) %>
  <%= " + Lyrics" if @score.has_lyrics %>
  <%= " + Chords" if @score.has_chords %><br />
Composer: <%= @composition.author_name %><br />
Difficulty: <%= @score.difficulty.try(:humanize)  %><br />
Earning: <%= number_to_currency(@score.cart_item.transcriber_price || 0) %><br />
<br />
If you are interested, please log in on <a href="www.soundnotation.com" target="_blank">www.soundnotation.com</a> and accept the corresponding job.<br />
You have <%= @mins %> minutes to take this job (up to <%= (Time.now + @mins.minutes).strftime('%H:%M') %> UTC). After this time has elapsed, we will forward the job to another transcriber. Please ignore this email if you are not available or do not want to run the job.
