<div class="tab-pane fade" id="jobs">
  <div class="job-table-container table-responsive">
    <table class="table table-striped job-table sortable">
      <thead class="job-table-header">
      <tr>
        <th>Job</th>
        <th>Genre</th>
        <th>Date</th>
        <th>Earning</th>
      </tr>
      </thead>
      <tbody>
      <% @jobs.each do |job| %>
          <tr class="job-table-row">
            <td><%= job.score.composition.title %></td>
            <td><%= job.score.genre %></td>
            <td><%= job.deadline %></td>
            <td><%= job.score.transcriber_price %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
