<div id="order_history_content">
  <div class="order-table-container table-responsive">
    <table class="table table-striped order-table sortable">
      <thead class="order-table-header">
      <tr>
        <th><%= t('profiles.order_history.date') %></th>
        <th><%= t('profiles.order_history.invoice_number') %></th>
        <th><%= t('profiles.order_history.items') %></th>
        <th><%= t('profiles.order_history.total_amount') %></th>
      </tr>
      </thead>
      <tbody>
      <% @scores.present? && @scores.each do |score| %>
        <% composition = ComposerDecorator.new(score.composition) %>
        <tr class="order-table-row">
          <td><%= composition.created_at.to_date %></td>
          <td><%= composition.invoice.invoice_id %></td>
          <td><%= composition.invoice.invoice_items.count %></td>
          <td class="pdf_field">
            <%= price_with_unit(composition.invoice.amount) %>
            <span class="pdf-badge badge"><b><%= link_to t('.pdf'), invoice_download_composition_path(score.composition.id), target: '_blank', data: {turbolinks: false} %></b></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-center order-history-pagination">
      <%= will_paginate_remote @scores, :order_history %>
    </div>
  </div>
</div>
