<div class="tab-pane fade" id="payment_details">
  <%= simple_form_for user, url: profile_path, defaults: {label: false, wrapper: false}, html: { class: 'form-horizontal payment_for' } do |f| %>
    <div class="form-group">
      <div class="col-sm-3 control-label"><%= t('.payment_method') %></div>
      <div class="col-sm-4">
        <%= f.input :payment_method, as: :select, collection: User.payment_methods.keys.map{|p| [t('.' + p), p]}, input_html: {class: 'form-control profile-payments-select'} %>
      </div>
    </div>
    <div class="form-group bank-account-select">
      <div class="col-sm-3 control-label"><%= t('.bank_account_in') %></div>
      <div class="col-sm-4">
        <%= f.input :bank_location, as: :select, collection:  %w(other europe).sort.map{|p| [t('.' + p), p]}, input_html: {class: 'form-control country-payment-select'} %>
      </div>
    </div>
    <div class="form-group bank-account-select">
      <div class="col-sm-3 control-label"><%= t('.beneficial_owner') %></div>
      <div class="col-sm-4">
        <%= f.input :beneficial_owner %>
      </div>
    </div>
    <div class="form-group bank-account-options">
      <div class="col-sm-3 control-label"><%= t('.bic') %></div>
      <div class="col-sm-4">
        <%= f.input :bic %>
      </div>
    </div>
    <div class="form-group bank-account-options">
      <div class="col-sm-3 control-label"><%= t('.iban') %></div>
      <div class="col-sm-4">
        <%= f.input :iban %>
      </div>
    </div>
    <div class="form-group other-bank-account-options">
      <div class="col-sm-3 control-label"><%= t('.bank_name') %></div>
      <div class="col-sm-4">
        <%= f.input :bank_name %>
      </div>
    </div>
    <div class="form-group other-bank-account-options">
      <div class="col-sm-3 control-label"><%= t('.routing_bank_id') %></div>
      <div class="col-sm-4">
        <%= f.input :routing_number %>
      </div>
    </div>
    <div class="form-group other-bank-account-options">
      <div class="col-sm-3 control-label"><%= t('.account_number') %></div>
      <div class="col-sm-4">
        <%= f.input :account_number %>
      </div>
    </div>
    <div class="form-group paypal-account-options">
      <div class="col-sm-3 control-label"><%= t('.paypal_email') %></div>
      <div class="col-sm-4">
        <%= f.input :paypal_email %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3 control-label"><%= t('.vat_registered') %></div>
      <div class="col-sm-4">
        <%= f.input :vat_registered?, as: :select, include_blank: false, collection: [[t('.yes'), true],[t('.no'), false]], input_html: {class: 'form-control vat-select'} %>
      </div>
    </div>
    <div class="form-group vat-id-field">
      <div class="col-sm-3 control-label"><%= t('.vat_id') %></div>
      <div class="col-sm-4">
        <%= f.input :vat_id %>
      </div>
    </div>
    <div class="form-group">
      <button class="btn update_payments_button"><%= t('.save') %></button>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">

    </div>
    <div class="col-sm-8 col-lg-8 col-md-8">
      <div class="payment-information-text">
        <p>
          <%= t('.payment_information_text_html') %>
        </p>
      </div>
    </div>
  </div>
</div>
