<div class="tab-pane fade in active" id="profile">
  <div class="row">
    <% if (errors = @user.errors.full_messages).present? %>
        <div id="error_explanation">
          <ul>
            <% errors.each do |error| %>
                <li><%= error %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form_for(@user, url: profile_path, html: {class: 'col-lg-8 form-horizontal profile-form'}) do |f| %>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.company') %></div>
          <div class="col-sm-4">
            <%= f.text_field :company, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.first_name') %></div>
          <div class="col-sm-4">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.last_name') %></div>
          <div class="col-sm-4">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.language') %></div>
          <div class="col-sm-4">
            <%= f.select :language_id, @languages.map { |language| [language.name, language.id] }, {selected: f.object.language_id || Language.find_with_locale.id}, class: 'form-control payment-select' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.email') %></div>
          <div class="col-sm-4">
            <%= f.text_field :email, type: :email, class: 'form-control email-input', placeholder: current_user.email %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.current_password') %></div>
          <div class="col-sm-4">
            <%= f.text_field :current_password, type: :password, class: 'form-control password-input', placeholder: t('.password') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.password') %></div>
          <div class="col-sm-4">
            <%= f.text_field :password, type: :password, class: 'form-control password-input', placeholder: t('.password') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.password_confirmation') %></div>
          <div class="col-sm-4">
            <%= f.text_field :password_confirmation, type: :password, class: 'form-control password-input', placeholder: t('.password_confirmation') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.street_no') %></div>
          <div class="col-sm-4">
            <%= f.text_field :street, class: 'form-control street-input' %>
          </div>
          <div class="col-sm-2">
            <%= f.text_field :house_number, class: 'form-control building-input' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.city') %></div>
          <div class="col-sm-4">
            <%= f.text_field :city, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.zip_code') %></div>
          <div class="col-sm-4">
            <%= f.text_field :zip_code, class: 'form-control' %>
          </div>
        </div>


        <% if f.object.transcriber? %>
            <div class="form-group">
              <div class="col-sm-3 control-label"><%= t('.profession') %></div>
              <div class="col-sm-4">
                <%= f.text_field :profession, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3 control-label"><%= t('.musical_education') %></div>
              <div class="col-sm-4">
                <%= f.text_field :musical_education, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3 control-label"><%= t('.education_place') %></div>
              <div class="col-sm-4">
                <%= f.text_field :education_place, class: 'form-control' %>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.country') %></div>
          <div class="col-sm-4">
            <%= f.select :country_id, @countries.map { |country| [country.name, country.id] }, {}, class: 'form-control payment-select' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.currency') %></div>
          <div class="col-sm-4">
            <%= f.select :currency_id, @currencies.map { |currency| [currency.name, currency.id] }, {}, class: 'form-control payment-select' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-3 control-label"><%= t('.keywords') %></div>
          <div class="col-sm-4">
            <%= f.text_field :keywords, class: 'form-control' %>
          </div>
        </div>

        <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg" %>
        <div class="form-group">
          <button class="btn update_profile_button"><%= t('.save') %></button>
        </div>
        <%= f.file_field :logo, class: 'hide' %>
    <% end %>
    <div class="well col-lg-4 update-logo-well">
      <div class="row" id="logo-preview" style="background: url(<%= @user.logo.url %>) center; background-size: contain; background-repeat: no-repeat;">
        <% if @user.logo.present? %>
            <h3>&nbsp;</h3>
        <% else %>
            <h3 id="logo-placeholder"><%= t('.your_logo') %></h3>
        <% end %>
      </div>
      <div class="row button-row">
        <button class="btn update_logo_button" id="company-logo-uploader"><%= t('.edit') %></button>
      </div>
    </div>
  </div>
</div>
