<div class="profile-logo-section">
	<div class="row soundnotation-logo-section">
		<% if current_user.transcriber? %>
			<%= link_to image_tag("logo.png", class: "profile-logo"), freelancers_path, class: "navbar-brand" %>
		<% else %>
			<%= link_to image_tag("logo.png", class: "profile-logo"), root_path, class: "navbar-brand" %>
		<% end %>
	</div>
</div>