<div class="profile_navbar_container">
  <nav class="navbar customer-nav user-nav navbar-default">
    <%= render 'customer_nav' %>
  </nav>
</div>
<div class="profile-container profile-content-container">
  <%= render 'profile_logo_section' %>
  <div class="row profile-main-container">
    <div class="col-lg-3">
      <ul id="profile_tabs" class="nav nav-pills nav-stacked">
        <li class="profile active"><a href="#profile" data-toggle="tab"><%= t('.profile') %></a></li>
        <li class="payment_details"><a href="#payment_details" data-toggle="tab"><%= t('.payment_details') %></a></li>
        <% if @user.transcriber? %>
            <li><%= link_to t('.jobs'), '#jobs', class: 'jobs_details' , data: { toggle: "tab"} %></li>
        <% else %>
            <li class="order_history"><a href="#order_history" data-toggle="tab"><%= t('.order_history') %></a></li>
        <% end %>
        <!--<li class="settings"><a href="#settings" data-toggle="tab"><%#= t('.settings') %></a></li>-->
      </ul>
    </div>
    <div class="tab-content profile-content col-lg-9">
      <%= render 'profile' %>
      <%= render 'payment_details', user: current_user %>
      <%= render 'job' if @user.transcriber? %>
      <%= render 'order_history' %>
      <%#= render 'settings' %>
    </div>
  </div>
</div>
