@import '../settings';

.header {
  flex: 0 0 auto;
  > .header__nav {
    display: flex;
    justify-content: space-between;
    background-color: $dark-grey;
    box-shadow:  0 0 0.4em .4em black;
  }

  > .header__menu {

  }
}