@import '../settings';

html,
body,
#root,
.app {
  min-height: 100vh;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 2 0 0;
  background-color: $black;
  margin-bottom: 0;
  position: relative;

  > .row {
    min-height: $vFill;
    margin: 0;
    > .col:first-child {
      min-height: inherit;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      background-color: $black-accent;
    }

    > .col:last-child {
      margin: 0;
      padding: 0;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  > button {
    padding: 0;
    margin: 0;
    flex: 1 1 0;
  }
}

button,
.btn,
.button,
.btn-flat,
.a[type='button'] {
  border-radius: 0;
}

.btn,
.btn-flat,
a > button,
a.btn,
a.btn-flat,
button > a {
  color: white;
}

.form-field {
  position: relative;
}

.form-field input {
  margin: 0;
  min-height: 50px;
}

.form-field-callout {
  background: rgba(255, 100, 125, .3);
  text-align: center;
  padding: .4em;
}

.fill {
  width: 100%;
}

table.highlight {
  tbody {
    tr {
      transition: background-color .25s ease, color .25s ease;
      &:hover {
        color: black;
      }
    }
  }
}

select {
  display: block !important;
  background-color: $dark-grey;
  border-radius: 0;
}

.rdtPicker {
  background-color: $dark-grey;
  width: 100%;
  min-width: 320px;
  left: 100%;
  transform: translateY(-50%);
}

#cesiumEventCreate,
#cesiumGlobe {
  height: $vFill;
}