<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div id="actions" class="row">
  <div class="col-lg-7">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button dz-clickable" :disabled='!(images < 6)'>
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
    </span>
    <button type="submit" class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Upload All</span>
    </button>
    <button type="reset" class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel all</span>
    </button>
    <span> <i class="fa fa-exclamation"></i> 6 files limit</span>
  </div>
  <div class="col-lg-5">
    <!-- The global file processing state -->
    <span class="fileupload-process">
      <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
      </div>
    </span>
  </div>
</div>

<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div class="table table-striped" class="files" id="previews">
  <div v-for='asset in venue.assets' class="file-row asset_{{asset.id}}">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview"><img :src='asset.url' width='100' height='100'/></span>
    </div>
    <div>
        <p class="name" v-text='asset.name'></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
      <p class="size">0.3 MB</p>
    </div>
    <div>
      <button class="btn btn-danger delete"
        style='display:inline;'
        v-on:click="deleteAsset(asset.id, 'snakes-lattes', $event)">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview"><img data-dz-thumbnail /></span>
    </div>
    <div>
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
        <p class="size" data-dz-size></p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
    <div>
      <button class="btn btn-primary start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start</span>
      </button>
      <button data-dz-remove class="btn btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel</span>
      </button>
      <button data-dz-remove class="btn btn-danger delete">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>
