<!-- start: SIGN IN MODAL -->
<div class="modal fade brand-modal" id="get-in-touch"
tabindex="-1"
role="dialog"
aria-labelledby="getInTouch"
aria-hidden="true"
data-sender-id='<%= current_user.id %>'
data-owner-first-name='<%= @venue.user.first_name %>'
data-sender-email='<%= current_user.email %>'
data-sender-first-name='<%= current_user.first_name %>'
data-sender-last-name='<%= current_user.last_name %>'
data-slug='<%= @venue.slug %>'
data-title='<%= @venue.name %>'
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a href='#' type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>

        <validator name="new_request">
          <div class="request_form" v-bind:style="{display: displayForm ? 'inline' : 'none'}">
            <p class="sub-title text-center">Send your book request to a <b><%= @venue.name %></b> representative</p>
            <div class="row signinErrors"></div>
            <div class="row">
              <div class='col-md-6'>
                <div class="form-group">
                  <label for="event_type">First Name</label>
                  <input type='text' class="form-control" id='firstName' v-model='firstName' disabled />
                </div>
              </div>
              <div class='col-md-6'>
                <div class="form-group">
                  <label for="event_type">Last Name</label>
                  <input type='text' class="form-control" id='lastName' v-model='lastName' disabled />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="senderEmail">Your email</label>
              <input type="email"
                class="form-control"
                id="senderEmail"
                placeholder="Email"
                v-model="senderEmail"
                v-validate:senderEmail="['required']">
              </div>
              <div class="form-group">
                <label for="event_type">What type of event are you organizing?</label>
                <select class="cs-select simple" v-model='eventOpts.eventType'
                  id='event_type'
                  validate:eventOpts.eventType="['required']">
                  <% @venue.event_types.each_with_index do |et, index| %>
                    <option value="<%= et.name %>" <%= 'selected' if index == 0 %>><%= et.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="row">
                <div class='col-md-6'>
                  <div class="form-group">
                  <label for="datetimepicker6">Date of event</label>
                      <div class='input-group date' id='datetimepicker6'>
                      <input type='text' class="form-control" v-model='eventOpts.startDate' />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class='col-md-6'>
                  <div class="form-group">
                    <label for="datetimepicker7">Time of event</label>
                    <div class='input-group date' id='datetimepicker7'>
                      <input type='text' class="form-control" v-model='eventOpts.startTime' />
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="estimatedGuests">Estimated number of guests</label>
                  <input type='number'
                    min='0'
                    max='<%= @venue.capacity_min %>'
                    class="form-control"
                    id='estimatedGuests'
                    v-model='eventOpts.estimatedGuests' />
                </div>
                <div class="col-md-6">
                  <label for="senderPhone">Your Phone number</label>
                  <input type="tel"
                    class="form-control"
                    id="senderPhone"
                    v-model="senderPhone"
                    v-validate:senderPhone=['required']>
                  <small>eg (123) 456 7899</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="eventDetails">More details</label>
              <textarea id='eventDetails'
                class="form-control"
                placeholder="To improve your booking experience - write any additional details here about your event, it will help the restaurant representative better serve you."
                v-model="eventOpts.details"
                rows='10'>
              </textarea>
            </div>
            <hr>
            <button type="submit"
              class="btn btn-primary pull-right"
              :disabled="!$new_request.valid"
              v-on:click='previewToggle()'>
              Preview and Send
            </button>
          </div>
        </validator>

        <div class="request_preview" v-bind:style="{ display: displayForm ? 'none' : 'inline' }">
          <p>Hi {{ownerFirstName}},</p>
          <p>
            My name is {{firstName}} {{lastName}} and I am interested in organizing
            an {{eventOpts.eventType}} event at {{venueTitle}} venue.
            We expect to have arround <b>{{eventOpts.estimatedGuests}} guests</b>.
            Event is planned for <b>{{eventOpts.startDate}}, {{eventOpts.startTime}}</b>.
          </p>
          <p v-if='eventOpts.details.length > 5'>More details about the event:</p>
          <p class='preview_description' v-text='eventOpts.details'></p>
          <p>
            Let's get in touch on <%= ENV['APPNAME'] %>.com or mail: <b>{{senderEmail}}</b> or phone: <b>{{senderPhone}}</b> for more details.
          </p>
          Thank you
          <hr>
          <button type="submit"
            class="btn btn-primary pull-right"
            v-on:click='submitRequest()'>
            Send Request
          </button>
          <a href='#' v-on:click='previewToggle()'>Back</a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

