<% content_for :meta_tags do %>
  <!-- fb meta tags -->
  <meta property="og:title" content="<%= @venue.name %>" />
  <meta property="og:image" content="<%= @venue.main_image_url %>" />
  <meta property="og:site_name" content="fAST"/>
  <meta property="og:url" content="<%= venue_url @venue %>" />
  <meta property="og:description" content="<%= @venue.description %>" />
  <meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] %>" />
  <meta property="og:type" content="article" />
    <!-- tw meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= ENV['APPNAME'] %>">
  <meta name="twitter:creator" content="@<%= ENV['APPNAME'] %>">
  <meta name="twitter:title" content="<%= @venue.name %>">
  <meta name="twitter:description" content="<%= @venue.description %>">
  <meta name="twitter:image" content="@venue.main_image_url">
<% end %>
