<div class="alert alert-warning alert-dismissible fade in no_remove" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <strong>Warning!</strong> Your venue is waiting for moderation and will be listed in results after approval.
</div>
