aside
  .owner_links
    ul
      li = link_to 'Edit', edit_venue_path(@venue)
      li = link_to 'Dashboard', dashboard_venue_path(@venue)
      li = link_to 'Add New Package', new_venue_package_path(@venue)
.space-10
