.content
  .row.packages
    .col-md-12.package v-for='package in packages'
      .thumbnail
        / span.index v-text='$index + 1'
        .caption
          a :href='package.urls.book'
            h3.title.pull-left v-text='package.title'
          a.pull-right :href='package.urls.edit' v-if='package.permissions.can_edit' Edit
          / div.pull-right
            / a.btn.btn-primary href='#' data-target="#get-in-touch" data-toggle="modal"
              / | Send booking request
          div.clearfix
        .row
          .col-md-8
            div
              b Package valid between:
              br/
              span v-text='package.date_range.start_date | filterdate'
              | &nbsp - &nbsp
              span v-text="package.date_range.end_date | filterdate"
              .space-10
            div
              b Attendees:
              br/
              span v-text="'min ' + package.attendees.min"
              | &nbsp - &nbsp
              span v-text="'max ' + package.attendees.max"
              .space-10
            div
              b Days available:
              ul.days_available
                li :class='{"not-active" : !package.weekdays.sunday}' Sun
                li :class='{"not-active" : !package.weekdays.monday}' Mon
                li :class='{"not-active" : !package.weekdays.tuesday}' Tue
                li :class='{"not-active" : !package.weekdays.wednesday}' Wed
                li :class='{"not-active" : !package.weekdays.thursday}' Thu
                li :class='{"not-active" : !package.weekdays.friday}' Fri
                li :class='{"not-active" : !package.weekdays.saturday}' Sat
              .space-10
          .col-md-4
            .col-md-10.col-md-offset-1
              .price_tag
                .currency
                  div.old_price v-if="package.price.new_price"
                    span v-text="'$' + package.price.regular"
                    hr
                  div v-text="'$' + (package.price.with_discount ? package.price.with_discount : package.price.regular)"
                .per_person per person
              a.btn.btn-primary :href='package.urls.book' Book this package
        .row
          .col-md-12
            h5
              strong Includes below choices:

            ul.package_options.amenities v-if='package.amenity_list.length'
              li Amenities:
              li.option v-for='amenity in package.amenity_list' v-text='amenity'
            ul.package_options.appetizer v-if='package.appetizer_list.length'
              li Appetizer:
              li.option v-for='appetizer in package.appetizer_list' v-text='appetizer'
            ul.package_options.main v-if='package.food_item_list.length'
              li Main:
              li.option v-for='foodItem in package.food_item_list' v-text='foodItem'
            ul.package_options.desert v-if='package.desert_list.length'
              li Dessert:
              li.option v-for='desert in package.desert_list' v-text='desert'
            ul.package_options.drink v-if='package.drink_list.length'
              li Drinks:
              li.option v-for='drink in package.drink_list' v-text='drink'
            hr
            p v-text='package.description'
