<br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class='table'>
        <tbody>
          <tr>
            <td>Title</td>
            <td>
              <span v-if='venue.title.length < 1' class='required'>
                Title is required
              </span>
              <span v-text='venue.title'></span>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              <span v-if='venue.address.length < 1' class='required'>
                Address is required
              </span>
              <span v-text='venue.address'></span>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <span v-text='venue.email'></span>
              <div>
<!--                 <span v-if="validation.venue.email.email" class='required'>
                  Email is required and should be of a valid format
                </span> -->
              </div>
            </td>
          </tr>
          <tr>
            <td>Website</td>
            <td v-text='venue.website'></td>
          </tr>
          <tr>
            <td>Description</td>
            <td class='description'>
              <span v-if='venue.description.length < 1' class='required'>
                Description is required, min 5 max 1500 characters.
              </span>
              <div class='preview_description' v-text='venue.description'></div>
            </td>
          </tr>
          <tr>
            <td>Venue type</td>
            <td>
              <ul class='addComma'>
                <li class='required' v-if='venue.venueTypeList.length < 1'>Nothing selected. At least one is required</li>
                <li v-for='venueType in venue.venueTypeList' v-text='venueType'></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Event type</td>
            <td>
              <ul class='addComma'>
                <li class='required' v-if='venue.eventTypeList.length < 1'>Nothing selected. At least one is required</li>
                <li v-for='eventType in venue.eventTypeList' v-text='eventType'></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Amenities</td>
            <td>
              <ul class='addComma'>
                <li class='required' v-if='venue.amenityList.length < 1'>Nothing selected. At least one is required</li>
                <li v-for='amenity in venue.amenityList' v-text='amenity'></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Images</td>
            <td>
              <span v-text='images + " " + "image(s) uploaded, min 2 required, max 6."' class='required' v-if='images < 2'></span>
              <span v-text='images' v-if='images > 1'></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<br>
