.content
  - if current_user
    - if current_user.allowed_to_comment_on(@venue)
      .row
        .col-md-2
        .col-md-10
          validator name='newReviewForm'
            form.form v-if="showForm"
              .form-group
                textarea.form-control rows='3' placeholder="Add a review to #{@venue.name} venue" v-model='newReview' v-validate:newReview="{ required : true, minlength: 50}"
              button#add_new_review.btn.btn-primary.pull-right v-on:click='addReview()' Add review
              .clearfix
      hr
      .center v-if="reviews.length < 1"
        h4 This restaurant has no reviews yet.
        h4 Know anything about it? Use the form above to add your review.
  - else
    .center.not_signed_in
      a data-target="#sign-in" data-toggle="modal" href="#"  Sign in
      |  or
      a data-target="#join-now" data-toggle="modal" href="#"  Sign up
      |  to add your review
      hrs
  .row v-for='review in reviews'
    .col-md-2
      .user
        = image_tag 'icon-profile.png', class: 'img-responsive'
        .commenter v-text='review.commenter'
    .col-md-10
      .comment
        .content v-text='review.comment'
        small.pull-right v-text='review.published_at | filtertime'
        .clearfix
