a.fb_share data-url="#{venue_url @venue}" href="#"
  i.fa.fa-facebook.colored
a href="https://plus.google.com/share?url=#{venue_url @venue}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
  i.fa.fa-google.colored.gplus_share
a.tw_share href="#{venue_url @venue}" target="_blank" title="#{@venue.name} venue on <%= ENV['APPNAME'] %>.com"
  i.fa.fa-twitter.colored
a.pin_share data-image="#{@venue.main_image_url}" data-name="#{@venue.name} on <%= ENV['APPNAME'] %>.com" href="#{venue_url @venue}"
  i.fa.fa-pinterest.colored
/! <a href="#"><i class="fa fa-linkedin colored"></i></a
