<div class="others-venues">
  <h3 class="brand-title single-line gray"><span>Similar Restaurants</span></h3>
  <div class="row">
    <% @similar_venues.each do |venue| %>
    <div class="col-sm-6 col-md-3">
      <div class="item">
        <%= link_to image_tag(venue.assets.first.image.url, class: 'img-responsive'), venue %>
        <div class="details">
          <div class="title" title='<%= venue.name %>'><%= venue.name %></div>
          <div class="price">
            <span>from</span> <%= number_to_currency venue.price %>/person
          </div>
          <%= link_to 'More', venue, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
