<ul class='social_networks'>
<%= venue_website_icon %>
<% @social_networks.each do |n| %>
  <% if !n[1].empty? %>
    <li>
      <%= link_to "#{n[1]}", target: :blank do %>
        <i class="fa fa-<%= n[0] %> colored"></i>
      <% end %>
    </li>
  <% end %>
<% end %>	
</ul>
