<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class='table social_table'>
      <tbody>
        <tr>
          <td class='social_icon'>
            <label for='social-web'><i class="fa fa-globe"></i></label>
          </td>
          <td>
            <div class="form-group">
              <input type="text"
                class="form-control"
                id="social-web"
                v-model="venue.website"
                placeholder='eg: http://myvenue.com'
                >
                <!-- v-validate:website=['website'] -->
            </div>
            <ul class='errors'>
              <!-- <li v-show="venue.website.length > 0 && validation.venue.website.website">Website url should match the example. http://myvenue.domain</li> -->
            </ul>
          </td>
        </tr>
        <tr>
          <td class='social_icon'>
            <label for='social-fb'><i class="fa fa-facebook"></i></label>
          </td>
          <td>
            <input type="text"
              id='social-fb'
              class="form-control"
              placeholder="eg: https://www.facebook.com/yourvenuepage"
              v-model="venue.social_links.facebook">
          </td>
        </tr>
        <tr>
          <td class='social_icon'>
            <label for="social-google"><i class="fa fa-google-plus"></i></label>
          </td>
          <td>
            <input type="text"
              id='social-google'
              class="form-control"
              placeholder="eg: https://plus.google.com/10751343564654654654"
              v-model="venue.social_links.google">
          </td>
        </tr>
        <tr>
          <td class='social_icon'>
            <label for="social-twitter"><i class="fa fa-twitter"></i></label>
          </td>
          <td>
            <input type="text"
              id='social-twitter'
              class="form-control"
              placeholder="eg: https://twitter.com/yourvenuename"
              v-model="venue.social_links.twitter">
          </td>
        </tr>
        <tr>
          <td class='social_icon'>
            <label for="social-pinterest"><i class="fa fa-pinterest-p"></i></label>
          </td>
          <td>
            <input type="text"
              id='social-pinterest'
              class="form-control"
              placeholder="eg: https://www.pinterest.com/yourname/"
              v-model="venue.social_links.pinterest">
          </td>
        </tr>
        <tr>
          <td class='social_icon'>
            <label for="social-linkedin"><i class="fa fa-linkedin"></i></label>
          </td>
          <td>
            <input type="text"
              id='social-linkedin'
              class="form-control"
              placeholder="eg: https://www.linkedin.com/pub/john-doe/12/258/111"
              v-model="venue.social_links.linkedin">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
