<style type="text/css" media="screen">
  #views-chart{
    width: 100%;
  }
</style>
<div class="container">
  <h3>
    <%= link_to 'GO TO VENUE', @venue, class: 'pull-right' %>
    <%= @venue.name %>'s Dashboard
  </h3>
  <hr>
  <div class="center">
    <%= image_tag 'loader.gif', class: 'loading', style: 'display: inline;' %>
  </div>
  <div id="views-chart" data-months='<%= Date::ABBR_MONTHNAMES.compact %>'></div>
  <div class="row" id='dashboard' data-slug='<%= @venue.slug %>' hidden>
    <div class="col-md-12">
      <h3>Statistics for current venue</h3>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Favorited by</td>
          <td>{{favorited_count}} {{favorited_count | pluralize 'person'}}</td>
          </tr>
          <tr>
            <td>Total bookings so far</td>
            <td>{{requests_count}} {{requests_count | pluralize 'booking'}}</td>
          </tr>
          <tr>
            <td>Total views so far</td>
            <td>{{views_count}} {{views_count | pluralize 'view'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
