<%= content_for :js_plugins do %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="/js/dropzone.js"></script>
<% end -%>
<%= hidden_field_tag :assets_token, @token %>
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-12 fade_toggle"
   id='edit_venue' data-slug='<%= params[:id] %>' hidden>
  <div class="page-header">
    <h1 v-text='venue.title'></h1>
  </div>
  <validator name='editVenue'>
  <form id='editVenue'>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="venueTitle">Name *</label>
          <input type="text"
          class="form-control"
          id="venueTitle"
          placeholder="Name"
          v-validate:title="{ minlength: 3 }"
          v-model="venue.title">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="venueEmail">Email *</label>
          <input type="text"
          class="form-control"
          id="venueEmail"
          v-model="venue.email"
          wait-for="email-loaded"
          v-validate:email=['email']
          placeholder="Email">
          <small>
            booking notifications will be sent to this email
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="venueAddress">Address *</label>
          <input type="text"
          class="form-control"
          id="venueAddress"
          v-model='venue.address'
          v-validate:address="{ minlength: 10 }"
          placeholder="Where is your restaurant located?">
          <small>
            eg: 600 Bloor Street West, Toronto, ON M6G 1K4, Canada
          </small>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <span v-if='venue.address.length > 0'>
      <i class="fa fa-exclamation"></i> Drag the pointer for a precise location
    </span>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="venueWebsite">Description * (Minimum required 5 characters)</label>
          <small>({{venue.description.length}} out of 1500)</small>
          <textarea id='venueDescription'
          class="form-control"
          placeholder="Describe your restaurant the best that you can - what's unique about your venue and why should users choose you?"
          v-model="venue.description"
          v-validate:description="{ minlength: 5, maxlength: 1500 }"
          rows='10'></textarea>
          <ul class='errors'>
            <!-- <li v-if="$newVenue.venue.description.minlength">Description is too short.</li> -->
            <!-- <li v-if="$newVenue.venue.description.maxlength">Description is too long.</li> -->
          </ul>
        </div>
      </div>
    </div>
  </form>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class='active'>
          <a href="#venue-type" aria-controls="venue-type" role="tab" data-toggle="tab">Cuisine type
            <span class='venueItemsCount' v-text='venue.venueTypeList.length'></span>
          </a>
        </li>
        <li>
          <a href="#event-type" aria-controls="event-type" role="tab" data-toggle="tab">Booking type
            <span class='venueItemsCount' v-text='venue.eventTypeList.length'></span>
          </a>
        </li>
        <li>
          <a href="#amenities" aria-controls="amenities" role="tab" data-toggle="tab">Amenities
            <span class='venueItemsCount' v-text='venue.amenityList.length'></span>
          </a>
        </li>
        <li>
          <a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images
            <span class='venueItemsCount' v-text='images'></span>
          </a>
        </li>
        <li>
          <a href="#social" aria-controls="social" role="tab" data-toggle="tab">Web & Social Networks</a>
        </li>
        <li>
          <a href="#preview" aria-controls="social" role="tab" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="venue-type">
          <br>
          <ul id='collapseVenueTypes' class="filter">
            <li class="checkbox text-uppercase checkbox-primary" v-for='venueType in venueTypes'>
              <input id="checkbox_vt_{{venueType.id}}"
              class="styled amenity-checkbox"
              type="checkbox"
              v-on:change="updateVenueTypeList(venueType.id, venueType.name)">
              <label for="checkbox_vt_{{venueType.id}}" v-text='venueType.name'></label>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="event-type">
          <br>
          <ul id='collapseEventTypes' class="filter">
            <li class="checkbox text-uppercase checkbox-primary" v-for='event in eventTypes'>
              <input id="checkbox_et_{{event.id}}"
              class="styled amenity-checkbox"
              type="checkbox"
              v-on:change="updateEventTypeList(event.id, event.name)">
              <label for="checkbox_et_{{event.id}}" v-text='event.name'></label>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="amenities">
          <br>
          <ul id='collapseAmenity' class="filter">
            <li class="checkbox text-uppercase checkbox-primary" v-for='amenity in amenities'>
              <input id="checkbox_amt_{{amenity.id}}"
              class="styled amenity-checkbox"
              type="checkbox"
              v-on:click="updateAmenities(amenity.id, amenity.name)">
              <label for="checkbox_amt_{{amenity.id}}" v-text='amenity.name'></label>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="images">
          <br>
          <%= render 'dropzone_form' %>
        </div>
        <div class="tab-pane" id="social">
          <%= render 'social_inputs' %>
        </div>
        <div class="tab-pane" id="preview">
          <%= render 'preview_save' %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  </validator>
  <button type="submit"
    class="btn btn-primary pull-right"
    :disabled='!($editVenue.valid && (venue.venueTypeList.length > 0) && (venue.eventTypeList.length > 0) && (venue.amenityList.length > 0) && (images > 1))'
    v-on:click='submitVenue'>
      Save restaurant
  </button>
</div>
<div class="clearfix"></div>
<br>
<br>

