<div id="search-results">
<!--   <div class="heading">
    <div class="container">
      <h2>
        <venue-header-message v-bind:city='search.city' v-bind:state='search.state'></venue-header-message>
      </h2>
    </div>
  </div> -->
  <div class="container fade_toggle">

    <div class="space-10"></div>

    <div class="row top-filters equal-height">
      <div class="hidden-xs col-sm-4 col-md-3">
        <div class="sidebar">
          <aside>
            Filters
            <a href="#" v-on:click='clearFilters($event)' id="clear-filters" class="pull-right">
              <i class="icon-clear"></i> Clear all
            </a>
          </aside>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="content">
          <section>
            <div class="row">
              <div class="col-sm-6 hidden-xs">
                Sort by
                <select class="sort-filter"
                  v-model="sorting"
                  v-on:change='fetchVenues()'
                  :disabled='venues.length < 2'
                  :class="{ 'disabled': venues.length < 2 }">
                  <option value="name asc">Title (A-Z)</option>
                  <option value="name desc">Title (Z-A)</option>
                  <option value="price asc">Price (Min. - Max.)</option>
                  <option value="price desc">Price (Max. - Min.)</option>
                </select>
              </div>
              <div class="col-sm-6 text-right">
                <ul class="pagination" v-if='pagination.totalPages.length > 1'>
                 <li v-for="page in pagination.totalPages" :class="{ 'active' : page === pagination.current }">
                    <a href="#" v-on:click='changePage(page, $event)'>{{page}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="space-6"></div>

    <div class="row equal-height">
      <div class="hidden-xs col-sm-4 col-md-3">
        <div class="sidebar">
          <aside>
            <div class="filters">
              <h5 class="brand-title">
                <span data-toggle="collapse" data-target="#collapseRegion">Location <i class="arrow"></i></span>
              </h5>
              <div id="collapseRegion" class="filter collapse in">
                <div class="form-group">
                  <label>Province / State</label>
                  <select class="cs-select simple states" v-model='search.state' v-state-chosen='state'>
                    <option v-for='state in states' value="{{state}}" v-text='state' :selected='state === search.state'></option>
                  </select>
                </div>
                <div class="form-group">
                  <label>City</label>
                  <select class="cs-select simple city" v-model='search.city' id='city-select' v-city-chosen='city'>
                    <option value=''>All</option>
                    <option v-for='city in cities' value="{{city}}" v-text='city'></option>
                  </select>
                </div>
              </div>

              <h5 class="brand-title">
                <span data-toggle="collapse" data-target="#collapseEvent">Booking type <i class="arrow"></i></span>
              </h5>

              <div id="collapseEvent" class="filter collapse in">
                <div class="form-group">
                  <!-- <label>Booking type</label> -->
                  <select class="cs-select simple chosen" v-model='search.eventType' id='event-type-select'>
                    <option value=''>All</option>
                    <option v-for='eventType in eventTypes' value="{{eventType.name}}">{{eventType.name}}</option>
                  </select>

                </div>
              </div>

              <h5 class="brand-title">
                <span data-toggle="collapse" data-target="#collapseVenue">
                  Cuisine type <i class="arrow"></i>
                </span>
              </h5>

              <div id="collapseVenue" class="filter collapse in">
                <div class="form-group">
                  <!-- <label>Venue type</label> -->
                  <select class="cs-select simple chosen" v-model='search.venueType' id='venue-type-select'>
                    <option value=''>All</option>
                    <option v-for='venueType in venueTypes' value="{{venueType.name}}">{{venueType.name}}</option>
                  </select>
                </div>
              </div>
              <h5 class="brand-title">
                <span>
                  Booking Date
                </span>
              </h5>
              <div class="filter brand-range">
                <a href='#' class="pull-right" id='eventDateCal' data-toggle="modal" data-target="#changeDate">change</a>
                <h5 class='text-center' v-text='search.eventDate | filterdateSearch'></h5>
              </div>
<!--               <h5 class="brand-title">
                <span data-toggle="collapse" data-target="#collapseBudget">
                  Price / person <i class="arrow"></i>
                </span>
              </h5>
              <div id="collapseBudget" class="filter brand-range collapse in">
                <input type="text" id="budget-slider"
                  name="budget"
                  value=""
                  data-max='<%= @price %>'
                  />
                <div class="checkbox text-uppercase checkbox-primary">
                  <input id="budget" class="styled"
                    type="checkbox"
                    v-on:change='updatePriceSlider()'
                    v-model='opts.noPriceLimit'>
                  <label for="budget" class="text-capitalize">No limit</label>
                </div>
              </div> -->
              <h5 class="brand-title"><span data-toggle="collapse" data-target="#collapseCapacity">Capacity <i class="arrow"></i></span></h5>
              <div id="collapseCapacity" class="filter brand-range collapse in">
                <input type="text" id="capacity-slider"
                  name="capacity"
                  value=""
                  data-min='<%= @capacity_min %>'
                  data-max='<%= @capacity_max %>' />
<!--                 <div class="checkbox text-uppercase checkbox-primary">
                  <input id="capacity" class="styled"
                    type="checkbox"
                    v-on:change='updateCapacitySlider()'
                    v-model='opts.noCapacityLimit'>
                  <label for="capacity" class="text-capitalize">No limit</label>
                </div> -->
              </div>
              <h5 class="brand-title">
                <!-- <span  data-target="#collapseAmenity"> -->
                <span>
                  Amenity
                   <!-- <i class="arrow"></i> -->
                </span>
              </h5>
              <div id="collapseAmenity" class="filter collapse in" v-for='amenity in amenities'>
                <div class="checkbox text-uppercase checkbox-primary">
                  <input id="checkbox{{amenity.id}}"
                    class="styled amenity-checkbox"
                    type="checkbox"
                    v-on:change="updateAmenityList(amenity.id, amenity.name)">
                  <label for="checkbox{{amenity.id}}" v-text='amenity.name'></label>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="no-results">We are sorry.<br>We have no results matching your criteria... yet.</div>
        <div class="content no-bg" id='filter_results'>
          <venue-component v-for="venue in venues" :venue="venue" :index="$index"></venue-component>
        </div>
      </div>
    </div>

    <div class="space-24"></div>

    <div class="others-venues" v-show='recentVenues.length > 0'>
      <h3 class="brand-title single-line gray"><span>Recently Viewed</span></h3>
      <div class="row">
        <div class="col-sm-6 col-md-3" v-for="venue in recentVenues">
          <div class="item">
            <a :href='venue.url'>
              <img :src='venue.images.thumb' alt="" class='img-responsive'>
            </a>
            <div class="details">
              <div class="title" title="{{venue.name}}">{{venue.name}}</div>
              <div class="price"><span>from</span> {{venue.price}}/person</div>
              <a :href="venue.url" class="btn btn-primary">More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-10"></div>

  </div> <!-- /container -->

  <nav id="side-menu" hidden>
    <ul>
      <li>
        <a href="#/">FILTER  - {{allVenuesCount}}</a>
      </li>
      <li><a href="#/city">City<small v-text='" - " + search.city' v-if='search.city.length > 0'></small></a>
        <ul>
          <li v-for='city in cities'>
            <a :href="'#/cities/' + city.toLowerCase().replace(' ', '-')"
                  v-text='city'
                  v-on:click='search.city = city'>
            </a>
          </li>
        </ul>
      </li>
      <li><a href="#/event-types">Booking Type<small v-text='" - " + search.eventType' v-if='search.eventType.length > 0'></small></a>
        <ul>
          <li v-for='eventType in eventTypes'>
            <a :href="'#/event-types/' + eventType.name.toLowerCase().replace(' ', '-')"
                  v-text='eventType.name'
                  v-on:click='search.eventType = eventType.name'>
            </a>
          </li>
        </ul>
      </li>
      <li><a href="#/venue-types">Cuisine Type<small v-text='" - " + search.venueType' v-if='search.venueType.length > 0'></small></a>
        <ul>
          <li v-for='venueType in venueTypes'>
            <a :href="'#/venue-types/' + venueType.name.toLowerCase().replace(' ', '-')"
                  v-text='venueType.name'
                  v-on:click='search.venueType = venueType.name'>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#/price-per-person" title="">Price per person
          <small v-text='" " + priceMin + " - " + priceMax' v-if='(priceMin + priceMax) > 0'></small>
        </a>
      <ul>
        <li>
          <form class="form-inline">
            <div class="col-xs-6">
              <input type="number" value="" class="form-control"
                name='price-min' placeholder='min' min='0'
                v-model='priceMin'
                />
            </div>
            <div class="col-xs-6">
              <input type="number" value="" class="form-control"
                name='price-max' placeholder='max' min='0'
                v-model='priceMax'
                />
            </div>
          </form>
        </li>
      </ul>
      </li>
      <li><a href="#/clear-all-filters" v-on:click='clearFilters($event)'>Clear filters</a></li>
    </ul>
  </nav>

</div> <!-- /search-results -->

<script type = "text/template" id='venue-template'>
<article>
  <div class="thumb">
    <div class="ribbon" v-if='venue.discount'><span v-text='venue.discount'></span></div>
    <div class="ribbon premium" v-if='venue.premium'><span class='premium'>Featured</span></div>
    <img :src="/no-photo.png" alt="" v-if="venue.images.all.length < 1">
    <div class="owl">
      <div v-for="image in venue.images.samples">
        <img :src='image' alt="">
      </div>
    </div>
  </div>
  <div class="details">
    <div class="clearfix">
      <div class="l_c">
        <a class="title" v-text='venue.name' :href='venue.url'></a>
        <div class="params">
          <span>
            <i class="fa fa-cutlery"></i>
            <ul class='venue-types'>
              <li v-for='vtype in venue.venue_types' v-text='vtype.name'>asdfsf</li>
            </ul>
          </span>
          <span><i class="fa fa-male"></i>attendees: {{venue.capacity_min}} - {{venue.capacity_max}} </span>
          <span><i class="fa fa-map-marker"></i> {{venue.short_address}}</span>
<!--           <span>
            <i class="fa fa-calendar"></i> {{venue.availability.from | filterdateNoYear}} - {{venue.availability.to | filterdateSearch}}
          </span> -->
        </div>
      </div>
      <div class="r_c">
        <div class="price"><span>from</span> {{venue.price}}</div>
        <div class="btn-group" role="group">
          <a :href="venue.url" class="btn btn-primary" style='min-width: 100px;'>Redeem Special</a>
          <a title='{{venue.favorite.liked ? "Remove from favorites" : "Add to favorites"}}'
            href= '#'
            v-show='venue.favorite.show'
            id='favLink_{{venue.id}}'
            class="btn btn-primary border"
            v-on:click='favoriteToggle(venue.slug, venue.id, $event)'
            data-like='{{venue.favorite.liked ? "unlike" : "like"}}'
            :class="{ 'addedFav' : venue.favorite.liked }">
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="description">
      <div class='reviews_count' v-if='venue.reviews_count > 0'>
        <span v-text='venue.reviews_count'></span>
        <span v-text="parseInt(venue.reviews_count) | pluralize 'review'"></span>
      </div>
      <div v-text='venue.description'>
    </div>
    <div class="more-params">
    </div>
  </div>
</article>
</script>

<!-- Modal -->
<div class="modal fade" id="changeDate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change the event date</h4>
      </div>
      <div class="modal-body">
        <div id="inlineCalendar"></div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
