<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if params[:from].present? %>
        <%= render "venues/redeem/#{params[:from]}" %>
      <% else %>
        <center>
          <h3>Oops! Nothing to do here...</h3>
        </center>
      <% end %>
    </div>
  </div>
</div>
