= content_for :js_plugins
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
= render 'meta_tags'
#venue-details.venue_page data-slug="#{@venue.slug}" data-url="#{venue_url @venue}"
  = render 'not_listed' unless @venue.listed
  .container
    .overview
      .row
        .col-md-8
          .space-10
          .images.clearfix
            .venue-images
              - @venue.assets.each do |asset|
                div = image_tag asset.image.url, class: 'img-responsive'
            .dots-container.hidden-xs
              - @venue.assets.each do |asset|
                div = image_tag asset.image.url(:thumb), class: 'img-responsive'
            .label = @venue.name
          .space-10
          section.hidden-xs
            h2.title Restaurant Overview
            .content
              .row
                .col-md-6
                  .option
                    h4.yellow Occupancy
                    p Maximum occupancy:  #{pluralize(@venue.capacity_max, 'people')}
                  .option
                    h4.yellow Cuisine types
                    p = @venue.venue_type_list
                  .option
                    h4.yellow Booking types
                    = @venue.event_type_list
                  .option
                    h4.yellow Amenities
                    = @venue.amenity_list
                .col-md-6
                  #map.address-map data-lat="#{@venue.latitude}" data-lng="#{@venue.longitude}" data-title="#{@venue.name}"
                  span
                    = @venue.address
            hr/
            .content
              =simple_format @venue.description
          section.hidden-xs
            .social
              .l_c
                span Restaurant social pages
                = render 'social_links' if @social_networks.any?
              .r_c.hidden-xs
                span Share
                = render 'share_links'
          / hr
          / section.ratings
          /   h2.title Ratings
          /   = render 'ratings'
          .center
            = image_tag 'loader.gif', class: 'loading', style: 'display: inline;'

          hr
          section.reviews.hidden-xs style='display:none'
            h2.title
              | Reviews
              |  (
              span v-text="reviews.length"
              | )
            / ul.nav.nav-pills role="tablist"
            /   li :class="{'active' : activeTab === 'packages'}" data-pill='packages' v-on:click="packagesReviewsToggle('packages', $event)"
            /     a href="#"
            /       | Packages
            /       span.badge v-text='packages.length'
            /   li :class="{'active' : activeTab === 'reviews'}" data-pill='reviews' v-on:click="packagesReviewsToggle('reviews', $event)"
            /     a href="#"
            /       | Reviews
            /       span.badge v-text="reviews.length"
              / a href='#' v-text="$interpolate('Reviews (' + reviews.length + ')')"
            hr
            / div v-show="activeTab === 'packages'"
            /   = render 'packages'
            div v-show="activeTab === 'reviews'"
              = render 'reviews'

        .col-md-4
          .space-10
          = render 'owner_links' if current_user && current_user.owner_of?(@venue)
          .package_listing
            = render 'package_listing'
              .space-14
          - if current_user.present? && !current_user.owner_of?(@venue)
            aside
              / a.btn.btn-primary.get-in-touch data-target="#get-in-touch" data-toggle="modal" href="#"  Send booking request
              - if current_user.liked? @venue
                .fav-opts data-method="unlike" data-text="Remove from favorites"
              - else
                .fav-opts data-method="like" data-text="Add to favorites"
              a.btn.btn-primary.get-in-touch.favorites_button href="#" :disabled="favorite.disabled" v-on:click="favoritesToggle($event)" v-text="favorite.text"
            / - else
              / a.btn.btn-primary.get-in-touch data-target="#sign-in" data-toggle="modal" href="#sign-in"  Send booking request

      .row.visible-xs
        .col-sm-12
          section
            h2.title Restaurant Overview
            .content
              .row
                .col-sm-12
                  .option
                    h4.yellow Occupancy
                    p Maximum occupancy:  #{pluralize(@venue.capacity_max, 'people')}
                  .option
                    h4.yellow Venue type
                    p = @venue.venue_type_list
                  .option
                    h4.yellow Event types
                    = @venue.event_type_list
                  .option
                    h4.yellow Amenities
                    = @venue.amenity_list
                  .option
                    h4.yellow Address
                    = @venue.address
          hr
          section.reviews style='display:none'
            h2.title
              | Reviews
              |  (
              span v-text="reviews.length"
              | )
            hr
            div v-show="activeTab === 'reviews'"
              = render 'reviews'

    .space-10
    - if @similar_venues.any?
      = render 'similar_venues'
    .space-10
= render 'get_in_touch' if current_user.present?
