.benefits-section[style="background: none; padding: 0px;"]
  .col-md-12
    .text-center
      p.tools-text.benefits-text.text-center
        = t('benefits_pre_title')
    .row
      .col-sm-6.col-lg-4.col-xs-12.col-md-4.no_padding
        .card.publisher-card
          = image_tag("pen.jpg", class: "card-img-top")
          .card-title
            h4
              = t('benefits_publisher_title')
          .card-block
            ul.card-text
              = t('benefits_publisher_description_html')

      .col-sm-6.col-lg-4.col-xs-12.col-md-4.no_padding
        .card.label-card
          = image_tag("mixer.jpg", class: "card-img-top")
          .card-title
            h4.label-title
              = t('benefits_label_title', class: "label-title")
          .card-block
            ul.card-text
              = t('benefits_label_description_html')

      .col-sm-12.col-lg-4.col-xs-12.col-md-4.no_padding
        .card.composer-card
          = image_tag("guitar.jpg", class: "card-img-top")
          .card-title
            h4
              = t('benefits_composer_title')
          .card-block
            ul.card-text
              = t('benefits_composer_description_html')
