.row
  .main-section.center-block
    = render 'layouts/landing_nav'
    .overlay_header_background.hidden-xs.hidden-sm
    .landing-header.hidden-xs.hidden-sm
      .row
        .col-lg-12.col-sm-12.col-md-12.col-xs-12
          = link_to image_tag("logo.png", class: "logo"), root_path
      .row
        .col-sm-5.col-md-5.col-lg-5.col-xs-12
          .header_text
            p[style="color: black"]
              = t('first_text_html')

        .col-sm-7.col-md-7.col-lg-7.col-xs-12
          = image_tag("tablet.png", class: "tablet-image")
      .row
        .col-md-12
          .header_button data-toggle="modal"
            - unless I18n.locale == :en
              = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn register-button-de"
            - else
              = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn register-button"

      /= image_tag("header-background.png", class: "header-background")
      /= link_to (image_tag("header-item.png", class: "header-item")), "#user_sign_up", "data-toggle" => "modal"


    .hidden-md.hidden-lg

      .mobile_header_content
        .col-md-12
          = link_to image_tag("logo.png", class: "logo_mobile"), root_path
        .header_text_mobile
          p
            = t('first_text_mobile_html')
        .col-md-12
          .tablet_image_mobile
            = image_tag("tablet.png", class: "")
        .col-md-12.center
          - unless I18n.locale == :en
            = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn"
          - else
            = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn"
