.col-md-12.no_padding
  .newsletter_home
    .news_title
      h2
        = t('newsletter.header')
    .news_subtitle
      p
        = t('newsletter.first_text_html')
    .news_form
      = simple_form_for(:user, url: subscribe_newsletter_users_path, html: {class: 'quick-newsletter-form'}) do |f|
        .cr_body.cr_page.cr_font.formbox
          .editable_content
            .col-md-3
              = f.input :first_name, placeholder: t('layouts.newsletter_modal.first_name'), label: false, required: false, input_html: {id: 'newsletter-home-user-first-name'}
            .col-md-3
              = f.input :email, placeholder: t('layouts.newsletter_modal.email'), label: false, input_html: {class: 'user-email', id: 'newsletter-home-user-email'}
            .col-md-3
              #3003229.form-group.cr_ipe_item.ui-sortable[rel="select"]

                select#select_3003229.form-control.cr_font[name="user[interest_id]"]
                  option[value="861aaa9256"]
                    = t('layouts.newsletter_modal.publisher')
                  option[value="eb60a14c44"]
                    = t('layouts.newsletter_modal.label')
                  option[value="453a6a8f80"]
                    = t('layouts.newsletter_modal.self_publisher')
                  option[value="cc838a359b"]
                    = t('layouts.newsletter_modal.other')
            .col-md-3
              #3003230.form-group.cr_ipe_item.ui-sortable.submit_container[rel="button"]
                button.btn.login-button.cr_button.btn-quick-subscription[type="submit" style="margin-left: 0px; color: white !important"]
                  = t('layouts.newsletter_modal.subscribe')

    .news_footer
      p
        = t('newsletter.second_text_html')


javascript:
  $('.btn-quick-subscription').click(function (e) {
    e.preventDefault();
    var $form = $('.quick-newsletter-form');
    var postData = $form.serialize();
    var formURL = $form.attr("action");
    $.ajax({
      type: 'POST',
      url: formURL,
      async: false,
      data: postData,
      success: function (data) {
        $form.resetForm();
        toastr.success(I18n.t('layouts.newsletter_modal.subscription_successful'));
      },
      error: function (textStatus, errorThrown) {
        toastr.error(I18n.t('layouts.newsletter_modal.subscription_failed'));
      }
    });
  });
