.promo-section.center-block
  .row
    .section_title[style="margin-top: 20px;"]
      .text-center
        p.tools-text
          = t('promo_tools_title')
  .tools-section
    .col-sm-6.col-lg-3.col-md-6.col-xs-12
      .common-card.creator-card
        .creator-landing-img
          .div.animate_h style="width:110px; margin:0 auto;"
            = image_tag("creator.svg", style: "width:100%;height: 133px;margin-bottom: 26px;")
        .creator-card-line
          .card-border
        .creator-text
          p
            = t("creator_text")
        .creator-divider
    .col-sm-6.col-lg-3.col-md-6.col-xs-12
      .common-card.catalogue-card
        .catalogue-landing-img
          = image_tag("catalogue.svg")
        .catalogue-card-line
          .card-border
        .catalogue-text
          p
            = t("catalogue_text")
        .catalogue-divider
    .col-sm-6.col-lg-3.col-md-6.col-xs-12
      .common-card.promoter-card
        .promoter-landing-img
          = image_tag("promoter.svg", style: "width: 140px;height: 149px;margin-bottom: 11px;")
        .promoter-card-line
          .card-border
        .promoter-text
          p
            = t("promoter_text")
      .promoter-divider
    .col-sm-6.col-lg-3.col-md-6.col-xs-12
      .common-card.distributor-card
        .distributor-landing-img
          = image_tag("distributor.svg", style: "width: 155px;height: 149px;margin-bottom: 11px;")
        .distributor-card-line
          .card-border
        .distributor-text
          p
            = t("distributor_text")
        .distributor-divider

.col-md-12.new_padding.promo_expanded_info
  div class="#{I18n.locale == :en ? "creator-description-container promo_section_content hidden-xs hidden-sm" : "creator-description-container promo_section_content creator-de hidden-xs hidden-sm"}"
    .description-text-container
      = t("creator_details_html")
    .col-lg-12.col-md-12.creator-description-images
      .col-lg-3.col-md-6.col-sm-12.col-xs-12
        = image_tag('purchase/human-keys-normal.png')
      .col-lg-3.col-md-6.col-sm-12.col-xs-12
        = image_tag('purchase/bass-guitar-normal.png')
      .col-lg-3.col-md-6.col-sm-12.col-xs-12
        = image_tag('purchase/notes-normal.png')
      .col-lg-3.col-md-6.col-sm-12.col-xs-12
        = image_tag('purchase/guitar-normal.png')
    .description-modal
      = link_to t("start_text"), "#user_sign_up", "data-toggle" => "modal", class: "btn #{I18n.locale == :en ? "description-register-button" : "description-register-button-de"}"

  div class="#{I18n.locale == :en ? "distributor-description-container promo_section_content hidden-xs hidden-sm" : "distributor-description-container promo_section_content distributor-de hidden-xs hidden-sm"}"
    .description-text-container
      = t("distributor_details_html", current_year: Time.current.year)
    .distributor-images-container.center-block
      .col-lg-12.col-md-12
        .col-lg-3.col-md-3.col-xs-12
          = link_to image_tag('landing_shops_images/google.png', class: "distributor-shop-image"), "https://play.google.com/store"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/apple.png', class: "distributor-shop-image"), "https://www.apple.com/lae/ibooks/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/ciando.png', class: "distributor-shop-image"), "http://www.ciando.com/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/ebookde.png', class: "distributor-shop-image"), "https://www.ebook.de/de/"
      .col-lg-12.col-md-12
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/playster.png', class: "distributor-shop-image"), "https://www.playster.com"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/amazon.png', class: "distributor-shop-image"), "#{I18n.locale == :de ? "https://www.amazon.de/" : "https://www.amazon.com/"}"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/ebookscom.png', class: "distributor-shop-image"), "https://www.ebooks.com/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/barns&noble.png', class: "distributor-shop-image"), "https://www.barnesandnoble.com/"
      .col-lg-12.col-md-12
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/kobo.png', class: "distributor-shop-image"), "https://www.kobo.com/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/thalia.png', class: "distributor-shop-image"), "https://www.thalia.de/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/notendownload.png', class: "distributor-shop-image"), "https://www.notendownload.com/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/skoobe.png', class: "distributor-shop-image"), "https://www.skoobe.de/"
      .col-lg-12.col-md-12.distributor-promo-images-last-row
        .col-lg-1.col-md-1
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/buecherde.png', class: "distributor-shop-image"), "https://www.buecher.de/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/hugendubel.png', class: "distributor-shop-image"), "https://www.hugendubel.de/de/"
        .col-lg-3.col-md-3
          = link_to image_tag('landing_shops_images/weltbild.png', class: "distributor-shop-image"), "https://www.weltbild.de/"
        .col-lg-2.col-md-2
    .promoter-description-modal
      = link_to t("start_text"), "#user_sign_up", "data-toggle" => "modal", class: "btn #{I18n.locale == :en ? "promoter-description-register-button" : "promoter-description-register-button-de"}"

  div class="#{I18n.locale == :en ? "promoter-description-container promo_section_content hidden-xs hidden-sm" : "promo_section_content promoter-description-container promoter-de hidden-xs hidden-sm"}" style="position:relative;"
    .description-text-container
      = t("promoter_details_html")
    .row
      .promoter-images.center
        .col-lg-1.col-md-1
        .col-lg-2.col-md-2
          = image_tag('landing-fb.png', class: "promoter-description-image")
          p
            | Facebook
        .col-lg-2.col-md-2
          = link_to image_tag('landing-youtube.png', class: "promoter-description-image"), @youtube_path
          p
            | Youtube
        .col-lg-2.col-md-2
          = image_tag('landing-twitter.png', class: "promoter-description-image")
          p
            | Twitter
        .col-lg-2.col-md-2
          = image_tag('landing-insta.png', class: "promoter-description-image")
          p
            | Instagram
        .col-lg-2.col-md-2
          = image_tag('landing-piano.png', class: "promoter-description-image")
          p
            | Live Recording
        .col-lg-1.col-md-1
    .row
      .promoter-images.center      
        .col-lg-1.col-md-1
        .col-lg-2.col-md-2
          = image_tag('landing-keys.png', class: "promoter-description-image")
          p
            | Synthesia Video
        .col-lg-2.col-md-2
          = link_to image_tag('landing-spotify.png', class: "promoter-description-image"), @spotify_path
          p
            | Spotify
        .col-lg-2.col-md-2
        .col-lg-2.col-md-2
        .col-lg-2.col-md-2
        .col-lg-1.col-md-1

    .promoter-description-modal
      = link_to t("start_text"), "#user_sign_up", "data-toggle" => "modal", class: "btn #{I18n.locale == :en ? "promoter-description-register-button" : "promoter-description-register-button-de"}"

  div class="#{I18n.locale == :en ? "catalogue-description-container promo_section_content hidden-xs hidden-sm" : "promo_section_content catalogue-description-container catalogue-de hidden-xs hidden-sm"}"
    .description-text-container
      = t("catalogue_details_html")
    .catalogue-images.col-lg-12.col-md-12
      .row
        .col-lg-1
        .col-lg-2.col-md-4.col-xs-12
          = image_tag('download-icon.png', class: "catalogue-description-image")
        .col-lg-2.col-md-4.col-xs-12
          = image_tag('download-xml.png', class: "catalogue-description-image")
        .col-lg-2.col-md-4.col-xs-12
          = image_tag('download-pdf.png', class: "catalogue-description-image")
        .col-lg-2.col-md-4.col-xs-12
          = image_tag('download-epub.png', class: "catalogue-description-image download-epub-image")
        .col-lg-2.col-md-4.col-xs-12
          = image_tag('download-mobi.png', class: "catalogue-description-image download-mobi-image")
        .col-lg-1
    .promoter-description-modal
      = link_to t("start_text"), "#user_sign_up", "data-toggle" => "modal", class: "btn #{I18n.locale == :en ? "promoter-description-register-button" : "promoter-description-register-button-de"}"
