.col-md-12
  .text-center
    p.tools-text.benefits-text.text-center
      = t("top_companies")
.col-md-12.no_padding
  .references
    .reference_item = link_to image_tag('references/Motor.png'), "http://www.motormusic.de"
    .reference_item = link_to image_tag('references/schott.png'), "https://schott-music.com"
    .reference_item = link_to image_tag('references/popakademie.png'), "http://www.popakademie.de/"
    .reference_item = link_to image_tag('references/audiolith.png'), "https://audiolith.net/"
    .reference_item = link_to image_tag('references/highscore.png'), "https://www.highscore-publishing.com/"
    .reference_item = link_to image_tag('references/sonakraft.png'), "https://www.facebook.com/sonokraft"
    .reference_item = link_to image_tag('references/smusic.png'), "http://www.edition-roland.de/"
    .reference_item = link_to image_tag('references/act.png'), "http://www.actmusic.de/"
