.topbusiness
  .row
    .text-center
      p.tools-text.benefits-text.text-center
        =t('top_business_title')
  .section_content
    .row
      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0005_Blitz.png'
          .title_icon
            = t('top_business_fast_title')
          .text_icon
            p =t('top_business_fast_text_html')

      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0004_Maennchen.png'
          .title_icon
            =t('top_business_free_title')
          .text_icon
            p =t('top_business_free_text_html')

      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0003_Geld.png'
          .title_icon
            =t('top_business_keep_title')
          .text_icon
            p =t('top_business_keep_text_html')

    .row
      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0002_Trend.png'
          .title_icon
            =t('top_business_reporting_title')
          .text_icon
            p =t('top_business_reporting_text_html')

      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0001_Herz.png'
          .title_icon
            =t('top_business_professional_title')
          .text_icon
            p =t('top_business_professional_text_html')

      .col-md-4
        .top_b_info
          .icon
            =image_tag 'Soundnotation_Icons_Leistungen__0000_Check.png'
          .title_icon
            =t('top_business_approved_title')
          .text_icon
            p =t('top_business_approved_text_html')
