.container

  = render 'header'

  .row
    = render 'promo_section'

  .row
    = render 'benefits'

  .row
    = render 'top_business_info'

  .row
    = render 'references'

  .row
    = render 'newsletter'

  .row
    .integrated_brands
      .row
        .text-center
          p.tools-text.benefits-text.text-center
            = t("integration_of_brands")
      .section_content
        - unless I18n.locale == :en
          = inline_svg('test_integration_of_brands_de.svg')
        - else
          = inline_svg('integration_of_brands_3.svg')
  .row
    .center-block.video-container
      .embed-responsive.embed-responsive-16by9
        iframe class="embed-responsive-item" src="#{t('soundnotation_promo_link')}" allowfullscreen

= render 'layouts/footer'
= render 'layouts/newsletter_modal'
