<div class="col-sm-offset-4 col-sm-4 col-xs-12">
  <% if controller_name != 'sessions' %>
    <!--<%= link_to 'Login', new_user_session_path  %> instead of this, modal -->
    <%= link_to "Login", "#user_login", "data-toggle" => "modal", :class => 'btn btn-small btn-success' %>
    <br />
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <!--<%= link_to "Sign up", new_registration_path(resource_name) %> instead of this, modal -->
    <%= link_to "Sign up", "#user_sign_up", "data-toggle" => "modal", :class => 'btn btn-small btn-success' %>
    <br />
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
</div>