<div class="modal fade bs-example-modal-lg login-modal" id="user_login">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header login-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2 class="pull-left"><%= t('login.title') %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 hidden-xs hidden-sm">
            <%= image_tag("owl.png", class: "login_logo") %>
          </div>
          <div class="col-sm-6 col-xs-12">
            <%= simple_form_for(:user, :url => user_session_path) do |f| %>
              <div class="form-group">
                <%= f.label :email, t('login.email'), :class => "form-label" %>
                <%= f.email_field :email, :class => "form-control", :autofocus => true, :id => "login-email" %>
              </div>
              <div class="form-group">
                <%= f.label :password, t('login.password'), :class => "form-label" %>
                <%= f.password_field :password, :class => "form-control", :id => "login-password" %>
              </div>
              <div class="form-group login-form-options">
                <%= f.submit t('login.button_text'), :class => 'btn login-button' %>
                <% if devise_mapping.rememberable? -%>
                  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, t('login.remember_me'), :class => 'auth-label' %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div class="form-group">
                <%= link_to t('login.forgot_password'), new_password_path(resource_name), class: "forgot-password-link" %><br/>
              </div>
            <% end %>
            <div class="row">
              <div class="login-group col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="item-login login-line"></div>
                <div class="item-login login-text text-center"><%= t('login.or') %></div>
                <div class="item-login login-line"></div>
              </div>
            </div>
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to t('login.register_now'), "#user_sign_up", "data-toggle" => "modal", :class => I18n.locale == :de ? 'btn to-registration-button-de' : 'btn to-registration-button' %>
            <% end %>
            <p class="register-promo-text">
              <b><%= t('login.benefit_text') %></b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
