<div class="modal fade bs-example-modal-lg register-modal" id="user_sign_up">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header auth-modal">
        <button class="close" data-dismiss="modal">x</button>
        <h2><%= t('sign_up.title') %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12">


        <%= simple_form_for(:user, url: user_registration_path, wrapper: :custom_horizontal_form, html: {class: 'registration-form'}) do |f| %>
            <div class="col-sm-4 hidden-xs hidden-xs hidden-sm">
              <%= image_tag("owl.png", style: 'width: 100%') %>
            </div>
            <div class="col-sm-8 col-xs-12">
              <%= f.input :company, required: false, label: t('sign_up.company') %>
              <%= f.input :full_name_str, autofocus: true, label: t('sign_up.name') %>
              <%= f.input :street_house_number_str, label: t('sign_up.address'), input_html: {class: 'user-address'} %>
              <%= f.input :city, label: t('sign_up.city') %>
              <%= f.input :zip_code, label: t('sign_up.zip_code') %>
              <%= f.input :country_id, collection: Country.order_by_name.collect {|c| [c.name, c.id]}, label: t('sign_up.country'), prompt: t('sign_up.select_country') %>
              <%= f.input :email, label: t('sign_up.email'), placeholder: t('sign_up.email_placeholder'), input_html: {class: 'user-email'} %>
              <%= f.input :password, label: t('sign_up.password'), hint: '(' + t('sign_up.hint') + ')', input_html: {class: 'user-password'} %>
              <%= f.input :password_confirmation, label: t('sign_up.password_confirmation'), input_html: {class: 'user-password-confirmation'} %>
              <div class="form-group clearfix">
                <div class="col-sm-12">
                  <p>
                    <%= t('sign_up.text_html') %>
                  </p>
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-sm-12">
                  <div class="checkbox">
                    <%= f.check_box :terms, class: 'terms-condition' %> <%= t('sign_up.terms_conditions') %> <%= link_to t('sign_up.terms_conditions_link') + '*', legal_path, class: 'signup-terms-conditions', target: :_blank %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            </div>
            <div class="modal-footer signup-modal-footer">
              <%= f.submit t('sign_up.button_text'), class: 'btn btn-small contacts-form-btn', id: "signup-button" %>
            </div>
            <div class="modal-footer"></div>
        <% end %>
        </div>
  </div>
</div>

<script>
    $('#signup-button').click(function (e) {
        e.preventDefault();
        var $form = $('.registration-form');
        var postData = $form.serialize();
        var formURL = $form.attr("action");
        var validForm = validateFormRequiredField('.registration-form') && acceptTermsCondition() && validAddress() && validateEmail() && matchPassword();
        if (validForm) {
            $.ajax({
                type: 'POST',
                url: formURL,
                data: postData,
                success: function () {
                    toastr.success(I18n.t('sign_up.user_successfully_registered'));
                    $('#user_sign_up').modal('hide');
                },
                error: function (textStatus, errorThrown) {
                    toastr.error(I18n.t('sign_up.failed_to_register'));
                }
            });
        }
    });

    $('.user-password-confirmation').focusout(function () {
        matchPassword();
    });

</script>
