//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/translate";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

form fieldset > ol > li.check_boxes fieldset ol li {
  display: inline-block;
}

table.index_table,
.sidebar_section,
.attributes_table,
form fieldset {
  font-size: 14px !important;
}

table.index_table th a,
table.index_table th a:link,
table.index_table th a:visited {
  white-space: normal;
}

table.index_table a.member_link:last-child {
  margin-right: 0px;
}

table#index_table_scores td.col.col-composition,
table#index_table_scores th.col.col-composition,
table#index_table_scores td.col.col-status,
table#index_table_scores th.col.col-status,
table#index_table_scores td.col.col-delivery_status,
table#index_table_scores th.col.col-delivery_status {
  border-right: 1px solid #cdcdcd;
}
.pdl{padding-left:10px}
form fieldset > ol > li.boolean label {
  width: auto;
  margin-left: 20%;
  padding-left: 0px;
}
