// Place all the styles related to the BlogArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-section {
  margin-top: 20px !important;
}

.blog-container {
  background-color: #e5e5e5;
}

.blog-header-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 300 !important;
  font-style: italic;
  line-height: 40px;
  color: white;
}

.blog-header-background {
  margin-left: -154px !important;
  margin-top: -140px;
}

.article-show-links p {
  word-wrap: break-word;
}

.logo-blog {
  width: 350px;
  height: 120px;
  margin-left: 12px;
  top: 15px;
}

.center-block {
  float: none !important
}

.nav-item a {
  font-size: 15px !important;
}

.blog-cards {
  display: block;
  margin-top: 10px;
}

.blog-promo-text p {
  // display: inline;
  color: #A3A3A3
}

.blog-promo-text {
  display: inline-block;
  margin-top: 30px;

}

.articles-section {
  display: block;
}

.blog-card-landing {
  border-top-right-radius: 15px !important;
  border: none;
  background-color: #e5e5e5;
  height: 200px !important;
  width: 300px !important;
  min-height: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.blog-card-img-top-landing {
  height: 120px;
  width: 303px !important;
  border-top-right-radius: 15px !important;
  border: none;
  margin-left: 2px;
}

.single-article {
  background-color: white;
}

.blog-card-block p, span, a {
  color: black;
  word-wrap: break-word;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}

.blog-card-title p {
  white-space: pre-wrap;
}

.blog_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  filter: sepia(50%);
  filter: hue-rotate(50deg);
}

.categories-container {
  background-color: white;
}

.categories-section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.categories-section p {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.categories-item {
display: table-cell;
}
.categories-text {
white-space: nowrap;
width: 1%;
margin-top: 10px;
padding: 0 10px;
font-size: 20px;
p {
  color: #A3A3A3;
}
}
.categories-line {
border-bottom: 1px solid #815374;
position: relative;
top: -1em;
}

.knowledge-text {
  color: #A3A3A3;
  // margin-top: 5px !important;
  margin-left: 5px !important;
  margin-bottom: 40px;
  float: left;
}

.de-knowledge-text {
color: #A3A3A3;
// margin-top: 35px !important;
// margin-left: 5px !important;
float: left;
}

.blog-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;
  font-size: 24px !important;
  font-weight: normal;
  float: left;
  margin: 0px;
  padding: 10px 10px 10px 0px;
  margin-right:15px !important;
}

.en-blog-title, .de-blog-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;

  padding: 10px 10px 10px 0px;
  font-size: 30px !important;
  font-weight: normal;
  float: left;
  margin: 0px;
  margin-right: 20px;
}

.article-links a:link,
.article-links a:active,
.article-links a:hover {
  margin-left: 5px;
  color: black;
  background-color: inherit;
  margin-top: 10px;
  text-decoration: none;
}

.read-more {
  margin-left: 5px !important;
  margin-top: 10px !important;
}

.logo-section a:hover {
  text-decoration: none;
  background: none;
}

.single-article, .single-article p {
  margin-top: 10px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.single-article-title h1 {
  font-size: 35px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  text-align: center;
}
