.navbar{
  margin-bottom: 0px;
  @media only screen and(max-width: $phone-devices){
    margin-left: -20px;
    margin-right: -20px;
  }
}
// remove weird green color in chatbox
.bx-imopenlines-config-sidebar-info-block-container{
  background: #bac !important;
}

.bx-imopenlines-config-cloud-top{
  opacity: 0;
}

.bx-imopenlines-config-sidebar-info-block-container:before{
  background:#d5ccd4 !important ;
}

.nav-item {
  cursor: pointer !important;
}

.main-margin-top {
  font-size: 10px;
  color: white;
  border-color: white;
  border-style: none none solid;
  border-width: 1px
}

.switch-user-select {
  font-size: 10px;
  border-color: white;
  border-style: none none solid;
  border-width: 1px
}

.form-label, control-label, auth-label {
  color: black !important;
}

.forgot-password-label {
  color: black !important;
}

.unactive-locale:hover {
  color: white !important;
}

.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
    color: white !important;
    background-color: transparent;
}

.localization-links > a {
  color: #d5cdd5 !important;
}

.localization-links > a:hover {
  color: white !important;
}

.panel-heading {
  background-color: white !important;
}

.page-loader{
  display: none;
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(102, 102, 102, 0.4);
  z-index: 30001;
}

.page-loader img{
  top: 30%;
  left: 36%;
  position: absolute;
}

// Hiding scrollbar
/* chrome, safari */
::-webkit-scrollbar {
  display: none;
}

/* ie 10+ */
body { -ms-overflow-style: none; }

body { -moz-scrollbars-horizontal: none }

/* firefox DOES NOT WORK */
//body { overflow:hidden !important; }

// temporary styling for landing page
body {
  background: #7b6b81;
  background: -moz-radial-gradient(center, ellipse cover, #7b6b81 23%, #574c5a 100%) fixed;
  background: -webkit-radial-gradient(center, ellipse cover, #7b6b81 23%,#574c5a 100%) fixed;
  background: radial-gradient(ellipse at center, #7b6b81 23%,#574c5a 100%) fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b6b81', endColorstr='#574c5a',GradientType=1 );
}

// Styling for sticky footer (to change footer's height, you need to change .wrapper's margin and padding-bottom as well .footer's height to similar value
html, body {
    height: auto;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding-bottom: 60px;
}
.footer {
  height: 60px;
}

// End

.nav a {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.main-navbar {
  background-color: grey !important;
  font-size: 24pt !important;
}

h1 {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-size: 2em;
}

b {
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-size: 1em;
}

.faq-heading {
  background-color: white !important;
}

.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.blog-promo-text p,
.blog-promo-text p strong,
.impressum-promo-text p,
.impressum-promo-text p strong,
#profile_tabs a {
    font-family: 'Source Sans Pro Regular', sans-serif !important;
    font-size: 15px;
}

.blog-card-block p > a,
.article-show-links p > a,
.impressum-links, .contact-links {

  font-size: 18px;
  padding: 0px;

  &:link {
    color: #825575;
    background-color: inherit;
    text-decoration: none;
  }

  &:visited {
    color: #825575;
    background-color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: #825575;
    background-color: inherit;
    text-decoration: none;
  }

  &:active {
    color: #825575;
    background-color: inherit;
    text-decoration: none;
  }
}

// Styles for sign up modal

.signup-terms-conditions{
  color: black;
  font-weight: bold;
}

.signup-terms-conditions a:hover {
  color: black !important;
}

.auth-label a {
  color: black !important;
}

.auth-label a:hover {
  color: black !important;
  text-decoration: none;
}

// Styles for footer

.footer-links-section a {
  color: #d5cdd5 !important;
}

.footer-links-section a:hover {
  color: white !important;
}

.footer-links-section p {
  color: #d5cdd5 !important;
}

.footer-logo {
  left: 185px !important;
  width: 230px;
}

.footer-logo-section {
  text-align: center;
}

.footer-links-section {
  text-align: center;
}

.footer-links-section a:hover {
  text-decoration: none !important;
}

.footer-logo-line-left {
  position: relative;
  border: 1px solid white;
  width: 300px;
  left: 50px;
  bottom: 27px;
  @media only screen and(max-width: $tablet-devices){
    display: none;
  }
}

.footer-logo-line-right {
  position: relative;
  border: 1px solid white;
  width: 300px;
  left: 570px;
  bottom: 30px;
  @media only screen and(max-width: $tablet-devices){
    display: none;
  }
}

.footer-copyright {
  margin-top: 10px;
  margin-bottom: 30px;
}

// Styles for footer social icons
.public_fb_img,
.public_youtube_img,
.public_twitter_img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.icons-footer {
  margin-top: -15px;
}

.public_social_icons {
  padding-left: 10px;
}

// Styles for 404 custom page
.owl-down-image {
  width: 700px;
  height: 700px;
  margin-left: -200px;
}

.error-container p {
  font-size: 22px;
}

.error-container a {
  color: black !important;
}

.error-container a:hover {
  color: black;
  text-decoration: none;
}

.error-text {
  margin-top: 20px;
}

// HOTFIX for some unknown CSS override! from Babar
.freelance-dashboard-footer {
  margin: auto;
}
