.distributors_score_gtin .help-block {
	font-size: 13px !important;
}
.distributors_score_price .help-block {
	font-size: 13px !important;
}
.form-group{
	&.text{
		padding: 0 0px!important;
	}
}
.form-control{
	&.added_d{
		display: inline-block;
	}
}
#distributor-steps{
	a[disabled] {
	  pointer-events: none;
		border: 2px #cacaca solid !important;
	}
	.complete_step{
		background-color: #209977 !important
	}
}
.remove-i{
	background:#e4e4e4;
	color: white;
	border-radius: 14px;
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
	width: 20px;
	text-align: center ;
	line-height: 20px;
	cursor: pointer;
	height: 20px;
	position: absolute;
	left: -14px;
	&:hover{
		background: rgba(198, 4, 38, 0.77);
	}
}

.artists_names{
	input{
		display: block;
	}
}
.saved-artist{
	margin-bottom: 10px;
	.remove-i{
		position: absolute;
		left: -14px;
		top: 15px;
		background:#e4e4e4;
	}
}
.add-recipient{
	@extend .remove-i;
	background: green ;
	font-style: normal;
	position: absolute;
	left: 275px;
	top: 15px;
	&:hover{
		background: green ;
	}
}

.new-artist{
	margin: 10px 0;
}

.sales-report-nav {
  width: 140px;
  padding: 5px;
  border-radius: 2px;
  margin-left: -14px;
  display: inline-flex;

  img {
    width: 50px;
    height: 32px;
  }

  .sales-label {
    width: 80px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
  }
}
.btn-success{
  background-color: #209977;
  border-color: #209977;
}

.daterangepicker{
  width: 512px;
  z-index: 9999999 !important;
}
