$catalogue-color: #265580;
$promoter-color: #931f2a;
$distributor-color: #209977;
$soundnotation-color: #825575;

.per_page_text{
  float: left;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0px;
}
.tooltip_handler{
  width: 85px;
  position: absolute;
  right: 6px;
  height: 55px;
  z-index: 100;
  button{
    margin-right: 1px!important
  }
}
.tooltip {
  ul{
    margin-left: 0!important;
    li{
      text-align: center;
      margin-left: 0!important;
    }
  }
  .info_point{
    margin-left:20px;
    margin-bottom:10px;
    display: list-item;
    text-align:left;
  }
}

.customer_logo {
  position: relative;
  width: 350px;
  height: 120px;
  margin-left: 27px;
  top: -35px;
}

.soundnotation-nav {
  position: relative;
  top: -50px;
  background-color: transparent !important;
}

.medium-option, .hard-option {
  display: none;
}

.creator-well, .distributor-well {
  width: 588px !important;
}

.distributor-composition-title,
.distributor-composer {
  font-size: 15px !important;
}

.price-card {
  height: 330px !important;
}

.promoter-option-purchase {
  height: 330px !important;
}

.promoter-purchase-option-price {
  margin-top: -20px;
}

.score-checkbox {
  margin-left: -26px !important;
}

.chords-checkbox {
  position: relative !important;
  left: -23px !important;
}

.price-cards-section {
  width: 270px !important;
}

.promoter-purchase-card {
  width: 270px !important;
}

.order-table>tbody>tr>td, .order-table>tbody>tr>th {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.download-options {
  display: none;
  width: 102px;
  margin-left: 30px !important;
  position:absolute
}

.info-form {
  margin-top: -20px;
}

.score-form-input {
  margin-left: 35px !important;
}

.dynamic-composer-field {
  margin-top: 15px;
}

.dynamic-composer-label {
  margin-left: 17px;
}

.dynamic-composer-input {
  width: 370px;
  margin-left: 4px;
}

.add-lyrics-button {
  margin-left: 48px !important;
}

.catalogue-search-addon:hover {
  background-color: $catalogue-color !important;
}

.distributor-search-addon:hover {
  background-color: $distributor-color !important;
}

.promoter-search-addon:hover {
  background-color: $promoter-color !important;
}

.image-box {
  height: 800px;
  img.cover-thumb {
    margin-bottom: 10px;
  }
}

.square-cover-thumb {
  margin-bottom: 10px;
  margin-left: 30px !important;
}

.image-box-text {
  font-size: 27px;
  text-align: center;
}

.image-box-content-container {
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
}

.cover_actions{
  text-align: left;
  max-width: 210px;
  margin: 0 auto;
  p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .btn{
    padding: 0;
    margin-bottom: 10px;
    width: 40px;
    background: none !important;
    border: none;
  }
}

.download-options p {
  font-size: 15px;
  text-align: center;
  margin-left: -30px !important;
  font-weight: bolder;
  margin-bottom: 0 !important;
  cursor: pointer;
  border: 1px solid lightgrey;
  position: relative;
  display:block;
  background-color: white;
}

.download-options a {
  color: black !important;
}

.credit-card-block {
    margin-left: 0px !important;
}

.credit-card-line {
    border: 2px solid lightgrey;
    width: 150px;
    margin-left: -15px;
    margin-bottom: 10px;
}

.promoter-credit-card-line {
    border: 2px solid lightgrey;
    width: 150px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.total-credit-card-summ p {
  margin-left: -15px;
}

.creator-color {
  background-color: #e94f3b !important;
}

.credit-card-image {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.upload-text p {
  margin-left: -20px !important;
}

.add-details p {
  margin-left: -20px !important;
}

.add-version p {
  margin-left: -20px !important;
}

.creator-border-top {
  border-top: 3px #e94f3b solid !important;
  width: 220px !important;
}


.unactive {
  background-color: #e9e8e8 !important;
}

#mytabs > li.creator > a:hover {
  background-color: #e94f3b !important
}

.catalogue-color {
  background-color: $catalogue-color !important;
}

#promoter, #distributor {
  margin-bottom: 250px;
}

.catalogue-border-top {
  border-top: 3px $catalogue-color solid !important;
  width: 220px !important;
}

#mytabs > li.catalogue > a:hover {
  background-color: $catalogue-color !important
}

#mytabs li.creator > a {
  margin-right: 5px;
}

#mytabs li.catalogue > a {
  margin-right: 5px;
}

#mytabs li.promoter > a {
  margin-right: 5px;
}

.promoter-color {
  background-color: $promoter-color !important;
}

#promoterModalLabel {
  color: $promoter-color;
}

.promoter-summary-purchase {
  display: none;
}

.promoter-border-top {
  border-top: 3px $promoter-color solid !important;
  width: 220px !important;
}

#mytabs > li.promoter > a:hover {
  background-color: $promoter-color !important
}

.distributor-color {
  background-color: $distributor-color !important;
}

.distributor-border-top {
  border-top: 3px $distributor-color solid !important;
  width: 220px !important;
}

#mytabs > li.distributor > a:hover {
  background-color: $distributor-color !important
}

.distributor-table-header {
  background-color: $distributor-color;
}

.promoter-table-header {
  background-color: $promoter-color;
}

.distributor-table-header th, .promoter-table-header th {
  color: white;
  border-left: 0px !important;
}

.distributor_field {
  width: 280px;
}

.cover_field {
  width: 140px;
}

.distributor-cover-container img {
  margin-left: 10px;
}

.distributor-table-row td {
  border-left: 0px !important;
}

.distribute-button, .distribute-button:hover {
  width: 160px !important;
  position: relative;
  background-color: $distributor-color;
  color: white !important;
  border-radius: 5px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.promoter-button, .promoter-button:hover {
  background-color: $promoter-color;
  color: white !important;
  float: right;
  border-radius: 5px !important;
}

.distributor-table>tbody>tr>td, .distributor-table>tbody>tr>th {
    padding-top: 25px !important;
    padding-bottom: 15px !important;
}

.distributor-select {
  width: 160px !important;
  border-radius: 5px !important;
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, $distributor-color, $distributor-color) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

// End of styles for customer navbar

#mytabs img {
  height: 100px;
}

#mytabs > li > a {
  border-radius: 0 !important;
}

.catalogue-table-header {
  background-color: $catalogue-color;
}

.catalogue-table-image {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.search-addon, .distributor-search-addon,
.promoter-search-addon {
  background-color: lightgrey !important;
  cursor: pointer;
}

.catalogue-table-header > tr > th {
  color: white;
  text-transform: uppercase;
  border-left: 0px !important;
}

// Styles for content in tabs of my_soundnotation page

.tab-pane {
  margin-top: 25px;
}

#mytabs > li {
  border-top: 3px $catalogue-color solid;
  width: 220px !important;
}

.creator-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.creator-link:hover {
  color: black;
  text-decoration: none;
}

// End of styles for content in tabs of my_soundnotation page

// Styles for creator tab

.form-steps > li.active > a {
  background-color: #e94f3b !important;
}

.form-steps {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 30px !important;
}

.form-steps > li > a {
  border: 2px solid #e94f3b !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  margin-left: 10px;
}

.form-steps > a:visited {
  background-color: #e94f3b !important;
}

.distributor-form-steps > li.active > a {
  background-color: $distributor-color !important;
}

.promoter-form-steps > li.active > a {
  background-color: $promoter-color !important;
}

.active-link > a {
  background-color: $promoter-color !important;
}

.distribution-checkout-information, .promoter-checkout-information {
  margin-top: 11px;
}

.distirbutor-gift-code-line {
  margin-top: 35px !important;
}

.distributor-back-button {
  margin-left: 15px;
  margin-bottom: 0px!important;
}

#to_promoter_payments {
  margin-left: 15px;
  color: $promoter-color !important;
}

#to_promoter_payments:hover {
  color: $promoter-color !important;
}

.distributor-next-button {
  margin-right: 15px;
}

#to_promoter_options {
  margin-right: 15px;
  color: $promoter-color !important;
}

#to_promoter_options:hover {
  color: $promoter-color !important;
}

.distributor-form-steps {
  margin-left: 33px;
  margin-bottom: 30px !important;
}

.promoter-form-steps {
  margin-left: 33px;
  margin-bottom: 30px !important;
}

#to_distributor_options {
  display: none;
}

.distributor-form-steps > li > a {
  border: 2px solid $distributor-color !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  margin-left: 10px;
}

.promoter-form-steps > li > a {
  border: 2px solid $promoter-color !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
  margin-left: 10px;
}

.changethisone span {
  background-color: #FFF;
}

.creator_logo {
  height: 15px;
  width: 78px;
  margin-bottom: 3px;
}

// End of styles for creator tab

// Styles for file upload form
.btn-file {
  position: relative;
  border-radius: 10px !important;
  background-color: #e94f3b !important;
  color: white !important;
  width: 270px;
  cursor: pointer;
  letter-spacing: 1px !important;
  text-transform: none !important;
  text-align: left !important;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 15px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.upload-button {
  background-color: grey !important;
  color: white !important;
  margin-top: 10px;
  text-transform: none !important;
  cursor: pointer;
  border-radius: 10px !important;
  text-align: left !important;
}

// End of upload form styles

// Styles for lyrics form

.control-label {
  text-align: left !important;
}

.form-horizontal {
  .control-label {
    display: inline-block;
  }
}

.version-option p {
  margin: 0;
  line-height: 17px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.lyrics-modal-action-button {
  background-color: #e94f3b !important;
  color: white !important;
  margin-left: 115px;
  text-transform: none !important;
  width: 100px;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.more-options-button {
  background-color: #e94f3b !important;
  color: white !important;
  margin-left: 250px;
  margin-top: -55px;
  text-transform: none !important;
  width: 90px;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.creator-select {
  margin-left: -20px;
  width: 120px !important;
}

.creator-select-input {
  width: 240px !important;
  margin-left: -73px;
  margin-bottom: 10px;
}

.composer-dynamic-field {
  margin-left: 33px;
  width: 353px;
  border-radius: 10px;
}

.copyright-dynamic-field{
  @extend .composer-dynamic-field;
  margin-left: 35px !important;
  margin-top: 0px !important;
}

.composer-dynamic-select:focus, .composer-dynamic-select:active,
.creator-composer-dynamic-select:focus, .creator-composer-dynamic-select:active,
.score-form-input:focus, .score-form-input:active,
.select-background:focus, .select-background:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.lyrics-modal-header {
  border-bottom: 3px solid #e94f3b !important;
}

.lyrics-modal-footer {
  border-top: none !important;
}

.lyrics-modal-header h4 {
  font-weight: bold;
  text-align: center;
}

.lyrics-form {
  border: 1px solid black;
  border-radius: 10px;
}

.lyrics-form-input {
  border: none !important;
}

.lyrics-form-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.delete-field-button {
  color: white !important;
  text-transform: none !important;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.add-lyrics-button {
  background-color: #e94f3b !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 10px !important;
  height: 25px;
  width: 120px;
  margin-left: 15px;
  line-height: 10px !important;
}

// End of styles for lyrics form

// Styles for composer form

.composer-field {
  width: 250px;
  margin-top: -34px;
  margin-left: 150px;
}

.soundnotation-logo-section {
  height: 150px;
}

.customer-nav > li > a {
  letter-spacing: 1px;
  font-size: 15px !important;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 18px;
  color: white !important;
  text-transform: uppercase;
}

.customer-nav > .nav-item > a {
  color: #d5cdd5 !important;
}

.customer-nav > .nav-item > a:hover {
  color: white !important;
}

.composer-select {
  width: 150px;
  margin-left: -19px;
}

.composer-dynamic-select {
  width: 165px !important;
  margin-left: 15px !important;
}

.unactive-locale a {
  cursor: pointer;
}

.soundnotation-container {
  background: white !important;
  margin-top: 50px;
  margin-bottom: 30px;
}

.fluid-soundnotation {
  width: 950px !important;
  margin-left: -15px !important;
}

#mytabs > li {
  width: 237.5px !important;
}

.form-button {
  background-color: #e94f3b !important;
  color: white !important;
  margin-left: 113px;
  text-transform: none !important;
  text-align: center !important;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.form-button:focus {
  outline: none !important;
}

.form-group{
  &.group_dynamic{
    position: relative;
  }
}

.add-author-button{
  position: absolute;
  right: 51px;
  top: -47px;
  font-size: 29px;
  color: #e94f3b!important;
  background-color: transparent!important;
  top: -54px;
  &:hover{
    color:#ce3521;
  }
}

.add-copyright-button{
  @extend .add-author-button;
}

.delete-composer-field {
  background-color: transparent;
  margin-left: 14px;
  color: #777 !important;
  margin-top: 8px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-bottom: 10px !important;
  position: absolute;
  top: -14px;
  right: 49px;
  &:hover{
    color: #222!important;
  }
}

.delete-copyright-field{
  @extend .delete-composer-field;
}

.lyrics-modal-action-button {
  background-color: #e94f3b !important;
  color: white !important;
  margin-left: 115px;
  text-transform: none !important;
  width: 100px;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.lyric-select {
  margin-top: 10px;
}

.more-options-button {
  background-color: #e94f3b !important;
  color: white !important;
  margin-left: 20px;
  margin-top: 10px;
  text-transform: none !important;
  width: 90px;
  line-height: 10px !important;
  height: 25px;
  border-radius: 10px !important;
}

.add-lyrics-button {
  background-color: #e94f3b !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 10px !important;
  height: 25px;
  width: 120px;
  line-height: 10px !important;
}

.add-track-button a {
  color: #e94f3b !important;
  margin-left: 30px;
}

.add-track-button a:hover {
  text-decoration: none;
}

.down-modal-header {
  border-bottom: 2px solid $distributor-color !important;
}

.take-down-modal-text {
  font-size: 15px;
}

.take-down-button {
  background-color: $distributor-color;
  color: white;
  font-size: 15px !important;
  text-transform: none !important;
  border-radius: 6px !important;
}

.take-down-button:hover, .take-down-button:focus {
  color: white !important;
  outline: none !important;
}

.add-track-line {
  width: 255px;
  margin-left: -20px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.add-promoter-track-line {
  width: 255px;
  margin-left: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.promoter-tab-img {
  width: 200px;
  height: 170px;
}

.total-summ p {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 0px !important;
  margin-right: 33px;
  font-size: 15px;
}

.promoter-total-summ p {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 0px !important;
  margin-right: 33px;
  font-size: 15px;
}

.catalogue-table {
  margin-bottom: 10px;
}

.catalogue-table-title {
  width: 130px;
}

.status-text {
  font-size: 12px;
  font-family: Source Sans Pro Semibold;
}

.demo-word {
  color: $soundnotation-color;
  font-weight:bold;
}

#back_to_uploads,
#to_options,
#back_to_song_info,
#to_chordsheet,
#back_to_options,
#back_to_cart{
  color: #e94f3b !important;
}

#back_to_uploads:hover,
#to_options:hover,
#back_to_song_info:hover,
#to_chordsheet:hover,
#back_to_options:hover,
#back_to_cart:hover{
  color: black !important;
}

#to_song_info:hover,
#to_options:hover,
#back_to_uploads:hover,
#to_chordsheet:hover,
#back_to_song_info:hover,
#back_to_options:hover,
#back_to_cart:hover{
  color: black !important;
}

#to_distributor_options,
#to_distributor_recording,
#to_payments {
  color: $distributor-color !important;
}

#to_distributor_options:hover,
#to_payments:hover {
  color: black !important;
}

.creator-form-input {
  border-radius: 10px !important;
  margin-left: 35px !important;
}

.creator-composer-dynamic-select {
  border-radius: 10px !important;
  width: 120px !important;
}

.creator-form-input-width {
  width: 350px !important;
}

.select-background {
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, #e94f3b, #e94f3b) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

.divider {
  height: 50px;
}

.lyrics-modal-header {
  border-bottom: 3px solid #e94f3b !important;
}

.lyrics-modal-footer {
  border-top: none !important;
}

.lyrics-modal-header h4 {
  font-weight: bold;
  text-align: center;
}

.lyrics-form {
  border: 1px solid black;
  border-radius: 10px;
}

.lyrics-form-input {
  border: none !important;
}

.lyrics-form-input:focus {
  border: none !important;
  box-shadow: none !important;
}

// End of composer form styles

// Styles for 'Add version' block

.cart {
  width: 100%;
  text-align: right;
}

.cart p {
  float: right;
  margin-right: 20px;
}

/*.cart-line {
  width: 252px;
  margin-left: -35px;
  margin-top: 140px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}*/

.promoter-cart-line {
  width: 252px;
  margin-left: 5px;
  margin-top: -20px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.card-img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px !important;
  margin-right: 0px !important;
}

.promoter-card-img {
  width: 30px;
  height: 30px;
  margin-bottom: 20px !important;
  margin-right: 15px !important;
}

.checkout-line {
  width: 233px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.edit-line {
  width: 233px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.chordsheet-line {
  width: 585px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.gift-code-line {
  width: 585px;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.payment-line {
  width: 233px;
  margin-top: 130px;
}

.gift-line {
  width: 233px;
  margin-top: 110px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.version-option {
  background-color: #e9e8e8;
  margin-bottom: 20px;
  width: 255px;
  position: relative;
  margin-left: -20px;
}

.version-option:before,
.version-option:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.version-option:after {
  top: 40px;
  border-color: transparent transparent transparent #e9e8e8;
  border-width: 20px;
}

.version-option:before {
  top: 40px;
  border-color: transparent transparent transparent #e9e8e8;
  border-width: 20px;
}

.version-option p,
.version-option a {
  font-size: 15px;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

///

.promoter-version-option {
  background-color: #e9e8e8;
  margin-bottom: 20px;
  width: 255px;
  position: relative;
  margin-left: 20px;
}

.promoter-version-option:before,
.promoter-version-option:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.promoter-version-option:after {
  top: 40px;
  border-color: transparent transparent transparent #e9e8e8;
  border-width: 20px;
}

.promoter-version-option:before {
  top: 40px;
  border-color: transparent transparent transparent #e9e8e8;
  border-width: 20px;
}

.promoter-version-option p,
.promoter-version-option a {
  font-size: 15px;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

// End of 'Add version' styles

// Form text styles

.add-details {
  display: none;
  margin-left: 30px;
  margin-right: 30px;
}

.upload-text {
  margin-left: 30px;
  margin-bottom: 27px !important;
  margin-right: 30px;
}

.add-version {
  display: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: -15px !important;
}

.order-confirmation {
  display: none;
}

.order-confirmation p {
  margin-left: -250px;
}

.checkout-section {
  display: none;
  margin-left: 0px;
  margin-right: 30px;
}

.checkout-section p {
  margin: 0px;
  margin-top: 10px;
}

.order-confrimation {
  display: none;
  margin-left: 30px;
}

.ismn-text {
  font-size: 12px;
  font-style: italic;
}

// End of form text styles
.form-nav {
  margin-top: 160px;
  margin-bottom: 10px;
  border-top: 1px solid #e94f3b;
}

#to_song_info::after,
#to_song_info::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 3px;
  top: calc(100% - 2.3em);
}

#to_options::after,
#to_options::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 3px;
  top: calc(100% - 2.3em);
}

#to_distributor_recording::after,
#to_distributor_recording::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 30px !important;
  top: calc(100% - 2.7em);
}

#to_payments::after,
#to_payments::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 30px !important;
  top: calc(100% - 2.7em);
}

#to_promoter_payments::after,
#to_promoter_payments::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 20px !important;
  top: calc(100% - 2.7em);
}

#back_to_uploads::after,
#back_to_uploads::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  left: 3px;
  top: calc(100% - 2.3em);
}

#to_promoter_options::after,
#to_promoter_options::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  left: 17px;
  top: calc(100% - 2.7em);
}

#back_to_uploads::after {
  z-index: 2;
  border-right-color: #e94f3b;
}

#back_to_uploads:hover::after {
  z-index: 2;
  border-right-color: black;
}

#to_distributor_options::after,
#to_distributor_options::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  left: 30px !important;
  top: calc(100% - 2.7em);
}

#to_chordsheet::after,
#to_chordsheet::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
  right: 15px;
  top: calc(100% - 3.4em);
}

#back_to_song_info::after,
#back_to_song_info::before {
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  left: 15px;
  top: calc(100% - 3.4em);
}

#back_to_song_info::after {
  z-index: 2;
  border-left-color: #e94f3b;
}

#back_to_song_info:hover::after {
  z-index: 2;
  border-left-color: black;
}

#back_to_options::after,
#back_to_options::before,
#back_to_cart::after,
#back_to_cart::before{
  content: "";
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
  left: 5px;
  top: calc(100% - 2.3em);
}

#back_to_options::after,
#back_to_cart::after{
  z-index: 2;
  border-right-color: #e94f3b;
}

#back_to_options:hover::after,
#back_to_cart:hover::after{
  z-index: 2;
  border-right-color: black;
}

#to_song_info {
  color: #e94f3b !important;
}

#to_song_info:hover {
  color: black !important;
}

#to_song_info::after,
#to_options::after,
#to_chordsheet::after {
  z-index: 2;
  border-left-color: #e94f3b;
}

#to_song_info:hover::after,
#to_options:hover::after,
#to_chordsheet:hover::after {
  z-index: 2;
  border-left-color: black;
}

.creator-checkout-header {
  color: #e94f3b;
  margin-left: 6px !important;
}

.distributor-checkout-header {
  color: $distributor-color;
  margin-left: 6px !important;
}

.promoter-checkout-header {
  color: $promoter-color;
  margin-left: 6px !important;
}

.address-line {
  font-weight: bold;
  margin-bottom: 10px !important;
  font-size: 15px !important
}

.country-line {
  font-weight: bold;
  margin-bottom: 72px !important;
  font-size: 15px !important
}

.edit-button {
  text-align: right;
  font-size: 15px;
  margin-right: 5px !important;
  margin-bottom: -5px !important;
  cursor: pointer;
}

.payment-label {
  margin-top: 10px;
  text-align: left !important;
  margin-left: -14px;
}

.gift-code-label {
  margin-top: 10px;
  text-align: left !important;
  margin-left: -14px;
}

.payment-select, .vat-select, .profile-payments-select, .country-payment-select {
  margin-left: -14px;
  width: 233px !important;
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, grey, grey) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

.gift-code-input {
  margin-left: -14px;
  width: 233px !important;
}

.payment-info {
  padding: 10px;
}

.distributors_score_gtin input {
  width: 233px !important;
}

.distributors_score_price select {
  width: 233px !important;
}

.well p {
  margin: 0px;
}

.well {
  border: 0 !important;
}

.gift-code {
  padding: 10px;
  margin-bottom: 10px;
}

.btn-nav {
  background: none !important;
  color: #e94f3b;
  cursor: pointer;
  text-transform: none !important;
  margin-top: 10px;
  // margin-bottom: 10px;
}

.btn-nav:hover {
  color: #e94f3b !important;
}

.form-nav a {
  color: #e94f3b;
  font-weight: bold;
}

.price-line {
  margin-top: -25px;
  margin-left: -13px;
  margin-bottom: 10px;
  border-bottom: 2px solid lightgrey;
}

.price-calculation-line {
  width: 220px;
  margin-top: 7px;
  margin-left: 375px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.card-price-image, .card-price-image:hover {
  margin-left: 5px !important;
}

.promoter-tab-img, .promoter-tab-img:hover {
  margin-left: 30px !important;
}

.promoter-purchase-options-container {
  margin-left: -20px;
}

.price-wrapper {
  margin-bottom: 20px !important;
}

.checkout-options p {
  margin: 0px;
  font-size: 13px;
}

.gift-code-section p {
  margin-top: -15px;
  font-size: 13px;
}

.checkout-price-calculation-text p {
  text-align: right;
}

.buy_button {
  background-color: #e94f3b;
  text-transform: none !important;
  color: white !important;
  margin-top: 10px;
  margin-bottom: 10px !important;
  border-radius: 10px !important;
}

.buy_button:focus {
  color: white !important;
}

.creator-thank-you {
  font-weight: bold !important;
}

#to_catalogue_after_purchase {
  text-decoration: underline;
  color: black !important;
  cursor: pointer;
}

.buy_button:hover {
  background-color: #e94f3b;
  color: white !important;
}

.invoice-information, .promoter-payment-form {
  display: none;
}
// Styles for price cards

.price-cards-section, .price-cards-selected, .promoter-purchase-card, .purchase-card-selected {
  margin-bottom: 15px;
  margin-left: 20px;
}

.purchase-card-selected {
  background-color: #e9e8e8;
  cursor: pointer;
  border-radius: 15px;
}

.price-cards {
  padding-left: 15px;
}

.price-cards-section p {
  text-align: center;
}

.promoter-purchase-info p {
  font-size: 16px;
}

.facebook-purchase-option-description, .twitter-purchase-option-description, .youtube-purchase-option-description {
  margin-left: 10px;
}

.price-card-title p {
  margin-left: -10px;
  height: 50px;
}

.price-card-title p {
  font-size: 16px;
}

.price-wrapper {
  margin-left: -10px;
}

.options-form input {
  width: 260px;
}

.distributors_score_price select {
  width: 260px;
}

.help-block {
  font-size: 13px !important;
  margin-right: 35px;
}

.cancel-option {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 5%;
}

.cancel-promoter-option {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 5%;
}

.facebook-purchase-option-line, .twitter-purchase-option-line, .youtube-purchase-option-line {
  display: none;
  margin-top: -20px;
  width: 230px;
  margin-left: 20px;
  border-bottom: 2px solid white;
}

.difficulty-label {
  margin-left: -11px;
  margin-top: 5px;
}

.score-price {
  position: relative;
  color: #333333;
  text-align: center;
  top: -5px;
}

.arragement-label {
  margin-left: -25px;
  margin-top: 5px;
}

.difficulty-select, .arragement-select {
  margin-left: -35px !important;
  width: 135px !important;
  margin-bottom: 10px;
  margin-top: 5px;
}

.price-cards-section:hover {
  background-color: #e9e8e8;
  cursor: pointer;
  border-radius: 15px;
}

.promoter-purchase-card:hover {
  background-color: #e9e8e8;
  cursor: pointer;
  border-radius: 15px;
}

.selected-card {
  background-color: #e9e8e8;
  border: 2px solid #e94f3b;
  border-radius: 15px;
}

// End of price cards styles

// Styles for distributor modal

.distributor-modal {
  width: 900px;
  margin: 0 auto;
}

.distributor-modal-header,
.sales-report-modal-header {
  border-bottom: 2px solid $distributor-color !important;
}

.distributor-modal-paragraph {
  text-transform: uppercase;
}

.distributor-modal-label {
  font-weight: normal;
  margin-right: 10px;
}

.distributor-modal-checkbox {
  margin-right: 5px !important;
}

.distributor-modal-body {
  border-bottom: 0px !important;
}

.distributor-modal-form {
  margin-left: 10px !important;
}

.distributor-modal-form-paragraph {
  display: inline-block;
  font-size: 12px;
  margin-right: 15px;
}

.distributor-modal-form-secondary-paragraph {
  font-size: 12px;
  font-style: italic;
}

.distributor-modal-store-image {
  width: 130px;
  margin-bottom: 15px;
}

.ibooks-checkbox {
  position: relative;
  top: 9px;
}

.gplay-checkbox {
  position: relative;
  top: 9px;
}

.sheetmusic-checkbox {
  position: relative;
  top: 13px;
}

.sheetmusicpro-checkbox {
  position: relative;
  top: 23px;
}

.musicnotes-checkbox {
  position: relative;
  top: 23px;
}

.notendownload-checkbox {
  position: relative;
  top: 15px;
}

.score-exchange-checkbox {
  position: relative;
  top: 15px;
}

.ebooks-checkbox {
  position: relative;
  top: 22px;
}

.thalia-checkbox {
  position: relative;
  top: 25px;
}

.ebook-checkbox {
  position: relative;
  top: 20px;
}

.buecher-checkbox {
  position: relative;
  top: 27px;
}

.amazon-image {
  position: relative;
  top: 10px;
}

.ibooks-image {
  position: relative;
  top: 7px;
}

.gplay-image {
  position: relative;
  top: 13px;
}

.sheetmusicpro-image {
  position: relative;
  top: 20px;
}

.musicnotes-image {
  position: relative;
  top: 23px;
}

.notendownload-image {
  position: relative;
  top: 20px;
}

.score-exchange-image {
  position: relative;
  top: 13px;
}

.ebooks-image {
  position: relative;
  top: 20px;
}

.thalia-image {
  position: relative;
  top: 20px;
}

.ebook-image {
  position: relative;
  top: 13px;
}

.buecher-image {
  position: relative;
  top: 20px;
}

.distributor-confirm-button {
  margin-top: 10px;
  background-color: $distributor-color;
  color: white;
  border-radius: 6px !important;
}

.promoter-confirm-button {
  margin-top: 10px;
  background-color: $promoter-color;
  color: white;
  border-radius: 6px !important;
}

#distributor-options, #payments, #promoter-options {
  margin-left: 15px;
  margin-right: 20px;
}

.distributor-confirm-button:hover {
  color: white !important;
}

.promoter-confirm-button:hover {
  color: white !important;
}

.distributor-modal-form {
  display: none;
}

.distribution-options {
  display: none;
  padding-left: 40px !important;
}

.countries-container {
  padding-left: 38px !important;
}

.sales-start-date-container {
  padding-left: 64px !important;
}

.select-store-paragraph {
  margin-left: 5px;
  font-size: 18px;
}

.distributor-body-wrapper {
  margin-bottom: 20px;
}

.add-distribution-options-button {
  border-radius: 10px !important;
  color: white;
  background-color: $distributor-color;
  margin-top: 0px;
}

.add-distribution-options-button:hover {
  color: white !important;
}

.datepicker-element {
  width: 150px !important;
  margin-bottom: 15px;
  border-radius: 10px !important;
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, $distributor-color, $distributor-color) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

.date-range-picker {
  margin-bottom: 15px;
  border-radius: 10px !important;
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, $distributor-color, $distributor-color) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

.additional-select {
  margin-top: 10px;
}

.additional-countries .not-to-sell-in {
  margin-right: -30px !important;
  margin-left: -40px !important;
}

// Styles for catalogue download options

.download-pdf:hover {
  background-color: $catalogue-color;
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}

.download-pdf {
  text-decoration: none !important;
}

// Styles for catalogue modal

.add-new-catalogue-button {
  border-radius: 10px !important;
  margin-left: 217px;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
}

.append-new-catalogue-button {
  border-radius: 10px !important;
  margin-left: 217px;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
}

.append-new-catalogue-button:hover {
  background-color: $catalogue-color;
  color: white !important;
}

.delete-new-catalogue-button {
  border-radius: 10px !important;
  margin-top: 15px;
  margin-left: 230px;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
}

.add-new-catalogue-select-button {
  border-radius: 10px !important;
  margin-left: 217px;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
  float: right;
}

.promotion-start-date-container {
  margin-top: 35px;
}

.promotion-start-date-container > p {
  font-size: 15px;
}

.promoter-datepicker {
  width: 150px !important;
  margin: 0 auto;
  float: none;
  margin-top: -20px;
  border-radius: 10px !important;
  background-image: linear-gradient(45deg, transparent 60%, white 50%),
  linear-gradient(135deg, white 70%, transparent 50%),
  linear-gradient(to right, $promoter-color, $promoter-color) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important; // removes borders and downarrow button of the select box from webkit browsers.
  -moz-appearance: none !important; // cannot remove the downarrow button of the mozilla browsers.
  appearance: none !important;
}

.add-new-catalogue-select-button:hover {
  background-color: $catalogue-color;
  color: white !important;
}

.delete-new-catalogue-button:hover {
  background-color: $catalogue-color;
  color: white !important;
}

.delete-new-select-button {
  border-radius: 10px !important;
  margin-top: 15px;
  margin-left: 230px;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
}

.delete-new-select-button:hover {
  background-color: $catalogue-color;
  color: white !important;
}

.add-new-catalogue-button:hover {
  color: white !important;
}

.lang-dynamic-select {
  margin-left: 30px;
}

.dynamic-lang-area {
  width: 370px !important;
  margin-left: 213px;
  margin-top: -30px;
}

.catalogue-modal-save-button {
  border-radius: 10px !important;
  background-color: $catalogue-color;
  color: white;
  text-transform: uppercase !important;
}

.catalogue-modal-save-button:hover {
  color: white !important;
}

.catalogue-modal-header {
  border-bottom: 2px solid $catalogue-color !important;
}

@media (max-width: 300px) {
  .container {
    width: 300px !important;
  }
}

@media (min-width: 301px) and (max-width: 358px) {
  .container {
    width: 300px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .customer_logo {
    margin-left: -25px !important;
    margin-top: -55px !important;
  }
  #mytabs > li {
    border-top: none !important;
    width: 305px !important;
    margin-left: 15px !important;
  }
  .btn-file, .progress {
    width: 150% !important;
  }
  .creator-form-input-width {
    width: 170px !important;
  }
  .form-button {
    margin-left: 50px;
  }
  .form-nav {
    width: 180% !important;
  }
  #to_song_info::after,
  #to_song_info::before,
  #to_options::after,
  #to_options::before {
    right: -85px;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    right: -50px;
  }
  #back_to_options::after,
  #back_to_options::before {
    left: 15px;
  }
  #back_to_cart::after,
  #back_to_cart::before {
    left: 15px;
  }
  .creator-form-input {
    margin-left: 50px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    width: 290% !important;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 0px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 280px !important;
  }
  .chordsheet-line {
    width: 280px;
  }
  .gift-code-line {
    width: 280px;
  }
  .checkout-price-calculation-text {
    width: 280px;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .composer-dynamic-field {
    width: 130px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: 0px !important;
  }
}

@media (min-width: 358px) and (max-width: 416px) {
  .container {
    width: 300px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 300px !important;
  }
  #mytabs > li {
    border-top: none !important;
    margin-left: 15px !important;
    width: 300px !important;
  }
  .customer_logo {
    margin-top: -35px !important;
    width: 250px;
    height: 90px;
  }
  .cart-line {
    width: 300px !important;
    margin-left: -60px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .footer {
    height: 100px !important;
  }
  .upload-text p {
    margin-left: -15px !important;
  }
  .add-details p {
    margin-left: -15px !important;
  }
  .add-version p {
    margin-left: -15px !important;
  }
  .upload-button {
    margin-left: -15px;
  }
  .cart p {
    text-align: center !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 300px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 300px !important;
  }
  .card-price-image {
    margin-left: 0 !important;
  }
  .price-card-title p {
    margin-left: -35px !important;
  }
  .price-wrapper {
    margin-left: -35px !important;
  }
  .checkout-section p {
    margin-left: -35px !important;
  }
  /*.checkout-form input, label, select {
    margin-left: -65px !important;
  }*/
  .checkout-result p {
    margin-left: 0px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 2.4em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 2.4em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 2.4em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 2.4em) !important;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 2.4em) !important;
  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart::after,
  #back_to_cart::before{
    top: calc(100% - 2.4em) !important;
  }
  .form-button {
    margin-left: 13px;
  }
  .btn-file, .progress {
    width: 150% !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 170px !important;
    left: -25px !important;
  }
  .form-button {
    margin-left: 50px;
  }
  .form-nav {
    width: 180% !important;
  }
  #to_song_info::after,
  #to_song_info::before,
  #to_options::after,
  #to_options::before {
    right: -85px;
  }
  .creator-form-input {
    margin-left: 100px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 290% !important;
    left: -25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    right: -50px;
  }
  #back_to_options::after,
  #back_to_options::before {
    left: 15px;
  }
  #back_to_cart::after,
  #back_to_cart::before {
    left: 15px;
  }
  .creator-form-input {
    margin-left: 77px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    width: 290% !important;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 0px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 280px !important;
  }
  .chordsheet-line {
    width: 280px !important;
  }
  .gift-code-line {
    width: 280px !important;
  }
  .checkout-line {
    width: 270px;
    margin-left: -30px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 280px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .edit-line {
    width: 280px !important;
    margin-left: -30px;
  }
  .composer-dynamic-field {
    width: 130px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: 0px !important;
  }
}

@media (min-width: 416px) and (max-width: 516px) {
  .container {
    width: 350px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 350px !important;
  }
  .customer_logo {
    width: 300px;
    height: 110px;
  }
  #mytabs > li {
    border-top: 0px !important;
    margin-left: 0px !important;
    width: 350px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .footer {
    height: 100px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 350px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 350px !important;
  }
  .card-price-image {
    margin-left: -20px !important;
  }
  .price-card-title p {
    margin-left: -35px !important;
  }
  .price-wrapper {
    margin-left: -35px !important;
  }
  .checkout-section p {
    margin-left: -35px !important;
  }
  .checkout-result p {
    margin-left: 0px !important;
  }
  .form-button {
    margin-left: 32px;
  }
  .btn-file, .progress {
    width: 170% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 200% !important;
    left: -20px;
  }
  #to_song_info::after,
  #to_song_info::before,
  #to_options::after,
  #to_options::before,
  #to_chordsheet::after,
  #to_chordsheet::before {
    right: 5px;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.6em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.6em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.6em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.6em) !important;
    right: 5px !important;
  }
  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.6em) !important;
    left: 0px;
  }
  #back_to_cart::after,
  #back_to_cart::before {
    top: calc(100% - 1.6em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 270% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    right: -50px;
  }
  #back_to_options::after,
  #back_to_options::before {
    left: 15px;
  }
  #back_to_cart::after,
  #back_to_cart::before {
    left: 15px;
  }
  .creator-form-input {
    margin-left: 50px !important;
    width: 167px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    width: 290% !important;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 15px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 300px !important;
  }
  .chordsheet-line {
    width: 300px !important;
  }
  .gift-code-line {
    width: 300px !important;
  }
  .checkout-line {
    width: 270px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 300px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .edit-line {
    width: 280px !important;
    margin-left: -30px;
  }
  .composer-dynamic-field {
    width: 150px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: 0px !important;
  }
}

@media (min-width: 516px) and (max-width: 578px) {
  .container {
    width: 450px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 450px !important;
  }
  .customer_logo {
    position: relative;
    top: -10px;
  }
  #mytabs > li {
    border-top: none !important;
    margin-left: 0px !important;
    width: 450px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .footer {
    height: 100px !important;
  }
  .upload-text p {
    margin-left: -15px !important;
  }
  .add-details p {
    margin-left: -15px !important;
  }
  .add-version p {
    margin-left: -15px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 450px !important;
  }
  .price-line {
    margin-left: -60px;
    width: 450px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.7em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.7em) !important;
    right: -50px !important;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.7em) !important;
    left: 0px;

  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart:after,
  #back_to_cart::before{
    top: calc(100% - 1.7em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 270% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 105%;
    left: 70px;
    bottom: 30px;
  }
  .btn-file, .progress {
    width: 160% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 180% !important;
    left: -20px;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    right: -50px;
  }
  #back_to_options::after,
  #back_to_options::before {
    left: 15px;
  }
  #back_to_cart::after,
  #back_to_cart::before {
    left: 15px;
  }
  .creator-form-input {
    margin-left: 50px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    width: 290% !important;
  }
  .add-lyrics-button {
    position: relative;
    width: 95%;
    left: 50px;
    bottom: 30px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 70px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 400px !important;
  }
  .chordsheet-line {
    width: 400px !important;
  }
  .gift-code-line {
    width: 400px !important;
  }
  .checkout-line {
    width: 400px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 400px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 400px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 400px !important;
    margin-left: -30px;
  }
  .composer-dynamic-field {
    width: 250px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: 0px !important;
  }
}

@media (min-width: 578px) and (max-width: 660px) {
  .container {
    width: 500px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 500px !important;
  }
  #mytabs > li {
    border-top: none !important;
    margin-left: 0px !important;
    width: 500px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 500px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 500px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.7em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.7em) !important;
    right: 0px;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.7em) !important;
    left: 0px;
  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart:after,
  #back_to_cart::before{
    top: calc(100% - 1.7em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 270% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 105%;
    left: 80px;
    bottom: 30px;
  }
  .btn-file, .progress {
    width: 160% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 180% !important;
    left: -20px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 95px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 460px !important;
  }
  .chordsheet-line {
    width: 460px !important;
  }
  .gift-code-line {
    width: 460px !important;
  }
  .checkout-line {
    width: 460px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 480px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 460px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 460px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
  .composer-dynamic-field {
    width: 300px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: -195px !important;
  }
}

@media (min-width: 660px) and (max-width: 774px) {
  .container {
    width: 550px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 550px !important;
  }
  #mytabs > li {
    border-top: none !important;
    margin-left: 0px !important;
    width: 550px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .footer {
    height: 100px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 550px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 250px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.7em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.7em) !important;
    right: 0px;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.7em) !important;
    left: 0px;
  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart:after,
  #back_to_cart::before{
    top: calc(100% - 1.7em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 255% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 105%;
    left: 80px;
    bottom: 30px;
  }
  .btn-file, .progress {
    width: 160% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 180% !important;
    left: -20px;
  }
  .form-button {
    margin-left: 13px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 115px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 500px !important;
  }
  .chordsheet-line {
    width: 500px !important;
  }
  .gift-code-line {
    width: 500px !important;
  }
  .checkout-line {
    width: 500px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 500px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 500px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 500px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
  .composer-dynamic-field {
    width: 350px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: -215px !important;
  }
}

@media (min-width: 768px) and (max-width: 774px) {
  #mytabs > li {
    border-top: none !important;
    margin-left: 30px !important;
    width: 110px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .soundnotation-tab a {
    width: 140px !important;
    left: 35px !important;
  }
  #mytabs {
    margin-left: 0px !important;
  }
}

@media (min-width: 774px) and (max-width: 867px) {
  .container {
    width: 740px !important;
  }
  .search-input {
    width: 140px !important;
  }
  #mytabs > li {
    border-top: none !important;
    margin-left: 0px !important;
    width: 740px !important;
  }
  #mytabs {
    margin-left: 0px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 670px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 670px !important;
  }
  .footer {
    height: 60px !important;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 180px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 620px !important;
  }
  .chordsheet-line {
    width: 620px !important;
  }
  .gift-code-line {
    width: 620px !important;
  }
  .checkout-line {
    width: 600px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 620px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 620px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 620px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 774px) {
  #mytabs > li {
    margin-left: 0px !important;
    width: 137.1px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .search-input {
    width: 140px !important;
  }
}

@media (min-width: 774px) and (max-width: 867px) {
  #mytabs > li {
    left: 33px !important;
    width: 167.3px !important;
  }
  .search-input {
    width: 140px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.7em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.7em) !important;
    right: 0px;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.7em) !important;
    left: 0px;
  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart:after,
  #back_to_cart::before{
    top: calc(100% - 1.7em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 250% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 105%;
    left: 100px;
    bottom: 30px;
  }
  .btn-file, .progress {
    width: 160% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 170% !important;
    left: -20px;
  }
  .form-button {
    margin-left: 13px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 220px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 700px !important;
  }
  .chordsheet-line {
    width: 700px !important;
  }
  .gift-code-line {
    width: 700px !important;
  }
  .checkout-line {
    width: 700px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 700px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 700px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 700px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
  .composer-dynamic-field {
    width: 540px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: -300px !important;
  }
}

@media (min-width: 867px) and (max-width: 1200px) {
  .search-input {
    width: 140px !important;
  }
  #mytabs > li {
    left: 33px !important;
    width: 167.3px !important;
  }
  .catalogue-table {
    margin-top: 20px !important;
  }
  .links-nav {
    margin-top: -55px !important;
  }
  .cart-line {
    margin-left: -75px;
    width: 670px !important;
  }
  .price-line {
    margin-left: -80px;
    width: 670px !important;
  }
  #mytabs > li {
    border-top: none !important;
  }
  #mytabs {
    margin-left: 0px !important;
  }
  #to_song_info::after,
  #to_song_info::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_options::after,
  #to_options::before {
    top: calc(100% - 1.7em) !important;
  }

  #back_to_uploads::after,
  #back_to_uploads::before {
    top: calc(100% - 1.7em) !important;
  }
  #to_chordsheet::after,
  #to_chordsheet::before {
    top: calc(100% - 1.7em) !important;
    right: 0px;
  }

  #back_to_song_info::after,
  #back_to_song_info::before {
    top: calc(100% - 1.7em) !important;
    left: 0px;
  }
  #back_to_options::after,
  #back_to_options::before,
  #back_to_cart:after,
  #back_to_cart::before{
    top: calc(100% - 1.7em) !important;
  }
  .creator-form-input-width {
    position: relative;
    width: 140% !important;
    left: 25px !important;
  }

  .upload-file-form-label {
    position: relative;
    left: -20px !important;
    top: 15px !important;
  }
  .select-composition-genre {
    position: relative;
    width: 250% !important;
    left: 25px;
  }
  .add-lyrics-button {
    position: relative;
    width: 105%;
    left: 100px;
    bottom: 30px;
  }
  .btn-file, .progress {
    width: 160% !important;
    margin-left: -20px;
  }
  .form-nav {
    position: relative;
    width: 170% !important;
    left: -20px;
  }
  .form-button {
    margin-left: 13px;
  }
  .cart {
    display: none;
  }
  .price-cards-section {
    margin-left: 280px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 800px !important;
  }
  .chordsheet-line {
    width: 800px !important;
  }
  .gift-code-line {
    width: 800px !important;
  }
  .checkout-line {
    width: 800px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 800px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 800px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 800px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
  .composer-dynamic-field {
    width: 650px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: -345px !important;
  }
}

@media (min-width: 939px) and (max-width: 1200px) {
  .cart {
    display: none;
  }
  .search-input {
    width: 140px !important;
  }
  .price-cards-section {
    margin-left: 180px;
  }
  .summary {
    margin-left: -15px;
  }
  .add-track-line {
    display: none;
  }
  .total-summ {
    position: relative;
    left: -45px !important;
  }
  .creator-well {
    width: 620px !important;
  }
  .chordsheet-line {
    width: 620px !important;
  }
  .gift-code-line {
    width: 620px !important;
  }
  .checkout-line {
    width: 620px;
    margin-left: -35px;
  }
  .checkout-result {
    margin-left: 20px !important;
  }
  .checkout-price-calculation-text {
    width: 620px !important;
  }
  .buy_button {
    margin-right: 15px;
  }
  .difficulty-select {
    position: relative;
    left: -90px !important;
  }
  .price-line {
    width: 220px !important;
    margin-left: -5px;
  }
  .price-calculation-line {
    width: 620px !important;
    margin-left: 10px;
  }
  .edit-line {
    width: 620px !important;
    margin-left: -30px;
  }
  .difficulty-select {
    position: relative;
    left: 10px !important;
  }
  .composer-dynamic-field {
    width: 470px !important;
    margin-left: 122px !important;
  }
  .creator-composer-dynamic-select {
    margin-left: 0px !important;
  }
  .delete-composer-field {
    margin-left: -270px !important;
  }
}

#payment-error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}

.subscription-confirmation > div > p {
  font-weight: bold !important;
}

.per_page {
  width: 150%;
  border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
  color: #337ab7 !important;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
  color: #fff !important;
}

.total-items p {
  font-size: 12px;
}

.catalogue-pagination .per_page_text,
.catalogue-pagination .per_page {
  color: $catalogue-color;
}

.catalogue-pagination > .pagination > li > a,
.catalogue-pagination > .pagination > li > span {
  color: $catalogue-color !important;
}

.catalogue-pagination > .pagination > .active > a,
.catalogue-pagination > .pagination > .active > a:hover,
.catalogue-pagination > .pagination > .active > a:focus,
.catalogue-pagination > .pagination > .active > span,
.catalogue-pagination > .pagination > .active > span:hover,
.catalogue-pagination > .pagination > .active > span:focus{
  color: #fff !important;
  background-color: $catalogue-color;
  border-color: $catalogue-color;
}

.catalogue-total-items p {
  color: $catalogue-color;
}

.promoter-pagination .per_page_text,
.promoter-pagination .per_page {
  color: $promoter-color;
}

.promoter-pagination > .pagination > li > a,
.promoter-pagination > .pagination > li > span {
  color: $promoter-color !important;
}

.promoter-pagination > .pagination > .active > a,
.promoter-pagination > .pagination > .active > a:hover,
.promoter-pagination > .pagination > .active > a:focus,
.promoter-pagination > .pagination > .active > span,
.promoter-pagination > .pagination > .active > span:hover,
.promoter-pagination > .pagination > .active > span:focus{
  color: #fff !important;
  background-color: $promoter-color;
  border-color: $promoter-color;
}

.promoter-total-items p {
  color: $promoter-color;
}

.distributor-pagination .per_page_text,
.distributor-pagination .per_page {
  color: $distributor-color;
}

.distributor-pagination > .pagination > li > a,
.distributor-pagination > .pagination > li > span {
  color: $distributor-color !important;
}

.distributor-pagination > .pagination > .active > a,
.distributor-pagination > .pagination > .active > a:hover,
.distributor-pagination > .pagination > .active > a:focus,
.distributor-pagination > .pagination > .active > span,
.distributor-pagination > .pagination > .active > span:hover,
.distributor-pagination > .pagination > .active > span:focus{
  color: #fff !important;
  background-color: $distributor-color;
  border-color: $distributor-color;
}

.distributor-total-items p {
  color: $distributor-color;
}

.order-history-pagination .per_page_text,
.order-history-pagination .per_page {
  color: $soundnotation-color;
}

.order-history-pagination > .pagination > li > a,
.order-history-pagination > .pagination > li > span {
  color: $soundnotation-color !important;
}

.order-history-pagination > .pagination > .active > a,
.order-history-pagination > .pagination > .active > a:hover,
.order-history-pagination > .pagination > .active > a:focus,
.order-history-pagination > .pagination > .active > span,
.order-history-pagination > .pagination > .active > span:hover,
.order-history-pagination > .pagination > .active > span:focus{
  color: #fff !important;
  background-color: $soundnotation-color;
  border-color: $soundnotation-color;
}

.order-history-total-items p {
  color: $soundnotation-color;
}

span.catalogue-table-image {
  display: inline-block;
  background-size: cover;
  margin-bottom: -5px;
}

.not-created-image {
  background-image: url(image_path('soundnotation_dashboard/catalogue-not-created.gif'))
}

.created-image {
  background-image: url(image_path('soundnotation_dashboard/catalogue-created.png'))
}

.btn-empty-download {
  cursor: default;
  background-image: url(image_path('soundnotation_dashboard/download-regular.png'))
}

.download-image {
  background-image: url(image_path('soundnotation_dashboard/download-regular.png'));

  &:hover, &.current {
    background-image: url(image_path('soundnotation_dashboard/download-hover.png'));
  }
}

.pencil-image {
  background-image: url(image_path('soundnotation_dashboard/pencil-regular.png'));

  &:hover, &.current {
    background-image: url(image_path('soundnotation_dashboard/pencil-hover.png'));
  }
}

.basket-image {
  background-image: url(image_path('soundnotation_dashboard/basket-regular.png'));

  &:hover, &.current {
    background-image: url(image_path('soundnotation_dashboard/basket-hover.png'));
  }
}

.play-image {
  background-image: url(image_path('soundnotation_dashboard/play-blue.png'));

  &:hover, &.current {
    background-image: url(image_path('soundnotation_dashboard/play-grey.png'));
  }
}
