.pricing-content {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pricing-title {
  font-size: 45px;
  color: #A3A3A3;
  margin-bottom: -10px
}

.pricing-subtitle {
  font-size: 30px;
  color: #A3A3A3;
  margin-bottom: 60px;
}

.lyrics-pricing {
    margin-top: 0px;
    margin-bottom: 0px;
    left: 0px !important;
    margin-left: -26px;
}

.chords-pricing {
    margin-top: 0px !important;
    margin-bottom: 0px;
}

.difficulty-pricing {
    margin-left: -15px;
    margin-right: -15px;
}

.difficulty-label-pricing {
    top: 7.5px !important;
}

/*.addon {
  width: 49%;
  display: inline-block;
  margin-left: -25px;
  margin-right: -5px;
}*/
