.popover {
  max-width: 700px !important;
  min-width: 400px !important;
}

.tour-button:focus, .tour-button:active {
  outline: none !important;
  background-color: white !important;
}

.tour-nav-button {
  width: 100px;
  font-weight: 600 !important;
}

.end-tour-button {
  position: relative;
  font-weight: 600 !important;
  width: 150px;
  // left: -20px !important;
}

.tour-button {
  border-radius: 5px !important;
  border:1px solid lightgrey !important;
  margin-bottom: 5px;
  box-shadow: 1px 1px #888888;
}

.tour-nav-button[data-role="prev"] {
  margin-left: 20px;
}
