// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_navbar_container {
    width: 950px !important;
    background: transparent;
    margin: 0 auto;
    margin-bottom: 60px;
}
.checkbox {
  margin-left: 18px;
}
.profile-logo {
  width: 350px;
  height: 120px;
  margin-left: 27px;
  top: 15px;
}

.payment-information-text {
    text-align: right;
    margin-top: 25px;
}

.payment-information-text p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: -73px;
    margin-right: 90px;
}

.vat-id-field, .paypal-account-options, .bank-account-options, .other-bank-account-options {
    display: none;
}

.profile-logo-section {
    border-bottom: 3px solid #825575;
}

.profile-content {
    margin-top: 0px !important;
}

.profile-content-container {
    margin-top: -60px !important;
}

.job-content-container {
    margin-top: -20px !important;
}

.account-logo-section {
    height: 150px;
}

.profile-container {
    width: 950px !important;
	background-color: #e5e5e5;
    margin: 0 auto;
}


.user-nav {
    border-top-right-radius: 15px !important;
}

.logout-link {
    margin-right: 15px;
}

.account-logo {
  width: 350px;
  height: 120px;
  margin-left: 27px;
  top: 15px;
}

#profile_tabs {
    width: 150px;
    text-align: right;
}

#profile_tabs a {
    color: black !important;
    font-size: 15px;
}

#profile_tabs > li.active > a {
    font-weight: bold !important;
    background-color: transparent !important;
}

#profile_tabs > li > a:hover {
    background-color: transparent !important;
}

.profile-content {
    margin-left: -10px;
    margin-top: -20px;
    background-color: white;
    width: 730px !important;
}

.profile-form input {
    border-radius: 10px !important;
    width: 300px;
    margin-left: 20px;
}

.payment_form input {
    border-radius: 10px !important;
}

.profile-form select {
    border-radius: 10px !important;
    width: 150px !important;
    margin-left: 20px !important;
}

.password-input, .email-input {
    width: 250px !important;
}

.change-password {
    color: black !important;
    p {
        color: black !important;
    }
}

.update_profile_button {
    background-color: darkgrey !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
    width: 100px;
    height: 30px;
    line-height: 20px !important;
    margin-left: 353px;
}

.update_profile_button:focus {
    outline: none !important;
}

.update_payments_button {
    background-color: darkgrey !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
    width: 100px;
    height: 30px;
    line-height: 20px !important;
    margin-left: 315px;
}

.update_payments_button:focus {
    outline: none !important;
}

.update_logo_button {
    background-color: darkgrey !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
    width: 100px;
    height: 30px;
    line-height: 20px !important;
    margin-top: 50px;
}

.update_logo_button:focus {
    outline: none !important;
}

.update-logo-well {
    height: 230px;
    width: 220px;
    float: right;
    right: 10px;
}

.update-logo-well h3 {
    text-align: center;
    margin-top: 70px;
}

.button-row {
    text-align: center;
}

.building-input {
    width: 80px !important;
    margin-left: 77px !important;
}

.street-input {
    width: 200px !important;
}

.payment_form input {
    margin-left: -13px;
    width: 300px !important;
}

.payment_form select {
    width: 150px !important;
    border-radius: 10px !important;
}

#payment_details {
    margin-bottom: 160px;
}

.order-table-header {
    background-color: #825575;
}

.order-table-header th {
    color: white;
    border-left: 0px !important;
}

.order-table-container {
    margin-bottom: 360px;
}
.order-table-row td {
    border-left: 0px !important;
}

.job-table-header {
    background-color: #825575;
}

.job-table-header th {
    color: white;
    border-left: 0px !important;
}

.job-table-container {
    margin-bottom: 360px;
}

.job-table-row td {
    border-left: 0px !important;
}

/*.pdf_field {
    width: 200px;
}*/

.pdf-badge {
    float: right;
    border-radius: 4px !important;
    height: 28px;
    width: 45px;
    line-height: 24px !important;
    cursor: pointer;
}

.pdf-select {
    border-radius: 10px !important;
    width: 100px !important;
    height: 28px !important;
    padding-top: 4px !important;
    background-image:
        linear-gradient(45deg, transparent 60%, white 50%),
        linear-gradient(135deg, white 70%, transparent 50%),
        linear-gradient(to right, #825575, #825575) !important;
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0 !important;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: none !important;    // removes borders and downarrow button of the select box from webkit browsers.
    -moz-appearance: none !important;  // cannot remove the downarrow button of the mozilla browsers.
    appearance: none !important;
}

#settings {
    margin-bottom: 400px;
}

@media (min-width: 389px) and (max-width: 517px) {
    .profile-container {
        width: 350px !important;
    }
    .customer_logo {
        width: 300px;
        height: 110px;
        margin-top: -40px !important;
    }
    .profile-content {
        width: 350px !important;
        margin-left: 15px;
        margin-top: 5px;
    }
    #profile {
        margin-top: 10px;
    }
    .update-logo-well {
        right: 65px !important;
    }
    .profile-form input, select {
        margin-top: 5px;
        margin-left: -5px;
    }
    .profile-form select {
        margin-top: 5px;
        margin-left: -5px !important;
    }
    .building-input {
        margin-left: -5px !important;
        margin-top: 5px !important;
    }
    .update_profile_button, .update_payments_button {
        margin-left: 125px !important;
    }
    .payment_form select, input {
        margin-left: -5px !important;
        margin-top: 5px;
    }
}

@media (min-width: 517px) and (max-width: 654px) {
    .profile-container {
        width: 450px !important;
    }
    .profile-content {
        width: 450px !important;
        margin-left: 15px;
    }
    .customer_logo {
        margin-top: -40px !important;
    }
    .update-logo-well {
        right: 105px !important;
    }
    .profile-form input, select {
        margin-top: 5px;
        margin-left: -5px;
    }
    .profile-form select {
        margin-top: 5px;
        margin-left: -5px !important;
    }
    .building-input {
        margin-left: -5px !important;
        margin-top: 5px !important;
    }
    .update_profile_button, .update_payments_button {
        margin-left: 188px !important;
    }
    .payment_form select, input {
        margin-left: -5px !important;
        margin-top: 5px;
    }
}

@media (min-width: 579px) {
    .customer_logo {
        margin-top: -10px !important;
    }
}

@media (min-width: 654px) and (max-width: 768px) {
    .profile-container {
        width: 550px !important;
    }
    .profile-content {
        width: 550px !important;
        margin-left: 15px;
    }
    .update-logo-well {
        right: 130px !important;
    }
    .profile-form input, select {
        margin-top: 5px;
        margin-left: -5px;
    }
    .profile-form select {
        margin-top: 5px;
        margin-left: -5px !important;
    }
    .building-input {
        margin-left: -5px !important;
        margin-top: 5px !important;
    }
    .update_profile_button, .update_payments_button {
        margin-left: 260px !important;
    }
    .payment_form select, input {
        margin-left: -5px !important;
        margin-top: 5px;
    }
    .footer {
        height: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 769px) {
    .profile-container {
        width: 720px !important;
    }
    .profile-content {
        width: 720px !important;
        margin-left: 15px;
    }
    .update-logo-well {
        right: 240px !important;
    }
    .links-nav {
        margin-top: -55px !important;
    }
    .footer {
        height: 60px !important;
    }
    .update_profile_button, .update_payments_button {
        margin-left: 390px !important;
    }
    .building-input {
        margin-left: -25px !important;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .profile-container {
        width: 720px !important;
    }
    .profile-content {
        width: 720px !important;
        margin-left: 15px;
    }
    .building-input {
        margin-left: 0px !important;
    }
    .update_profile_button {
        margin-left: 410px !important;
    }
    .update_payments_button {
        margin-left: 380px !important;
    }
    .profile-form input {
        margin-top: 5px !important;
    }
    .profile-form select {
        margin-top: 5px !important;
    }
}
