<div class="row">
  <div class="col-ms-12 hidden-lg hidden-md">
    <%= link_to root_path do %>
      <div class="overlay_sec_header_background hidden-lg hidden-md"></div>
    <% end %>
  </div>
  <div class="logo-section col-lg-12 hidden-xs hidden-sm">
    <div class="col-lg-6">
        <%= link_to image_tag("logo.png", class: "logo-blog"), root_path %>
    </div>
    <div class="col-lg-6 ">
      <div class="sub_header">
      <%= link_to faq_path do %>
        <div class="blog-promo-text">
          <h1 <% if I18n.locale == :en %> class="en-blog-title" <% else %> class="de-blog-title" <% end %> class="en-blog-title">
            <%= t('faq.faq_logo_section.promo.title') %>
          </h1>

          <p <% if I18n.locale == :en %> class="knowledge-text" <% else %> class="de-knowledge-text" <% end %> class="knowledge-text">
            <strong><%= t('faq.faq_logo_section.promo.text.bold') %></strong><br/><%= t('faq.faq_logo_section.promo.text.normal') %>.</p>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
