<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'faq_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container faq-container center-block col-sm-12 faq-section col-lg-12 col-md-12">
	<div>
		<div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          <%= t('.question1') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		          <%= t('.answer1_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          <%= t('.question2') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		          <%= t('.answer2_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          <%= t('.question3') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		          <%= t('.answer3_html') %>
		      </div>
		    </div>
		  </div><div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFour">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          <%= t('.question4') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="panel-body">
		          <%= t('.answer4_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingFive">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		          <%= t('.question5') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      <div class="panel-body">
		          <%= t('.answer5_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingSix">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		          <%= t('.question6') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		      <div class="panel-body">
		          <%= t('.answer6_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading7">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
		          <%= t('.question7') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
		      <div class="panel-body">
		          <%= t('.answer7_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading8">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
		          <%= t('.question8') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
		      <div class="panel-body">
		          <%= t('.answer8_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading9">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
		          <%= t('.question9') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
		      <div class="panel-body">
		          <%= t('.answer9_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading10">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
		          <%= t('.question10') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
		      <div class="panel-body">
		          <%= t('.answer10_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading11">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
		          <%= t('.question11') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
		      <div class="panel-body">
		          <%= t('.answer11_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading12">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
		          <%= t('.question12') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
		      <div class="panel-body">
		          <%= t('.answer12_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading13">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
		          <%= t('.question13') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
		      <div class="panel-body">
		          <%= t('.answer13_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading14">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
		          <%= t('.question14') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
		      <div class="panel-body">
		          <%= t('.answer14_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading15">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
		          <%= t('.question15') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
		      <div class="panel-body">
		          <%= t('.answer15_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading16">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse17">
		          <%= t('.question16') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
		      <div class="panel-body">
		          <%= t('.answer16_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headin17e">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
		          <%= t('.question17') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
		      <div class="panel-body">
		          <%= t('.answer17_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading18">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
		          <%= t('.question18') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
		      <div class="panel-body">
		          <%= t('.answer18_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading19">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
		          <%= t('.question19') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
		      <div class="panel-body">
		          <%= t('.answer19_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading20">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapse20">
		          <%= t('.question20') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
		      <div class="panel-body">
		          <%= t('.answer20_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading21">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
		          <%= t('.question21') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
		      <div class="panel-body">
		          <%= t('.answer21_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading22">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapse22">
		          <%= t('.question22') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
		      <div class="panel-body">
		          <%= t('.answer22_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading23">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapse23">
		          <%= t('.question23') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
		      <div class="panel-body">
		          <%= t('.answer23_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading24">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapse24">
		          <%= t('.question24') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
		      <div class="panel-body">
		          <%= t('.answer24_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading25">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapse25">
		          <%= t('.question25') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25">
		      <div class="panel-body">
		          <%= t('.answer25_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading26">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapse26">
		          <%= t('.question26') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26">
		      <div class="panel-body">
		          <%= t('.answer26_html') %>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
