.user__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;

  > .user__listItem {
    flex: auto;
    display: inline-block;
    padding: .5em;
    margin: .5em;
    border: thin white solid;
    transition: .3s ease-in background;

    &:hover {
      background: #2bbbad;
    }

    .user__listItemHeader {
      margin-bottom: 0;
    }
    .user__listItemDetails {
      margin: 0 0 1em 1em;
      > p {
        margin: 0;
      }
    }
  }
}