<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new customer has registered</h1>
    <p>
      User ID: <%= @user.id %><br>
      name: <%= @user.full_name %><br>
      company: <%= @user.company unless @user.company.nil? %>
    </p>
  </body>
</html>