<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'impressum_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>

<div class="container impressum-container center-block col-sm-12 impressum-promo-section col-lg-12 col-md-12">
	<div style="margin-left: 80px; margin-right: 150px;">
		<br>
        <p style="font-weight: bold; <% if I18n.locale == :en %> font-size: 24px !important; <% end %>">
		<%= t('.corporate_info_html') %>
		</p>
		<p>
		<%= t('.registered_office_html') %>
		</p>
		<p>
		<%= t('.managing_directors_html') %>
		</p>
		<p>
		<%= t('.court_of_registration_html') %>
		<%= t('.registration_number_html') %>
		</p>
		<p>
		<%= t('.vat_id_number_html') %>
		</p>
		<%= t('.email_html', mail_to: mail_to("info@soundnotation.com", "info@soundnotation.com", class: "impressum-links")) %>
		<br>
		<p style="font-weight: bold;">
		<%= t('.disclaimer_title_html') %>
		</p>
		<br>
		<%= t('.disclaimer_text_html', platform_for_online_resolution: link_to(t('.platform_for_online_resolution'), "https://ec.europa.eu/consumers/odr/", class: "impressum-links")) %>
		<br>
		<p style="font-weight: bold;">
		<%= t('.pictures_and_graphics') %>
		</p>
		<p>
		<a class="impressum-links" href="https://www.istockphoto.com">istockphoto</a>
		</p>
		<p>
		<a class="impressum-links" href="https://www.123rf.com">123rf</a>
		</p>
	</div>
</div>

<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
