<% if I18n.locale == :en %>
    <li class="nav-item locale">
      <a class='nav-link' style="left: 25px; color: white !important;">EN |</a>
    </li>
    <li class="nav-item locale de-locale">
      <%= link_to 'DE', I18n.with_locale(:de) { blog_path(@article.slug, locale: :de) }, active: false %>
    </li>
<% elsif I18n.locale == :de %>
    <li class="nav-item locale en-locale">
      <%= link_to 'EN', I18n.with_locale(:en) { blog_path(@article.slug, locale: :en) }, active: false %>
    </li>

    <li class="nav-item locale">
      <a class='nav-link' style="right: 0; left:0; color: white !important;">| DE</a>
    </li>
<% end %>
