<div class="container footer-container center-block">
    <div class="row footer-logo-section">
        <%= image_tag("footer-logo.png", class: "footer-logo") %>
    </div>
    <div class="lines-section">
        <div class="footer-logo-line-left"></div>
        <div class="footer-logo-line-right"></div>
    </div>
    <div class="footer-links-section">
        <div class="row"><%= link_to t('layouts.footer.blog'), blog_index_path(locale: I18n.locale) %></div>
        <div class="row"><%= link_to t('layouts.footer.contact_us'), contacts_path %></div>
        <div class="row"><%= link_to t('layouts.footer.pricing'), pricing_path %></div>
        <div class="row"><%= link_to t('layouts.footer.impressum'), impressum_path %></div>
        <div class="row"><%= link_to t('layouts.footer.faq'), faq_path %></div>
        <div class="row"><%= link_to t('layouts.footer.about_us'), about_us_path %></div>
        <div class="row"><%= link_to t('layouts.footer.legal'), legal_path %></div>
        <div class="row"><%= link_to t('layouts.footer.privacy'), privacy_path, 'data-turbolinks' => false %></div>
        <div class="row"><%= link_to t('layouts.footer.cookies'), cookies_path %></div>
        <div class="row"><p class="footer-copyright">© <%= Time.current.year %> Soundnotation</p></div>
    </div>
</div>
<div class="container icons-footer center-block">
    <div class="text-center">
        <div class="public_social_icons">
            <%= link_to image_tag("fb-white.png", :class =>"public_fb_img"), "https://www.facebook.com/soundnotation" %>
            <%= link_to image_tag("youtube-white.png", :class =>"public_youtube_img"), "https://www.youtube.com/channel/UCg71zWrPuETSJAY1FS0AQ6w" %>
            <%= link_to image_tag("twitter-white.png", :class =>"public_twitter_img"), "https://www.twitter.com/soundnotation" %>
        </div>
    </div>
</div>
