<div class="container center-block secondary-footer freelance-dashboard-footer">
	<div class="row">
		<div class="col-md-4">
		  <p><%= t('freelancers.dashboard.style_and_layout') %></p>
		</div>
			<div class="col-md-4">
		    <div class="row" style="padding-top: 14px;">
					<%= link_to t('freelancers.dashboard.music_fonts'), "/fonts/soundnotation_fonts.zip" %>
		    </div>
		    <div class="row">
					<%= link_to t('freelancers.dashboard.layout_instruction'), "/pdf/score_layout_and_fonts_soundnotation.pdf" %>
		    </div>
			</div>
		<div class="col-md-4">
			<div class="social_links">
				<%= link_to image_tag("about_us/fb-icon.png", :class =>"fb_img"), "https://www.facebook.com/soundnotation" %>
				<%= link_to image_tag("about_us/youtube-icon.png", :class =>"youtube_img"), "https://www.youtube.com/channel/UCg71zWrPuETSJAY1FS0AQ6w" %>
				<%= link_to image_tag("about_us/twitter-icon.png", :class =>"twitter_img"), "https://www.twitter.com/soundnotation" %>
			</div>
		</div>
	</div>
</div>
