
<div class="modal fade bs-example-modal-lg" id="newsletter_german_modal" tabindex="-1" role="dialog" aria-labelledby="newsletterGermanModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
			<div class="modal-header login-header">
				<button class="close" data-dismiss="modal">x</button>
				<h2 class="pull-left">Newsletter</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<p style="margin-left: 20px;">
								Wir schicken dir regelmäßig die wichtigsten Informationen zur Notenwelt. Wir missbilligen Spam und geben deine Daten niemals weiter. Du kannst den Newsletter jederzeit abbestellen.
							</p>
						</div>
						<div class="row">
							<%= image_tag("owl.png", class: "login_logo") %>
						</div>
					</div>
					<div class="col-sm-6">
						<form class="form layout_form cr_form cr_font" action="https://seu2.cleverreach.com/f/142996-145009/wcs/" method="post" target="_blank">
							<div class="cr_body cr_page cr_font formbox">
								<div class='non_sortable'>
								</div>
								<div class='editable_content'>
									<div id="3003209" rel="select" class="form-group cr_ipe_item ui-sortable" >
										<label for="select_3003209" class="itemname control-label">Anrede</label> 
										<select id="select_3003209" class="cr_font form-control" name="1156238" >
											<option value="Frau" >Frau</option>
											<option value="Herr" >Herr</option>
										</select>
									</div>
									<div id="3003224" rel="text" class="form-group cr_ipe_item ui-sortable">
										<label for="text3003224" class="control-label itemname">Vorname</label> 
										<input id="text3003224" class="form-control" name="1156226" type="text" value="" />
									</div>
									<div id="3003226" rel="text" class="form-group cr_ipe_item ui-sortable" >
										<label for="text3003226" class="control-label itemname">Nachname</label> 
										<input id="text3003226" class="form-control" name="1156227" type="text" value="" />
									</div>
									<div id="3003228" rel="email" class="form-group cr_ipe_item ui-sortable musthave" >
										<label for="text3003228" class="control-label itemname">E-Mail*</label> 
										<input id="text3003228"  class="form-control" name="email" value="" type="text" />
									</div>
									<div id="3003229" rel="select" class="form-group cr_ipe_item ui-sortable" >
										<label for="select_3003229" class="control-label itemname">Ich bin ...</label> 
										<select id="select_3003229" class="form-control cr_font" name="1156225" >
											<option value="Verlag" >Verlag</option>
											<option value="Label" >Label</option>
											<option value="Self Publisher" >Self Publisher</option>
											<option value="Anderes" >Anderes</option>
										</select>
									</div>
									<div id="3003230" rel="button" class="form-group cr_ipe_item ui-sortable submit_container" >
										<button type="submit" style="margin-left: 0px; color: white !important" class="btn login-button cr_button">Anmelden</button>
										<!--<div class="checkbox">
											<label>
												<input type="checkbox"> <%#= t('layouts.newsletter_modal.accept_terms_html') %>
											</label>
										</div>-->
									</div>
									<div>
                                        <p style="font-style: italic; font-size: 15px">Du erhältst den Newsletter in Deutsch. <a data-toggle="modal" data-target="#newsletter_german_modal" class="switch_to_english" href="#">Klicke hier</a>
        um ihn in englischer Sprache zu abonnieren.</p>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="newsletter_english_modal" tabindex="-1" role="dialog" aria-labelledby="newsletterEnglishModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
			<div class="modal-header login-header">
				<button class="close" data-dismiss="modal">x</button>
				<h2 class="pull-left">Newsletter</h2>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<p style="margin-left: 20px;">
								From time to time we will send you the latest news of the sheet music world. We hate spam and we will never sell, rent or share your email address. You can everytime unsubscribe.
							</p>
						</div>
						<div class="row">
							<%= image_tag("owl.png", class: "login_logo") %>
						</div>
					</div>
					<div class="col-sm-6">
						<form class="form layout_form cr_form cr_font" action="https://seu2.cleverreach.com/f/142996-145008/wcs/" method="post" target="_blank">
							<div class="cr_body cr_page cr_font formbox">
								<div class='non_sortable'>
								</div>
								<div class='editable_content'>
									<div id="3003209" rel="select" class="form-group cr_ipe_item ui-sortable" >
										<label for="select_3003209" class="itemname control-label">Form of Address</label> 
										<select id="select_3003209" class="cr_font form-control" name="1156238" >
											<option value="Frau" >Mrs</option>
											<option value="Herr" >Mr</option>
										</select>
									</div>
									<div id="3003224" rel="text" class="form-group cr_ipe_item ui-sortable">
										<label for="text3003224" class="control-label itemname">Prename</label> 
										<input id="text3003224" class="form-control" name="1156226" type="text" value="" />
									</div>
									<div id="3003226" rel="text" class="form-group cr_ipe_item ui-sortable" >
										<label for="text3003226" class="control-label itemname">Surname</label> 
										<input id="text3003226" class="form-control" name="1156227" type="text" value="" />
									</div>
									<div id="3003228" rel="email" class="form-group cr_ipe_item ui-sortable musthave" >
										<label for="text3003228" class="control-label itemname">Email*</label> 
										<input id="text3003228"  class="form-control" name="email" value="" type="text" />
									</div>
									<div id="3003229" rel="select" class="form-group cr_ipe_item ui-sortable" >
										<label for="select_3003229" class="control-label itemname">I am ...</label> 
										<select id="select_3003229" class="form-control cr_font" name="1156225" >
											<option value="Verlag" >Publisher</option>
											<option value="Label" >Label</option>
											<option value="Self Publisher" >Self Publisher</option>
											<option value="Anderes" >Others</option>
										</select>
									</div>
									<div id="3003230" rel="button" class="form-group cr_ipe_item ui-sortable submit_container" >
										<button type="submit" style="margin-left: 0px; color: white !important" class="btn login-button cr_button">Subscribe</button>
										<!--<div class="checkbox">
											<label>
												<input type="checkbox"> <%#= t('layouts.newsletter_modal.accept_terms_html') %>
											</label>
										</div>-->
									</div>
									<div>
										<p style="font-style: italic; font-size: 15px">You will get the Newsletter in english. Please <a data-toggle="modal" data-target="#newsletter_german_modal" class="switch_to_german" href='#'>click here</a> if you want subscribe it in german language.</p>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>