<nav class="navbar landing-nav navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
      <span class="sr-only"><%= t('layouts.toggle_navigation') %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav landing-navbar navbar-right main-navigation-bar">
      <li class="nav-item">
        <%= link_to t('layouts.nav.blog'), blog_index_path(locale: I18n.locale), class: 'nav-link', 'data-turbolinks' => false %>
      </li>

      <% if user_signed_in? %>
        <% if current_user.admin? || current_user.admin_light? %>
          <li class="nav-item">
            <%= link_to t('layouts.nav.admin'), admin_root_path, class: 'nav-link', 'data-turbolinks' => false %>
          </li>
          <li class="nav-item">
            <%= link_to t('layouts.nav.dashboard'), freelancers_dashboard_path, class: 'nav-link', 'data-turbolinks' => false %>
          </li>
        <% end %>
        <li class="nav-item">
          <% if current_user.transcriber? %>
            <%= link_to t('layouts.nav.dashboard'), freelancers_dashboard_path, class: 'nav-link', 'data-turbolinks' => false %>
          <% else %>
            <%= link_to t('layouts.nav.my_soundnotation'), my_soundnotation_path, class: 'nav-link', 'data-turbolinks' => false %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.logout'), destroy_user_session_path, class: 'nav-link', :method => :delete %>
        </li>
      <% else %>
        <li class="nav-item auth-links">
          <%= link_to t('layouts.nav.sign_up'), "#user_sign_up", "data-toggle" => "modal", class: 'nav-link' %>
        </li>
        <li class="nav-item auth-links">
          <%= link_to t('layouts.nav.login'), "#user_login", "data-toggle" => "modal", class: 'nav-link' %>
        </li>
      <% end %>

      <% if controller_name == 'blog' && action_name == 'show' %>
        <%= render 'layouts/blog_nav_locale' %>
      <% elsif controller_name == 'blog' && action_name == 'category' %>
        <%= render 'layouts/blog_category_nav_locale' %>
      <% else %>
        <%= render 'layouts/nav_locale' %>
      <% end %>
    </ul>
  </div>
</nav>
