<% if I18n.locale == :en %>
    <li class="nav-item locale">
      <a class='nav-link' style="left: 25px; color: white !important;">EN |</a>
    </li>
    <li class="nav-item locale de-locale">
      <%= link_to 'DE', locale: :de %>
    </li>
<% elsif I18n.locale == :de %>
    <li class="nav-item locale en-locale">
      <%= link_to 'EN', locale: :en %>
    </li>

    <li class="nav-item locale">
      <a class='nav-link' style="right: 0; left:0; color: white !important;">| DE</a>
    </li>
<% end %>
