<div class="modal fade bs-example-modal-lg" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render partial: 'layouts/newsletter_modal_content', locals: {lng: I18n.locale} %>
    </div>
  </div>
</div>

