<% I18n.with_locale(lng||I18n.locale) do %>
    <div class="modal-header login-header">
      <button class="close" data-dismiss="modal">x</button>
      <h2 class="pull-left"><%= t('layouts.newsletter_modal.newsletter') %></h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-xs-12 hidden-xs hidden-sm">
          <div class="row">
            <p style="margin-left: 20px;">
              <%= t('layouts.newsletter_modal.description') %>
            </p>
          </div>
          <div class="row">
            <%= image_tag("owl.png", class: "login_logo") %>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <%= simple_form_for(:user, url: subscribe_newsletter_users_path, html: {class: 'newsletter-form'}) do |f| %>
              <div class="cr_body cr_page cr_font formbox">
                <div class='editable_content'>
                  <div id="3003209" rel="select" class="form-group cr_ipe_item ui-sortable">
                    <label for="select_3003209" class="itemname control-label"><%= t('layouts.newsletter_modal.address') %></label>
                    <select id="select_3003209" class="cr_font form-control" name="1156238">
                      <option value="Frau"><%= t('layouts.newsletter_modal.mrs') %></option>
                      <option value="Herr"><%= t('layouts.newsletter_modal.mr') %></option>
                    </select>
                  </div>

                  <%= f.input :first_name, label: t('layouts.newsletter_modal.first_name'), required: false %>
                  <%= f.input :last_name, label: t('layouts.newsletter_modal.second_name'), required: false %>
                  <%= f.input :email, label: t('layouts.newsletter_modal.email'), input_html: {class: 'user-email', id: 'newsletter-user-email'} %>

                  <div id="3003229" rel="select" class="form-group cr_ipe_item ui-sortable">
                    <label for="select_3003229" class="control-label itemname">
                      <%= t('layouts.newsletter_modal.i_am') %> ...
                    </label>
                    <select id="user_interest_id" class="form-control cr_font" name="user[interest_id]">
                      <option value="861aaa9256"><%= t('layouts.newsletter_modal.publisher') %></option>
                      <option value="eb60a14c44"><%= t('layouts.newsletter_modal.label') %></option>
                      <option value="453a6a8f80"><%= t('layouts.newsletter_modal.self_publisher') %></option>
                      <option value="cc838a359b"><%= t('layouts.newsletter_modal.other') %></option>
                    </select>
                  </div>
                  <div id="3003230" rel="button" class="form-group cr_ipe_item ui-sortable submit_container">
                    <button type="submit" style="margin-left: 0px; color: white !important" class="btn login-button cr_button btn-subscription"><%= t('layouts.newsletter_modal.subscribe') %></button>
                  </div>
                  <div>
                    <p style="font-style: italic; font-size: 15px"><%= t('layouts.newsletter_modal.subscription_text').html_safe %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<script>
  function resizeForm(){
    var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
    if(width > 1024){
      var notLoggedIn = JSON.parse("<%= !user_signed_in? %>");
      if (notLoggedIn) {
          $(window).load(function () {
              setTimeout(function () {
                  if (!$("#user_sign_up, #user_login").hasClass('in'))
                      $('#newsletter-modal').modal('show');
              }, 5000);
          });
      }
    }
  }
  window.onresize = resizeForm;
  resizeForm();

    $('.btn-subscription').click(function (e) {
        e.preventDefault();
        var $form = $('.newsletter-form');
        var postData = $form.serialize();
        var formURL = $form.attr("action");
        $.ajax({
            type: 'POST',
            url: formURL,
            async: false,
            data: postData,
            success: function (data) {
                toastr.success(I18n.t('layouts.newsletter_modal.subscription_successful'));
                $('#newsletter-modal').modal('hide');
            },
            error: function (textStatus, errorThrown) {
                toastr.error(I18n.t('layouts.newsletter_modal.subscription_failed'));
            }
        });
    });
</script>
