<!DOCTYPE html>
<html
<% if I18n.locale == :en %>
lang="en-EN"
<% else %>
lang="de-DE"
<% end %>>
<head>
  <title><%= "Soundnotation | #{yield_title('All-in-One Solution for Digital Sheet Music.')}" %></title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"/>
  <meta name='description' content='<%= yield_meta_tag(:description, t('layouts.meta_desc')) %>'/>
  <% unless !@show_meta_robots || @show_meta_robots.blank? %>
    <meta name='robots' content='noindex,nofollow'/>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'sn-16-px_trans.ico' %>
  <%= favicon_link_tag 'favicon_animated.gif', type: 'image/gif' %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
  </script>
  <script id="mcjs">!function (c, h, i, m, p) {
      m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
  }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/e26f506d4f20623e8955f0886/e83c73a20a136fbf503dc8814.js");</script>
</head>

<body data-turbolinks="false" data-locale="<%= I18n.locale %>" data-currency-locale="<%= current_user.try(:currency_locale) || I18n.locale %>">

<%= custom_bootstrap_flash %>

<% unless current_user %>
  <%= render "users/shared/login_modal" %>
  <% unless freelancer? %>
    <%= render "users/shared/sign_up_modal" %>
  <% else %>
    <%= render "users/shared/sign_up_modal_freelancer" %>
  <% end %>
<% end %>

<% if Rails.env.development? %>
  <div class="main-margin-top">
    BRANCH WHEN SERVER STARTED: <%= Git_branch %>
  </div>
<% end %>

<% if current_user && current_user.show_switch_user? %>
  <div class="switch-user-select">
    <%= switch_user_select %>
  </div>
<% end %>

<div class="container-fluid wrapper">
  <div class="page-loader">
    <%= image_tag 'loading.gif', alt: 'processing...' %>
  </div>
  <%= yield %>
</div>

</body>
</html>
