<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'sn-16-px_trans.ico' %>
</head>

<div class="container center-block blog-nav col-lg-12 col-md-12">
  <%= render 'layouts/error_page_nav' %>
  <%= render 'layouts/error_logo_section' %>
  <%= image_tag("blog_header_1177x174.png", class: "error-header-background") %>
</div>
<div class="container error-container center-block col-sm-12 col-lg-12 col-md-12">
  <div class="row col-lg-12">
    <div class="col-lg-6 error-text">
      <p>
        Ahhhh! Crashed.<br/>
        This page doen’t exist.
      </p>
      <p>
        Not to worry.<br/>
        We have protective helmets<br/>
        for our users.
      </p>
      <p>
        Head back to our<br/>
        <a href="/">homepage</a>, please.
      </p>
    </div>
    <div class="col-lg-6">
      <%= image_tag('owl-down-blur.png', class: "owl-down-image") %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script>
    $(window).load(function () {
        setTimeout(function () {
            $('.owl-down-image').attr('src', "<%= image_path('owl-down.png') %>");
        }, 1000);
    });
</script>
