<div class="row">
  <h2> <%= @shop_name %> </h2>

  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th>Produktgruppe</th>
      <th>Artikelname</th>
      <th>Preis</th>
      <th>Komponist/Künstler</th>
      <th>Verlags-Nr = Dateiname</th>
      <th>Künstler</th>
      <th>Autoren</th>
      <th>Instrument</th>
      <th>Genre</th>
      <th>Stimmung</th>
      <th>Beschreibung</th>
      <th>Schwierigkeitsgrad</th>
      <th>Tempo</th>
      <th>Taktart</th>
      <th>Tonart</th>
      <th>Tongeschlecht</th>
      <th>Mindestabnahmemenge</th>
      <th>Playback mit Melodie</th>
      <th>Playback ohne Melodie</th>
    </tr>
    </thead>

    <tbody>
    <% @scores.each do |score| %>
        <% composition = score.composition %>
        <tr>
          <td><%= composition.copyright %></td>
          <td><%= composition.title %></td>
          <td><%= score.price %></td>
          <td><%= composition.composer_name %></td>
          <td><%= score.gtin %></td>
          <td><%= composition.artists_name %></td>
          <td><%= composition.composers_name %></td>
          <td><%= score.product.try(:title) %></td>
          <td><%= score.genre %></td>
          <td><%= '-' %></td>
          <td><%= score.product.try(:description) %></td>
          <td><%= score.difficulty %></td>
          <td><%= score.beats_per_minute %></td>
          <td><%= '4/4' %></td>
          <td><%= composition.key_terms.first %></td>
          <td><%= composition.key_terms.last %></td>
          <td><%= '-' %></td>
          <td><%= '-' %></td>
          <td><%= '-' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
