<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <style>
    * {
      margin: 0;
    }

    html, body {
      height: 100%;
    }

    body {
      background-image:url('file:///home/soundnotation/soundnotation-backend/app/assets/images/cover_background/Cover_Image_1.jpg');
    }

    .impressum-download-title h1 {
      margin-top: 150px;
      display: inline-block;
      margin-bottom: 50px;
    }

    .impressum-download-authors-table table {
      table-layout: fixed;
      /*width: 50%;*/
      line-height: inherit;
      text-align: left;
    }

    .impressum-download-authors-table table td {
      padding: 5px;
      vertical-align: top;
    }

    .impressum-download-authors-table table td:nth-child(1) {
      padding: 5px;
      vertical-align: top;
    }

    .impressum-download-authors-table table td:nth-child(2) {
      padding: 5px;
      vertical-align: top;
    }

    .impressum-copyright-info {
      font-size: 10px;
    }

    .impressum-download-footer {
      position: relative;
    }

    .impressum-download-footer div {
      position: absolute;
      bottom: 0;
      display: inline-block;
    }

    .impressum-download-page-wrap {
      margin-bottom: -42px;
    }

    .impressum-download-page-wrap:after {
      content: "";
      display: block;
    }

    .impressum-download-footer, .impressum-download-page-wrap:after {
      /* .push must be the same height as footer */
      height: 42px;
    }
  </style>
</head>
<body>
<div class="impressum-download-page-wrap">
  <div class="impressum-download-title">
    <h1><%= @score.composition.title %></h1>
  </div>
  <div class="impressum-download-authors-table">
    <table width="700" cellpadding="0" cellspacing="0">
      <% @score.composition.author_lines.each do |k, v| %>
        <% unless v[:lines].empty? %>
          <tr>
            <td width="200">
              <%= v[:column] %>
            </td>
            <td width="500">
              <% v[:lines].each do |line| %>
                <%= line %><%= "<br>".html_safe unless line == v[:lines].last %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td>
          Genre:
        </td>
        <td>
          <%= @score.genre %>
        </td>
      </tr>
      <tr>
        <td>
          Instrumentation:
        </td>
        <td>
          <%= @score.product.title %>
        </td>
      </tr>
      <% if @score.product.maximum_difficulties != 0 %>
        <tr>
          <td>
            Difficulty level:
          </td>
          <td>
            <%= I18n.t('activerecord.attributes.user.' + @score.difficulty, locale: :en) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <br>
  <br>
  <br>
  <div class="impressum-copyright-info">
    <p>
      Unauthorized copying of music is forbidden by law, and may result in criminal or civil action.
    </p>
  </div>
  <br>
  <br>
  <div class="impressum-copyright-info">
    <p>
      All rights reserved.<br>
      © <%= Time.current.year %>
      by <%= @score.composition.copyright.blank? ? @score.composition.user.full_name : @score.composition.copyright %>
      <br>
    </p>
  </div>
  <br>
  <div class="impressum-copyright-info">
    <p>
      Published by:<br>
      <%= @score.composition.user.company.blank? ? @score.composition.user.full_name : @score.composition.user.company %><br>
      <%= @score.composition.user.street_house_number %><br>
      <%= @score.composition.user.zip_code %> <%= @score.composition.user.city %><br> <%= @score.composition.user.country.translations.find_by(locale: "en").name %><br>
      <%= @score.composition.user.website unless @score.composition.user.website.blank? %>
    </p>
  </div>
</div>
</body>
</html>
