<div class="row">
  <div class="col-ms-12 hidden-lg hidden-md">
    <%= link_to root_path do %>
      <div class="overlay_sec_header_background hidden-lg hidden-md"></div>
    <% end %>
  </div>
  <div class="logo-section about_us_navbar col-lg-12 hidden-xs hidden-sm">
    <div class="col-lg-6">
      <%= link_to image_tag("logo.png", class: "logo-blog"), root_path %>
    </div>
    <div class="col-lg-6 ">
      <div class="sub_header">
      <%= link_to about_us_path do %>
        <div class="blog-promo-text">
          <h1 class="en-blog-title">
            <%= t('.promo.title') %>
          </h1>
          <p class="knowledge-text">
            <strong>
              <%= t('.promo.text.bold') %>
            </strong>
            <br/>
            <%= t('.promo.text.normal') %>.
          </p>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
