<div class="row">
  <div class="col-ms-12 hidden-lg hidden-md">
    <%= link_to root_path do %>
      <div class="overlay_sec_header_background hidden-lg hidden-md"></div>
    <% end %>
  </div>
  <div class="logo-section about_us_navbar col-lg-12 hidden-xs hidden-sm">
    <div class="col-lg-6">
      <%= link_to image_tag("logo.png", class: "logo-blog"), root_path %>
    </div>
  </div>
</div>
