<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'static_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container impressum-container cookies-container center-block">
	<h2>Soundnotation-Cookie-Richtlinie</h2>
	<p>
		Unsere Website benutzt Cookies, damit unser Angebot besser, effektiver und sicherer genutzt werden kann.
	</p>
	<p>
		Diese Cookie-Richtlinie ist Bestandteil unserer allgemeinen Datenschutzrichtlinie. Wie die meisten anderen Websites verwenden wir Cookies und ähnliche Technologien, um besser die Nutzung von Soundnotation zu verstehen, sodass wir unsere Plattform stetig verbessern können. Wir haben diese Cookie-Richtlinie erstellt, um Ihnen verständliche und eindeutige Informationen über die von uns auf Soundnotation verwendeten Technologien und über Ihre Auswahlmöglichkeiten in Bezug auf diese Technologien zur Verfügung zu stellen.
	</p>
	<ul class="header-list">
		<li class="page-link-container"><a href="#cookies" class="page-link">Cookies</a></li>
		<li class="page-link-container"><a href="#g-analytics" class="page-link">Google Analytics</a></li>
		<li class="page-link-container"><a href="#g-adsense" class="page-link">Google AdSense</a></li>
		<li class="page-link-container"><a href="#g-tag" class="page-link">Google Tag Manager</a></li>
		<li class="page-link-container"><a href="#remarketing" class="page-link">Remarketing</a></li>
		<li class="page-link-container"><a href="#facebook" class="page-link">Facebook-Reichweitenmessung</a></li>
		<li class="page-link-container"><a href="#newsletter" class="page-link">Newsletter</a></li>
	</ul>
	<h2 id="cookies">Cookies</h2>
	<p>
		Unsere Website benutzt Cookies, damit unser Angebot besser, effektiver und sicherer genutzt werden kann. Cookies sind Textdateien, die auf Ihrem Computer gespeichert werden und bestimmte Daten über ihr Nutzerverhalten auf unserer Seite speichern, damit etwa ein ihrer bisherigen Nutzung entsprechendes Angebot gemacht werden kann. Dabei kann es sich einmal umso genannte „Session-Cookies“ handeln, die zum Ende Ihres Besuches auf unserer Website automatisch gelöscht werden. Es gibt aber auch Cookies, die dauerhaft auf ihrem Computer gespeichert werden, sofern Sie diese nicht löschen. Dann ist es uns möglich, Ihren Browser beim nächsten Aufruf unserer Website wiederzuerkennen und Ihnen Angebote zu machen, die Ihrer bisherigen Nutzung unserer Website entsprechen.
	</p>
	<p>
		Ihr Browser ermöglicht Ihnen, die Verwendung von Cookies ganz oder im Einzelfall zu verhindern. Bitte informieren Sie sich dazu in der Bedienungsanleitung für Ihren Browser. Die Sperrung von Cookies kann die Funktion unserer und anderer von Ihnen besuchter Websites einschränken.
	</p>
	<p>
		Die Speicherung von Cookies in Ihrem Browser können Sie dauerhaft verhindern, indem Sie das anschließend verlinkte Plugin herunterladen und installieren. <a href="https://www.google.com/settings/ads/plugin?hl=de">Hier</a> finden Sie dazu nähere Informationen.
	</p>
	<p>
		Ebenso können Sie die Nutzung von Cookies durch Drittanbieter Ihnen gegenüber dadurch verhindern, dass Sie auf der Deaktivierungsseite der Network Advertising Initiative gemäß der dortigen Anleitung Ihren Opt-out erklären. <a href="http://optout.networkadvertising.org/#/">Hier</a> finden Sie dazu nähere Informationen.
	</p>
	<h2 id="g-analytics">Google Analytics</h2>
	<p>
		Wir verwenden Google Analytics von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94.043 USA. Dies ist ein Tool, mit dem die Nutzung von Websites analysiert werden kann. Dazu werden von Google verschiedene Techniken angewandt, unter anderem auch Cookies auf ihrem Computer gespeichert. Diese speichern Informationen über die Nutzung unserer Seite, die wir zur Verbesserung unseres Angebotes einsetzen.
		Die von Google erhobenen Daten werden gegebenenfalls von Google in Staaten außerhalb der EU, insbesondere die USA, übermittelt. Google hat sich jedoch dem Privacy Shield Framework unterworfen, nähere Informationen zu Ihren Rechten daraus finden Sie unter 
		<a href="http://ec.europa.eu/justice/data-protection/document/citizens-guide_en.pdf">http://ec.europa.eu/justice/data-protection/document/citizens-guide_en.pdf</a>
		Entsprechend der Vorgaben der Deutschen Datenschutzbehörden haben wir jedoch Schritte unternommen, um einen angemessenen Schutz ihrer Daten möglichst sicherzustellen. So haben wir dafür gesorgt, dass Ihre IP-Adresse vor der Übertragung an Google anonymisiert wird. Dies erfolgte durch Aktivierung der Funktion Anonymizelp() innerhalb des Google Analytics Tracking Codes. Weiter haben wir mit Google einen Vertrag zur Auftragsdatenverarbeitung geschlossen, wonach Google Ihre Daten nicht mit anderen von Google erhobenen Daten zusammenführen wird, um Ihre Identität zu ermitteln.
		Sofern Ihnen dies nicht ausreicht, können sie darüber hinaus unter dem Link
		<a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>
		das Browser-Plugin von Google zur Sperrung von Google Analytics herunterladen und installieren, womit die Erfassung und Weitergabe ihrer personenbezogenen Daten durch Google blockiert wird. Ebenso können Sie die Erfassung durch Google Analytics verhindern, indem Sie durch Betätigung des nachfolgenden Links
	</p>
	<p>
		<a href=”javascript:gaOptout()”>Google Analytics deaktivieren</a>
	</p>
	<p>
		einen Opt-Out-Cookie setzen, der ebenfalls in die Erfassung ihrer Daten verhindert.
	</p>
	<p>
		(s. dazu <a href="https://developers.google.com/analytics/devguides/collection/gajs/">https://developers.google.com/analytics/devguides/collection/gajs/</a> )
	</p>
	<p>
		Wenn Sie sich über die Vorkehrungen von Google zum Datenschutz informieren möchten, benutzen Sie bitte den folgenden Link:
	</p>
	<p><a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a></p>
	<p>
		Google Analytics hilft uns auch, Daten aus AdWords und dem Double-Click-Cookie zu statistischen Zwecken auszuwerten. Sofern Sie dies nicht wünschen, können Sie über den Anzeigenvorgaben-Manager
	</p>
	<p><a href="https://www.google.com/settings/u/0/ads/authenticated">https://www.google.com/settings/u/0/ads/authenticated</a></p>
	<p>umfangreiche Einstellungen vornehmen oder den Dienst ganz deaktivieren.</p>
	<h2 id="g-adsense">Google AdSense</h2>
	<p>
		Unsere Website nutzt die Dienste von Google AdSense. Dabei handelt es sich um einen Webanalysedienst der Google Inc. Die Analyse wird durch sog. Cookies und Web Beacons ermöglicht. Cookies sind Textdateien, die auf Ihrem Computer gespeichert werden und eine Benutzungsanalyse der Website ermöglichen. Web Beacons sind unsichtbare Grafiken die es ermöglichen, Informationen über den Besucherverkehr auf der Website zu erstellen. Alle Informationen über die Benutzung der Website sowie zu Werbeformaten, die auch Ihre IP-Adresse beinhalten, werden an Google Inc. übermittelt und dort abgespeichert. Vertragspartner von Google Inc. können diese Informationen erlangen. Die durch Google AdSense ermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sollten Sie keine Speicherung von Cookies auf Ihrem Computer wünschen, so können Sie entsprechende Einstellungen in Ihrem Browser vornehmen (dazu näher im allgemeinen Teil dieser Erklärung zu Cookies). Leider kann dies eine eingeschränkte Nutzung unserer Seiten zur Folge haben. Indem Sie diese Website nutzen, erklären Sie sich mit der Erhebung der oben genannten Informationen in beschriebener Art und Weise einverstanden. Sie stimmen durch die Nutzung der Website weiterhin der Übermittlung der Informationen an Google Inc. zu dem oben genannten Zweck zu.
	</p>
	<h2 id="g-tag">Google Tag Manager</h2>
	<p>
		Mit dem Google Tag Manager können Vermarkter Website-Tags über eine Oberfläche verwalten. Der Tag Manager selbst, der die Tags einsetzt, funktioniert jedoch ohne Cookies und erfasst keine personenbezogenen Daten. Der Tag Manager sorgt lediglich für die Auslösung anderer Tags, die Ihrerseits unter Umständen Daten erfassen. Zu diesen jeweiligen Drittanbietern finden sich entsprechende Erklärungen in dieser Datenschutzerklärung. Der Google Tag Manager verwendet diese Daten aber nicht. Haben Sie eine Deaktivierung von Cookies eingestellt oder sonst vorgenommen, wird diese für alle Tracking-Tags beachtet, die mit dem Google Tag Manager eingesetzt wurden, das Tool ändert also Ihre Cookie-Einstellungen nicht.
	</p>
	<p>
		Möglicherweise bittet Google Sie um die Erlaubnis, einige Produktdaten (z. B. Ihre Kontoinformationen) an andere Google-Produkte weiterzugeben, um bestimmte Funktionen zu aktivieren, z. B. die Hinzufügung neuer Conversion-Tracking-Tags für AdWords zu vereinfachen. Außerdem überprüfen die Entwickler von Google von Zeit zu Zeit Informationen zur Produktnutzung, um das Produkt weiter zu optimieren. Google wird jedoch niemals Daten dieser Art ohne Ihre Zustimmung an andere Google-Produkte weitergeben.
	</p>
	<p>
		Weitere Informationen finden Sie in den <a href="https://www.google.com/intl/de/tagmanager/use-policy.html">Nutzungsrichtlinien</a> von Google und den <a href="https://www.alphabet.com/de-de/datenschutzrechtlicher-hinweis">Datenschutzhinweisen von Google</a> für dieses Produkt.
	</p>
	<h2 id="remarketing">Remarketing</h2>
	<p>
		Wir verwenden auf der Website den Remarketing- und ähnliche Zielgruppen-Dienst der Google Analytics von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94.043 USA. Diese durch Cookies umgesetzte Technik ermöglicht es Google, Ihnen auf der Basis der von Ihnen vorher besuchten Websites zielgerichtet Werbung anzuzeigen. Wir können dadurch Nutzer unserer Website besser mit Werbung ansprechen. Bei dem Besuch unserer Seite wird in Ihrem Browser ein Cookie gesetzt, sofern Sie bei Aufruf unserer Seite nicht der Verwendung von Cookies widersprochen haben.
		Bei dem Cookie handelt es sich um eine kleine Datei mit einem Zahlencode, mit dem Ihr Besuch der Website und anonymisierte Daten über Ihre Nutzung der Website erfasst werden. Ihre IP-Adresse wird bei der Übertragung an Google gekürzt und so anonymisiert. Personenbezogene Daten von Ihnen werden nicht gespeichert und von Google auch nicht mit anderen Daten zusammengeführt.
	</p>
	<p>
		Die anonymisierten Daten werden in die USA übermittelt und bei Google gespeichert. Google ist für “Safe Harbour” beim US-Handelsministerium registriert und beachtet die Datenschutzbestimmungen des Safe Harbour Abkommens zwischen der USA und der EU.
		Sofern Sie nach Besuch unserer Website andere Websites besuchen, die ebenfalls Teil des Google Display Netzwerkes sind, werden Ihnen wahrscheinlich interessenbezogene Werbeanzeigen auf der Basis der zuvor von Ihnen aufgerufenen Websites angezeigt.
	</p>
	<p>
		Die Speicherung von Cookies in Ihrem Browser durch Google können Sie dauerhaft verhindern, indem Sie das anschließend verlinkte Plugin herunterladen und installieren.
		<br/>
		<a href="https://www.google.com/settings/ads/plugin?hl=de">https://www.google.com/settings/ads/plugin?hl=de</a>
	</p>
	<p>
		Ebenso können Sie die Nutzung von Cookies durch Drittanbieter Ihnen gegenüber dadurch verhindern, dass Sie auf der Deaktivierungsseite der Network Advertising Initiative gemäß den dortigen Anleitung Ihren Opt-out erklären.
		<br/>
		<a href="http://www.networkadvertising.org/choices/">http://www.networkadvertising.org/choices/</a>
	</p>
	<p>
		Ergänzende Informationen zu dem Google Remarketing-Dienst und die Datenschutzerklärung von Google finden Sie unter
		<br/>
		<a href="http://www.google.com/privacy/ads/">http://www.google.com/privacy/ads/</a>
	</p>
	<h2 id="facebook">Facebook-Reichweitenmessung</h2>
	<p>
		Wir verwenden auf der Website den Reichweitenmessungs-Dienst der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. Diese durch den Facebook-Pixel umgesetzte Technik ermöglicht es uns, die Reichweite unserer Anzeigen auf Facebook zu messen und so unsere Werbeansprache zu verbessern.
		Vor der Verwendung und Nutzung des Pixels werden wir Sie zu Ihrer Zustimmung zu der Verwendung dieses Dienstes bitten, die Sie erteilen müssen, ehe der Pixel ausgeführt und Daten an Facebook übermittelt werden.
		Die erhobenen Daten sind für uns anonymisiert, wir können Sie Ihnen nicht zuordnen. Die Daten werden in die USA übermittelt und bei Facebook gespeichert. Facebook ist für “Safe Harbour” beim US-Handelsministerium registriert und beachtet die Datenschutzbestimmungen des Safe Harbour Abkommens zwischen der USA und der EU.
		Facebook ist eine Verbindung zu Ihrem jeweiligen Nutzerprofil möglich. Facebook kann die Daten für eigene Werbezwecke, entsprechend der Facebook-Datenverwendungsrichtlinie (<a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>) verwenden. Wenn Sie Ihre Einwilligung widerrufen möchten, schicken Sie uns eine kurze E-Mail an info@soundnotation.com.
	</p>
	<h2 id="newsletter">Newsletter</h2>
	<p>
		Bestellen Sie den auf unserer Seite angebotenen Newsletter, werden wir Sie im Einzelnen darüber informieren, welche Daten von Ihnen gespeichert und wofür sie verwendet werden. Auch hier werden wir Ihre Daten nicht an Dritte weitergeben und nur für die Versendung des Newsletters benutzen. Ihre Anmeldung zum Newsletter und der damit verbundenen Speicherung ihrer Daten können Sie jederzeit widerrufen. Zusätzlich werden Sie in jedem Newsletter einen Link finden, mit dem sie die Abbestellung des Newsletters vornehmen können.
		Wir werden den Newsletter nur dann an Sie versenden, wenn Sie uns vorher Ihre Einwilligung dazu erteilt haben. Dafür werden Sie von uns eine E-Mail mit einem Link und näheren Hinweisen und der Bitte um Ihre Einwilligung erhalten. Wenn Sie diesen Link betätigen, erklären Sie sich mit dem Erhalt des Newsletters und Werbung durch uns einverstanden.
	</p>
	<p>
		Da wir rechtlich gehalten sind, Ihr Einverständnis zu protokollieren, wird Ihre Bestellung des Newsletters, die Versendung unserer Einwilligungsmail und Ihr Einverständnis durch anklicken des Links nach Ort und Zeit sowie mit Ihrer IP-Adresse protokolliert und gespeichert. 
	</p>
	<p>
		Für den Versand des Newsletters verwenden wir den Anbieter MailChimp (Rocket Science Group, LLC, 675 Ponce De Leon Ave NE #5000, Atlanta, GA 30308, USA) aus den USA. Mail Chimp ist bei privacy shield registriert und verpflichtet, die EU-Datenschutzregeln einzuhalten. Zusätzlich werden wir Sie in unserem Newsletter explizit bitten, Ihre Einwilligung zu dem Versand der Daten an MailChimp und in die USA zu erteilen, mit Betätigen des links erklären Sie diese Einwilligung, die Sie jederzeit widerrufen können. Für den Umgang mit Ihren Daten bei MailChimp verweisen wir auf die <a href="https://mailchimp.com/legal/privacy/">Datenschutzerklärung</a> von MailChimp. MailChimp wird Ihre Daten nur für den Versand des Newsletters und die Auswertung dieses Versandes in unserem Auftrag verwenden. Weiter wird MailChimp Ihre Daten nur zur Verbesserung des eigenen Services nutzen. MailChimp wird die Daten aber nicht verwenden, um Sie selbst anzuschreiben oder Ihre Daten an Dritte weiter geben. 
		<br/>
		Die von MailChimp verwendeten Daten enthalten einen „web-beacon“, der die Öffnung des Newletters und/oder die Betätigung eines darin enthaltenen Links durch Sie an MailChimp sendet. Dabei werden an MailChimp Informationen zu Ihrem Browser, Ihren Standort und Ihre IP-Adresse übermittelt. Diese Informationen werden verwendet, um unsere Ansprache an Sie zu optimieren.
	</p>
</div>

<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<%= render 'layouts/footer' %>
