<% meta_tag :description, t('.meta_desc') %>
<div class="container about_us_container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'about_us_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container center-block col-sm-12 about-section col-lg-12 col-md-12">
	<div class="row about-us-content">
		<div class="col-xs-12 col-lg-12 col-md-12 vibration-section center-block">
			<div class="text-center">
				<%= image_tag("about_us/vibration.png", class: "vibration_img") %>
				<%= t('.vibration_html') %>
			</div>
		</div>
		<div class="col-xs-12 col-lg-12 col-md-12 center-block">
			<div class="text-center">
				<%= image_tag("about_us/about-notes.png", class: "notes_img") %>
				<%= t('.about_notes_text_html') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12 center-block">
			<div class="text-center">
				<%= image_tag("about_us/about-gradient.png", class: "about_gradient_img") %>
				<%= t('.about_gradient_text_html') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-lg-3 col-md-3">
			<p class="about_sound_text"><b><%= t('.sound_soundnotation') %></b></p>
			<%= image_tag("about_us/about-sound.png", class: "about_sound_img") %>
		</div>
		<div class="col-xs-12 col-lg-3 col-md-3 center-block">
			<%= t('.about_logo_text_html') %>
		</div>
		<div class="col-xs-12 col-lg-3 col-md-3">
			<p class="about_notation_text"><b><%= t('.notation_soundnotation') %></b></p>
			<%= image_tag("about_us/about-notation.png", class: "about_notation_img") %>
		</div>
	</div>
	<div class="row center-block">
		<%= image_tag("about_us/about-logo.png", class: "about_logo_img") %>
	</div>
</div>
<div class="container team-block center-block">
	<div class="row">
		<div class="col-xs-12 col-lg-3 col-md-12">
			<h1 class="team_header"><b><%= t('.team.title') %></b></h1>
			<%= t('.team.text_html') %>
		</div>
		<div class="col-xs-9 col-md-9 col-lg-9 team-images-block">
			<a href="#" class="martin-wrapper">
				<span class="martin-text">
					<%= t('.team.martin_text_html') %>
				</span>
				<%= image_tag("team/martin.png", :class =>"martin-img") %>
			</a>
			<a href="#" class="irfan-wrapper">
				<span class="irfan-text">
					<%= t('.team.irfan_text_html') %>
				</span>
				<%= image_tag("team/irfan.png", :class =>"irfan-img") %>
			</a>
			<a href="#" class="simone-wrapper">
				<span class="simone-text">
					<%= t('.team.simone_text_html') %>
				</span>
				<%= image_tag("team/simone.png", :class =>"simone-img") %>
			</a>
		</div>
	</div>
</div>
<div class="container vision-section col-md-12 center-block" style="background: none; padding: 0px;">
	<div class="row">
		<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6 no-padding vision-block">
			<h1 class="team_header"><b><%= t('.vision.title') %></b></h1>
			<%= t('.vision.text_html') %>
		</div>
		<div class="col-sm-6 col-lg-6 col-xs-12 col-md-6 no-padding vision-block right-block">
			<h1 class="team_header"><b><%= t('.mission.title') %></b></h1>
			<%= t('.mission.text_html') %>
		</div>
	</div>
</div>


<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
