<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'static_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container impressum-container cookies-container center-block">
	<h1>Allgemeine Geschäftsbedingungen von Soundnotation</h1>
	<p>Willkommen bei Soundnotation, einem Dienst der Soundnotation GmbH (»Soundnotation«, »wir«, »unser« bzw. »uns«).</p>
	<p>
		Diese Geschäftsbedingungen gelten für die Nutzung von soundnotation.com und sämtlicher  zugehöriger Player, Widgets, Tools, Anwendungen, Daten, Software, APIs (die auch gesonderten API-Nutzungsbedingungen unterliegen können) und die sonstigen durch Soundnotation zur Verfügung gestellten Dienste. Zusammen mit unserer Datenschutzrichtlinie, unserer Cookie-Richtlinie sowie sämtlichen sonstigen, in diesen Dokumenten ausdrücklich genannten Bedingungen stellen diese Geschäftsbedingungen einen rechtsverbindlichen Vertrag (nachfolgend der »Vertrag«) zwischen Ihnen und Soundnotation über Ihre Nutzung der Webseite, Apps und Dienste (gemeinsam die »Plattform«) dar. Diese Nutzungsbedingungen sind in die folgenden Abschnitte unterteilt:
	</p>
	<ul class="header-list">
		<li class="page-link-container"><a href="#geltungsbereich" class="page-link">Geltungsbereich</a></li>
		<li class="page-link-container"><a href="#angebot" class="page-link">Angebot und Vertragsabschluss</a></li>
		<li class="page-link-container"><a href="#unterlagen" class="page-link">Überlassene Unterlagen</a></li>
		<li class="page-link-container"><a href="#elektornischer" class="page-link">Elektronischer Geschäftsverkehr</a></li>
		<li class="page-link-container"><a href="#preise" class="page-link">Preise und Zahlung</a></li>
		<li class="page-link-container"><a href="#rechte" class="page-link">Zurückbehaltungsrechte</a></li>
		<li class="page-link-container"><a href="#lieferzeit" class="page-link">Lieferzeit</a></li>
		<li class="page-link-container"><a href="#vorbehalt" class="page-link">Eigentumsvorbehalt</a></li>
		<li class="page-link-container"><a href="#rueckgriff" class="page-link">Gewährleistung und Mängelrüge sowie Rückgriff</a></li>
		<li class="page-link-container"><a href="#sonstiges" class="page-link">Sonstiges</a></li>
	</ul>
	<h2 id="geltungsbereich">Geltungsbereich</h2>
	<p>
		Diese Verkaufsbedingungen gelten ausschließlich gegenüber Rechteinhabern von Musik, das heißt Verlagen, Komponisten und Labels, denen die Urheberrechtsverwaltung unterliegt. Entgegenstehende oder von unseren Verkaufsbedingungen abweichende Bedingungen des Bestellers erkennen wir nicht an. Unser Angebot richtet sich ausschließlich an gewerbliche Nutzer. Ein Nachweis für die gewerbliche Tätigkeit und die Urheberrechte ist gegenüber Soundnotation gegebenenfalls zu erbringen.
	</p>
	<p>
		Diese Verkaufsbedingungen gelten auch für alle zukünftigen Geschäfte mit dem Besteller, soweit es sich um Rechtsgeschäfte verwandter Art handelt (vorsorglich sollten die Verkaufsbedingungen in jedem Fall der Auftragsbestätigung beigefügt werden).
	</p>
	<h2 id="angebot">Angebot und Vertragsabschluss</h2>
	<p>
		Sofern eine Bestellung als Angebot gemäß § 145 BGB anzusehen ist, können wir diese innerhalb von 3 Tagen annehmen.
	</p>
	<h2 id="unterlagen">Überlassene Unterlagen</h2>
	<p>
		An allen in Zusammenhang mit der Auftragserteilung dem Besteller überlassenen Unterlagen, wie z. B. MP3s, WAVs, PDFs etc. behalten wir uns keinerlei Eigentums- und Urheberrechte vor. Diese Unterlagen werden auch Dritten nicht zugänglich gemacht, es sei denn, wir erteilen dazu dem Besteller unsere ausdrückliche schriftliche Zustimmung.
	</p>
	<h2 id="elektornischer">Elektronischer Geschäftsverkehr</h2>
	<p>
		Abweichend von § 312 g Abs. 1 Nr. 1 bis 3 BGB hat der Kunde keinen Anspruch auf die Bereitstellung technischer Mittel zur Korrektur seiner Bestellung, gesonderte Informationen zu den technischen Schritten zum Vertragsschluss, Informationen über die Speicherung des Vertrages, die zur Verfügung stehenden Sprachen und Verhaltenskodizes sowie eine unverzügliche Bestätigung seiner Bestellung.
	</p>
	<h2 id="preise">Preise und Zahlung</h2>
	<p>
		Sofern nichts Gegenteiliges schriftlich vereinbart wird, gelten unsere Preise zuzüglich Mehrwertsteuer in jeweils gültiger Höhe.
	</p>
	<p>
		Die Zahlung des Kaufpreises hat ausschließlich über die angebotenen Zahlungsoptionen Paypal, Kreditkarte oder über ein Lastschriftverfahren zu erfolgen.
	</p>
	<p>
		Sofern nicht anders vereinbart, ist der Kaufpreis sofort bei Bestellung zu zahlen.  Verzugszinsen werden in Höhe von 8 % über dem jeweiligen Basiszinssatz p.a. berechnet. Die Geltendmachung eines höheren Verzugsschadens bleibt vorbehalten.
	</p>
	<h2 id="rechte">Zurückbehaltungsrechte</h2>
	<p>
		Zur Ausübung eines Zurückbehaltungsrechts ist der Besteller nur insoweit befugt, als sein Gegenanspruch auf dem gleichen Vertragsverhältnis beruht.
	</p>
	<h2 id="lieferzeit">Lieferzeit</h2>
	<p>
		Der Beginn der von uns angegebenen Lieferzeit setzt die rechtzeitige und ordnungsgemäße Erfüllung der Verpflichtungen des Bestellers voraus. Die Einrede des nicht erfüllten Vertrages bleibt vorbehalten.
	</p>
	<p>
		Kommt der Besteller in Annahmeverzug oder verletzt er schuldhaft sonstige Mitwirkungspflichten, so sind wir berechtigt, den uns insoweit entstehenden Schaden, einschließlich etwaiger Mehraufwendungen ersetzt zu verlangen. Weitergehende Ansprüche bleiben vorbehalten. Sofern vorstehende Voraussetzungen vorliegen, geht die Gefahr eines zufälligen Untergangs oder einer zufälligen Verschlechterung der Kaufsache in dem Zeitpunkt auf den Besteller über, in dem dieser in Annahme- oder Schuldnerverzug geraten ist.
	</p>
	<p>
		Wir haften im Fall des von uns nicht vorsätzlich oder grob fahrlässig herbeigeführten Lieferverzugs für jede vollendete Woche Verzug im Rahmen einer pauschalierten Verzugsentschädigung in Höhe von 3 % des Lieferwertes, maximal jedoch nicht mehr als 15 % des Lieferwertes.
	</p>
	<p>
		Weitere gesetzliche Ansprüche und Rechte des Bestellers wegen eines Lieferverzuges bleiben unberührt.
	</p>
	<h2 id="vorbehalt">Eigentumsvorbehalt</h2>
	<p>
		Wir behalten uns das Eigentum an der gelieferten Sache bis zur vollständigen Zahlung sämtlicher Forderungen aus dem Liefervertrag vor. Dies gilt auch für alle zukünftigen Lieferungen, auch wenn wir uns nicht stets ausdrücklich hierauf berufen. Wir sind berechtigt, die Kaufsache zurückzunehmen, wenn der Besteller sich vertragswidrig verhält.
	</p>
	<h2 id="rueckgriff">Gewährleistung und Mängelrüge sowie Rückgriff</h2>
	<p>
		Gewährleistungsrechte des Bestellers setzen voraus, dass dieser seinen nach § 377 HGB geschuldeten Untersuchungs- und Rügeobliegenheiten ordnungsgemäß nachgekommen ist.
	</p>
	<p>
		Mängelansprüche verjähren in 12 Monaten nach erfolgter Ablieferung der von uns gelieferten Ware bei unserem Besteller. Für Schadensersatzansprüche bei Vorsatz und grober Fahrlässigkeit gilt die gesetzliche Verjährungsfrist.
	</p>
	<p>
		Sollte trotz aller aufgewendeter Sorgfalt das gelieferte Produkt einen Mangel aufweisen, der bereits zum Zeitpunkt des Übergangs vorlag, so werden wir das Produkt, vorbehaltlich fristgerechter Mängelrüge nach Wunsch nachbessern oder ersetzen. Es ist uns stets Gelegenheit zur Nacherfüllung innerhalb angemessener Frist zu geben. Rückgriffsansprüche bleiben von vorstehender Regelung ohne Einschränkung unberührt.
	</p>
	<h2 id="sonstiges">Sonstiges</h2>
	<p>
		Dieser Vertrag und die gesamten Rechtsbeziehungen der Parteien unterliegen dem Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts (CISG).
	</p>
	<p>
		Erfüllungsort und ausschließlicher Gerichtsstand und Ort für alle Streitigkeiten aus diesem Vertrag ist unser Geschäftssitz, sofern sich aus der Auftragsbestätigung nichts Anderes ergibt.
	</p>
	<p>
		Alle Vereinbarungen, die zwischen den Parteien zwecks Ausführung dieses Vertrages getroffen werden, sind in diesem Vertrag schriftlich niedergelegt.
	</p>
</div>

<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<%= render 'layouts/footer' %>
