<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'static_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container impressum-container cookies-container center-block">
	<h1>Datenschutz</h1>
	<p>
		Willkommen bei Soundnotation. Zunächst möchten wir uns als verantwortliche Stelle im Sinne des Datenschutzrechts vorstellen:
		<br/>
		Soundnotation GmbH
		<br/>
		vertreten durch die Geschäftsführer:
		<br/>
		Martin Beinicke
		<br/>
		Herlingsburg 6-10
		<br/>
		22529 Hamburg, Deutschland
		<br/>
		E-Mail: <a href="mailto:info@soundnotation.com">info@soundnotation.com</a>
		<br/>
		Telefon: +49 408740 8898
	</p>
	<p>
		Wir möchten Sie in Übereinstimmung mit unserer gesetzlichen Verpflichtung über die Erhebung und Verwendung ihrer personenbezogenen Daten informieren.
	</p>
	<ul class="header-list">
		<li class="page-link-container"><a href="#allgemeines" class="page-link">Allgemeines</a></li>
		<li class="page-link-container"><a href="#werbung" class="page-link">Bestandsdaten und Werbung</a></li>
		<li class="page-link-container"><a href="#register" class="page-link">Registrierung</a></li>
		<li class="page-link-container"><a href="#contact" class="page-link">Kontaktformular</a></li>
		<li class="page-link-container"><a href="#n-date" class="page-link">Nutzungsdaten</a></li>
		<li class="page-link-container"><a href="#dritte" class="page-link">Weitergabe an Dritte</a></li>
		<li class="page-link-container"><a href="#usa" class="page-link">Weitergabe in das Ausland, insbesondere USA</a></li>
		<li class="page-link-container"><a href="#auskunft" class="page-link">Auskunft, Sperrung und Löschung Ihrer Daten</a></li>
		<li class="page-link-container"><a href="#logs" class="page-link">Server Log Files</a></li>
		<li class="page-link-container"><a href="#cookies" class="page-link">Cookies und ähnliche Technologien</a></li>
		<li class="page-link-container"><a href="#social-plugins" class="page-link">Social Media Plugins - Allgemeine Hinweise</a></li>
		<li class="page-link-container"><a href="#facebook" class="page-link">Facebook</a></li>
		<li class="page-link-container"><a href="#google" class="page-link">Google +</a></li>
		<li class="page-link-container"><a href="#twitter" class="page-link">Twitter</a></li>
		<li class="page-link-container"><a href="#youtube" class="page-link">YouTube</a></li>
		<li class="page-link-container"><a href="#third-party-trademarks" class="page-link"><%= t('.third_party_trademarks') %></a></li>
	</ul>
	<h2 id="allgemeines" class="allgemeines">Allgemeines</h2>
	<p>
		Auf dieser Webseite werden personenbezogene Daten des Nutzers nur im Rahmen des geltenden Datenschutzrechts erhoben. Dies setzt entweder eine gesetzliche Erlaubnis oder Ihre Einwilligung voraus. Eine gesetzliche Erlaubnis liegt insbesondere für Bestands- und Nutzungsdaten vor. Sofern wir Ihre Einwilligung zu einer weiteren Nutzung von Daten einholen, werden wir Sie im Einzelnen darüber unterrichten, wie ihre Daten genutzt werden. Benutzen Sie Formulare auf dieser Seite, werden die von Ihnen gemachten Angaben zu dem Zweck verwendet, zu dem wir Sie erbeten haben. Jeweils werden wir Ihre Daten löschen, soweit dies nach dem Gesetz zulässig oder erforderlich ist oder ihre Speicherung für die Nutzung unserer Webseite und unsere Angebote nicht mehr erforderlich ist
	</p>
	<h2 id="werbung" class="werbung">Bestandsdaten und Werbung</h2>
	<p>
		Wir erheben Bestandsdaten, also personenbezogene Daten des Nutzers nur, soweit sie für die Begründung, inhaltliche Ausgestaltung oder Änderung eines Vertragsverhältnisses zwischen uns und dem Nutzer erforderlich sind. Vor der Zusendung von Werbung werden wir Sie, soweit es nicht um die Werbung für ähnliche Produkte geht, die sie bereits erworben haben, um ihre explizite Einwilligung bitten. Dies erfolgt insbesondere, wenn Sie uns die Einwilligung zur Zusendung unseres Newsletters geben oder ein Kontaktformular ausfüllen.
	</p>
	<h2 id="register" class="register">Registrierung</h2>
	<p>
		Die anläßlich der Registrierung von Ihnen eingegebenen Daten werden für die Nutzung unserer Webseite und die von uns angebotenen Dienste gespeichert. Sie werden auch verwendet, um Ihnen Änderungen des Angebotsumfanges, Updates oder technische Neuerungen, die für die Nutzung unserer Website relevant sind, zur Kenntnis zu bringen.
	</p>
	<h2 id="contact" class="contact">Kontaktformular</h2>
	<p>
		Füllen Sie ein Kontaktformular aus oder senden Sie uns eine Mail oder eine sonstige elektronische Nachricht, werden Ihre Angaben für die Bearbeitung der Anfrage, mögliche Anschlussfragen oder damit zusammenhängende weitere Fragen, gespeichert und nur im Rahmen der Anfrage verwendet. Wir werden Ihre E-Mail-Adresse nach Erledigung Ihrer Anfrage löschen.
	</p>
	<h2 id="n-date" class="n-date">Nutzungsdaten</h2>
	<p>
		Weiter erheben wir Nutzungsdaten, also personenbezogene Daten des Nutzers nur, um die Inanspruchnahme der Dienste auf dieser Seite durch den Nutzer zu ermöglichen und abzurechnen. Eine Zusammenführung von Nutzungsdaten wird von uns nur vorgenommen, soweit dies für Abrechnungszwecke erforderlich ist. Ansonsten werden wir Nutzungsdaten nur pseudonym erstellen und nur, soweit Sie dem nicht widersprochen haben. Diesen Widerspruch können Sie jederzeit an die in dem Impressum angegebene Anschrift oder den in dieser Datenschutzerklärung genannten Verantwortlichen senden.
	</p>
	<h2 id="dritte" class="dritte">Weitergabe an Dritte</h2>
	<p>
		Wir mögen Spam genauso wenig wie Sie. Wir werden daher ihre Daten in keinem Fall an Dritte weitergeben, soweit dies nicht für die Nutzung dieser Webseite oder die Erfüllung unserer Vertragspflichten (etwa Weitergabe an Lieferanten, Zahlungsdienstleister oder eingebundene Zusatzanbieter auf dieser Seite) notwendig ist oder wir von einem Staat oder einer Behörde rechtmäßig auf Herausgabe ihrer Daten in Anspruch genommen werden.
	</p>
	<h2 id="usa" class="usa">Weitergabe in das Ausland, insbesondere USA</h2>
	<p>
		Unsere Webseite nutzt für verschiedene Funktionen externe Anbieter mit Sitz außerhalb der EU. Dabei kann es insbesondere durch <a href="/cookies">Cookies</a>, aktive Java-Skripte und weitere Techniken zu einer Verarbeitung und Speicherung ihrer Daten außerhalb der EU kommen. Wir werden Ihre Daten jedoch nicht an ein Drittland weitergeben, wenn nicht von EU-Kommission ein vergleichbarer Datenschutz wie in der EU festgestellt ist oder Sie uns informiert Ihre Einwilligung gegeben haben oder wir mit dem Anbieter die Standardvertragsklauseln zum Schutz Ihrer Daten vereinbart haben. Für die USA ist mit dem Privacy Shield Abkommen
	</p>
	<p>siehe <a href="https://www.privacyshield.gov/welcome">https://www.privacyshield.gov/welcome</a></p>
	<p>
		unter bestimmten Voraussetzungen wieder ein ausreichender Datenschutz festgestellt. Nähere Informationen zu Ihren Rechten bei jeder im folgenden erwähnten Weitergabe von Daten in die USA finden Sie unter
	</p>
	<p><a href="http://ec.europa.eu/justice/data-protection/document/citizens-guide_en.pdf">http://ec.europa.eu/justice/data-protection/document/citizens-guide_en.pdf</a></p>
	<h2 id="auskunft" class="auskunft">Auskunft, Sperrung und Löschung Ihrer Daten</h2>
	<p>
		Sie können von uns jederzeit kostenfrei Auskunft über die von uns über Sie gespeicherten personenbezogenen Daten verlangen. Jederzeit können Sie zudem der Erhebung, Verwendung oder auch der weiteren Speicherung Ihrer personenbezogenen Daten uns gegenüber widersprechen. Wir werden Ihre personenbezogenen Daten dann unverzüglich berichtigen, sperren oder gar löschen
		<br/>
		Sofern einmal eine Änderung der Datenschutzerklärung erforderlich wird, werden wir diese Seite entsprechend aktualisieren.
	</p>
	<h2 id="logs" class="logs">Server Log Files</h2>
	<p>
		Unser Provider erhebt bei jeder Nutzung dieser Webseite Informationen wie z.B.: IP-Adresse des Besuchers, die Seite, von der aus Sie unsere Seite besucht haben, Name der aufgerufenen Seite, genauer Zeitpunkt des Aufrufes sowie die übertragene Datenmenge. Diese Daten werden nur für statistische Zwecke verwendet und ermöglichen keine Identifikation von Ihnen als Nutzer.
	</p>
	<h2 id="cookies" class="cookies">Social Media Plugins - Allgemeine Hinweise</h2>
	<p>
		Social Media Plugins führen normalerweise dazu, dass jeder Besucher einer Seite sofort von diesen Diensten mit seiner IP-Adresse erfasst und sein weiteres Browserverhalten protokolliert wird. Das kann selbst dann erfolgen, wenn Sie den Button nicht betätigen.
		<br/>
		Um das zu verhindern, nutzen wir die Shariff-Methode. Dabei wird von unseren Social-Media-Buttons der direkte Kontakt zwischen dem sozialen Netzwerk und Ihnen erst dann hergestellt, wenn Sie den jeweiligen Share-Button anklicken. Sind Sie bei einem sozialen Netzwerk bereits angemeldet, erfolgt das bei Facebook und Google+ ohne ein weiteres Fenster. Bei Twitter erscheint ein Popup-Fenster, in dem man den Text des Tweets noch bearbeiten kann.
		<br/>
		Sie können unsere Inhalte damit in sozialen Netzwerken veröffentlichen, ohne dass diese komplette Surf-Profile erstellen können. Die Shariff-Methode wird bereits von vielen Webseiten eingesetzt, um ihre Anwender zu schützen.
	</p>
	<h2 id="social-plugins" class="social-plugins">Cookies und ähnliche Technologien</h2>
	<p>
	Wie die meisten anderen Webseiten verwenden wir Cookies und ähnliche Technologien um besser die Nutzung von Soundnotation zu verstehen, sodass wir unsere Plattform stetig verbessern können. Informationen zu unserer Verwendung von Cookies und ähnlichen Technologien finden Sie in einer gesonderten <a href="cookies">Cookie-Richtlinie</a>, die Bestandteil dieser Datenschutzrichtlinie ist. Die <a href="/cookies">Cookie-Richtlinie</a> umfasst zudem Informationen zur Blockierung und Sperrung von Drittanbieter-Cookies (die wir ausschließlich zum Zweck der Analyse der Nutzung unserer Plattform und der Verbesserung des Inhalts auf unserer Plattform einsetzen).
	</p>
	<h2 id="facebook" class="facebook">Facebook</h2>
	<p>
		Unsere Seite verwendet Plugins des sozialen Netzwerks der Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA. Durch die Shariff Methode erfährt Facebook aber erst von Ihrer IP-Adresse und Ihrem Besuch auf unserer Webseite, wenn sie den Button betätigt haben. Betätigen Sie das Plugin, während sie gleichzeitig bei Facebook eingeloggt sind, kann Facebook Ihre Nutzung Ihrem Benutzerkonto zuordnen.
		Von der dann möglichen Erhebung und Verwendung Ihrer Daten durch Facebook haben wir keine Kenntnis und darauf auch keinen Einfluss. Nähere Informationen können Sie der Datenschutzerklärung von Facebook unter
		<a href="http://de-de.facebook.com/policy.php">http://de-de.facebook.com/policy.php</a>
		<br/>
		entnehmen. Zudem verweisen wir für den generellen Umgang mit und die Deaktivierung von Cookies auf unsere allgemeine Darstellung in dieser Datenschutzerklärung.
	</p>
	<h2 id="google" class="google">Google +</h2>
	<p>
		Unsere Seite verwendet Plugins des sozialen Netzwerks Google + der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States. Durch die Shariff Methode erfährt Google aber erst von Ihrer IP-Adresse und Ihren Besuch auf unserer Webseite, wenn sie den Button betätigt haben. Betätigen Sie das Plugin, während sie gleichzeitig bei Google + eingeloggt sind, kann Google + Ihre Nutzung Ihrem Benutzerkonto zuordnen.
		<br/>
		Von der dann möglichen Erhebung und Verwendung Ihrer Daten durch Google + haben wir keine Kenntnis und darauf auch keinen Einfluss.  Nähere Informationen können Sie der Datenschutzerklärung von Google unter
		<a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a>
		<br/>
		entnehmen. Zudem verweisen wir für den generellen Umgang mit und die Deaktivierung von Cookies auf unsere allgemeine Darstellung in dieser Datenschutzerklärung.
	</p>
	<h2 id="twitter" class="twitter">Twitter</h2>
	<p>
		Unsere Seite verwendet Plugins des sozialen Netzwerks der Twitter Inc., 795 Folsom Street, Suite 600, San Francisco, CA 94107, USA. Durch die Shariff Methode erfährt Twitter aber erst von Ihrer IP-Adresse und Ihren Besuch auf unserer Webseite, wenn sie den Re-Tweet-Button betätigt haben.
		<br/>
		Von der dann möglichen Erhebung und Verwendung Ihrer Daten durch Twitter haben wir keine Kenntnis und darauf auch keinen Einfluss. Nähere Informationen können Sie gegebenenfalls der Datenschutzerklärung von Twitter unter
		<a href="https://twitter.com/privacy?lang=de">https://twitter.com/privacy?lang=de</a>
		<br/>
		entnehmen. Zudem verweisen wir für den generellen Umgang mit und die Deaktivierung von Cookies auf unsere allgemeine Darstellung in dieser Datenschutzerklärung.
	</p>
	<h2 id="youtube" class="youtube">YouTube</h2>
	<p>
		Unsere Seite verwendet für die Einbindung von Videos den Anbieter YouTube LLC, 901 Cherry Avenue, San Bruno, CA 94066, USA, vertreten durch Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Normalerweise wird bereits bei Aufruf einer Seite mit eingebetteten Videos Ihre IP-Adresse an YouTube gesendet und Cookies auf Ihrem Rechner installiert. Wir haben YouTube jedoch durch eine Zwei Klick Lösung eingebunden, dadurch werden Ihre Daten erst nach Aufruf des Videos an YouTube übermittelt. Wenn Sie das Video anklicken, wird aber Ihre IP-Adresse an YouTube übermittelt und YouTube erfährt, dass Sie das Video angesehen haben. Sind Sie bei YouTube eingeloggt, wird diese Information auch Ihrem Benutzerkonto zugeordnet (dies können Sie verhindern, indem Sie sich vor dem Aufrufen des Videos bei YouTube ausloggen). Von der dann möglichen Erhebung und Verwendung Ihrer Daten durch YouTube haben wir keine Kenntnis und darauf auch keinen Einfluss. Nähere Informationen können Sie der Datenschutzerklärung von YouTube  unter <a href="https://www.google.de/intl/de/policies/privacy/">www.google.de/intl/de/policies/privacy/</a>
		<br/>
		entnehmen. Zudem verweisen wir für den generellen Umgang mit und die Deaktivierung von Cookies auf unsere allgemeine Darstellung in dieser Datenschutzerklärung.
	</p>
	<h2 id="third-party-trademarks" class="third-party-trademarks"><%= t('.third_party_trademarks') %></h2>
	<%= t('.third_party_trademarks_text_html') %>
</div>

<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<%= render 'layouts/footer' %>
