<div class="container blog-nav col-md-12 col-lg-12 col-xs-12 col-sm-12 center-block">
    <%= render 'layouts/landing_nav' %>
    <%= render 'blog_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background") %>
</div>
<div class="container col-sm-12 col-lg-4 col-xs-12 col-md-12 center-block articles-section" style="background: none; padding: 0px;">
    <div class="row blog-cards">
      <% @blog_articles.each do |blog_article| %>

      <% locale_lang = Language.where("code like ?", "#{I18n.locale.to_s.upcase}%") %>
      <% if !locale_lang.empty? %>
        <% trans = blog_article.blog_translations.where(language_id: locale_lang.first.id) %>
        <% if !trans.empty? %>
          <% @text = trans.first.text %>
          <% @title = trans.first.title %>
        <% else %>
          <% @text = "not available" %>
          <% @title = "not available" %>
        <% end %>
      <% else %>
        <% @text = "not available" %>
        <% @title = "not available" %>
      <% end %>

      <div class="col-sm-12 col-lg-4 col-xs-12 col-md-12 no-padding" style="padding: 0px;">
        <div class="blog-card">
          <%= link_to image_tag(blog_article.image.thumb.url, class: "blog-card-img-top"), blog_article_path(blog_article), style: "padding-left: 0px;" %>
          <%= link_to blog_article_path(blog_article), style: "text-decoration: none;" do %>
          <div class="blog-card-title">
            <h2><%= simple_format(@title) %></h2>
          </div>
          <% end %>
          <div class="blog-card-block blog-preview-text">
            <div style="margin-left: 10px; margin-right: 10px; font-size: 18px;">
              <%= (strip_tags(@text.html_safe)).truncate_words(18) %>
            </div>
            <div>
              <%= link_to t('.read_more'), blog_article_path(blog_article), class: "read-more-button" %>
            </div>
            <!--
            <% if user_signed_in? %>
              <div class="article-links">
                <%= link_to "Show", blog_article_path(blog_article), class: "btn btn-primary read-more" %>
                <%= link_to "Edit", edit_blog_article_path(blog_article), class: "btn btn-default" %>
                <%= link_to "Delete", blog_article_path(blog_article), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
              </div>
            <% end %>
            -->
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>

<div class="text-center">
  <%= will_paginate @blog_articles, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'categories' %>

<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
