<% meta_tag :description, @blog_article.meta_description unless @blog_article.meta_description.nil? %>
<div class="container blog-nav  center-block">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'blog_dashboard/blog_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background") %>
    </div>
</div>

<% locale_lang = Language.where("code like ?", "#{I18n.locale.to_s.upcase}%") %>
<% if !locale_lang.empty? %>
  <% trans = @blog_article.blog_translations.where(language_id: locale_lang.first.id) %>
  <% if !trans.empty? %>
    <% @text = trans.first.text %>
    <% @title = trans.first.title %>
  <% else %>
    <% @text = "not available" %>
    <% @title = "not available" %>
  <% end %>
<% else %>
  <% @text = "not available" %>
  <% @title = "not available" %>
<% end %>

<div class="container hola blog-container single-article center-block">
  <div class="col-sm-12 col-xs-12 blog-content">
    <div class="group">
      <div class="categories-item categories-line"></div>
			<div class="categories-item categories-text text-center"><p><b style="font-size: 35px !important"><%= @blog_article.blog_category.name.humanize %></b></p></div>
      <div class="categories-item categories-line"></div>
    </div>
    <div class="single-article-title">
      <h1><%= @title %></h1>
    </div>
    <div class="article-image text-center">
      <% translated_articles = BlogArticle::Translation.where(blog_article_id: @blog_article.id,locale: I18n.locale).first %>
      <% if translated_articles.blank? %>
      <%= image_tag @blog_article.image.url, class: "blog_image"%>
      <% else %>
      <%= image_tag @blog_article.image.url, alt: "#{translated_articles.alt_tag_content}", class: "blog_image"%>
      <% end %>
    </div>
    <div class="article-show-links">
      <%= raw @text %>
    </div>
  </div>
</div>

<%= render 'categories' %>

<%= render 'layouts/footer' %>

<!--
<%= link_to 'Edit', edit_blog_article_path(@blog_article) %> |
<%= link_to 'Back', blog_articles_path %>
-->
