<div class="center">
  <%= image_tag 'loader.gif', class: 'loading', style: 'display: inline;' %>
</div>
<div class="col-md-8 col-md-offset-2 redeem" id='redeem_email_request' hidden
  data-venue-token="<%= @venue.token %>"
  data-redirect-url="<%= requests_url %>"
  >
  <p>Welcome to <b><%= Settings.appname %>.com</b></p>
  <p>
    Looks like we have <b><%= @venue.name %></b> in our database but you don't have access to it just now.
    Before proceeding to the details of the request you'll need to redeem the access to your restaurant.
  </p>
  <p>
    <a href="#" title="" @click='toggleSignUp($event)'>Click here</a> if you don't have an account.<br>
    <a href="#" title="" @click='toggleSignIn($event)'>Click here</a> if you have an account.
  </p>
  <hr>
  <div class="col-md-8 col-md-offset-2">
    <%= render '/venues/redeem/sign_up' %>
    <%= render '/venues/redeem/sign_in' %>
  </div>
</div>
