<form id="signup_form" v-if='signInForm'>
<p class="sub-title text-center">Type in your account email and password <br> and we'll assign <b><%= @venue.name %></b> venue to your account</p>
<div class="signupErrors"></div>
<div class="form-group">
  <input class="form-control" placeholder="Email"
    type="email"
    autocomplete="off"
    name="user[email]"
    id="user_email"
    v-model='user.email'>
</div>
<div class="form-group">
  <input class="form-control" placeholder="Password" autocomplete="off" type="password"
    name="user[password]"
    id="user_password"
    v-model='user.password'>
</div>
<div class="space-10"></div>

<input type="submit" name="commit" value="Sign In" class="btn btn-primary" @click='signInUser($event)'>
</form>
