<form id="signup_form" v-if='signUpForm'>
<p class="sub-title text-center">Create an account and assign <b><%= @venue.name %></b> venue to your account</p>
<div class="signupErrors"></div>
<div class="form-group">
  <input class="form-control" placeholder="Email"
    type="email"
    name="user[email]"
    id="user_email"
    v-model='newUser.email'>
</div>
<div class="row">
  <div class="col-sm-6 col">
    <div class="form-group">
      <input class="form-control" placeholder="Password" autocomplete="off" type="password"
        name="user[password]"
        id="user_password"
        v-model='newUser.password'>
    </div>
  </div>
  <div class="col-sm-6 col">
    <div class="form-group">
      <input class="form-control" placeholder="confirm password" autocomplete="off" type="password"
        name="user[password_confirmation]"
        id="user_password_confirmation"
        v-model='newUser.passwordConfirmation'>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col">
    <div class="form-group">
      <input class="form-control" placeholder="First name" type="text" v-model='newUser.firstName'>
    </div>
  </div>
  <div class="col-sm-6 col">
    <div class="form-group">
      <input class="form-control" placeholder="Last name" type="text" v-model='newUser.lastName'>
    </div>
  </div>
</div>
<div class="space-10"></div>

<input type="submit" name="commit" value="Join Now"
  class="btn btn-primary"
  @click='signupUser($event)'>
</form>
