@import '../../Common/settings';

.geosuggest {
  .geosuggest__input {
    margin-bottom: 0;
  }

  > .geosuggest__suggests-wrapper {
    > .geosuggest__suggests {
      background-color: $dark-grey;
      z-index: 2;
      position: absolute;
      margin-top: 0;
      width: 100%;

      > .geosuggest__item {
        padding: .25em;

        &:hover {
          background-color: $grey;
        }
      }

      > .geosuggest__item--active {
        background: #267dc0;
        color: #fff;
      }
    }

    > .geosuggest__suggests--hidden {
      max-height: 0;
      overflow: hidden;
      border-width: 0;
    }
  }
}
