<%= form_for :g_tin_xlsx, :url => {:action => "import_xlsx"}, :html => { :multipart => true } do |f| %>
  <table>
    <tr>
      <td>
        <label for="g_tin_xlsx_file">
          Select a XLSX File :
        </label>
      </td>
      <td>
        <%= f.file_field :file, accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag 'Import' %>
      </td>
    </tr>
  </table>
<% end %>
