<%# _lang = @composition.source.try(:user).try(:language).try(:code) %>
<% product_titles_array = [] %>
<% @composition.source.scores.each { |score| product_titles_array << score.product.title } %>

<%# if _lang.nil? || _lang == 'ENG' %>
<%# I18n.locale = :en %>
<%# else %>
<%# I18n.locale = :de %>
<%# end %>
<%= t('.thanks') %><br />
<%= t('.order_successfully_received') %><br />
<br />
<%= t('.score') %>: <%= product_titles_array.map(&:humanize).join(' ') %><br />
<%= t('.title') %>: <%= @composition.title %><br />
<%= t('.composer') %>: <%= @composition.author_name %><br />
<%= t('.difficulty') %>: <%= @composition.source.scores.pluck(:difficulty).collect{|d| I18n.t('activerecord.attributes.user.' + d)}.join(' ')  %><br />
<% unless @amount.nil? || @currency.nil? %>
<%= t('.price') %>: <%= number_to_currency(@amount, unit: @currency.symbol) %><br />
<% end %>
<br />

<%= t('.creation_done_within') %><br />
<%= t('.order_ready_send_email') %><br />
<br />
<br />
<h6><%= t('.invoice_attached') %></h6><br />
