.about_us_nav {
  background: white !important;
}

.about-us-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 300 !important;
  font-style: italic;
  line-height: 40px;
  color: white;
}

.about-us-header-background {
  width: 1200px !important;
  height: 174px;
  margin-left: -157px !important;
  margin-top: -154px;
}

.about-text {
  color: #A3A3A3;
  // margin-top: 35px !important;
  margin-left: -15px !important;
  float: right;
}

.about-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;
  margin-right: 5px !important;
  line-height: 0px !important;
  padding: 10px !important;
  // margin-top: 51px !important;
  font-size: 30px !important;
  font-weight: normal;
  float: left;
  margin-left: 115px !important;
}

.about_us_header {
  margin-left: 70px;
  margin-bottom: 35px;
}

.team_header {
  margin-left: 20px;
  margin-bottom: 35px;
}

.about-section {
  // margin: 20px 10px;
  margin-top: 10px !important;
  background: white !important;
}

.about_logo_text {
  margin-left: 55px;
  font-size: 16px;
}

.team-block {
  background: white !important;
  margin-top: -8px !important;
}

.team-block p {
  font-size: 16px;
  margin-left: 20px;
}

.vision-section p {
  font-size: 16px;
  margin-left: 20px;
  margin-top: -15px;
}

.vibration_img {
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 80px;
}

.notes_img {
  margin-top: 35px;
  margin-left: 80px;
}

.about_notes_text {
  margin-top: 35px;
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.about_vibration_text {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.about_gradient_text {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.about_gradient_img {
  margin-bottom: 30px;
  margin-left: 80px;
}

.about_gradient_text {
  margin-bottom: 50px;
  margin-left: 10px !important;
}

.about_logo_text {
  text-align: center;
}

.about_sound_text {
  position: relative;
  top: -15px;
  font-size: 20px !important;
  left: 185px;
}

.about_sound_img {
  position: relative;
  left: 147px;
  top: -20px;
}

.about_notation_text {
  position: relative;
  top: -251px;
  font-size: 20px !important;
  left: 665px;
}

.about_notation_img {
  position: relative;
  top: -255px;
  left: 643px;
}

.about_logo_text {
  position: relative;
  top: 20px;
  left: -20px;
}

.about_logo_img {
  position: relative;
  left: 397px;
  top: -80px;
}

.about_sound_text:after {
  right: 10px;
  top: 110px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #815374;
  border-left-color: #815374;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-width: 30px;
  margin-top: -30px;
}

.about_sound_text:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #815374;
  border-left-radius: 10px !important;
  border-width: 30px;
  margin-top: -30px;
}
.about_sound_text:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #815374;
  border-width: 36px;
  margin-top: -36px;
}

.about_notation_text:after {
  right: 263px;
  top: 110px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #815374;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-width: 30px;
  margin-top: -30px;
}

.about_logo_text:after {
  top: 245px;
  left: 35%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #815374;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-width: 50px;
  margin-left: -30px;
}

.vision-section {
  // margin: 20px 10px;
  margin-top: 10px !important;
}

.secondary-footer {
  //margin: 20px 10px;
  margin-top: -8px !important;
  height: 65px;
  background: white !important;
}

.secondary-footer p {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 17px;
}

.support_icons img {
  width: 125px;
  height: 33px;
}

.secondary-footer img {
  display: inline-block;
  position: relative;
  left: 150px;
  top: 7px;
}

.social_icons img {
  left: 750px;
  top: -85px;
  margin-left: 10px;
}

.team-images-block {
  margin-top: 27px;
}

.team-images-block img {
  display: inline-block;
  width: 160px;
  margin-left: 5px;
}

.vision-block {
  background-color: #e5e5e5;
  border-top-right-radius: 15px !important;
  width: 465px !important;
  height: 350px !important;
  margin-right: 40px !important;
  margin-left: 15px !important;
  background: white !important;
}

.right-block {
  margin-left: 25px !important;
}

.martin-wrapper {
  position: relative;
  padding-left: 5;
}
.martin-text {
  position: absolute;
  top: -99px;
  left: 5px;
  color: black;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  background-color: rgba(255,255,255,0.8);
  width: 160px;
  height: 218px;
  line-height: 300px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.martin-text p {
  position: relative;
  top: 10px;
  left: -10px;
}

.martin-text:hover {
  opacity:1;
}

.martin-img {
  z-index:1;
}

.irene-wrapper {
  position: relative;
  padding: 0;
}
.irene-text {
  position: absolute;
  left: 5px;
  color: black;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  background-color:rgba(255,255,255,0.8);
  width: 160px;
  height: 218px;
  line-height: 300px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.irene-text p {
  position: relative;
  top: 10px;
  left: -10px;
}

.irene-text:hover {
  opacity:1;
}

.irene-img {
  z-index:1;
}

.irfan-wrapper {
  position: relative;
  padding: 0;
}
.irfan-text {
  position: absolute;
  left: 5px;
  color: black;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  background-color:rgba(255,255,255,0.8);
  width: 160px;
  height: 218px;
  line-height: 300px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.irfan-text p {
  position: relative;
  top: 10px;
  left: -10px;
}

.irfan-text:hover {
  opacity:1;
}

.irfan-img {
  z-index:1;
}

.simone-wrapper {
  position: relative;
  padding: 0;
}
.simone-text {
  position: absolute;
  left: 5px;
  color: black;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  background-color:rgba(255,255,255,0.8);
  width: 160px;
  height: 218px;
  line-height: 300px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.simone-text p {
  position: relative;
  top: 10px;
  left: -10px;
}

.simone-text:hover {
  opacity:1;
}

.simone-img {
  z-index:1;
}

@media (min-width: 301px) and (max-width: 470px) {
  .about-title {
      position: relative !important;
      left: -80px !important;
      bottom: 15px;
      font-size: 20px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 20px;
  }
  .about-text {
      position: relative !important;
      left: -15px !important;
      bottom: -85px !important;
      font-size: 12px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 2600px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 250px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 100px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 90px;
      top: -80px;
  }
  .about_notation_text:after {
      left: 45px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 70px;
  }
  .about_notation_img {
      top: -60px;
      left: 71px;
  }
  .about_logo_text {
      top: 300px;
      left: -10px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 40px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 145px;
      top: 320px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_logo_img {
      top: 140px;
      left: 75px;
  }
  .notes_img {
      width: 250px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 250px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 150px !important;
  }
  .vision-block {
      width: 300px !important;
      margin-bottom: 10px !important;
      height: 600px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .irene-text {
      position: absolute;
      left: -164px;
      top: 124px;
  }
  .irfan-text {
      position: absolute;
      left: -164px;
      top: 124px;
  }
  .simone-text {
      position: absolute;
      left: -162px;
      top: 124px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
  .about-us-header-background {
      display: none;
  }
}

@media (min-width: 416px) and (max-width: 470px) {
  .about-title {
      position: relative !important;
      left: -80px !important;
      bottom: 15px;
      font-size: 20px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 18px;
  }
  .about-text {
      position: relative !important;
      left: -65px !important;
      bottom: 5px !important;
      font-size: 12px;
  }
  .vision-block {
      width: 350px !important;
      margin-bottom: 10px !important;
      height: 600px !important;
  }
  .irene-text {
      position: absolute;
      left: -164px;
      top: 124px;
  }
  .irfan-text {
      position: absolute;
      left: -164px;
      top: 124px;
  }
  .simone-text {
      position: absolute;
      left: -162px;
      top: 124px;
  }
  .vision-block {
      height: 340px !important;
  }
  .about_sound_text {
      left: 125px;
  }
  .about_sound_text:after {
      left: 33px;
  }
  .about_notation_text {
      left: 116px;
  }
  .about_notation_text:after {
      left: 42px;
  }
  .about_logo_text {
      left: 0px;
  }
  .about_logo_text:after {
      left: 163px;
  }
  .about_logo_img {
      top: 160px;
      left: 102px;
  }
  .about_sound_img {
      left: 95px;
  }
  .about_notation_img {
      left: 95px;
  }
}

@media (min-width: 418px) and (max-width: 470px) {
  .about-title {
      position: relative !important;
      left: -115px !important;
      bottom: 15px;
      font-size: 20px !important;
  }
  .about-text {
      position: relative !important;
      left: -65px !important;
      bottom: -85px !important;
      font-size: 12px;
  }
}

@media (min-width: 470px) and (max-width: 516px) {
  .about_us_header {
      margin-left: 20px;
      font-size: 20px;
  }
  .vision-block {
      width: 350px !important;
      margin-bottom: 10px !important;
      height: 400px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about-title {
      position: relative !important;
      left: -45px !important;
      bottom: 25px;
      font-size: 17px !important;
  }
  .about-text {
      position: relative !important;
      left: -20px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1800px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 250px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 110px;
  }
  .about_sound_text:after {
      left: 30px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 100px;
      top: -80px;
  }
  .about_notation_text:after {
      left: 40px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 78px;
  }
  .about_notation_img {
      top: -60px;
      left: 78px;
  }
  .about_logo_text {
      top: 250px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 40px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 150px;
      top: 270px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_logo_img {
      top: 80px;
      left: 80px;
  }
  .notes_img {
      width: 250px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 250px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
  .irene-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .irfan-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .simone-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .about-us-header-background {
      display: none;
  }
}

@media (min-width: 471px) and (max-width: 516px) {
  .about_logo_text {
      top: 250px;
      margin-left: 20px !important;
  }
}

@media (min-width: 516px) and (max-width: 578px) {
  .about-title {
      position: relative !important;
      left: -35px !important;
      top: -5px !important;
  }
  .about-text {
      position: relative !important;
      bottom: 5px !important;
      left: -105px !important;
  }
  .about-us-header-background {
      display: none;
  }
  .vision-block {
      width: 450px !important;
      margin-bottom: 10px !important;
      height: 300px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1800px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 350px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 170px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 160px;
      top: -40px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 60px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notation_text:after {
      left: 42px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 140px;
  }
  .about_notation_img {
      top: -20px;
      left: 140px;
  }
  .about_logo_text {
      top: 270px;
      left: -10px;
  }
  .about_logo_img {
      top: 100px;
      left: 145px;
  }
  .about_logo_text:after {
      left: 205px;
      top: 250px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .notes_img {
      width: 350px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 350px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
}

@media (min-width: 517px) and (max-width: 520px) {
  .about_logo_text {
      left: 0px;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about-title {
      position: relative !important;
      left: -35px !important;
      top: -15px !important;
  }
  .about-text {
      position: relative !important;
      top: 90px !important;
      left: -5px !important;
  }
}

@media (min-width: 520px) and (max-width: 578px) {
  .about-title {
      position: relative !important;
      left: -35px !important;
      top: -15px !important;
  }
  .about-text {
      position: relative !important;
      top: 90px !important;
      left: -5px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .irfan-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .simone-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .irene-text {
      position: absolute;
      left: -164px;
      top: 119px;
  }
  .about_logo_text {
      left: 0px;
  }
}

@media (min-width: 578px) and (max-width: 601px) {
  .about-title {
      position: relative !important;
      left: -30px !important;
      top: -5px !important;
  }
  .about-text {
      position: relative !important;
      top: -5px !important;
      left: -55px !important;
  }
  .vision-block {
      width: 500px !important;
      margin-bottom: 10px !important;
      height: 300px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1750px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 350px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 190px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 180px;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 160px;
  }
  .about_notation_img {
      top: -20px;
      left: 160px;
  }
  .about_logo_text {
      top: 270px;
  }
  .about_logo_img {
      top: 100px;
      left: 160px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 60px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 220px;
      top: 250px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .notes_img {
      width: 350px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 350px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
}

@media (min-width: 579px) and (max-width: 601px) {
  .about_logo_text {
      left: 0px !important;
  }
  .about-us-header-background {
      display: none;
  }
}

@media (min-width: 601px) and (max-width: 660px) {
  .about-title {
      position: relative !important;
      left: -30px !important;
      top: -5px !important;
  }
  .about-text {
      position: relative !important;
      top: -5px !important;
      left: -55px !important;
  }
  .vision-block {
      width: 500px !important;
      margin-bottom: 10px !important;
      height: 300px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about-section {
      height: 1750px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 350px;
      margin-left: 10px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 60px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_sound_text {
      left: 190px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 180px;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 160px;
  }
  .about_notation_img {
      top: -20px;
      left: 160px;
  }
  .about_logo_text {
      top: 270px;
  }
  .about_logo_img {
      top: 100px;
      left: 163px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 223px;
      top: 250px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .notes_img {
      width: 350px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 350px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
  .irfan-text {
      position: absolute;
      left: -333px;
      top: 119px;
  }
}

@media (min-width: 603px) and (max-width: 660px) {
  .about_logo_text {
      left: 0px !important;
  }
  .about-us-header-background {
      display: none;
  }
}

@media (min-width: 660px) and (max-width: 769px) {
  .about-title {
      position: relative !important;
      left: 65px !important;
      top: -5px !important;
  }
  .about-text {
      position: relative !important;
      bottom: -5px !important;
      left: -10px !important;
  }
  .vision-block {
      width: 550px !important;
      margin-bottom: 10px !important;
      height: 250px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1750px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 400px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 215px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 205px;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 186px;
  }
  .about_notation_img {
      top: -20px;
      left: 187px;
  }
  .about_logo_text {
      top: 260px;
  }
  .about_logo_img {
      top: 100px;
      left: 195px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 253px;
      top: 240px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 60px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .notes_img {
      width: 400px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 400px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
  .irfan-text {
      position: absolute;
      left: -333px;
      top: 119px;
  }
}

@media (min-width: 661px) and (max-width: 769px) {
  .about_logo_text {
      left: 2px !important;
  }
  .about-us-header-background {
      display: none;
  }
  .about-title {
      position: relative !important;
      left: 65px !important;
      top: 5px !important;
  }
}

@media (min-width: 769px) and (max-width: 938px) {
  .about-title {
      position: relative !important;
      left: 65px !important;
      top: 5px !important;
  }
  .about-text {
      position: relative !important;
      bottom: -5px !important;
      left: -10px !important;
  }
  .about-section {
      height: 1750px !important;
  }
  .vision-block {
      width: 550px !important;
      margin-bottom: 10px !important;
      height: 250px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1850px !important;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 500px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 225px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 220px;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 195px;
  }
  .about_notation_img {
      top: -20px;
      left: 203px;
  }
  .about_logo_text {
      top: 250px;
  }
  .about_logo_img {
      top: 80px;
      left: 203px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 80px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 260px;
      top: 230px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .notes_img {
      width: 500px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 500px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
}

@media (min-width: 770px) and (max-width: 774px) {
  .about-us-header-background {
      display: none;
  }
  .about_notation_text {
      left: 218px !important;
  }
  .about_logo_text {
      left: 2px !important;
  }
}

@media (min-width: 774px) and (max-width: 938px) {
  .about-title {
      position: relative !important;
      left: 180px !important;
      top: 5px !important;
  }
  .vision-block {
      width: 670px !important;
      margin-bottom: 10px !important;
      height: 350px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .irfan-text {
      position: absolute;
      left: -333px;
      top: 119px;
  }
  .about_sound_text {
      left: 280px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 273px !important;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 250px;
  }
  .about_notation_img {
      top: -20px;
      left: 250px;
  }
  .about_logo_text {
      top: 250px;
  }
  .about_logo_img {
      top: 80px;
      left: 250px;
  }
  .about_logo_text:after {
      left: 310px;
      top: 230px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
}

@media (min-width: 776px) and (max-width: 938px) {
  .about-us-header-background {
      display: none;
  }
  .about_sound_text {
      left: 280px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 273px !important;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 250px;
  }
  .about_notation_img {
      top: -20px;
      left: 250px;
  }
  .about_logo_text {
      top: 250px;
  }
  .about_logo_img {
      top: 80px;
      left: 250px;
  }
  .about_logo_text:after {
      left: 330px;
      top: 230px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
}

@media (min-width: 778px) and (max-width: 938px) {
  .about-title {
      left: 250px !important;
  }
  .about-us-header-background {
      display: none;
  }
  .about_sound_text {
      left: 330px;
  }
  .about_sound_text:after {
      left: 33px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 320px !important;
      top: -40px;
  }
  .about_notation_text:after {
      left: 43px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 300px;
  }
  .about_notation_img {
      top: -20px;
      left: 300px;
  }
  .about_logo_text {
      top: 250px;
      left: 20px;
  }
  .about_logo_img {
      top: 80px;
      left: 300px;
  }
  .about_logo_text:after {
      left: 343px;
      top: 230px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .vision-block {
      width: 740px !important;
      height: 250px !important;
  }
}

@media (min-width: 867px) and (max-width: 938px) {
  .about-title {
      left: 360px !important;
  }
  .about_sound_text {
      left: 380px;
  }
  .about_notation_text {
      left: 370px !important;
  }
  .about_sound_img {
      left: 350px;
  }
  .about_notation_img {
      left: 350px;
  }
  .about_logo_img {
      left: 350px;
  }
  .about_logo_text:after {
      left: 390px;
  }
  .vision-block {
      width: 850px !important;
  }
}

@media (min-width: 938px) and (max-width: 939px) {
  .about-title {
      left: 180px !important;
  }
  .about_sound_text {
      left: 270px;
  }
  .about_notation_text {
      left: 260px !important;
  }
  .about_logo_text {
      left: -10px;
  }
  .about_logo_text:after {
      left: 313px;
  }
  .about_sound_img, .about_notation_img, .about_logo_img {
      left: 240px;
  }
  .vision-block {
      width: 670px !important;
  }
}

@media (min-width: 939px) and (max-width: 992px) {
  .about-section {
      height: 1700px;
  }
  .about-us-header-background {
      display: none;
  }
  .about_sound_text {
      left: 230px;
  }
  .about_sound_img {
      top: 10px;
      left: 243px;
  }
  .about_sound_text:after {
      left: 30px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 220px;
      top: -40px;
  }
  .about_notation_img {
      top: -15px;
      left: 243px;
  }
  .about_notation_text:after {
      left: 40px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_logo_text {
      top: 245px;
      left: -40px;
  }
  .about_logo_img {
      top: 80px;
      left: 248px;
  }
  .about_logo_text:after {
      left: 300px;
      top: 230px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .vision-block {
      width: 670px !important;
      margin-bottom: 10px !important;
      height: 250px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .irfan-text {
      position: absolute;
      left: -333px;
      top: 119px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 160px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .vibration-section p {
      margin-left: 10px !important;
  }
  .vibration_img {
      margin-left: 10px !important;
      width: 350px;
  }
  .notes_img {
      margin-left: 10px !important;
      width: 350px;
  }
  .about_gradient_img {
      margin-left: 10px !important;
      width: 350px;
  }
  .about_us_header {
      margin-left: 10px !important;
  }
  .social_icons {
      margin-left: -230px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about-us-header-background {
      display: none;
  }
  .about-title {
      position: relative !important;
      left: 180px !important;
      top: -5px !important;
  }
  .about-text {
      position: relative !important;
      bottom: 10px !important;
      left: -10px !important;
  }
  .about-section {
      height: 1900px !important;
  }
  .vision-block {
      width: 670px !important;
      margin-bottom: 10px !important;
      height: 250px !important;
  }
  .right-block {
      margin-left: 15px !important;
  }
  .about_us_header {
      margin-left: 20px;
      font-size: 25px;
  }
  .about-section p {
      margin-left: 10px;
      margin-right: 10px;
      word-break: break-word;
  }
  .about-section {
      height: 1700px;
  }
  .team-images-block {
      text-align: center;
  }
  .vibration_img {
      width: 500px;
      margin-left: 10px;
  }
  .about_sound_text {
      left: 270px;
  }
  .about_sound_text:after {
      left: 30px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_notation_text {
      left: 95px;
      top: 40px;
  }
  .about_notation_text:after {
      left: 40px;
      top: 60px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .about_sound_img {
      top: 10px;
      left: 238px;
  }
  .about_notation_img {
      top: 60px;
      left: 77px;
  }
  .about_logo_text {
      top: 430px;
      left: -7px;
  }
  .about_logo_img {
      top: 260px;
      left: 247px;
  }
  .team-images-block {
      margin-bottom: 20px;
      margin-left: 80px;
  }
  .team-images-block img {
      margin-bottom: 10px;
  }
  .about_notes_text {
      margin-left: 10px !important;
  }
  .about_logo_text:after {
      left: 60px;
      top: 150px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #815374;
      border-width: 30px;
      margin-left: -30px;
  }
  .notes_img {
      width: 500px;
      margin-left: 10px;
  }
  .about_gradient_img {
      width: 500px;
      margin-left: 10px;
  }
  .secondary-footer {
      height: 120px;
  }
  .secondary-footer p {
      margin-top: 5px;
  }
  .support_icons img {
      top: -20px;
      left: 20px;
  }
  .social_icons img {
      left: 10px;
      top: -10px;
  }
  .irfan-text {
      position: absolute;
      left: -333px;
      top: 119px;
  }
  .irene-text {
      top: -99px;
  }
}
