// Place all the styles related to the BlogArticles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container.blog-nav {
  @media only screen and (max-width: $phone-devices){
    width: 100% !important;
  }
}

.blog-mobile-header{
  margin-left: -12px;
  margin-right: -12px;
}
.overlay_sec_header_background{
  background-image: image-url('Soundnotation_MobileHeader.svg');
  padding-top: 250px;

  @media only screen and (max-width: $phone-devices){
    padding-top: 150px;
  }

  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: 100%;
}
.sub_header{
    display: inline-block;
}
.blog-content iframe, .blog_container iframe {
  width: 100%    !important;
  height: 500px !important;
  @media only screen and (max-width: $phone-devices){

    height: 200px   !important;
  }
}
.container-fluid{
  @media only screen and (max-width: $phone-devices){
    padding-left: 0;
    padding-right: 0;
    .logo-section{
      width: 100%;
      img{
        width: auto;
      }
      .blog-promo-text {
        margin-top: -7px;
        display: inline-block;
        border-top: 1px solid #eeeeee;
        width: 100%;
        padding-top: 10px;
      }
    }
  }

  .en-blog-title, .de-blog-title  {
    @media only screen and (max-width: $phone-devices){
    border-right: none;
    font-size: 19px !important;
    margin-right: 0;
    display: inline-block;
    }
  }

  .knowledge-text{
    @media only screen and (max-width: $phone-devices){
      position: static!important;
    }
  }

  .container{
    &.blog_container{
      background: white;
      margin-top: 20px;
      @media only screen and (max-width: $phone-devices){
        width: 100% !important;
      }
    }
  }
}

.blog_container{
  .blog_image{
    @media only screen and (max-width: $phone-devices){
      width: 100%;
    }
  }
  p{
    @media only screen and (max-width: $phone-devices){
    font-size: 16px;
    line-height: 1.7;
    }
  }

  h3{
    @media only screen and (max-width: $phone-devices){
    color: #3e3e3e;
    font-size: 19px;
    line-height: 33px;
    font-weight: 600;
    }
  }
  .single-article-title h1{
    @media only screen and (max-width: $phone-devices){
    text-align: left;
    line-height: 40px;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    }
  }
  .categories-text{
    margin: 0;
    text-align: left;
    padding: 0;
    p{
      font-size: 32px;
      font-weight: 600px;
      @media only screen and (max-width: $phone-devices){
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
}



.logo-blog {
  width: 350px;
  height: 120px;
  margin-left: 12px;
  top: 15px;
}

.center-block {
  float: none !important
}
.nav-item a {
  font-size: 15px !important;
}

.blog-cards {
  display: block;
}

.blog-promo-text p {
  display: inline;
  color: #A3A3A3
}

.articles-section {
  display: block;
}

.blog-cards {
  margin-right: -10px !important;
}

.blog-card-landing {
  border-top-right-radius: 15px !important;
  border: none;
  height: 200px !important;
  width: 300px !important;
  min-height: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.blog-card-img-top-landing {
  height: 120px;
  min-height: 350px;
  width: 300px !important;
  border-top-right-radius: 15px !important;
  border: none;
}

.blog-card {
  border-top-right-radius: 15px !important;
  border: none;
  height: 200px !important;
  min-height: 400px;
  margin-bottom: 15px;
  margin-right: 10px;
  @media only screen and (max-width: $tablet-devices){
    margin-right: 0px;
  }
}

.blog_image_container {
  height: 120px;
  width: 96%;
  margin: 0 auto;
  padding: 0;
  background: #815374;

  .blog_image_filter{
    height: 120px;
    z-index: 1;
    width: 93%;
    @media only screen and (max-width: $tablet-devices){
      margin-right: 10px;
      width: 96%;
    }
    margin: 0 auto;
    position: absolute;
    top: 0;
    transition: .2s opacity linear;
    -webkit-transition: .2s opacity linear;
    -moz-transition: .2s opacity linear;
    -ms-transition: .2s opacity linear;
    -o-transition: .2s opacity linear;
    background: #3c1827;
    opacity: 0.1;

    &:hover {
      opacity: 0.5;
      -webkit-filter: contrast(4);
      filter: contrast(4);
    }
  }

  .blog-card-img-top {
    height: 120px;
    width: 100%;
    margin: 0 auto;
    border: none;
    -webkit-filter: contrast(1);
    filter: contrast(1);

    &:hover {
      -webkit-filter: contrast(4);
      filter: contrast(4);
    }
  }
}

.blog-card-block p, span, a {
  color: black;
  word-wrap: break-word;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}

.blog-card-title {
  text-align: center;
  height: 80px;
  background: #d5ccd4;
}

.blog-card-title h2 {
  color: #815374;
  margin: 0 0 0 0;
  line-height: 50px;
  padding: 10px 5px;
  transition: .2s color linear;
  -webkit-transition: .2s color linear;
  -moz-transition: .2s color linear;
  -ms-transition: .2s color linear;
  -o-transition: .2s color linear;
  &:hover{
    color: #fff;
  }
}

.blog-preview-text {
  color: #fff;
  min-height: 174px;
  padding-top: 15px;
  margin: 0 10px;
  background: #ab9bac;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.blog-card-title p {
  white-space: pre-wrap;
  font-size: 18px;
  white-space: pre-wrap;
  font-weight: 500!important;
  margin-bottom: 0;
  display: inline-block;
}
.read_more_container{
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  bottom: 41px;
  width: 95%;

  .read-more-button {
    border-radius: 0 !important;
    cursor: pointer;
    // position: absolute;
    color: #815374 !important;
    bottom: 22px;
    left: 22px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: uppercase;
    &:hover {
      color: #fff !important;
    }
  }
}

.blog_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories-section {
    margin-top: 15px;
    margin-bottom: 15px;
}
.categories-section p {
    font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.categories-item {
  display: table-cell;
}
.categories-text {
  white-space: nowrap;
  width: 1%;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 20px;
  p {
    color: #A3A3A3;
  }
}
.categories-line {
  border-bottom: 4px solid #A3A3A3;
  position: relative;
  top: -1em;
}

.article-links a:link,
.article-links a:active,
.article-links a:hover {
    margin-left: 5px;
    color: black;
    background-color: inherit;
    margin-top: 10px;
    text-decoration: none;
}

.read-more {
    margin-left: 5px !important;
    margin-top: 10px !important;
}

.logo-section a:hover {
    text-decoration: none;
    background: none;
}

.single-article, .single-article p {
    margin-top: 10px;
    font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.single-article-title h2 {
    font-size: 35px;
    font-family: 'Source Sans Pro Regular', sans-serif !important;
    text-align: center;
}
