// Place all the styles related to the blog_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories-menu {
  color: white;
  padding: 20px 0;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  a{
    color: #e4e4e4;

    &.cat_title{
      border-right: 2px solid white;
      padding-right:20px;
    }
  }
}
