.contact-header-background {
    width: 1200px !important;
    height: 174px;
    margin-left: -157px !important;
    margin-top: -154px;
}

#error_explanation {
  width: inherit !important;
}

.contacts-logo-section {
    margin-top: 10px !important;
}

.contact-header {
  font-size: 30px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 300 !important;
  font-style: italic;
  line-height: 40px;
  color: white;
}

.contact-promo-section {
    margin-top: 20px !important;
    background-color: white;
}

.header-container {
    margin-top: 20px;
}

.contact-text {
    color: #A3A3A3;
    position: relative;
    margin-top: 35px !important;
    left: -65px !important;
    float: right;
}

.contact-title {
    color: #A3A3A3;
    border-right: 2px solid #A3A3A3;
    margin-right: 5px !important;
    line-height: 0px !important;
    padding: 10px !important;
    margin-top: 51px !important;
    font-size: 30px !important;
    font-weight: normal;
    float: left;
    margin-left: 55px !important;
}

.de-contact-text {
  color: #A3A3A3;
  position: relative;
  margin-top: 35px !important;
  left: -65px !important;
  float: right;
}

.de-contact-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;
  margin-right: 5px !important;
  line-height: 0px !important;
  padding: 10px !important;
  margin-top: 51px !important;
  font-size: 30px !important;
  font-weight: normal;
  float: left;
  margin-left: 20px !important;
}

.contact-promo-section form {
  margin-top: 11px;
}

.contacts-form-btn{
  background-color: #825575;
  color: white;
}
.mobile-phone {
  display: none;
}

.mobile-phone a {
  color: black !important;
}

.mobile-phone a:hover {
  text-decoration: none;
}

@media (min-width: 301px) and (max-width: 416px) {
    .desktop-phone {
      display: none;
    }
    .mobile-phone {
      display: inline;
    }
    .container {
        width: 250px !important;
    }
    .logo-section img {
        width: 300px;
        margin-left: -33px;
    }
    .contact-title {
        position: relative !important;
        left: -115px !important;
        bottom: 25px;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
        bottom: -80px !important;
        font-size: 15px;
    }
    .de-contact-title {
      position: relative !important;
      left: -65px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: -80px !important;
      font-size: 15px;
    }
    .footer {
        height: 100px !important;
    }
    .new_contact input, textarea {
      width: 250px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .contact-header-background {
        display: none;
    }
    .contact-promo-section {
      max-width: 280px !important;
    }
}

@media (min-width: 369px) and (max-width: 407px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
  .contact-title {
      position: relative !important;
      left: -90px !important;
      bottom: 25px;
  }
  .contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-contact-title {
    position: relative !important;
    left: -45px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
}

@media (min-width: 408px) and (max-width: 415px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
  .de-contact-title {
    position: relative !important;
    left: 15px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    font-size: 15px;
  }
  .contact-title {
      position: relative !important;
      left: -30px !important;
      bottom: 25px;
  }
  .contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .contact-promo-section {
    min-width: 360px !important;
  }
  .contact-promo-section input, textarea {
    width: 330px !important;
  }
}

@media (min-width: 416px) and (max-width: 437px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
  .logo-section img {
        width: 345px;
        height: 120px;
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        margin-left: -5px !important;
        top: 0px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 5px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 290px !important;
      margin-left: -80px !important;
    }
    .contact_us_text p {
      margin-left: -80px;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact-header-background {
        display: none;
    }
    .contact-promo-section {
      margin-left: 15px !important;
    }
}

@media (min-width: 438px) and (max-width: 470px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
  .logo-section img {
        width: 345px;
        height: 120px;
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        margin-left: 45px !important;
        top: 0px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 55px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 290px !important;
      margin-left: -80px !important;
    }
    .contact_us_text p {
      margin-left: -80px;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact-header-background {
        display: none;
    }
    .contact-promo-section {
      margin-left: 30px !important;
    }
}

@media (min-width: 470px) and (max-width: 471px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        width: 350px;
    }
    .contact-title {
        position: relative !important;
        margin-left: 45px !important;
        top: 0px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 5px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 471px) and (max-width: 516px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        width: 345px;
        height: 120px;
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        margin-left: -10px !important;
        top: 0px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 5px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 290px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .contact-header-background {
        display: none;
    }
}
@media (min-width: 479px) and (max-width: 480px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .container {
        width: 150px !important;
    }
    .contact-title {
        position: relative !important;
        margin-left: 36px !important;
        top: -27px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
        top: 83px !important;
    }
}
@media (min-width: 480px) and (max-width: 516px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        margin-left: -10px !important;
        top: 0px !important;
    }
    .contact-text {
        position: relative !important;
        left: 0px !important;
    }
    .new_contact input, textarea {
      width: 250px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
}

@media (min-width: 516px) and (max-width: 578px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        left: 105px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        top: 5px !important;
        left: 0px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 105px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 380px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 518px) and (max-width: 578px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
  .contact-title {
      position: relative !important;
      left: 35px !important;
      top: 5px !important;
  }
  .contact-text {
      position: relative !important;
      top: 5px !important;
      left: 0px !important;
  }
  .de-contact-title {
    position: relative !important;
    left: 105px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    font-size: 15px;
  }
}

@media (min-width: 578px) and (max-width: 579px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        left: 90px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: 30px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 155px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 430px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 579px) and (max-width: 601px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        left: 85px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 155px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 440px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .footer {
      height: 100px !important;
    }
    .contact-header-background {
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 602px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .contact-title {
        position: relative !important;
        left: 85px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 155px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 602px) and (max-width: 660px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        left: 85px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 155px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 440px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .footer {
      height: 100px !important;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 660px) and (max-width: 769px) {
  .desktop-phone {
    display: none;
  }
  .mobile-phone {
    display: inline;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contact-title {
        position: relative !important;
        left: 135px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .new_contact input, textarea {
      width: 480px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .de-contact-title {
      position: relative !important;
      left: 205px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 774px) {
    .desktop-phone {
      display: inline;
    }
    .mobile-phone {
      display: none;
    }
    .phone-link {
      display: none !important;
    }
    .logo-section img {
        margin-left: -50px;
    }
    .container {
        max-width: 670px !important;
    }
    .contacts-section {
      height: 700px !important;
    }
    .contact-title {
        position: relative !important;
        left: 135px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 205px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 480px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .footer {
      height: 60px !important;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 774px) and (max-width: 775px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .container {
        max-width: 670px !important;
    }
    .contacts-section {
      height: 700px !important;
    }
    .contact-title {
        position: relative !important;
        left: 260px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 320px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 600px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
}

@media (min-width: 775px) and (max-width: 776px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .container {
        max-width: 670px !important;
    }
    .contacts-section {
      height: 700px !important;
    }
    .contact-title {
        position: relative !important;
        left: 260px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 320px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .new_contact input, textarea {
      width: 600px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
    .contact-header-background {
        display: none;
    }
}

@media (min-width: 776px) and (max-width: 777px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .container {
        max-width: 670px !important;
    }
    .contact-title {
        position: relative !important;
        left: 260px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 320px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
    .new_contact input, textarea {
      width: 600px !important;
      margin-left: -80px !important;
    }
}

@media (min-width: 777px) and (max-width: 777px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contacts-section {
      height: 700px !important;
    }
    .contact-title {
        position: relative !important;
        left: 260px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 395px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
    .new_contact input, textarea {
      width: 610px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
}

@media (min-width: 778px) and (max-width: 872px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
  .logo-section img {
      margin-left: -50px;
  }
  .contacts-section {
    height: 700px !important;
  }
  .contact-title {
      position: relative !important;
      left: 330px !important;
      top: 5px !important;
  }
  .contact-text {
      position: relative !important;
      bottom: -5px !important;
      left: 00px !important;
  }
  .de-contact-title {
    position: relative !important;
    left: 395px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    font-size: 15px;
  }
  .contact-header-background {
      display: none;
  }
  .new_contact input, textarea {
    width: 680px !important;
    margin-left: -80px !important;
  }
  .new_contact label {
    margin-left: -78px !important;
  }
  .contact_us_text p {
    margin-left: -78px;
  }
}

@media (min-width: 872px) and (max-width: 937px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
  .logo-section img {
      margin-left: -50px;
  }
  .contacts-section {
    height: 700px !important;
  }
  .contact-title {
      position: relative !important;
      left: 440px !important;
      top: 5px !important;
  }
  .contact-text {
      position: relative !important;
      bottom: -5px !important;
      left: 00px !important;
  }
  .de-contact-title {
    position: relative !important;
    left: 500px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    font-size: 15px;
  }
  .contact-header-background {
      display: none;
  }
  .new_contact input, textarea {
    width: 800px !important;
    margin-left: -80px !important;
  }
  .new_contact label {
    margin-left: -78px !important;
  }
  .contact_us_text p {
    margin-left: -78px;
  }
}

@media (min-width: 938px) and (max-width: 1200px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section img {
        margin-left: -50px;
    }
    .contacts-section {
      height: 700px !important;
    }
    .contact-title {
        position: relative !important;
        left: 260px !important;
        top: 5px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -5px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 325px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-header-background {
        display: none;
    }
    .logo-section img {
        margin-left: -50px;
    }
    .new_contact input, textarea {
      width: 600px !important;
      margin-left: -80px !important;
    }
    .new_contact label {
      margin-left: -78px !important;
    }
    .contact_us_text p {
      margin-left: -78px;
    }
}

@media (min-width: 1200px) and (max-width: 1200px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }
    .logo-section {
      width: 700px !important;
      left: -15px !important;
    }
    .contact-header-background {
        display: none;
    }
    .contact-title {
        position: relative !important;
        left: -60px !important;
        top: -15px !important;
    }
    .contact-text {
        position: relative !important;
        bottom: -90px !important;
        left: 00px !important;
    }
    .de-contact-title {
      position: relative !important;
      left: 20px !important;
      bottom: 25px;
      font-size: 20px !important;
    }
    .de-contact-text {
      position: relative !important;
      left: 0px !important;
      bottom: 20px !important;
      font-size: 15px;
    }
    .contact-promo-section {
      max-width: 700px !important;
    }
    .contact-promo-section input, textarea {
      width: 350px !important;
    }
    .contact_us_text p {
      margin-left: 70px !important;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .desktop-phone {
    display: inline;
  }
  .mobile-phone {
    display: none;
  }
  .phone-link {
    display: none !important;
  }

  .contact-header-background {
      display: none;
  }
  .contact-title {
      position: relative !important;
      left: -50px !important;
      top: -15px !important;
  }
  .contact-text {
      position: relative !important;
      bottom: -90px !important;
      left: 00px !important;
  }
  .de-contact-title {
    position: relative !important;
    left: 20px !important;
    bottom: 25px;
    font-size: 20px !important;
  }
  .de-contact-text {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    font-size: 15px;
  }
  .contact-promo-section {
    max-width: 700px !important;
  }
}
