.faq-section {
    // margin: 20px 10px;
    margin-top: 10px !important;
}

.faq-title {
    color: #A3A3A3;
    border-right: 2px solid #A3A3A3;
    margin-right: 5px !important;
    line-height: 0px !important;
    padding: 10px !important;
    // margin-top: 51px !important;
    font-size: 30px !important;
    font-weight: normal;
    float: left;
    // margin-left: 60px;
}

.faq-logo-section {
    margin-top: 5px;
}

.faq-header-background {
    width: 1200px !important;
    height: 174px;
    margin-left: -157px !important;
    margin-top: -154px;
}

.faq-header {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px !important;
    font-family: 'Source Sans Pro' !important;
    font-weight: 300 !important;
    font-style: italic;
    line-height: 40px;
    color: white;
}

.faq-panel {
    margin-top: 20px;
}

.faq-panel a:hover {
    color: black;
    text-decoration: none;
}

.faq-panel a:focus {
    color: black;
    text-decoration: none;
}

.faq-container {
    margin-top: 20px !important;
    background-color: white;
}

.faq-text {
    color: #A3A3A3;
    // margin-top: 35px !important;
    margin-left: 5px !important;
    float: right;
}

.de-faq-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;
  margin-right: 5px !important;
  line-height: 0px !important;
  padding: 10px !important;
  margin-top: 51px !important;
  font-size: 30px !important;
  font-weight: normal;
  float: left;
  margin-left: 70px;
}

.de-faq-text {
  color: #A3A3A3;
  margin-top: 35px !important;
  margin-left: 5px !important;
  float: right;
}

@media (min-width: 301px) and (max-width: 416px) {
    .faq-title {
        position: relative !important;
        left: -118px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: 5px !important;
        bottom: -80px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: -130px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: 5px !important;
      bottom: -80px !important;
      font-size: 15px;
    }
}

@media (min-width: 314px) and (max-width: 314px) {
    .faq-container {
      max-width: 280px;
    }
}

@media (min-width: 369px) and (max-width: 407px) {
  .faq-title {
      position: relative !important;
      left: -105px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: 5px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-faq-title {
    position: relative !important;
    left: -110px !important;
    top: -25px !important;
    font-size: 20px !important;
  }
  .de-faq-text {
    position: relative !important;
    left: 5px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
}

@media (min-width: 408px) and (max-width: 416px) {
  .faq-title {
      position: relative !important;
      left: -45px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: 5px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-faq-title {
    position: relative !important;
    left: -50px !important;
    top: -25px !important;
    font-size: 20px !important;
  }
  .de-faq-text {
    position: relative !important;
    left: 5px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
}

@media (min-width: 416px) and (max-width: 470px) {
    .faq-title {
        position: relative !important;
        left: -65px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        bottom: -80px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: -60px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: 5px !important;
      bottom: -80px !important;
      font-size: 15px;
    }
}

@media (min-width: 438px) and (max-width: 470px) {
  .faq-title {
      position: relative !important;
      left: -15px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: -5px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-faq-title {
    position: relative !important;
    left: -10px !important;
    top: -25px !important;
    font-size: 20px !important;
  }
  .de-faq-text {
    position: relative !important;
    left: 5px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
}

@media (min-width: 470px) and (max-width: 516px) {
    .faq-logo-section img {
        width: 350px;
        margin-left: -43px;
    }
    .faq-title {
        position: relative !important;
        left: -15px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        bottom: -80px !important;
        font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
    .de-faq-title {
      position: relative !important;
      left: -60px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: 5px !important;
      bottom: -80px !important;
      font-size: 15px;
    }
}

@media (min-width: 471px) and (max-width: 516px) {
  .faq-title {
      position: relative !important;
      left: -65px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: -5px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
}

@media (min-width: 516px) and (max-width: 601px) {
    .faq-logo-section img {
        width: 350px;
        margin-left: -43px;
    }
    .faq-title {
        position: relative !important;
        left: 30px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 17px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 578px) and (max-width: 601px) {
    .faq-logo-section img {
        width: 350px;
        margin-left: -43px;
    }
    .faq-title {
        position: relative !important;
        left: 85px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 70px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
}

@media (min-width: 601px) and (max-width: 602px) {
  .faq-title {
      position: relative !important;
      left: 85px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: -5px !important;
      top: -20px !important;
      font-size: 15px;
  }
    .de-faq-title {
      position: relative !important;
      left: 70px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
}

@media (min-width: 602px) and (max-width: 769px) {
    .faq-logo-section img {
        width: 350px;
        margin-left: -43px;
    }
    .faq-title {
        position: relative !important;
        left: 85px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 70px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 660px) and (max-width: 769px) {
    .faq-title {
        position: relative !important;
        left: 135px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 775px) {
    .faq-title {
        position: relative !important;
        left: 135px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 120px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 774px) and (max-width: 775px) {
  .faq-title {
      position: relative !important;
      left: 255px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      position: relative !important;
      left: -5px !important;
      top: -20px !important;
      font-size: 15px;
  }
  .de-faq-title {
    position: relative !important;
    left: 240px !important;
    top: -25px !important;
    font-size: 20px !important;
  }
  .de-faq-text {
    position: relative !important;
    left: -15px !important;
    top: -20px !important;
    font-size: 15px;
  }
}

@media (min-width: 775px) and (max-width: 776px) {
    .faq-title {
        position: relative !important;
        left: 255px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 240px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 776px) and (max-width: 777px) {
    .faq-title {
        position: relative !important;
        left: 255px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      position: relative !important;
      left: 240px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 777px) and (max-width: 1330px) {
    .faq-title {
        // position: relative !important;
        left: 255px !important;
        top: -25px !important;
        font-size: 18px !important;
    }
    .faq-text {
        // position: relative !important;
        left: -5px !important;
        top: -20px !important;
        font-size: 15px;
    }
    .de-faq-title {
      // position: relative !important;
      left: 240px !important;
      top: -25px !important;
      font-size: 20px !important;
    }
    .de-faq-text {
      // position: relative !important;
      left: -15px !important;
      top: -20px !important;
      font-size: 15px;
    }
    .faq-header-background {
        display: none;
    }
    .faq-logo-section {
        background-color: white;
    }
}

@media (min-width: 938px) and (max-width: 1200px) {
  .faq-title {
      // position: relative !important;
      left: 255px !important;
      top: -25px !important;
      font-size: 18px !important;
  }
  .faq-text {
      // position: relative !important;
      left: -5px !important;
      top: -20px !important;
      font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .faq-title {
    // position: relative !important;
    left: -80px !important;
    top: -116px !important;
    font-size: 27px !important;
  }
  .faq-text {
    // position: relative !important;
    left: -15px !important;
    top: -15px !important;
    font-size: 15px;
  }
  .de-faq-title {
    // position: relative !important;
    left: -80px !important;
    top: -116px !important;
    font-size: 27px !important;
  }
  .de-faq-text {
    // position: relative !important;
    left: -15px !important;
    top: -15px !important;
    font-size: 15px;
  }
}

@media (min-width: 1301px) and (max-width: 1330px) {
  .faq-title {
    // position: relative !important;
    left: 30px !important;
    top: -17px !important;
    font-size: 27px !important;
  }
  .faq-text {
    // position: relative !important;
    left: -15px !important;
    top: -15px !important;
    font-size: 15px;
  }
  .de-faq-title {
    // position: relative !important;
    left: 30px !important;
    top: -17px !important;
    font-size: 27px !important;
  }
  .de-faq-text {
    // position: relative !important;
    left: -15px !important;
    top: -15px !important;
    font-size: 15px;
  }
}
