// Place all the styles related to the impressum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.impressum-promo-section {
  // margin: 20px 10px;
  margin-top: 20px !important;
}
.impressum-promo-text p {
  display: inline;
  color: #A3A3A3
}

.impressum-header-background {
  width: 1200px !important;
  height: 174px;
  margin-left: -157px !important;
  margin-top: -154px;
}

.impressum-promo-text {
  top: 10px;
  right: -25px;
}

.impressum-container {
  background-color: white;
}
.impressum-title {
  color: #A3A3A3;
  border-right: 2px solid #A3A3A3;
  margin-right: 5px !important;
  line-height: 0px !important;
  padding: 10px !important;
  // margin-top: 51px !important;
  font-size: 30px !important;
  font-weight: normal;
  float: left;
  // margin-left: 140px;
}

.impressum-logo-section {
  margin-top: 5px;
}

.impressum-text {
  color: #A3A3A3;
  // margin-top: 35px !important;
  margin-left: -15px !important;
  float: right;
}

.de-impressum-title {
color: #A3A3A3;
border-right: 2px solid #A3A3A3;
margin-right: 5px !important;
line-height: 0px !important;
padding: 10px !important;
margin-top: 51px !important;
font-size: 30px !important;
font-weight: normal;
float: left;
margin-left: 90px;
}

.de-impressum-text {
color: #A3A3A3;
margin-top: 35px !important;
margin-left: -15px !important;
float: right;
}

@media (min-width: 301px) and (max-width: 313px) {
  .impressum-logo-section img {
      width: 300px;
      margin-left: -43px;
  }
  .impressum-title {
      position: relative !important;
      left: 75px !important;
      bottom: 55px;
      font-size: 20px !important;
      border-right: none;
  }
  .impressum-text {
      position: relative !important;
      left: -15px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -153px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
  .impressum-container {
    max-width: 280px;
  }
}

@media (min-width: 314px) and (max-width: 335px) {
.impressum-logo-section img {
    width: 300px;
    margin-left: -43px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -195px !important;
    bottom: -80px !important;
    font-size: 15px;
}
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -153px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-header-background {
    display: none;
}
.impressum-logo-section {
    background-color: white;
}
.impressum-container {
  max-width: 280px;
}
}

@media (min-width: 335px) and (max-width: 368px) {
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -195px !important;
    bottom: -80px !important;
    font-size: 15px;
}
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -153px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-header-background {
    display: none;
}
.impressum-container {
  margin-left: 3px !important;
}
}

@media (min-width: 369px) and (max-width: 370px) {
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -173px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -215px !important;
    bottom: -80px !important;
    font-size: 15px;
}
.impressum-header-background {
    display: none;
}
}

@media (min-width: 371px) and (max-width: 379px) {
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -173px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -215px !important;
    bottom: -80px !important;
    font-size: 15px;
}
.impressum-header-background {
    display: none;
}
}

@media (min-width: 380px) and (max-width: 416px) {
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -173px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -215px !important;
    bottom: -80px !important;
    font-size: 15px;
}
.impressum-header-background {
    display: none;
}
.impressum-container {
  max-width: 320px !important;
}
}

@media (min-width: 408px) and (max-width: 415px) {
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -233px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -275px !important;
    bottom: -80px !important;
    font-size: 15px;
}
}

@media (min-width: 416px) and (max-width: 417px) {
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -275px !important;
    bottom: -80px !important;
    font-size: 15px;
}
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -223px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
}

@media (min-width: 417px) and (max-width: 437px) {
  .impressum-logo-section img {
      width: 300px;
      margin-left: -43px;
  }
  .impressum-title {
      position: relative !important;
      left: -195px !important;
      bottom: 55px;
      font-size: 20px !important;
      border-right: none;
  }
  .impressum-text {
      position: relative !important;
      left: -265px !important;
      bottom: -80px !important;
      font-size: 15px;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -223px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 438px) and (max-width: 463px) {
.impressum-logo-section img {
    width: 300px;
    margin-left: -43px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -315px !important;
    top: -20px !important;
    font-size: 15px;
}
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -273px !important;
  top: -20px !important;
  font-size: 15px;
}
.impressum-header-background {
    display: none;
}
.impressum-logo-section {
    background-color: white;
}
}

@media (min-width: 463px) and (max-width: 470px) {
  .impressum-logo-section img {
      width: 300px;
      margin-left: -43px;
  }
  .impressum-title {
      position: relative !important;
      left: -195px !important;
      bottom: 55px;
      font-size: 20px !important;
      border-right: none;
  }
  .impressum-text {
      position: relative !important;
      left: -315px !important;
      top: -20px !important;
      font-size: 15px;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -273px !important;
    top: -20px !important;
    font-size: 15px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 470px) and (max-width: 471px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-title {
      position: relative !important;
      left: -195px !important;
      bottom: 55px;
      font-size: 20px !important;
      border-right: none;
  }
  .impressum-text {
      position: relative !important;
      left: -315px !important;
      top: -20px !important;
      font-size: 15px;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -223px !important;
    bottom: -80px !important;
    font-size: 15px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 471px) and (max-width: 516px) {
.impressum-logo-section img {
    width: 350px;
    margin-left: -43px;
}
.impressum-title {
    position: relative !important;
    left: -195px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
}
.impressum-text {
    position: relative !important;
    left: -265px !important;
    top: 85px !important;
    font-size: 15px;
}
.de-impressum-title {
  position: relative !important;
  left: -145px !important;
  bottom: 55px;
  font-size: 20px !important;
  border-right: none;
}
.de-impressum-text {
  position: relative !important;
  left: -223px !important;
  bottom: -80px !important;
  font-size: 15px;
}
.impressum-header-background {
    display: none;
}
.impressum-logo-section {
    background-color: white;
}
}

@media (min-width: 516px) and (max-width: 517px) {
  .impressum-title {
      position: relative !important;
      left: 45px !important;
      top: -20px !important;
  }
  .impressum-text {
      position: relative !important;
      top: -15px !important;
      left: 0px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -323px !important;
    top: -20px !important;
    font-size: 15px;
  }
}

@media (min-width: 517px) and (max-width: 591px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
  .impressum-title {
      position: relative !important;
      left: 20px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .impressum-text {
      position: relative !important;
      bottom: 15px !important;
      left: 0px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -323px !important;
    top: -20px !important;
    font-size: 15px;
  }
}

@media (min-width: 578px) and (max-width: 591px) {
   .impressum-text {
      position: relative !important;
      top: -15px !important;
      left: 0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: -145px !important;
    bottom: 55px;
    font-size: 20px !important;
    border-right: none;
  }
  .de-impressum-text {
    position: relative !important;
    left: -373px !important;
    top: -20px !important;
    font-size: 15px;
  }
}

@media (min-width: 591px) and (max-width: 601px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 70px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 601px) and (max-width: 602px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 70px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 602px) and (max-width: 620px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 00px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 70px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 620px) and (max-width: 636px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 00px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 70px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 636px) and (max-width: 737px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 70px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 70px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 660px) and (max-width: 737px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left:0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 120px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 110px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
}

@media (min-width: 737px) and (max-width: 769px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: 0px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 120px !important;
      top: -20px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 110px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 769px) and (max-width: 774px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: -20px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 95px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 110px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 774px) and (max-width: 775px) {
 .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: -20px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 220px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 230px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 775px) and (max-width: 778px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: -20px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 220px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 230px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 778px) and (max-width: 938px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-text {
      position: relative !important;
      top: -20px !important;
      left: -20px !important;
  }
  .impressum-title {
      position: relative !important;
      left: 285px !important;
      top: -15px !important;
      font-size: 22px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 300px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
}

@media (min-width: 867px) and (max-width: 938px) {
  .impressum-title {
      left: 395px !important;
  }
  .de-impressum-title {
    position: relative !important;
    left: 410px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
}

@media (min-width: 938px) and (max-width: 1300px) {
  .impressum-logo-section img {
      width: 350px;
      margin-left: -43px;
  }
  .impressum-header-background {
      display: none;
  }
  .impressum-logo-section {
      background-color: white;
  }
  .impressum-title {
      // position: relative;
      left: 200px !important;
  }
  .de-impressum-title {
    // position: relative !important;
    left: 230px !important;
    top: -20px !important;
    font-size: 22px !important;
  }
  .de-impressum-text {
    // position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .impressum-title {
    // position: relative !important;
    left: -95px !important;
    top: -126px !important;
    font-size: 27px !important;
  }
  .impressum-text {
    // position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
  .de-impressum-title {
    // position: relative !important;
    left: -95px !important;
    top: -126px !important;
    font-size: 27px !important;
  }
  .de-impressum-text {
    // position: relative !important;
    top: -20px !important;
    left: 0px !important;
  }
}
