.references{
  background: #d6cdd5;
  padding: 30px 20px;
  margin-bottom: 41px;
  .next_arrow{
    position: absolute;
    background-color: #d6cdd5;
    z-index: 1000;
    right: 5px;
    top: 25%;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image:image-url('next_hover.png');
    cursor: pointer;

    &:hover{
      background-image:image-url('next.png');
    }
  }
  .prev_arrow {
    position: absolute;
    z-index: 1000;
    background-color: #d6cdd5;
    left: 5px;
    top: 25%;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: image-url('prev_hover.png');
    cursor: pointer;

    &:hover{
      background-image:image-url('prev.png');
    }
  }
  .slick-slide{
    img{
      width: 100%;
    }
  }
}

.newsletter_home{
  background-color: #d5ccd4;
  padding: 30px 50px;
  margin-bottom: 55px;

  .news_title{
    text-align: center;
    h2{
      font-weight: 600;
      color: #825675;
    }
  }

  .news_subtitle{
    text-align: center;
    p{
      font-size: 14px;
    }
  }

  .news_footer{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;

    p{
      font-size: 12px;
      color: #777;
    }
  }
  .btn{
    height: 34px;
  }
}
