// Color set for freelancer dashboard tabs

.job-border-top {
  border-top: 3px #e94f3b solid;
  width: 220px;
}
.info{
  max-width: 600px;
  border: 1px solid #b8b8b8;
  padding: 5px 15px;
  background: #f1f1f1;
  border-radius: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
  p{
    font-size: 12px;
    max-width: 548px;
    margin-bottom: 0;
    display: inline-block;
  }
  img{
    margin-right: 5px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
  }
}

.react_tooltip_text{
  font-size: 12px;
  margin-bottom: 0;
}

.freelancer-cta-container {
    background-color: white;
    display: block;
    float: left;
    margin: 40px 0;
    width: 100%;
    padding: 24px 40px;
}

.preselect-border-top {
  border-top: 3px #265580 solid !important;
  width: 220px;
}

.download-border-top {
  border-top: 3px #931f2a solid !important;
  width: 220px;
}

.empty-table-field::after {
  content: '' !important;
}

.upload-border-top {
  border-top: 3px #209977 solid !important;
  width: 220px;
}

#freelancer-tabs > li {
  border-top: 3px #e94f3b solid;
  width: 220px;
}

.tab-content > div {
  margin-top: 25px;
}

// Styles for freelancers dashboard
.freelancers-dashboard-container {
  background-color: white !important;
  margin-bottom: 20px;
  margin-top: 50px !important;
}

.freelancer-container {
  background-color: white;
  margin-bottom: -60px !important;
}

.freelancer-tab-content {
  margin-top: -20px;
}

.freelancer-song-title {
  width: 150px;
}

.header-container {
  margin-top: -20px;
}

.freelancer-signup-button {
  background-color: #825575;
  color: white;
}

.dashboard_logo {
  position: relative;
  width: 350px;
  height: 120px;
  margin-left: 10px;
  top: 5px;
}

.freelancer-links {
  position: absolute;
  top: -50px;
  right: 0px;
}

.current-job {
  position: relative;
  top: -17px;
}

.landing-tablet-image {
  margin-left: 340px;
  margin-top: -470px;
  width: 640px;
  height: 350px;
}

.freelancer-card-title {
  background-color: #815374;
  height: 95px !important;
  margin-top: -25px !important;
}

.freelance-card {
  background-color: white !important;
}

.freelancer-card-title h4 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 27px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 600 !important;
  font-style: normal;
}

.freelancer-benefits {
  top: -40px;
  margin-bottom: -80px !important;
}

.freelance-background {
  width: 1241px;
  height: 419px;
  margin-left: -197px !important;
  margin-top: -354px;
}

.landing-header-item {
  cursor: pointer;
  margin-top: -155px;
  margin-left: 90px;
  margin-bottom: -90px;
}

.freelance-tabs-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 0 !important;

  .fluid-freelancers-dashboard {
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.fluid-freelancers-dashboard {
  width: 950px !important;
  margin-top: -20px;
  // margin-left: -48px  !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

}

.freelancers-content {
  background-color: white !important;
  margin-bottom: 30px;
}

#freelancer-tabs > li {
  width: 237.5px !important;
}

#freelancer-tabs a {
  width: 237.5px !important;
}

#freelancer-tabs > li.job > a:hover {
  background-color: #e94f3b !important
}

#freelancer-tabs > li.preselect > a:hover {
  background-color: #265580 !important
}

#freelancer-tabs li.job > a {
  margin-right: 0px;
}

#freelancer-tabs li.preselect > a {
  margin-right: 0px;
}

#freelancer-tabs li.download > a {
  margin-right: 0px;
}

#freelancer-tabs > li.download > a:hover {
  background-color: #931f2a !important
}

#freelancer-tabs > li.upload > a:hover {
  background-color: #209977 !important;
  border-top-right-radius: 0px !important;
}

#freelancer-tabs > li.upload > a {
  border-top-right-radius: 0px !important;
}

#freelancer-tabs img {
  height: 150px;
}

#freelancer-tabs > li > a {
  border-radius: 0 !important;
}

#freelancer-tabs > li {
  width: 220px !important;
}


.freelancer-dashboard-footer {
  background: #f9fcf7;
  background: -moz-linear-gradient(top, #f9fcf7 57%, #f5f9f0 80%);
  background: -webkit-linear-gradient(top, #f9fcf7 57%,#f5f9f0 80%);
  background: linear-gradient(to bottom, #f9fcf7 57%,#f5f9f0 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
  margin-top: -20px !important;
}

.accept-field {
  width: 200px;
}

.job-btn {
  background-color: darkgrey !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 0px !important;
  height: 28px;
  width: 145px;
  line-height: 14px !important;
  cursor: pointer;
}

.accept-btn,
.cancel-job-button {
  background-color: #e94f3b !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 0px !important;
  height: 28px;
  width: 145px;
  line-height: 14px !important;
  cursor: pointer;
}

.freelance-save-button {
  position: relative;
  left: 80%;
  margin-bottom: 20px;
  background-color: #265580 !important;
  color: white !important;
  text-transform: none !important;
  border: 0px !important;
  height: 28px;
  width: 145px !important;
  line-height: 14px !important;
  cursor: pointer;
}



.support_icons img {
  margin-right: 40px;
}

.download-progress {
  height: 40px !important;
  border-radius: 25px !important;
  border: 3px solid #931f2a !important;
  background-color: white !important;
  margin-top: 40px;
}

.download-progress-bar {
  background-color: #931f2a !important;
  border: 3px solid white !important;
  border-radius: 25px !important;
}

.download-text {
  position: relative;
  color: #931f2a;
  font-size: 30px !important;
  top: -15px !important;
  margin-bottom: 10px !important;
}

.music-text {
  margin-left: 0px !important;
  margin-top: 15px;
}

.music-xml {
  margin-left: 0px !important;
  margin-top: 15px;
  width: 500px;
}

.freelance-download-button {
  background-color: #931f2a !important;
  color: white !important;
  text-transform: none !important;
  border: 0px !important;
  margin-bottom: -5px !important;
  margin-top: -20px !important;
  height: 28px;
  width: 165px;
  line-height: 24px !important;
  cursor: pointer;
  padding: 2px 6px 3px;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

.upload-progress {
  height: 40px !important;
  border-radius: 25px !important;
  border: 3px solid #209977 !important;
  background-color: white !important;
  margin-top: 40px;
}

.upload-progress-bar {
  background-color: #209977 !important;
  border: 3px solid white !important;
  border-radius: 25px !important;
}

.dashboard-upload-text {
  position: relative;
  color: #209977;
  font-size: 30px !important;
  top: -15px !important;
  margin-bottom: 10px !important;
}

.freelance-upload-button {
  background-color: #209977 !important;
  color: white !important;
  text-transform: none !important;
  border: 0px !important;
  margin-bottom: -5px !important;
  margin-top: -20px !important;
  height: 28px;
  width: 145px;
  line-height: 14px !important;
  cursor: pointer;
  text-align: center !important;
  position: relative;
}

.freelance-upload-button input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 15px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#preselect h1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
}
#preselect p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}
#job h1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
}
#job p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}
#download h1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
}
#download p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}
#upload h1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 20px;
}
#upload p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}
.secondary-freelancer-footer p {
  margin-left: 25px;
  margin-top: 10px;
}

// Styles for register button at the bottom of the page
.bottom-button {
  border-radius: 0 !important;
  cursor: pointer;
  color: white;
  background-color: #815374;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
  @media only screen and (max-width: $phone-devices){
    font-size: 1em;
  }
}

.bottom-button b {
  font-family: 'Source Sans Pro Bold', sans-serif !important;
}

.bottom-button:hover {
  background-color: #815374;
  box-shadow: 1px 1px 1px 1px #888888;
  color: white !important;
}

.bottom-button:active {
  background-color: #858585;
  color: white !important;
}

.upload_timer_item {
  position: relative;
  float: right;
  right: 30px;
}

.upload_timer_item h2 {
  text-align:center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

.download_buttons {
  margin-top: 90px;
}

.download_timer_item {
  position: relative;
  float: right;
  right: 30px;
}

.download_timer_item h2 {
  text-align:center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

.upload_buttons {
  margin-top: 90px;
}

/* Following css for svg conflicting with any type of chart, need to resolve this*/
//svg {
//  -webkit-transform: rotate(-90deg);
//  transform: rotate(-90deg);
//}

#upload_circle {
  stroke: #209977 !important;
}

.upload_circle_animation {
  stroke-dasharray: 1000; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 1000;
  transition: all 1s linear;
}

.job_timer_item {
  position: relative;
  float: right;
  bottom: 40px;
  right: 30px;
}

.job_timer_item h2 {
  text-align:center;
  position: absolute;
  line-height: 125px;
  width: 100%;
}

#job_circle {
  stroke: #265580 !important;

}

.job_circle_animation {
  stroke-dasharray: 1000; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 1000;
  transition: all 1s linear;
}

#sorttable_sortfwdind {
  color: white;
}

#sorttable_sortrevind {
  color: white;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: "\25BE";
  cursor: pointer;
}

.freelancer-table {
  background-color: #e94f3b !important;
}

.freelancer-header {
  background-color: #e94f3b;
}

.freelancer-nav {
  height: 180px;
}

.freelancer-table-row td {
  border-left: 0px !important;
  color: black;
  background-color: white;
}

.freelancer-table-header th {
  color: white;
  border-left: 0px !important;
}

.job-color {
  background-color: #e94f3b !important;
}

.preselect-color {
  background-color: #265580 !important;
}

.download-color {
  background-color: #931f2a !important;
}

.upload-color {
  background-color: #209977 !important;
}

// Styles for register container

.register-container {
  margin-top: 50px !important;
  margin-bottom: 60px;
  height: 100px;
}

.register-text p {
  overflow-wrap: break-word;
  text-align: left;
  margin-right: 10px;
  margin-top: 25px;
}

// Styles for about us section


.freelance-item {
  display: table-cell;
}

.about-us-text p {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.freelance-text {
  white-space: nowrap;
  width: 1%;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}

.freelance-line {
  border-bottom: 4px solid #A3A3A3;
  position: relative;
  top: -0.3em;
  line-height: 15px;
}

.about-us-text p {
  margin-top: 20px;
}

.about-us-section {
  height: 330px !important;
}

// Styles for benefits section

.freelance-card {
  border-top-right-radius: 15px !important;
  border: none;
  background-color: #e5e5e5;
  height: 630px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-right: -20px;
  width: 465px;

  @media only screen and (max-width: $phone-devices){
    width: 100%;
    height: auto;
  }
}

.freelance-card-img-top {
  height: 120px;
  width: 465px;
  border: none;
  filter: sepia(50%);
  filter: hue-rotate(50deg);
  @media only screen and (max-width: $phone-devices){
    width: 100%;
    height: auto;
  }
}

.freelance-card-text {
  list-style-type: none !important;
  margin-top: 35px;
  margin-left: 5px;
}

.freelance-card-text li {
  color: black !important;
  text-align: left;
  font-size: 16px;
  font-weight: 300 !important;
  font-style: normal;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  padding: 3px;
  line-height: 22px;
}

.freelance-card-block p {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.spinner {
  margin-top: 60px;

  span {
    font-size: 30px;
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: -60px;
  margin-left: -18px;
  border-radius: 50%;
  border: 6px solid #efefef;
  border-right-color: #07d;
  transform: rotate(0deg);
  animation: loader 60s infinite;
}

.spinner.preselect:before {
  border-right-color: #265580;
}

.spinner.upload:before {
  border-right-color: #209977;
}

.spinner.download:before {
  border-right-color: #931f2a;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
