.overlay_header_background{
  background-image: image-url('header-background.png');
  height: 420px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  position: absolute;
  left: -37px;
  @media only screen and (max-width: $phone-devices){
    display: none;
  }
}

.integreated_brands{
  margin-bottom: 51px;
}

.uberchord_group, .oktav_group, .soundslice_group, .phonic_score_group{
  cursor: pointer;
}

.landing-header{
  .header_button{
    background-image: image-url('header-item.png');
    width: 300px;
    height: 160px;
    padding: 23px 5px;
    display: inline-block;
    position: absolute;
    top: -130px;
    background-repeat: no-repeat;
  }
  .header_text{
    position: relative;
    left: 55px;
  }

  .tablet-image{
    top: -55px;
  }

}
.mobile_header_content{
  background-color: #fff;
  margin-left: -20px;
  margin-right: -20px;
  .logo_mobile{
    width: 100%;
  }
  .tablet_image_mobile{
    text-align: center;
    img{
      width: 100%
    }
  }
  .btn{
    background: #815374;
    border-radius: 3px;
    font-size: 25px;
    color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .header_text_mobile{
    padding: 5px 20px;
    p{
      color: #111;
    }
  }
}
.mobile_nav{
  .navbar{
    margin-bottom: 0;
  }
}

$len: 442.776657104492px;
$time: 2.6s;

#linea1, #linea2, #linea3, #linea4 {
  stroke-dasharray: $len*0.01, $len;
  stroke-dashoffset: 0;
  animation: anim $time linear infinite;
  animation-delay: 2s;
}

@keyframes anim {
  12.5% {
    stroke-dasharray: $len*0.14, $len;
    stroke-dashoffset: -$len*0.11;
  }
  43.75% {
    stroke-dasharray: $len*0.35, $len;
    stroke-dashoffset: -$len*0.35;
  }
  100% {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: -$len*0.99;
  }
}

.st1{
fill:#dad2d9;
animation: heartbeat 4.6s infinite ease-in-out;
animation-delay: 3s;
}

.st2{
fill:rgba(130, 86, 117, 0.19);
animation: heartbeat 4.6s infinite ease-in-out;
animation-delay: 2.8s;
}

.st3{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;}
.st5{
  fill:#D6CCD6;
  animation: heartbeat 4.6s infinite ease-in-out;
  animation-delay: 2.5s;
  }

@keyframes heartbeat {
  0% {
    transform: scale( 1);
    transform-origin: center;
  }
  10% {
    transform: scale( 1);
    transform-origin: center;
  }
  20% {
    transform: scale( 1);
    transform-origin: center;
  }
  30% {
    transform: scale( 1);
    transform-origin: center;
  }
  30% {
    transform: scale( 1);
    transform-origin: center;
  }
  40% {
    transform: scale( 1);
    transform-origin: center;
  }
  50% {
    transform: scale( 1);
    transform-origin: center;
  }
  60% {
    transform: scale( .80);
    transform-origin: center;
  }
  70% {
    transform: scale( .98);
    transform-origin: center;
  }
  80% {
    transform: scale( 1);
    transform-origin: center;
  }
  90% {
    transform: scale( .98);
    transform-origin: center;
  }
  100% {
    transform: scale( 1);
    transform-origin: center;
  }
}

.common-card{

  @media only screen and(max-width: $phone-devices){
    width: 100%;
    margin: 10px auto!important;

  }
}
.navbar-collapse{
  @media only screen and (max-width: $phone-devices){
    background: white;
  }
}

.main-section {

  @media only screen and (max-width: $phone-devices){
    background-color: transparent !important;
  }
}
.section_content{
  padding: 25px;
  padding-top: 35px;
  background: #d5ccd4;
  margin-bottom: 34px;
}
.top_b_info{
  text-align: center;
  color: white;
  margin-bottom: 30px;
  img{
    width: 90px;
  }
  .title_icon{
    font-size: 22px;
    color: #333333;
  }
  .text_icon{
    p{
      font-size: 14px;
    }
  }
}
.center{
  text-align: center;
}
.new_padding{
  padding-left: 7px;
  padding-right: 7px;
}
.cookies-container {
  margin-top: 15px;
}

.cookies-container a:hover {
  text-decoration: none;
}

.cookies-container a:visited {
  color: black;
}

.signup-terms-conditions:hover, .signup-terms-conditions:focus {
  color: black !important;
  text-decoration: none;
}

.header-list a {
  font-size: 20px;
  color: black;
}

.active-paragraph {
  color: #FCC520 !important;
}

.active-paragraph:focus {
  text-decoration: none;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
    background: #e9ebec;
}

#back-to-top.show {
    opacity: 1;
}

.en-locale a {
  left: 21px;
}

.landing-container {
  margin-left: -15px !important;
  margin-right: -15px !important;
  background: #7b6b81;
  background: -moz-radial-gradient(center, ellipse cover, #7b6b81 23%, #574c5a 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #7b6b81 23%,#574c5a 100%);
  background: radial-gradient(ellipse at center, #7b6b81 23%,#574c5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b6b81', endColorstr='#574c5a',GradientType=1 );
}

.active a {
  color: white !important;
}

.locale a {
  color: white !important;
}

.unactive-locale a {
  left: 25px !important;
  cursor: pointer;
}

.en-locale a:visited {
  color: #d5cdd5 !important
}

nav {
  background-color: inherit !important;
}

.footer-line {
  border: 2px solid white;
  display: inline-block;
}

.landing-header {
  display: inline-block;
  position: relative;
}

.logo {
  margin: 0 auto;
}

.tablet-image {
  width: 100%;
  position: relative;
}

.logo-line-left {
  position: relative;
  border: 1px solid white;
  width: 300px;
  left: 50px;
  bottom: 27px;
}

.logo-line-right {
  position: relative;
  border: 1px solid white;
  width: 300px;
  left: 597px;
  bottom: 30px;
}

.landing-nav {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.landing-navbar > li > a {
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 18px;
  color: white !important;
}

.landing-navbar {
  position: relative;
  left: 27px;
}

.main-navigation-bar > li > a:focus {
    outline: none;
}

.register-button:focus, .register-button-de:focus, .description-register-button {
    outline: none !important;
    color: white !important;
}

.login_logo {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

.owl-down-image {
  width: 700px;
  height: 927px;
  margin-left: -200px;
}

.error-container p {
  font-size: 22px;
}

.error-container a {
  color: black !important;
}

.error-container a:hover {
  color: black;
  text-decoration: none;
}

.error-text {
  margin-top: 20px;
}

.login-group {
  display: table;
  width: 100%;
  font-size: 3em;
  margin-top: 15px !important;
}

.embed-responsive {
    height: 250px !important;
    // width: 937px !important;
    margin-top: 25px !important;
    border: 3px solid black;
    border-radius: 0px !important;
    margin: 0 auto;
    // margin-left: -5px;
}

.item-login {
  display: table-cell;
}
.login-text {
  white-space: nowrap;
  width: 1%;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.login-line {
  border-bottom: 4px solid #A3A3A3;
  position: relative;
  top: -12px;
  line-height: 15px;
}

.login-button {
    background-color: #825575 !important;
    color: white !important;
    text-transform: none;
    width: 170px;
    height: 40px;
    border-radius: 0 !important;
    margin-left: 0px;
}

.login-header {
    border-bottom: 4px solid #825575 !important;
}

.to-registration-button {
    background-color: darkgray !important;
    color: white !important;
    text-transform: none;
    width: 170px;
    height: 40px;
    border-radius: 0 !important;
    line-height: 27px !important;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.to-registration-button-de {
    background-color: darkgray !important;
    color: white !important;
    text-transform: none;
    width: 170px;
    height: 40px;
    border-radius: 0 !important;
    line-height: 27px !important;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    letter-spacing: 1px !important;
}

.register-promo-text {
    margin-top: 10px;
    font-size: 100%;
}

.login-form-options {
    display: inline-block;
}

.forgot-password-link {
    color: black;
}
.forgot-password-link:hover {
    color: #825575 !important;
    text-decoration: none !important;
    margin-top: 10px;
}

.forgot-password-title {
  color: black;
  font-size: 18px;
}

.form-check {
    float: right;
    margin-left: 40px;
    margin-top: 10px;
}

.auth-links > a {
     color: black !important;
 }


.localization-links > a {
    color: black !important;
}

.unactive-localization-button > a {
    color: black !important;
    margin-top: 15px;
}

.unactive-localization-button > a:hover {
    text-decoration: none;
}

.unactive-localization-button {
    margin-top: 16px;
    margin-right: 7px;
}

nav li:after {
    display: inline-block !important;
}

.container {
  width: 950px !important;
}

.embed-responsive {
  border: 5px solid black;
  height: 250px !important;
  border-radius: 0px !important;
  margin-top: 10px !important;
}

.video-container {
    position: relative;
    top: -20px !important;
    // padding-left: 23px !important;
}

//////////////////////////

.logo {
  width: 350px;
  height: 120px;
  margin-left: 27px;
  top: 15px;
}

.main-section-text > p {
    font-size: 16px !important;
    font-weight: 300 !important;
    font-style: normal;
    line-height: 22px;
    font-family: 'Source Sans Pro Extralight', sans-serif !important;
}


.main-section-text {
  margin-left: 125px !important;
  margin-top: -15px !important;
}
///////////////////////////////////////////////////////////////////////////////////////////////

.publisher-background {
  margin-top: -60px;
}

.composer-background {
  margin-top: -60px;
}

.publisher-card ul {
  max-width: 100%;
}

.card-text > li {
  color: white !important;
}

.header-background {
    width: 1241px;
    height: 419px;
    margin-left: -180px !important;
    margin-top: -255px;
}

///////

.header-item {
  margin-left: 90px;
  margin-top: -394px;
  cursor: pointer;
}

.header-item:focus {
  outline: none !important;
}

.description-item {
  position: relative;
  margin-left: 600px;
  top: 67px;
  cursor: pointer;
}

.description-item:focus {
  outline: none !important;
}

.register-button:focus {
  outline: none !important;
}

.description-register-button {
  outline: none !important;
}

.tools-text {
  font-size: 30px !important;
  font-family: 'Source Sans Pro' !important;
  font-weight: 300 !important;
  font-style: italic;
  line-height: 40px;
  color: white;
}

.creator-card {
  outline:none;
  cursor:pointer;
  &:hover, &.active{
    .creator-landing-img {
      background-color: #b33c2e;
      transition: background-color 0.2s ease-out;
    }
    .creator-card-line{
      background-color: #b33c2e;
    }
  }
}

.catalogue-card {
  outline:none;
  cursor:pointer;
  &:hover, &.active{
    .catalogue-landing-img {
      background-color: #1d4063;
      transition: background-color 0.2s ease-out;
    }
    .catalogue-card-line{
      background-color: #1d4063;
    }
  }
}

.promoter-card {
  outline: none;
  cursor: pointer;
  &:hover, &.active{
    .promoter-landing-img {
      background-color: #711821;
      transition: background-color 0.2s ease-out;
    }
    .promoter-card-line{
      background-color: #711821;
    }
  }
}
.promo-section .col-sm-6 {
    padding-left: 7px;
    padding-right: 7px;
  }

.distributor-card {
  outline: none;
  cursor: pointer;
  &:hover, &.active{
    .distributor-landing-img {
      background-color: #19745b;
      transition: background-color 0.2s ease-out;
    }
    .distributor-card-line{
      background-color: #19745b;
    }
  }
}

.promo_section_content{
  margin-left: 0px !important;
  width: 100.2% !important;

  .description-text-container{
    padding: 30px 40px;
    margin-bottom: 20px;
    margin-left: 25px !important;
  }
  &.creator{
    background-color: #b33c2e;
  }
  &.distributor{
    background-color: #19745b;
  }
  &.promoter{
    background-color: #711821;
  }
  &.catalogue{
    background-color: #1d4063;
  }
  p, li{
    color: white;
  }
  h2{
    font-size: 2em;
    color: white;
    font-weight: bold;
  }
  h3 {
    color: white;
    font-weight: 600;
  }
}

.distributor-promo-images-last-row {
  width: 110%;
}

.catalogue-description-image {
  height: 150px;
  width: 150px;
  margin-left: -10px !important;
  margin-top: 20px;
}

.creator-description-container {
  display: none;
  background-color: #b33c2e;
  width: 500px;
  height: 800px;

}

.creator-description-container h1 {
  color: white;
  font-weight: 600;
}

.distributor-description-container {
  display: none;
  background-color: #19745b;
  width: 500px;
  height: 750px;
}

.distributor-description-container h1 {
  color: white;
  font-weight: 600;
}

.promoter-description-container {
  display: none;
  background-color: #711821;
  width: 500px;
  height: 700px;
}

.promoter-description-container h1 {
  color: white;
  font-weight: 600;
}

.promoter-images {
  margin-top: 20px;
}

.promoter-description-image {
  width: 130px;
  height: auto;
}

.catalogue-description-container {
  display: none;
  background-color: #1d4063;
  width: 500px;
  height: 700px;
}

.catalogue-description-container h1 {
  color: white;
  font-weight: 600;
}

.catalogue-divider {
  background-color: #1d4063;
  width: 223px;
  display: none;
  height: 15px;
}

.creator-divider {
  background-color: #b33c2e;
}

.distributor-divider {
  background-color: #19745b;
}

.promoter-divider {
  background-color: #711821;
}

.creator-divider, .distributor-divider, .promoter-divider {
  display: none;
  height: 15px;
  width: 223px;
}

.distributor-features {
  font-size: 23px;
  font-weight: 500 !important;
}

.distributor-description-container h3 {
  color: white;
  font-weight: 600;
}

.shops-image {
  width: 900px;
  margin-left: 25px;
}

.promoter-background-item {
  overflow: hidden;
  position: relative;
  margin-left: 630px;
  top: -15px;
}

.catalogue-background-item {
  overflow: hidden;
  position: relative;
  margin-left: 630px;
  top: 173px;
}

.promoter-text-container {
  margin-top: 50px !important;
  margin-left: 38px !important;
}

.description-modal {
  background-image: image-url('header-item.png');
  background-repeat: no-repeat;
  // background-position: 100% 240%;
  position: relative;
  top: 181px;
  right: -627px;
  bottom: 0;
  height: 162px;
  width: 295px;
}

.promoter-description-modal {
  background-image: image-url('header-item.png');
  position: absolute;
  height: 130px;
  width: 265px;
  right: 73px;
  bottom: -20px;
  background-repeat: no-repeat;
}

.distributor-description-modal {
  position: relative;
  height: 120px;
  top: calc(100% - 587px);
  left: -1px !important;
  background-image: image-url('header-item.png');
  background-repeat: no-repeat;
  background-position: 100% -30%;
}

.distributor-shop-image {
    width: 170px;
    padding-left: 10px !important;
}

.distributor-images-container {
  margin-left: 40px !important;
}

.catalogue-description-modal {
  position: relative;
  top: 262px;
  left: 1px !important;
  background-image: image-url('header-item.png');
  background-repeat: no-repeat;
  background-position: 100% 88%;
}

.background-item {
  position: relative;
  margin-top: 43px !important;
  top: 28px !important;
  left: 2px;
}

.cards {
  margin-left: 35px;
}

.creator-landing-img {
  background-color: #eb4f3d;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease-out;
  &:hover{
    background-color: #b33c2e;
  }
}

.creator-text {
  background-color: #b33c2e;
  width: 100%;
  height: 195px;
  @media only screen and(max-width: $phone-devices){
    text-align: center;
  }
}

.creator-card-line {
  background-color: #eb4f3d;
  width: 100%;
}

.creator-text p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 22px;
}

.catalogue-landing-img {
  background-color: #265482;
  text-align: center;
  width: 100%;
  transition: background-color .2s ease-out;
  &:hover{
    background-color: #1d4063;
  }
}

.catalogue-card-line {
  background-color: #265482;
  width: 100%;
}

.catalogue-text {
  background-color: #1d4063;
  width: 100%;
  height: 195px;
  @media only screen and(max-width: $phone-devices){
    text-align: center;
  }
}

.catalogue-text p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 22px;
}

.promoter-landing-img {
  background-color: #941f2b;
  text-align: center;
  width: 100%;
  transition: background-color .2s ease-out;
  &:hover{
    background-color: #711821;
  }
}

.promoter-card-line {
  background-color: #941f2b;
  width: 100%;
}

.promoter-text {
  background-color: #711821;
  width: 100%;
  height: 195px;
  @media only screen and(max-width: $phone-devices){
    text-align: center;
  }
}

.promoter-text p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px !important;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 22px;
}

.distributor-landing-img {
  background-color: #219978;
  text-align: center;
  width: 100%;
  transition: background-color .2s ease-out;
  &:hover{
    background-color: #19745b;
  }
}

.distributor-card-line {
  background-color: #219978;
  width: 100%;
}

.distributor-text {
  background-color: #19745b;
  width: 100%;
  height: 195px;
  @media only screen and(max-width: $phone-devices){
    text-align: center;
  }
}

.card-border {
    margin: 0 auto;
    border: 1px solid white;
    width: 90%;
    top: 2px !important;
    position: relative;
}

.distributor-text p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 22px;
}

.tools-line span {
    background-color: #e5e5e5;
}

.tools-line:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.register-button-de {
  border-radius: 0 !important;

  cursor: pointer;
  color: white;
  margin-left: 80px;

  font-size: 27px !important;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.register-button {
  border-radius: 0 !important;

  cursor: pointer;
  color: white;
  margin-left: 60px;

  font-size: 27px !important;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.description-register-button {
  border-radius: 0 !important;
  position: absolute;
  cursor: pointer;
  color: white;
  /* margin-left: 655px; */
  top: 45px;
  right: 42px;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.description-register-button-de {
  border-radius: 0 !important;
  position: absolute;
  cursor: pointer;
  color: white;
  /* margin-left: 655px; */
  top: 45px;
  right: 37px;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.catalogue-description-register-button {
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 655px !important;
  top: -105px !important;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.catalogue-description-register-button:hover, .catalogue-description-register-button:focus, .catalogue-description-register-button:visited {
  color: white !important;
}

.catalogue-description-register-button:focus {
  outline: none !important;
}

.distributor-description-register-button {
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 655px;
  top: 60px;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.distributor-description-register-button:hover, .distributor-description-register-button:focus, .distributor-description-register-button:visited {
  color: white !important;
}

.distributor-description-register-button:focus {
  outline: none !important;
}

.catalogue-description-register-button {
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
  color: white;
  margin-left: 675px;
  top: 0px;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.error-header-background {
  width: 1200px !important;
  height: 174px;
  margin-left: -157px !important;
  margin-top: -154px;
}

.error-container {
  background: white;
  margin-top: 20px;
}

.promoter-description-register-button {
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
  position: relative;
  top: 42px;
  right: -62px;
  z-index: 1;
}

.promoter-description-register-button-de {
  border-radius: 0 !important;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 23px !important;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif !important;
  position: relative;
  top: 42px;
  right: -57px;
  z-index: 1;
}

.promoter-description-register-button:hover, .promoter-description-register-button:focus, .promoter-description-register-button:visited {
  color: white !important;
}

.promoter-description-register-button:focus {
  outline: none !important;
}

.background-item {
  overflow: hidden;
  position: relative;
  margin-left: 629px;
  top: 20px;
}

.distributor-background-item {
  overflow: hidden;
  position: relative;
  margin-left: 630px;
  top: 146px;
}

.register-button b, .register-button-de b, .description-register-button b {
    font-family: 'Source Sans Pro Bold', sans-serif !important;
}

.vertical-divider p {
    font-size: 12px;
    text-align: left;
}
.register-button:hover, .register-button-de:hover {
    color: white !important;
}

.register-button:active, .register-button-de:active {
    background-color: #858585;
    color: white !important;
}

.links ul {
    list-style-type: none;
}

.links li {
    display: inline;
}

.tools {
  height: 20px;
  text-align: center
}

.signup-modal-footer {
    border-top: none !important;
}

.links-list {
  list-style-type: none;
  align: center;
}
.promo-section{
  display: grid;

  img {
    width: 160px;
    height: 160px;
  }

  span {
      background-color: #e5e5e5;
      font-size: 15px !important;
      margin-bottom: 10px;
  }
}
.promo_expanded_info{
  margin-bottom: 30px;
}
.tools-section{
  display: inline-block;
}
.tools-images {
  img {
    height: 80px !important;
  }
}

.group {
  display: table;
  width: 100%;
  font-size: 3em;
  margin-top: 15px !important;
}
.item {
  display: table-cell;
}
.text {
  white-space: nowrap;
  width: 1%;
  margin-top: 10px;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
}
.line {
  border-bottom: 4px solid #A3A3A3;
  position: relative;
  top: -27px;
  line-height: 15px;
}

.nav-link {
    color: #d5cdd5 !important;
}

.translation_missing {
  color: #d5cdd5 !important;
}

.translation_missing:hover {
  color: white !important;
}


.nav-link:hover {
    background-color: transparent !important;
    color: white !important;
}

.card {
  border-top-right-radius: 15px !important;
  border: none;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 30px;

  .card-img-top {
    height: auto;
    width: 96%;
    border: none;
  }

  .card-title {
    text-align: center;
    padding: 3px;
    background: #d5ccd4;
  }

  .card-text li {
    text-align: left;
    font-size: 16px;
    font-weight: 300 !important;
    font-style: normal;
    font-family: 'Source Sans Pro Regular', sans-serif !important;
    padding: 3px;
    line-height: 22px;
  }

  .card-title h4 {
    color: white;
    text-align: center;
    font-size: 27px;
    font-family: 'Source Sans Pro Regular', sans-serif !important;
    font-weight: 600 !important;
    font-style: normal;
    line-height: 49px;
  }

  .card-block{
    display: block;
    min-height: 174px;
    padding-top: 15px;
    margin: 0 10px;
    background: #ab9bac;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.cards {
  display: block;
}

.no-padding {
  margin-right: -5px !important;
}

.card-title strong {
  font-size: 35px;
}

.landing-navbar > .nav-item > a {
  color: #d5cdd5 !important;
  @media only screen and (max-width: $phone-devices){
    color: #6b666b !important;
  }
}

.landing-navbar > .nav-item > a:hover {
  color: white !important;
}

.footer-links-section a {
  color: #d5cdd5 !important;
}

.footer-links-section a:hover {
  color: white !important;
}

.footer-links-section p {
  color: #d5cdd5 !important;
}

.secondary-footer a, p {
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Source Sans Pro Regular', sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  line-height: 18px;
}
.secondary-footer a {
  color: black;
}

footer p {
    display: inline;
    color: white;
    font-family: 'Source Sans Pro Regular', sans-serif !important;
}

.footer-landing-links {
   text-align: center;
}

.footer-landing-links a {
  color: white !important;
}

.secondary-footer a:hover {
  // text-decoration: none !important;
  color: blue !important;
}

.footer-logo {
  // left: 185px !important;
  width: 225px;
}

.footer-logo-section {
  text-align: center;
}

.links-list {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links-section {
  text-align: center;
}

.footer-links-section a:hover {
  text-decoration: none !important;
}
