<%= javascript_pack_tag 'freelancers/dashboard' %>

<div class="container freelancers-dashboard-container">
    <nav class="navbar freelancer-nav customer-nav navbar-default">
        <%= render 'customer_nav' %>
    </nav>
</div>
<div id="freelancers-dashboard-root" data-jobs="<%= @jobs.to_json %>" data-current-user="<%= current_user.to_json %>"></div>

<%= render 'layouts/freelancers_footer' %>
