<div class="container freelancers-dashboard-container">
    <nav class="navbar freelancer-nav customer-nav navbar-default">
        <%= render 'customer_nav' %>
    </nav>
</div>
<div class="container">
	<p class="text-center faq-header">FAQ</p>
</div>
<div class="container faq-container center-block col-sm-12 faq-section col-lg-12 col-md-12">
	<div>
		<div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          <%= t('.freelance-question1') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		          <%= t('.freelance-answer1_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          <%= t('.freelance-question2') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		          <%= t('.freelance-answer2_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          <%= t('.freelance-question3') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		          <%= t('.freelance-answer3_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingFour">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		          <%= t('.freelance-question4') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      <div class="panel-body">
		          <%= t('.freelance-answer4_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingFive">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		          <%= t('.freelance-question5') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      <div class="panel-body">
		          <%= t('.freelance-answer5_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headingSix">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		          <%= t('.freelance-question6') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		      <div class="panel-body">
		          <%= t('.freelance-answer6_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading7">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
		          <%= t('.freelance-question7') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
		      <div class="panel-body">
		          <%= t('.freelance-answer7_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading8">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
		          <%= t('.freelance-question8') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
		      <div class="panel-body">
		          <%= t('.freelance-answer8_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading9">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
		          <%= t('.freelance-question9') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
		      <div class="panel-body">
		          <%= t('.freelance-answer9_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading10">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
		          <%= t('.freelance-question10') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
		      <div class="panel-body">
		          <%= t('.freelance-answer10_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading11">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
		          <%= t('.freelance-question11') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
		      <div class="panel-body">
		          <%= t('.freelance-answer11_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading12">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
		          <%= t('.freelance-question12') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
		      <div class="panel-body">
		          <%= t('.freelance-answer12_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading13">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
		          <%= t('.freelance-question13') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
		      <div class="panel-body">
		          <%= t('.freelance-answer13_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading14">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
		          <%= t('.freelance-question14') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
		      <div class="panel-body">
		          <%= t('.freelance-answer14_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading15">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
		          <%= t('.freelance-question15') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
		      <div class="panel-body">
		          <%= t('.freelance-answer15_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading16">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapse17">
		          <%= t('.freelance-question16') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
		      <div class="panel-body">
		          <%= t('.freelance-answer16_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="headin17e">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapse17">
		          <%= t('.freelance-question17') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
		      <div class="panel-body">
		          <%= t('.freelance-answer17_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading18">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapse18">
		          <%= t('.freelance-question18') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
		      <div class="panel-body">
		          <%= t('.freelance-answer18_html') %>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading faq-heading" role="tab" id="heading19">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapse19">
		          <%= t('.freelance-question19') %>
		        </a>
		      </h4>
		    </div>
		    <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
		      <div class="panel-body">
		          <%= t('.freelance-answer19_html') %>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
