.container

  .row
    .main-section.center-block
      = render 'layouts/landing_nav'
      .overlay_header_background.hidden-xs.hidden-sm
      .landing-header.hidden-xs.hidden-sm
        .row
          .col-lg-12.col-sm-12.col-md-12.col-xs-12
            = link_to image_tag("logo.png", class: "logo"), root_path
        .row
          .col-sm-5.col-md-5.col-lg-5.col-xs-12
            .header_text
              p[style="color: black"]
                = t('first_text_html')

          .col-sm-7.col-md-7.col-lg-7.col-xs-12
            = image_tag("tablet.png", class: "tablet-image")
        .row
          .col-md-12
            .header_button data-toggle="modal"
              - unless I18n.locale == :en
                = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn register-button-de"
              - else
                = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn register-button"

        /= image_tag("header-background.png", class: "header-background")
        /= link_to (image_tag("header-item.png", class: "header-item")), "#user_sign_up", "data-toggle" => "modal"


      .hidden-md.hidden-lg

        .mobile_header_content
          .col-md-12
            = link_to image_tag("logo.png", class: "logo_mobile"), root_path
          .header_text_mobile
            p
              = t('first_text_mobile_html')
          .col-md-12
            .tablet_image_mobile
              = image_tag("tablet.png", class: "")
          .col-md-12.center
            - unless I18n.locale == :en
              = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn"
            - else
              = link_to t("register_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn"

  .row.header-container
    p.about-us-text.text-center
      = t('.about_us_title')

  .row.freelancer-container.about-container.center-block
    .about-us-text
      = t('.about_us_html')

  .row
    .benefits-section.freelancer-benefits.center-block[style="background: none; padding: 0px;"]
      .col-sm-12.col-lg-6.col-xs-12.col-md-12.no-padding.no_padding_right
        .freelance-card
          = image_tag("freelancers/skills-notes.png", class: "freelance-card-img-top")
          .freelancer-card-title
            h4
              = t('.your_skills_title')
          .card-block.freelance-card-block
            = t('.your_skills_html')

      .col-sm-12.col-lg-6.col-xs-12.col-md-12.no-padding.no_padding_left
        .freelance-card.long-card
          = image_tag("freelancers/benefits-piano.png", class: "freelance-card-img-top")
          .freelancer-card-title
            h4
              = t('.your_benefits_title')
          .card-block.freelance-card-block
            = t('.your_benefits_html')
            = t('.your_benefits_2_html')

  .row
    .col-md-12
      .freelancer-cta-container
        .col-lg-12.col-md-12.center
          = t('.register_text_html')
        .col-sm-12.col-md-12.col-lg-12.col-xs-12.center
          = link_to t("register_freelancer_button_html"), "#user_sign_up", "data-toggle" => "modal", class: "btn bottom-button"

  .row.footer-container.freelancer-footer.center-block
    .footer-logo-section
      .freelancer-logo-container
        = image_tag("footer-logo.png", class: "footer-logo freelancer-footer-logo")

    .lines-section
      .footer-logo-line-left
      .footer-logo-line-right
    .footer-links-section
      .row
        = link_to t('layouts.footer.blog'), blog_index_path
      .row
        = link_to t('layouts.footer.contact_us'), contacts_path
      .row
        = link_to t('layouts.footer.impressum'), impressum_path
      .row
        = link_to t('layouts.footer.faq'), faq_path
      .row
        = link_to 'About us', about_us_path
      .row
        = link_to t('layouts.footer.privacy'), privacy_path, 'data-turbolinks' => false
      .row
        = link_to t('layouts.footer.cookies'), cookies_path
      .row
        = link_to t('layouts.footer.legal'), legal_path
      .row
        p.footer-copyright
          | © #{Time.current.year} Soundnotation
  .row.icons-footer.center-block
    .text-center
      .public_social_icons
        = link_to image_tag("fb-white.png", :class => "public_fb_img"), "https://www.facebook.com/soundnotation"
        = link_to image_tag("youtube-white.png", :class => "public_youtube_img"), "https://www.youtube.com/channel/UCg71zWrPuETSJAY1FS0AQ6w"
        = link_to image_tag("twitter-white.png", :class => "public_twitter_img"), "https://www.twitter.com/soundnotation"
