class window.CreatorForm
  constructor: (composer = {})->
    window.authorInputCount = 0
    window.copyrightInputCount = 1
    window.lyricsInputCount = 1
    window.selectedScores = []
    @loadFirstAuthor(composer)
    @loadNewAuthorForm()
    @loadNewCopyrightForm()
    @formNavigation()
    @scoreStepNavigation()
    @scoreNavigation()

  calculateSummary: ->
    window.selectedScores = [] # reset

    _.each($(".difficulty-select").find(':selected'), (option)->
      o = $(option).data()
      scorePrice = o.scorePrice
      parentBlock = $(option).closest('.price-card');
      priceTag = parentBlock.find(".score-price");
      withLyrics = parentBlock.find(".with-lyrics:checkbox").prop('checked');
      withChords = parentBlock.find(".with-chords:checkbox").prop('checked');

      if withLyrics
        scorePrice += 10;
      if withChords
        scorePrice += 10;

      priceTag.text(price_with_unit(scorePrice))
      window.selectedScores.push({title: o.scoreTitle, price: scorePrice, difficulty: o.scoreDifficulty})
    )

    _.each($(".selected-card-normal"), (option)->
      o = $(option).data()
      scorePrice = o.scorePrice
      pageCount = window.composition.pdf_page_count
      priceTag = $(option).find(".score-price");
      withLyrics = $(option).find(".with-lyrics:checkbox").prop('checked');
      withChords = $(option).find(".with-chords:checkbox").prop('checked');

      if withLyrics
        scorePrice += 10;
      if withChords
        scorePrice += 10;
      if o.scorePdf
        scorePrice = scorePrice * pageCount
        priceTagText = "#{pageCount} pages  = #{price_with_unit(scorePrice)}"
      else
        priceTagText = price_with_unit(scorePrice)

      priceTag.text(priceTagText)
      window.selectedScores.push({title: o.scoreTitle, price: scorePrice, difficulty: o.scoreDifficulty})
    )

    window.totalPrice = 0
    _.map(window.selectedScores, (score)->
      window.totalPrice += score.price
    )

  scoreNavigation: ->
    self = @

    _.map(window.products, (product, index) ->
      $(".#{product.code} div").on 'click', ->
        $('.with-lyrics').on 'change', ->
          $('.summary').html self.updateSummary()
          if @checked && !window.composition.lyrics
            $('#myModal2').modal('show');
        $('.difficulty-select, .with-chords').on 'change', ->
          $('.summary').html self.updateSummary()

        scorePrices = window.ServiceManager.init().scorePrices(product, prices)
        $(".section-#{product.code}").removeClass("price-#{product.code}-section").addClass('selected-card')
        $('.score-title').addClass('score-title-active')
        if product.code in self.pianoProductList()
          $(".#{product.code}-wrapper").replaceWith '' +
              "<div class=\"new-#{product.code}-wrapper\">" +
              " #{self.addonLyricsChords(product, index)}" +
              ' <div class="form-group">' +
              '   <div class="col-sm-6">' +
              '     <label for="difficulty" class="control-label difficulty-label">' + I18n.t('my_soundnotation.options.creator.add_version.difficulty') + '*</label>' +
              '   </div>' +
              "  <div class='col-sm-6'><input type='hidden' name='composition[scores_attributes][#{index}][scoring]' value='#{product.code}'>" +
              "  <input type='hidden' name='composition[scores_attributes][#{index}][product_id]' value='#{product.id}'>" +
              "   <select name=\"composition[scores_attributes][#{index}][difficulty]\" class=\"form-control creator-form-input select-background difficulty-select\" >" +
              "     <option data-score-title='#{product.title}' data-score-price='#{scorePrices['beginner']}' data-score-difficulty=\"Beginner\" value=\"beginner\">" + I18n.t('activerecord.attributes.user.beginner') + "     </option>" +
              "     <option data-score-title='#{product.title}' data-score-price='#{scorePrices['easy']}' data-score-difficulty=\"Easy\" value=\"easy\">" + I18n.t('activerecord.attributes.user.easy') + "     </option>" +
              "     <option data-score-title='#{product.title}' data-score-price='#{scorePrices['intermediate']}' data-score-difficulty=\"Intermediate\" value=\"intermediate\">" + I18n.t('activerecord.attributes.user.intermediate') + "     </option>" +
              "     <option data-score-title='#{product.title}' data-score-difficulty=\"Early Advanced\" value=\"early_advanced\" disabled>" + I18n.t('activerecord.attributes.user.early_advanced') + " (coming soon)</option>" +
              "     <option data-score-title='#{product.title}' data-score-difficulty=\"Advanced\" value=\"advanced\" disabled>" + I18n.t('activerecord.attributes.user.advanced') + " (coming soon)</option>" +
              '   </select>' +
              ' </div>' +
              '</div>'
        else
          $(".section-#{product.code}").addClass('selected-card-normal')
          $(".section-#{product.code}").data('score-title', product.code)
          $(".section-#{product.code}").data('score-price', scorePrices['beginner'])
          $(".section-#{product.code}").data('score-difficulty', 'Beginner')
          $(".section-#{product.code}").data('score-pdf', product.pdf)
          $('.score-title').addClass('score-title-active')
          $(".#{product.code}-wrapper").replaceWith '' +
              "<div class=\"new-#{product.code}-wrapper\">" +
              "  #{self.addonLyricsChords(product, index)}" +
              "  <input type='hidden' name='composition[scores_attributes][#{index}][scoring]' value='#{product.code}'>" +
              "  <input type='hidden' name='composition[scores_attributes][#{index}][product_id]' value='#{product.id}'>" +
              "  <input type='hidden' name='composition[scores_attributes][#{index}][difficulty]' value='beginner'>" +
              '</div>'

        $('.summary').html self.updateSummary()
        $(".#{product.code} img").after "<span class=\'cancel-option cancel-#{product.code}\'>X</span>"
        $(".score-details-#{product.id}").hide()
        $('.price-line').css("border-bottom", "2px solid white")
        $(".#{product.code}-image").attr 'src', product.highlighted_icon.url
        if product.code == 'uberchord' && !window.composition.lyrics
          $(".btn-uberchord-lyrics").show()
        $(".cancel-#{product.code}").on 'click', (e)->
          $('.score-title').removeClass('score-title-active')
          $(".score-price-#{product.id}").text(self.priceWithDescription(product))
          $(".section-#{product.code}").removeClass('selected-card').addClass("price-#{product.code}-section")
          $(".section-#{product.code}").removeClass('selected-card-normal')
          $(".new-#{product.code}-wrapper").replaceWith "<div class=\"price-wrapper #{product.code}-wrapper\"></div>"
          $(".cancel-#{product.code}").remove()
          $(".score-details-#{product.id}").show()
          $('.price-line').css("border-bottom", "2px solid lightgrey")
          $(".#{product.code}-image").attr 'src', product.icon.url
          $('.summary').html self.updateSummary()
          if product.code == 'uberchord'
            $(".btn-uberchord-lyrics").hide()
          return false
        return
    )

  loadFirstAuthor: (composer)->
    self = @

    $("#default-composer-name").html(
        _.template($('#first-composer').html())(
            {
              composer: composer,
              composition_form_number: window.authorInputCount
            }
        )
    )
    window.authorInputCount += 1

  updateSummary: ->
    @calculateSummary()
    _.template($("#score-summary").html())({selected_scores: window.selectedScores})

  scoreStepNavigation: ->
    window.ServiceManager.init().updateCompositionInfo()

    $('#to_chordsheet, #wrapper-nav-chordsheet').click (e)->
      e.stopImmediatePropagation()
      if validateProductSelection() && validateLyricsInput()
        $('#score-details-form').submit()

  formNavigation: ->
    window.ServiceManager.init().updateScoring()

    $('#to_options, #wrapper-nav-options').click (e)->
      e.stopImmediatePropagation()
      if validateRequiredInput()
        $('#composition-info-form').submit()

  loadNewAuthorForm: ->
    self = @
    composer_wrapper = $(".composer-container");
    add_option_button = $(".add-author-button");


    $(add_option_button).click (e)->
      e.preventDefault()

      $(composer_wrapper).append(
          _.template($('#composer-form').html())({
            author_types: self.authorTypeList(),
            author: {},
            composition_form_number: window.authorInputCount
          })
      )

      inputId =  $("[name='composition[authors_attributes]["+window.authorInputCount+"][id]']")
      inputName =  $("[name='composition[authors_attributes]["+window.authorInputCount+"][full_name_str]']")
      createTypeahead(inputName, inputId, window.authorInputCount, 'composition')

      window.authorInputCount += 1

    $(composer_wrapper).on "click", ".delete-composer-field", (e)->
      e.preventDefault();
      $(this).parent('div').remove();
      window.authorInputCount -= 1

  loadNewCopyrightForm: ->
    self = @
    copyright_wrapper = $(".copyright-container");
    add_option_button = $(".add-copyright-button");

    $(add_option_button).click (e) ->
      e.preventDefault()
      $(copyright_wrapper).append(
        _.template($('#copyright-form').html())({
            copyright: {},
            copyright_form_number: window.copyrightInputCount
          })
      )
      window.copyrightInputCount += 1

    $(copyright_wrapper).on "click", ".delete-copyright-field", (e)->
      e.preventDefault();
      $(this).parent('div').remove();
      window.copyrightrInputCount -= 1

  addonLyricsChords: (product, index) ->
    '<div class="col-sm-12">' +
        "  <div> #{if product.pdf then product.description else ""} </div>" +
        '  <div class="checkbox score-checkbox pull-left">' +
        "     <label class='#{unless product.can_have_lyrics then "hidden"}'>"+
        "       <input type='checkbox' class='with-lyrics' name='composition[scores_attributes][#{index}][has_lyrics]' value='1' #{if window.composition.lyrics then 'checked'}>" +
        "           #{I18n.t('my_soundnotation.options.creator.add_version.with_lyrics')} "+
        "     </label>" +
        '  </div>' +
        '  <div class="checkbox chords-checkbox pull-right">' +
        "    <label class='#{unless product.can_have_chords then "hidden"}'>"+
        "      <input type='checkbox' class='with-chords' name='composition[scores_attributes][#{index}][has_chords]' value='1'>" +
        "          #{I18n.t('my_soundnotation.options.creator.add_version.with_chords')} "+
        "    </label>" +
        '  </div>' +
        '</div>';

  priceWithDescription: (product) ->
    if product.pdf
      "per page = #{price_with_unit(product.default_user_price)}"
    else
      price_with_unit(product.default_user_price)

  authorTypeList: ->
    {
      composer: I18n.t('meta_data.editor_modal.composer'),
      lyricist: I18n.t('meta_data.editor_modal.lyricist'),
      artist: I18n.t('meta_data.editor_modal.artist'),
      arranger: I18n.t('meta_data.editor_modal.arranger')
    }

  pianoProductList: ->
    ['piano_solo', 'piano_lyrics', 'piano_accompaniment']

window.CreatorForm.init = (e)=> new window.CreatorForm(e)
