$(document).ready(function () {
  var tabParams = new URLSearchParams(window.location.search);

  if (tabParams.get('tab') == 'creator') {
    $('li.active').removeClass('active');
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');

    $('#mytabs a[href="#creator"]').tab('show');
    $('#mytabs li').css("border-top", "3px #e94f3b solid");
    $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    $('#mytabs a[href="#creator"]').addClass('creator-color').removeClass('unactive');
    $('#mytabs a[href="#catalogue"]').addClass('unactive').removeClass('catalogue-color');
  }
});

$(document).ready(function () {
  /*
   Code to navigate through main navigation
   */
  $('#to_catalogue').click(function (e) {
    e.preventDefault();
    $('#mytabs a[href="#catalogue"]').tab('show');
  });
  $('#to_promoter').click(function (e) {
    e.preventDefault();
    $('#mytabs a[href="#promoter"]').tab('show');
  });
  $('#to_distributor').click(function (e) {
    e.preventDefault();
    $('#mytabs a[href="#distributor"]').tab('show');
  });
  $('#to_creator').click(function (e) {
    e.preventDefault();
    $('#mytabs a[href="#creator"]').tab('show');
    $('#mytabs > li.creator > a').removeClass('unactive');
    $('#mytabs > li.creator > a').addClass('creator-color');
    $('#mytabs > li.catalogue > a').addClass('unactive');
    $('#mytabs > li.promoter > a').addClass('unactive');
    $('#mytabs > li.distributor > a').addClass('unactive');
    $('#mytabs > li').addClass('creator-border-top');
    $('#mytabs > li.promoter > a').removeClass('promoter-color');
    $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
    $('#mytabs > li.distributor > a').removeClass('distributor-color');
    $('#mytabs > li').removeClass('catalogue-border-top');
    $('#mytabs > li').removeClass('promoter-border-top');
    $('#mytabs > li').removeClass('distributor-border-top');
    $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
    $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
    $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");
  });
  /*
   Function to keep first step of creators form always open
   */
  $('#mytabs a[href="#creator"]').on('shown.bs.tab', function (e) {
    $('#steps a[href="#upload-file"]').tab('show');
    $('.upload-text').show();
    $('.form-steps').show();
    $('.add-version').hide();
    $('.add-details').hide();
    $('.checkout-section').hide();
    $('.order-confirmation').hide();
  });

  /*
   Code to manipulate third screen in creator form (add options for the song)
   */

  $('#back_to_song_info').click(function (e) {
    e.preventDefault();
    $('#steps a[href="#song-info"]').tab('show');
    $('.add-details').show();
    $('.add-version').hide();
    $('.checkout-section').hide();
    $('.upload-text').hide();
  });

  /*
   Code to jump on tabs content on mobile devices in soundnotation dashboard
   */
  $(".creator").click(function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $("#creator").offset().top
    }, 500);
  });

  $(".catalogue").click(function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $("#catalogue").offset().top
    }, 500);
  });

  $(".promoter").click(function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $("#promoter").offset().top
    }, 500);
  });

  $(".distributor").click(function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $("#distributor").offset().top
    }, 500);
  });
});

function validateRequiredInput() {
  var input = $('.cf-required');
  var composerName = $('.first-composer').typeahead('val');
  var selectBox = $('.select-composition-genre').val();
  var value = input.filter(function () {
    return this.value != '';
  });
  var specialChars = ['&', ',', '/', '\\', '+'], specialCharsInComposer = []
  for (var i = 0; i < specialChars.length; i++) {
      if (composerName.includes(specialChars[i])) {
          specialCharsInComposer.push(specialChars[i]);
      }
  }

  if (composerName == I18n.t('my_soundnotation.options.creator.metadata.please_insert_composer') || composerName == "") {
    toastr.warning(I18n.t('my_soundnotation.options.creator.metadata.please_fill_composer'));
    return false;
  } else if (specialCharsInComposer.length > 0) {
    toastr.warning(I18n.t('my_soundnotation.options.creator.metadata.incorrect_composer', {incorrect_chars: specialCharsInComposer.join(' ')}));
    return false;
  } else if ((value.length >= 0 && (value.length !== input.length)) || !selectBox) {
    toastr.warning(I18n.t('my_soundnotation.options.creator.metadata.please_fill_in'));
    return false;
  } else {
    return true;
  }
}

function validateProductSelection() {
  if ($('.score.version-option').length > 0) {
    return true;
  } else {
    toastr.warning(I18n.t('my_soundnotation.options.creator.add_version.select_at_least_one_product'));
    return false;
  }
}

function validateLyricsInput() {
  if ($('.uberchord').parent('.selected-card').length > 0) {
    if (window.composition.lyrics || $('.input-composition-lyrics').val()) {
      return true;
    } else {
      toastr.warning(I18n.t('my_soundnotation.options.creator.add_version.uberchord_lyrics'));
      return false;
    }
  } else {
    return true;
  }
}

function creatorTabActive() {
  activeTab = $('ul#mytabs li.active').find('a').attr('href');
  return activeTab === "#creator";
}

function creatorUploadInProgress() {
  fileUploading = $('#composition_audio_file').val()
  return fileUploading.length > 0;
}

function creatorPaymentSuccessful() {
  return $('#paid').length > 0;
}
