$(document).ready(function() {
  var makeMySoundnotationTabClickMaker = function (name) {
    return function(e) {
      if(name != 'creator') {
        e.preventDefault();
      }

      $('#mytabs > li.creator > a').addClass('unactive');
      $('#mytabs > li.catalogue > a').addClass('unactive');
      $('#mytabs > li.promoter > a').addClass('unactive');
      $('#mytabs > li.distributor > a').addClass('unactive');
      $('#mytabs > li.'+ name +' > a').removeClass('unactive');

      $('#mytabs > li.creator > a').removeClass('creator-color');
      $('#mytabs > li.promoter > a').removeClass('promoter-color');
      $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
      $('#mytabs > li.distributor > a').removeClass('distributor-color');
      $('#mytabs > li.'+ name +' > a').addClass(name + '-color');

      $('#mytabs > li').removeClass('catalogue-border-top');
      $('#mytabs > li').removeClass('promoter-border-top');
      $('#mytabs > li').removeClass('distributor-border-top');
      $('#mytabs > li').removeClass('creator-border-top');
      $('#mytabs > li').addClass(name + '-border-top');

      $('#creator-bg').attr('src', "<%= image_path('creator-normal.png') %>");
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
      $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
      $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");

      var currentBg = $('#'+ name +'-bg');
      currentBg.attr('src', currentBg.data('white'));
    };
  };

  $('.creator').click(makeMySoundnotationTabClickMaker('creator'));
  $('.creator, #creator-bg').mouseenter(function() {
    $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
  });
  $('#mytabs a[href="#creator"]').on('show.bs.tab', function(e) {
    $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
    $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
    $('.creator, #creator-bg').mouseenter(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    });
    $('.creator').mouseleave(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    });
    $('.catalogue, #catalogue-bg').mouseenter(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
      $('#mytabs > li.catalogue > a').addClass('catalogue-color');
    });
    $('.catalogue, #catalogue-bg').mouseleave(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
      $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
    });
    $('.promoter, #promoter-bg').mouseenter(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-white.png') %>");
    });
    $('.promoter').mouseleave(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
    });
    $('.distributor, #distributor-bg').mouseenter(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
    $('.distributor').mouseleave(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");
    });
  });
  $('.catalogue').click(makeMySoundnotationTabClickMaker('catalogue'));
  $('.catalogue, #catalogue-bg').mouseenter(function() {
    $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
  });
  $('.catalogue').not('.active').mouseleave(function() {
    $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
  });
  $('#mytabs a[href="#catalogue"]').on('show.bs.tab', function(e) {
    $('.catalogue, #catalogue-bg').mouseenter(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
      $('#mytabs > li.catalogue > a').addClass('catalogue-color');
    });
    $('.catalogue').mouseleave(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
      $('#mytabs > li.catalogue > a').addClass('catalogue-color');
    });
    $('.creator, #creator-bg').mouseenter(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    });
    $('.creator').mouseleave(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-normal.png') %>");
    });
    $('.promoter, #promoter-bg').mouseenter(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-white.png') %>");
    });
    $('.promoter').mouseleave(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
    });
    $('.distributor, #distributor-bg').mouseenter(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
    $('.distributor').mouseleave(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");
    });
  });
  $('.promoter').click(makeMySoundnotationTabClickMaker('promoter'));
  $('.promoter, #promoter-bg').mouseenter(function() {
    $('#promoter-bg').attr('src', "<%= image_path('promoter-white.png') %>");
  });
  $('.promoter').mouseleave(function() {
    $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
  });
  $('#mytabs a[href="#promoter"]').on('show.bs.tab', function(e) {
    $('.promoter, #promoter-bg').mouseenter(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-white.png') %>");
    });
    $('.promoter').mouseleave(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-white.png') %>");
    });
    $('.creator, #creator-bg').mouseenter(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    });
    $('.creator').mouseleave(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-normal.png') %>");
    });
    $('.catalogue, #catalogue-bg').mouseenter(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
    });
    $('.catalogue').mouseleave(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
      $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
    });
    $('.distributor, #distributor-bg').mouseenter(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
    $('.distributor').mouseleave(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");
    });
  });
  $('.distributor').click(makeMySoundnotationTabClickMaker('distributor'));
  $('.distributor, #distributor-bg').mouseenter(function() {
    $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
  });
  $('.distributor').mouseleave(function() {
    $('#distributor-bg').attr('src', "<%= image_path('distributor-normal.png') %>");
  });
  $('#mytabs a[href="#distributor"]').on('show.bs.tab', function(e) {
    $('.distributor, #distributor-bg').mouseenter(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
    $('.distributor').mouseleave(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
    $('.creator, #creator-bg').mouseenter(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-white.png') %>");
    });
    $('.creator').mouseleave(function() {
      $('#creator-bg').attr('src', "<%= image_path('creator-normal.png') %>");
    });
    $('.catalogue, #catalogue-bg').mouseenter(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-white.png') %>");
    });
    $('.catalogue').mouseleave(function() {
      $('#catalogue-bg').attr('src', "<%= image_path('catalogue-normal.png') %>");
      $('#mytabs > li.catalogue > a').removeClass('catalogue-color');
    });
    $('.promoter').mouseleave(function() {
      $('#promoter-bg').attr('src', "<%= image_path('promoter-normal.png') %>");
    });
    $('.distributor, #distributor-bg').mouseenter(function() {
      $('#distributor-bg').attr('src', "<%= image_path('distributor-white.png') %>");
    });
  });
});
