<% meta_tag :description, t('.meta_desc') %>
<div class="container center-block blog-nav col-lg-12 col-md-12">
    <%= render 'layouts/landing_nav' %>
    <%= render 'pricing_logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>

<div class="container soundnotation-container">
  <div class="soundnotation-content">
    <div class="pricing-content">
      <p class="pricing-title"><%= t('.music_transcription_at_your_fingertips') %></p>
      <p class="pricing-subtitle"><%= t('.transparent_and_fair_prices') %></p>
      <% @products.in_groups_of(3).each do |products| %>
        <div class="row">
          <% products.each do |product| %>
            <% next if product.nil? %>
            <div class="main-card-block col-md-5 col-lg-5 col-sm-5 section-<%= product.code %> price-cards-section price-<%= product.code %>-section">
              <div class="price-cards <%= product.code %>">
                <div class="price-card <%= product.code %>-notes">
                  <%= image_tag(product.icon.url, class: "card-price-image #{product.code}-image") %>
                  <div class="price-card-title row">
                    <p>
                      <span class="text-center score-title"><%= product.title %></span><br/>
                      <span class="score-price score-price-<%= product.id %>"><%= price_with_unit(product.default_user_price) %></span>
                      <span class="score-details-<%= product.id %>"></span>
                    </p>
                  </div>
                  <div class="price-line"></div>
                  <div class="price-card-block">
                    <div class="product-card-description">
                      <span class="score-details-<%= product.id %>"><%= product.description %></span>
                    </div>
                    <div class="price-wrapper <%= product.code %>-wrapper">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script type="text/javascript">
  window.products = <%= raw @products.to_json %>;
  window.prices = <%= raw @prices.to_json %>;
  window.current_user = <%= raw @current_user.to_json %>;
</script>
