<% _lang = @resource.try(:language).try(:code) %>

<% if _lang.nil? || _lang == 'ENG' %>

<p>Hello <%= @resource.full_name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<% else %>

<p>Hallo <%= @resource.full_name %>!</p>

<p>Wir haben eine Anfrage zur Zurücksetzung deines Passworts bekommen. Bitte klicke unterhalb auf den Link, um dies durchzuführen.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du die Änderung nicht angefordert hast, ignoriere bitte diese E-Mail.</p>
<p>Dein Passwort wird sich nicht ändern, solange du den obigen Link nicht geklickt hast und ein neues Passwort erstellt hast.</p>

<% end %>