<% composition = ComposerDecorator.new(score.composition) %>
<td class="cover_field visible-md visible-lg"><%= image_tag score.cover_thumb.present? ? score.cover_thumb : score.cover.distributor_download.url , width: 100, height: 142 rescue nil %></td>
<td class="visible-md visible-lg"><%= score.publishing_date %></td>
<td class="composition-title">
  <span <%= "title=#{score.id}" if current_user.admin? %>><%= composition.title %></span>
  <% if score.demo_product? %>
    <br>
    <span class="demo-word">DEMO</span>
  <% end %>
</td>
<td class="visible-md visible-lg composition-author"><%= composition.author_name %></td>
<td class="visible-md visible-lg"><%= score.product.try(:title).try(:humanize) %></td>
<td>
  <% if score.promoted? %>
    <button class="btn btn-sm promoter-button" disabled><%= t('.promoted') %></button>
  <% else %>
    <%= link_to t('.promote'), promoters_settings_path(score_id: score.id), class: "btn btn-sm promoter-button", :data => {remote: true} %>
  <% end %>
</td>
