<div class="modal-body promoter-modal-body">
  <div class="row">
    <div class="col-sm-12 order-confirmation-notes">

    </div>
  </div>

  <div class="row payment-tab">
    <div class="col-md-4">
      <p class="promoter-checkout-header"><%= t('.checkout') %></p>

      <p class="address-line"><%= t('.review_html') %></p>

      <div class="checkout-line"></div>
      <p style="font-size: 15px !important;"><b><%= t('.Billing address') %></b></p>

      <p><%= current_user.company %></p>

      <p class="address-line"><%= current_user.street_house_number %></p>

      <p class="address-line"><%= current_user.zip_code_city %></p>

      <p class="country-line"><%= current_user.country.name %></p>

      <div class="edit-line"></div>
      <div class="form-group checkout-form">
        <div class="col-sm-12">
          <label for="payment_method" class="payment-label control-label"><b><%= t('.Payment method') %></label>
        </div>
        <div class="col-sm-12 payment-info">
          <select class="form-control payment-select promoter-payment-select">
            <option value="other" name="other" selected="selected"><%= t('.Please choose') %></option>
            <option value="credit-card" name="credit-card"><%= t('.Credit Card') %></option>
            <option value="invoice" name="invoice_only"><%= t('.Invoice Only') %></option>
          </select>
        </div>
      </div>
      <div class="payment-line"></div>
    </div>
    <div class="col-md-8">
      <div class="promoter-checkout-information">

        <div class="col-md-12 invoice-information">
          <div class="invoice-sentence">
            <div class="text-center" id="invoice-sentence"><%= t('my_soundnotation.creator_form.shop_checkout.invoice_sentence') %></div>
          </div>

          <div class="invoice-total-price">
            <div class="text-right total-price-invoice"><p>Total: $0.0 </p></div>
          </div>
        </div>

        <%= form_for(:promoters, url: promoters_checkout_path, method: :post, html: {class: 'form-horizontal promoter-payment-form col-md-12', id: 'promoter-payment-form'}) do |f| %>
            <%= hidden_field_tag :score_id, @score.id %>
            <div class="checkout-credit-card">
              <div class="row credit-card-block">
                <%= image_tag("soundnotation_dashboard/visa-icon.png", class: "credit-card-image") %>
                <%= image_tag("soundnotation_dashboard/master-card-icon.png", class: "credit-card-image") %>
                <%= image_tag("soundnotation_dashboard/amex-icon.png", class: "credit-card-image") %>
                <%= image_tag("soundnotation_dashboard/discover-card-icon.png", class: "credit-card-image") %>
              </div>
              <div class="form-group" id="number">
                <label for="card_number" class="control-label"><%= t('.Card Number') %></label>
                <input type="text" class="form-control" data-stripe="number">
              </div>
              <div class="form-group">
                <label class="control-label expiration_cc">
                  <span><%= t('.Expiration (MM/YYYY)') %></span>
                  <input type="text" size="2" data-stripe="exp-month"/>
                </label>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/>
              </div>
              <div class="form-group">
                <label for="card_holder" class="control-label"><%= t('.Card Holder') %></label>
                <input type="text" class="form-control" data-stripe="data-name" value="<%= current_user.try(:full_name) %>">
              </div>
              <div class="form-group" id="cvc">
                <label for="security_code" class="control-label"><%= t('.Security Code') %></label>
                <input type="text" class="form-control" data-stripe="cvc" style="-webkit-text-security: disc;">
              </div>
              <div class="promoter-credit-card-line"></div>
              <div class="total-credit-card-sum total-price">
              </div>
            </div>
        <% end %>

        <div class="row checkout-options order-details"></div>

      </div>
    </div>
  </div>
</div>

<script type="text/template" id="order-confirmation-notes">
  <div class="well">
    <p><%= t('.confirmation_html') %></p>
    <!--<p><%#= t('.Title') %>: {{= composition.title }}</p>

    <p>
      <%#= t('.Composer') %>:
      {{ _.each(composition.authors, function(author){ }}
      {{= author.full_name }}
    </p>
    {{ }); }}

    {{ _.each(promotions, function(item){ }}
       <p>{{= I18n.t('promoters.promoter_payments.notes', {product: humanize(item.promoter_product.title), date: formatDate(item.date)}) }}</p>
    {{ }); }}-->
  </div>
</script>

<script type="text/template" id="product-cart-details">
  <div class="row checkout-options">
    {{ _.each(cart_items, function(item){ }}
    <p style="margin-left: 10px; font-weight: bold; margin-bottom: 10px; margin-top: -10px;">
      {{= humanize(item.promoter_product.title) }}
    </p>

    <div class="well creator-well" style="margin-left: 10px;">
      <p><%= t('.Title') %>:
        {{= composition.title }}</p>

      <p><%= t('.Composer') %>:
        {{ _.each(composition.authors, function(author){ }}
        {{= author.full_name }}</p>
        {{ }); }}

      <p><%= t('.promotion_start') %>:
        {{= formatDate(item.promotion.date) }}</p>
    </div>
    <div class="row checkout-result">
      <p class="pull-left" style="margin-left: 26px;"><b>{{= humanize(item.promoter_product.title) }}</b></p>

      <p class="pull-right" style="margin-right: 50px;">{{= price_with_unit(item.price) }}</p>
    </div>
    <div class="chordsheet-line"></div>
    {{ }); }}
    {{ if(gift_code) { }}
    <div class="row gift-code-section">
      <p class="pull-left" style="margin-top: 15px; margin-left: 26px;"><b>{{= gift_code.code }}</b></p>

      <p class="pull-right" style="margin-top: 15px; margin-right: 50px;">
        {{ if (gift_code.discount_type == "percentage") { }}
        - {{= gift_code.discount_amount }} {{='%'}}
        {{ } else { }}
        - {{= price_with_unit(gift_code.discount_amount) }}
        {{ } }}
      </p>
    </div>
    {{ } }}
    <div class="gift-code-line"></div>
    <div class="checkout-price-calculation-text">
      <div>
        <p class="row" style="margin-bottom: 5px; margin-right: 33px;">
          <%= t('my_soundnotation.creator_form.shop_checkout.net_amount') %>: {{= price_with_unit(cart.total_price) }}</p>

        <p class="row" style="margin-right: 33px;">
          <%= t('my_soundnotation.creator_form.shop_checkout.vat') %> (19%) {{= price_with_unit(cart.tax) }}</p>
      </div>
      <div class="price-calculation-line"></div>
      <p style="margin-right: 33px;" class="row">
        <%= t('my_soundnotation.creator_form.shop_checkout.total') %> {{= price_with_unit(cart.grand_total)}} </p>
    </div>
  </div>
</script>
