<div class="modal-body promoter-modal-body">
  <div class="row">
    <div class="col-lg-4">
      <div>
        <div class="row">
          <p style="color: #931f2a; font-weight: bold; margin-left: 20px;"><%= t('.add_promotion') %></p>
        </div>
        <div class="row">
          <p style="margin-left: 20px;">
            <%= t('.decide_version') %>
          </p>
        </div>
        <div class="row">
          <div class="cart">
            <%= image_tag('cart-icon.png', class: "promoter-card-img") %>
          </div>
        </div>
        <div class="promoter-cart-line"></div>
        <div class="promoter-summary-wrapper col-xs-12 col-sm-12">
          <div class="promoter-summary">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 promoter-purchase-options-container">
      <%= form_for(:promoters, url: promoters_add_cart_items_path(score_id: @score), method: :post, html: {class: 'form-horizontal info-form', id: 'promoter-details-form'}) do |f| %>
        <% @promoter_products.in_groups_of(2, false).each do |promoter_products| %>
          <% promoter_products.each do |promoter_product| %>
            <% next if promoter_product.nil? || promoter_product.price.nil? %>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="promoter-purchase-card <%= promoter_product.code %>-card <%= promoter_product.code %>-purchase-card" data-product-date="<%= promoter_product.has_promotion_date %>"
                   data-product-title="<%= promoter_product.title %>" data-product-id="<%= promoter_product.id %>" data-product-price="<%= promoter_product.price.value %>">
                <div class="promoter-option-purchase">
                  <%= image_tag(promoter_product.icon.url, class: "#{promoter_product.code}-img promoter-tab-img") %>
                  <div class="promoter-purchase-info <%= promoter_product.code %>-purchase-info">
                    <p class="promoter-purchase-option-title text-center"><%= promoter_product.title %></p>
                    <p class="promoter-purchase-option-price text-center"><%= number_to_currency(promoter_product.price.value, locale: promoter_product.price.currency.locale) %></p>
                    <p class="<%= promoter_product.code %>-purchase-option-description">
                      <%= promoter_product.description %>
                    </p>
                  </div>
                  <div class="<%= promoter_product.code %>-purchase-option-line"></div>
                  <div class="promotion-start-date-container <%= promoter_product.code %>-promotion-start-date-container text-center">

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<script type="text/template" id="promoter-summary">
  <div class="summary-purchase">
    {{ _.each(selected_scores, function(score){ }}
    <div class="promotion version-option">
      <p style="font-weight: bold">{{= humanize(score.title) }}</p>

      <p>{{= window.composition.title }}</p>
      <p>{{= window.composition.composer_name }}</p>
      <p style="font-weight: bold">
        Original {{= price_with_unit(score.price) }}</p>
    </div>
    {{ }); }}
    <div class="row total-summ"><p><%= t('.total') %>: {{= price_with_unit(window.totalPrice) }}</p></div>
    <div class="add-track-line"></div>
  </div>
</script>
