<div class="modal fade" id="promoter-modal" aria-labelledby="promoterModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="promoterModalLabel">Promoter</h1>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="promoter-options">
          <%= render 'promoter_options' %>
        </div>
        <div class="tab-pane fade" id="promoter-payments">
          <%= render 'promoter_payments' %>
        </div>
      </div>
      <ul id="promoter-steps" class="nav nav-pills promoter-form-steps">
        <li class="active promoter-active-link active-link">
          <a data-toggle="pill" href="#promoter-options" class="to_promoter_options_oval" id="promoter-wrapper-nav-options"></a>
        </li>
        <li>
          <a data-toggle="pill" href="#promoter-payments" class="to_promoter_payments_oval" id="promoter-wrapper-nav-payments"></a>
        </li>
      </ul>
      <div class="modal-footer">
        <a class="pull-left btn btn-nav promoter-back-button" id="to_promoter_options"><%= t('.Back') %></a>
        <a class="pull-right btn btn-nav promoter-next-button" id="to_promoter_payments"><%= t('.Next') %></a>
        <button class="btn promoter-confirm-button"><%= t('.Buy') %></button>
      </div>
    </div>
  </div>
</div>
