$(".open-modal").html('<%= escape_javascript(render "settings") %>');
$('#promoter-modal').modal('show');

$('.promoter-payment-select').change(function () {
  if ($('.promoter-payment-select').val() === 'credit-card') {
    $('.promoter-confirm-button').prop('disabled', false);
    $('.checkout-options').hide();
    $('.checkout-credit-card').show();
    $('.promoter-payment-form').show();
    $('.invoice-total-price').hide();
    $('.invoice-sentence').hide();
    $('.gift-code-label').hide();
    $('.gift-code-input').hide();
    $('.gift-line').hide();
    $('.invoice-information').hide();
    $(".total-credit-card-sum").html($('.sub-total').html());
  } else if ($('.promoter-payment-select').val() === 'invoice') {
    $('.promoter-confirm-button').prop('disabled', false);
    $('.invoice-information').show();
    $('.checkout-options').hide();
    $('.checkout-credit-card').hide();
    $('.invoice-total-price').show();
    $('.invoice-sentence').show();
    $('.gift-code-label').hide();
    $('.gift-code-input').hide();
    $('.gift-line').hide();
  } else {
    $('.promoter-confirm-button').prop('disabled', true);
  }
});

if ($('#promoter-options').hasClass('active')) {
  $('.promoter-confirm-button').hide();
  $("#to_promoter_options").hide();
}

$('#to_promoter_options, .to_promoter_options_oval').click(function (e) {
  e.preventDefault();
  $('#promoter-steps a[href="#promoter-options"]').tab('show');
  $("#to_promoter_options").hide();
  $('.promoter-confirm-button').hide();
  $('#to_promoter_payments').show();
  $('.promoter-active-link').addClass('active-link');
})

$(function () {
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
  window.composition =<%= raw ComposerDecorator.new(@score.composition).to_json %>;
  window.products = <%= raw @promoter_products.to_json %>;
  promoterNavigation();
});

$('#to_promoter_payments, .to_promoter_payments_oval').click(function (e) {
  e.stopImmediatePropagation();
  if (validatePromotionSelection()) {
    $('#promoter-details-form').submit();
  } else {
    toastr.warning(I18n.t('promoters.promoter_options.select_promotion'));
  }
});

$('.promoter-confirm-button').click(function (e) {
  setStripeToken()
});

$('#promoter-details-form').ajaxForm({
  dataType: 'json',
  beforeSubmit: function () {
    toastr.info(I18n.t('promoters.promoter_options.updating_information'));
  },
  complete: function (data, textStatus, jqXHR, $form) {
    var promotion_data = data.responseJSON.promotion_data
    $('#promoter-steps a[href="#promoter-payments"]').tab('show');
    $("#to_promoter_options").show();
    $('#to_promoter_payments').hide();
    $('.promoter-confirm-button').show();
    $('.promoter-active-link').removeClass('active-link');
    showInvoiceDetails(promotion_data)
    manipulatePaymentOptions(promotion_data.cart.grand_total)
  }
});

$('#promoter-payment-form').ajaxForm({
  beforeSubmit: function () {
    toastr.info(I18n.t('promoters.settings.payment_processing'));
    $(".page-loader").show();
  },
  complete: function (data, textStatus, jqXHR, $form) {
    $(".page-loader").hide();
    if (textStatus == 'error') {
      response = JSON.parse(jqXHR.responseText);
      toastr.error(response.error);
    } else {
      showOrderConfirmationNotes();
      toastr.success(I18n.t('distributors.settings.payment_successful'));
    }
  }
});

function promoterNavigation() {
  return _.map(window.products, function (product) {
    var productCode = product.code;
    var cardSelector = "." + productCode + "-purchase-card";
    $(cardSelector).on('click', function () {
      var productId = $(this).data('product-id');
      var productPrice = $(this).data('product-price');
      var showDatePicker = $(this).data('product-date');
      $(this).removeClass(productCode + '-purchase-card').addClass('purchase-card-selected');
      $('.' + productCode + '-card img').after('<span class=\'cancel-promoter-option cancel-' + productCode + '\'>X</span>');
      $('.' + productCode + '-img').attr('src', product.highlighted_icon.url);
      $('.' + productCode + '-purchase-option-description').hide();
      $('.' + productCode + '-purchase-option-line').show();

      showInputFields(productId, productCode, productPrice, showDatePicker);
      showSummary();
    });

    $(document).on('click', '.cancel-' + productCode + '', function (e) {
      $('.' + productCode + '-card').removeClass('purchase-card-selected').addClass(productCode + '-purchase-card');
      $('.' + productCode + '-img').attr('src', product.icon.url);
      $('.' + productCode + '-purchase-option-description').show();
      $('.cancel-' + productCode + '').remove();
      $('.' + productCode + '-purchase-option-line').hide();
      hideInputFields(productCode);
      showSummary();
    });

    $(document).on('mouseenter', cardSelector, function () {
      $('.' + productCode + '-img').attr('src', product.highlighted_icon.url);
    });
    $(document).on('mouseleave', cardSelector, function () {
      $('.' + productCode + '-img').attr('src', product.icon.url);
    });

  });
}

function showSummary() {
  $('.promoter-summary').html(updateSummary());
}

function showInvoiceDetails(data) {
  setWindowObjects(data);
  $(".order-details").html(updateCartDetails(data));
  $(".total-price").html("<p>Total: " + (price_with_unit(data.cart.grand_total)) + "</p>")
  $(".total-price-invoice").html("<p>Total: " + (price_with_unit(data.cart.grand_total)) + "</p>")
}

function updateSummary() {
  calculateSummary();
  return _.template($("#promoter-summary").html())({
    selected_scores: window.selectedProducts
  });
}

function calculateSummary() {
  window.selectedProducts = [];
  _.each($(".purchase-card-selected"), function (option) {
    var o = $(option).data();
    var productPrice = o.productPrice;
    return window.selectedProducts.push({
      title: o.productTitle,
      price: productPrice
    });
  });

  window.totalPrice = 0;
  return _.map(window.selectedProducts, function (product) {
    return window.totalPrice += parseFloat(product.price);
  });
}

function updateCartDetails(data) {
  return _.template($('#product-cart-details').html())({
    composition: data.composition,
    cart: data.cart,
    cart_items: data.cart_items,
    gift_code: data.gift_code
  });
}

function setWindowObjects(data) {
  window.promotions = data.promotions;
  window.composition = data.composition;
}

function showOrderConfirmationNotes() {
  $('.payment-tab').hide();
  $('.modal-footer').hide();
  $('.promoter-form-steps').hide();
  return $(".order-confirmation-notes").html(
    _.template($('#order-confirmation-notes').html())({
      promotions: window.promotions,
      composition: window.composition
    })
  )
}

function setStripeToken() {
  var $form = $('#promoter-payment-form');
  if ($('.promoter-payment-select').val() === 'credit-card') {
    return Stripe.card.createToken($form, function (status, response) {
      if (response.error) {
        $('#buy_button').prop('disabled', true);
        $form.find('#' + response.error.param).addClass('has-error');
        toastr.error(response.error.message);
      } else {
        var token = response.id;
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        $form.append($('<input type="hidden" name="coupon" />').val($('#gift-code-input').attr('value')));
        $form.submit();
      }
    });
  } else {
    return $form.submit();
  }
}

function showInputFields(productId, productCode, productPrice, showDatePicker) {
  hiddenClass = showDatePicker ? "" : "hidden";
  daysDelay = 3;
  $("." + productCode + "-promotion-start-date-container").replaceWith(
      '<div class="promotion-start-date-container new-' + productCode + '-promotion-start-date-container text-center">' +
      '<p class="' + hiddenClass + '"> ' + I18n.t('promoters.promoter_options.promotion_start') + ' </p>' +
      '<input type="text" name="promoters[' + productId + '][date]" data-provide="datepicker" data-date-format="'+I18n.t('date.formats.default')+'" class="form-control promoter-datepicker ' + hiddenClass + '">' +
      '<input type="hidden" name="promoters[' + productId + '][price]" class="form-control" value=' + productPrice + '>' +
      '<input type="hidden" name="promoters[' + productId + '][id]" class="form-control" value=' + productId + '>' +
      '</div>'
  )
  $('input[name="promoters[' + productId + '][date]"]').val(formatDate(addToDate(Date.now(), daysDelay)));
  $('.promoter-datepicker').datepicker({
    startDate: '+' + daysDelay + 'd'
  });
}

function hideInputFields(productCode) {
  $(".new-" + productCode + "-promotion-start-date-container").replaceWith(
    '<div class="promotion-start-date-container ' + productCode + '-promotion-start-date-container text-center">' +
    '</div>'
  )
}

function validatePromotionSelection() {
  if ($('.promotion.version-option').length > 0) {
    return true;
  } else {
    return false;
  }
}
