- if current_user == @booking.recipient
  .text-center
    h4
      - if @booking.rejected?
        | This booking request was rejected.
      - elsif @booking.accepted?
        | This booking request was accepted.

- if current_user == @booking.sender
  .text-center
    h4
      - if @booking.rejected?
        | We are sorry! Your request was rejected.
      - elsif @booking.accepted?
        | Congratulations! Your request was accepted.
      - elsif @booking.in_progress?
        p
          | Your request is still in progress.
          br/
          | Venue manager has up to 24 hours to respond or it will be rejected.
- if current_user.can_manage?(@booking) && @booking.in_progress?
  .respond_to_booking.text-center.btn-toolbar
    a#acceptBooking.btn.btn-primary @click='updateBookingStatus(#{@booking.venue.id}, #{@booking.id}, "accepted", $event)' Accept
    a#acceptBooking.btn.btn-danger @click='updateBookingStatus(#{@booking.venue.id}, #{@booking.id}, "rejected", $event)' Decline
hr
