<div class="row commentsList" hidden>
  <div class="col-md-12 col-xs-12 oneComment" v-for='comment in request.comments'>
    <div class="col-md-2 col-xs-4">
      <%= image_tag 'icon-profile.png', class: 'img-responsive' %>
      <div class='commenter' v-text='comment.commenter | filtername'></div>
    </div>
    <div class='time' v-text='comment.created_at | filtertime'></div>
    <div class="col-md-10 col-xs-8 commentContent" v-text='comment.comment'></div>
  </div>
</div>
<% if @booking.accepted? %>
  <div class="alert alert-success no_remove" style='color: white;font-size: 14px;'>
    This booking was marked as completed by restaurant owner.
    We hope it was a great booking in  <%= @booking.venue.name %>.
  </div>
<% elsif @booking.deleted_by_either_party  %>
  <div class="alert alert-danger no_remove" role="alert">
    This booking was closed by <%= @booking.hidden_for_sender ? 'sender' : 'restaurant owner' %>.
  </div>
<% else %>
  <validator name='newComment'>
    <form class='new_comment'>
      <div class="form-group">
        <textarea name="reply_to_request"
          class="form-control"
          rows='5'
          v-model='comment'
          v-validate:comment="['required']"></textarea>
      </div>
      <a href="#"
        class='btn btn-primary pull-right addComment'
        v-on:click='submitComment(<%= @booking.id %>, $event)'
        :disabled='!$newComment.valid'>Reply</a>
    </form>
  </validator>
<% end %>
