<div id="my-account">
  <div class="container" id='bookings_list' data-requests-type='<%= @class=='received_requests' ? 'received' : 'sent' %>'>
    <div class="space-14"></div>
    <div class="equal-height">
      <%= render 'account/account_side_bar' %>
      <div class="col-sm-10 content">
        <section>
          <ul class="nav nav-pills pull-right">
            <li :class='{"active" : filter === ""}'>
              <%= link_to 'All', '#', 'v-on:click' => 'filterRequests("", $event)' %>
            </li>
            <li :class='{"active" : filter === "received"}'>
              <%= link_to 'Received', '#', 'v-on:click' => 'filterRequests("received", $event)' %>
            </li>
            <li :class='{"active" : filter === "sent"}'>
              <%= link_to 'Sent', '#', 'v-on:click' => 'filterRequests("sent", $event)' %>
            </li>
          </ul>
          <div class="clearfix"></div>
          <br>
          <div class="row" id='requests_container' hide>
            <div class="col-md-12 request_unit" id="requestItem_{{booking.id}}" v-for="booking in bookings  | filterBy filter in 'type'">
              <div class="panel panel-primary">
                <div class="panel-heading" >
                  <div class="row">
                    <div class="col-md-4 col-xs-6">
                      <h5>
                        <span v-text='"Booking for"'></span>
                        <a :href='booking.venue.link' v-text='booking.venue.name'></a>
                      </h5>
                    </div>
                    <div class="col-md-3 hidden-xs"><h5 v-text='booking.type | capitalize'></h5></div>
                    <div class="col-md-5 col-xs-6">
                      <h5>
                        <ul class="requests_list_actions pull-right">
                          <li v-show='!booking.was_read'><i class="fa fa-comment" title='new comment'></i></li>
                          <li>
                            <a title="View booking" :href='"/account/bookings/" + booking.token'>Open</a>
                          </li>
<!--                           <li>
                            <a href=""
                              title="Delete and hide booking from your list. You won't be able to get replies no more."
                              v-on:click='deleteRequest(booking.id, booking.type, $event)'>
                              Delete
                            </a>
                          </li> -->
                        </ul>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table class='table table-responsive hidden-xs'>
                    <thead>
                      <tr>
                        <th>REQUEST STATUS</th>
                        <th>PAYMENT STATUS</th>
                        <th>FROM</th>
                        <th>NUMBER OF ATTENDEES</th>
                        <th v-text='booking.type + " at" | uppercase'></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span :class="[booking.status, 'status_holder']" v-text='booking.status | filterStatus'></span>
                        </td>
                        <td>
                          <div v-text='booking.charge_status | uppercase'></div>
                          <small>
                            Charge attempts: <span v-text='booking.charge_attempts'></span>
                          </small>
                        </td>
                        <td v-text='booking.sender.name | uppercase'></td>
                        <td v-text='booking.estimated_guests_count'></td>
                        <td v-text='booking.created_at | shortTime'></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="visible-xs-inline">
                    <div class="row">
                      <div class="col-xs-6">REQUEST STATUS</div>
                      <div class="col-xs-6 pull-right text-right">
                        <span :class="[booking.status, 'status_holder']" v-text='booking.status | filterStatus'></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">PAYMENT STATUS</div>
                      <div class="col-xs-6 pull-right text-right">
                        <div v-text='booking.charge_status | uppercase'></div>
                        <small>
                          Charge attempts: <span v-text='booking.charge_attempts'></span>
                        </small>
                      </div>
                    </div>
<!--                     <div class="row">
                      <div class="col-xs-6">FROM</div>
                      <div class="col-xs-6 pull-right text-right" v-text='booking.sender.name | uppercase'></div>
                    </div> -->
                    <div class="row">
                      <div class="col-xs-6">NUMBER OF ATTENDEES</div>
                      <div class="col-xs-6 pull-right text-right" v-text='booking.estimated_guests_count'></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6" v-text='booking.type + " at" | uppercase'></div>
                      <div class="col-xs-6 pull-right text-right" v-text='booking.created_at | shortTime'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <center v-show='bookings.length === 0'>
            <h3 v-text='"No " + filter + " bookings found"'></h3>
          </center>
        </section>
      </div>
    </div>
    <div class="space-14"></div>
  </div> <!-- /container -->
</div>
