- content_for :js_plugins
  script type="text/javascript" src="https://js.stripe.com/v2/"
- content_for :meta_tags
  meta name="stripe_publish_key" charset="utf-8" content="#{ENV['STRIPE_PUBLISHABLE_KEY']}"

#bookingPayment.book_now data-venue-slug='#{params[:venue_id]}' data-booking-id='#{params[:booking_id]}' data-package-gratuity='#{@package.gratuity}' data-price='#{number_with_precision(@package.price, precision: 0)}' data-user-signed-in='#{user_signed_in?}'
  .container style='background: #f7f7f7;'
    //= render 'shared/loader'
    .space-10
    .clearfix
      .row
        .col-md-8
          / = form_tag(venue_package_booking_save_payment_path(@booking.venue.id, @package.id, @booking.id))
          /   script.stripe-button data-amount="#{@booking.total_fee*100}" data-description=("#{@package.title}") data-image="#{@booking.venue.main_thumb_url}" data-key="pk_test_NzJ3hdjWRkLGOC2auS60yguc" data-locale="auto" data-name="#{@booking.venue.name}" src="https://checkout.stripe.com/checkout.js" data-currency='CAD' data-application-fee="#{number_to_currency (0 - @booking.service_fee)}" data-destination="#{@booking.venue.user.account.stripe_account}"

          - if user_signed_in?
            .available_cards.hidden
              h3 Pay with saved card
              table.table.table-condensed.table-bordered.table-hover.table-responsive
                tr
                  th Credit Card
                  th Name on Card
                  th Expires On
                  th v-if='selected_card !== null'
                tr v-for='card in cards' @click='setSelectedCard($event, card.card_id)' v-bind:class='{ selected_card: card.card_id === selected_card }'
                  td
                    i.fa aria-hidden="true" style='font-size: 30px;top: 26px;margin-right: 7px;' v-bind:class='cardClass(card.brand.toLowerCase())'
                    span v-text="card.brand + ' ending in ' + card.last4"
                  td
                    span v-text="card.name"
                  td
                    span v-text='card.exp_date'
                  td v-if='selected_card !== null'
                    a.btn.btn-primary.btn-sm v-if='card.card_id === selected_card' @click='submitCard()' Pay with selected card
              a.btn.btn-primary @click='paymentToggle($event, "show")' Add a card


          form#creditCard class=('hidden' if user_signed_in?) autocomplete="off" method="POST" novalidate=""
            .row
              .col-md-12
                .page-header
                  h3 Payment

                .row
                  .col-md-8
                    .form-group.has-feedback
                      label.control-label for="cc-number" Card number formatting
                      input#cc-number.form-control.cc-number.has-feedback autocomplete="off" placeholder=("•••• •••• •••• ••••") required="" type="tel" /
                      i.fa.form-control-feedback aria-hidden="true" style='font-size: 30px;top: 26px;margin-right: 7px;' v-bind:class='cardIcon'
                  .col-md-4
                    .form-group
                      label.control-label for="cc-exp"  Card expiry formatting
                      input#cc-exp.form-control.cc-exp autocomplete="off" placeholder=("•• / ••••") required="" type="tel" /
                .row
                  .col-md-4
                    .form-group
                      label.control-label for="cc-cvc"  Card CVC formatting
                      input#cc-cvc.form-control.cc-cvc autocomplete="off" placeholder="•••" required="" type="tel" /
                  - if user_signed_in?
                    .col-md-12
                      .form-group
                        .checkbox.checkbox-primary
                          input#save_card.styled type="checkbox" v-model='save_card'
                          label for="save_card" Save payment information
            .page-header
              h3 Billing Address <small>(Recommended)</small>
            .row
              .col-md-8
                .form-group
                  label.control-label for="cc-name" Card holder full name
                  input#cc-name.form-control autocomplete="off" required=""
            .row
              .col-md-4
                .form-group
                  label Country
                  select#cc-country.cs-select.simple
                    option value='CA' Canada
              .col-md-4
                .form-group
                  label Province
                  select#cc-state.cs-select.simple
                    option v-for="state in states" v-bind:value='state.short' v-text='state.long' v-bind:selected='state.short === "ON"'
              .col-md-4
                .form-group
                  label.control-label for="cc-city" City
                  input#cc-city.form-control.cc-name autocomplete="off" required=""
            .row
              .col-md-8
                .form-group
                  label.control-label for='cc-address-line-1' Address
                  input#cc-address-line-1.form-control autocomplete="off" required=""
              .col-md-4
                .form-group
                  label.control-label for='cc-address-zip' Postal code
                  input#cc-address-zip.form-control autocomplete="off" required=""
            hr
            .form-group
              button.btn.btn-lg.btn-primary type="submit"  Submit
              - if user_signed_in?
                a.btn.btn-lg.btn-default @click='paymentToggle($event, "hide")' Cancel

        .col-md-4
          .col-md-10.col-md-offset-2
            .thumbnail
              = image_tag @booking.venue.assets.first.image.url(:medium)
              .caption
                h4.bold.text-center = @booking.venue.name
                h5.text-center = @package.title
                div.text-center = @venue.short_address
                hr
                small Number of guests: #{@booking.number_of_guests}
                br /
                small.bold #{l @booking.date_start, format: :long}, from #{@booking.time_start} to #{@booking.end_time}
                hr
                table.table.borderless.package_info_payment
                  tr
                    td Cancellations and refunds
                    td.text-right = link_to 'Read policy', terms_and_privacy_path, target: :blank
                hr
                table.table.borderless.package_info_payment
                  tr
                    td Restaurant package fee
                    td.text-right = number_to_currency @booking.package_fee
                  tr
                    td HST (13%)
                    td.text-right = number_to_currency @booking.total_hst
                  tr
                    td Package subtotal
                    td.text-right = number_to_currency @booking.subtotal
                  tr
                    td Automatic gratuity (#{@booking.gratuity}%)
                    td.text-right = number_to_currency @booking.gratuity_fee
                hr
                table.table.borderless.package_info_payment
                  tr
                    td
                      h4.bold Total
                    td.text-right
                      h4.bold = number_to_currency @booking.total_fee
          / .page-header
          /   h4 Payment details
          / .option
          /   .key Venue Package Fee:
          /   .value = number_to_currency @booking.package_fee
          / .option
          /   .key HST (13%):
          /   .value = number_to_currency @booking.total_hst
          / .option
          /   .key Package Subtotal:
          /   .value = number_to_currency @booking.subtotal
          / .option
          /   .key Automatic Gratuity
          /   .value = number_to_currency @booking.gratuity_fee
          / .option
          /   .key Total Fees:
          /   .value = number_to_currency @booking.total_fee
