<div id="my-account">
  <div class="container" id='addRequestComment'  data-request-id='<%= @request.id %>'>

    <div class="space-14"></div>

    <!-- start: MY EVENTS -->
    <div class="equal-height">
      <div class="col-sm-4 sidebar">
        <%= render '/account/account_side_bar' %>
      </div>
      <div class="col-sm-8 content">
        <section>
          <div class="row">
            <div class="col-sm-12">
              <%= link_to "Back", :back %>
              <hr>
              <div class="request_details">
                <p>Hi,<%#= @recipient.first_name %></p>
                <p>
                  My name is <%= @sender.full_name %> and I am interested in organizing an
                  <b><%= @request.event_type.name.downcase %></b> event at <b><%= link_to @venue.name, @venue, target: :blank %></b> venue.
                  We expect to have around <b><%= pluralize( @request.estimated_guests_count, 'guest' ) %></b>.
                  Event is planned for <b><%= l @request.date_start, format: :long %>, <%= @request.time_start %></b>.
                </p>
                <% unless @request.details.empty? %>
                <p>
                 More details about the event:
                 <%= simple_format @request.details %>
               </p>
               <% end %>
               <p>
                Let's get in touch on <%= ENV['APPNAME'] %>.com or mail: <a href="mailto:<%= @request.email %>"><%= @request.email %></a> or
                phone: <a href="tel:<%= @request.phone %>"><%= @request.phone %></a> for more details.
              </p>
              Thank you
            </div>
            <hr>
            <div class="row commentsList" hidden>
              <div class="col-md-12 col-xs-12 oneComment" v-repeat='comment: request.comments'>
                <div class="col-md-2 col-xs-4">
                  <%= image_tag 'icon-profile.png', class: 'img-responsive' %>
                  <div class='commenter' v-text='comment.commenter | filtername'></div>
                </div>
                <div class='time' v-text='comment.created_at | filtertime'></div>
                <div class="col-md-10 col-xs-8 commentContent" v-text='comment.comment'></div>
              </div>
            </div>
            <% if @request.deleted_by_either_party %>
            <div class="alert alert-danger no_remove" role="alert">
              This request was closed by <%= @request.hidden_for_sender ? 'sender' : 'venue owner' %>.
            </div>
            <% else %>
            <form>
              <div class="form-group">
                <textarea name="reply_to_request"
                  class="form-control"
                  rows='5'
                  v-model='comment'
                  v-validate='required, minLength: 2'>
                </textarea>
              </div>
              <a href="#"
                class='btn btn-primary pull-right'
                v-on='click : submitComment(<%= @request.id %>, $event)'
                v-attr='disabled : !valid'>Reply</a>
            </form>
            <% end %>
          </div>
        </div> <!-- /row -->
      </section>
    </div>
  </div>
  <!-- end: MY EVENTS -->

  <div class="space-14"></div>
</div> <!-- /container -->
</div>
