#my-account
  #addRequestComment.container data-request-id=("#{@booking.token}")
    .space-14
    /! start: MY EVENTS
    .equal-height
      = render '/account/account_side_bar'
      .col-sm-10.content
        section
          .row
            .col-md-12
              span.pull-right.uppcase = normal_time(@booking.created_at)
              = link_to "Back", bookings_path
              / - if @booking.expired?
              /   .panel.panel-danger
              /     .panel-heading
              /       h3.panel-title Booking Expired
              /     .panel-body
              /       h5 This booking expired
              hr
              - if current_user == @booking.sender
                - if @charge && @charge.failed?
                  .panel.panel-danger
                    .panel-heading
                      h3.panel-title Payment Failed
                    .panel-body
                      - @charge.stripe_response['errors'].each do |error|
                        h5 = error
                        p = link_to 'Click here to add a valid card, and try again', venue_package_booking_payment_path(@booking.venue, @booking.package, @booking)
              - else
                  = render 'booking_status'
              .request_details #{@booking.sender.full_name} has scheduled a <b>#{@booking.event_type.downcase}</b> booking at #{link_to @venue.name, @venue, target: :blank} for #{pluralize(@booking.estimated_guests_count, 'attendee')} on #{l @booking.date_start, format: :long} starting at #{@booking.time_start}.
              /  for #{@booking.duration}
          .row
            .col-md-12
              .col-md-8
                .page-header
                  h4 Order Details
                .option
                  .key Package Name:
                  .value #{@booking.package_info['title']}
                / = package_options(@package)
                / - ['food_items', 'amenities', 'appetizers', 'deserts', 'drinks'].each do |item|
                /   - if @booking.package_info[item].present? && @booking.package_info[item].any?
                /     .option
                /       .key = item.gsub('_', ' ').capitalize
                /       .value = @booking.package_info[item].join(', ')
                .option
                  .key Package Description
                  .value = simple_format @booking.package_info['description']
              .col-md-4
                .page-header
                  h4
                    - if @charge && @charge.failed?
                      span.label.label-danger.danger.pull-right Failed
                    - else
                      span.label.pull-right class="label-#{(@charge && @charge.captured?) ? 'success' : 'warning'}"
                        = (@charge && @charge.captured?) ? 'Paid' : 'In progress'
                  h4 Payment details/status
                .option
                  .key Restaurant Package Fee:
                  .value = number_to_currency @booking.package_fee
                .option
                  .key HST (13%):
                  .value = number_to_currency @booking.total_hst
                .option
                  .key Package Subtotal:
                  .value = number_to_currency @booking.subtotal
                .option
                  .key Automatic Gratuity
                  .value = number_to_currency @booking.gratuity_fee
                .option
                  .key Total Fees:
                  .value = number_to_currency @booking.total_fee
                - if current_user == @booking.recipient
                  .option
                    .key Transaction Fee:
                    .value = number_to_currency (0 - @booking.service_fee)
                  .option
                    .key Package Total:
                    .value = number_to_currency @booking.remited_to_venue
          hr
          / = render 'comments'
