<div class="modal fade bs-example-modal-lg" id="sheet-music-player-modal" aria-labelledby="sheet-music-player-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header sheet-music-player-modal-header">
        <button class="close" onclick="pausePlayer()">x</button>
        <h2>Sheet Music Player</h2>
      </div>
      <div class="modal-body catalogue-modal-body">
        <iframe id="ssembed" src="https://flat.io/embed/<%= @sheet_music_player.slug %>?branding=false&controlsFloating=false&themeControlsBackground=%23B71C1C&themeIconsPrimary=%23E53935&themeCursorV0=%23E53935" width="100%" height="500" frameBorder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
