$(".open-modal").html('<%= escape_javascript(render "sheet_music_players/show") %>');
$('#sheet-music-player-modal').modal('show');

function pausePlayer() {
  ssiframe = document.getElementById('ssembed').contentWindow;
  ssiframe.postMessage('{"method": "pause"}', 'https://flat.io');
  $('#sheet-music-player-modal').modal('hide');
}
