<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:epub="http://www.idpf.org/2007/ops"
		xmlns:ibooks="http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0"
		epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0
		             z3998: http://www.daisy.org/z3998/2012/vocab/structure/#"
		xml:lang="<%= language %>"
		lang="<%= language %>">
			
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/<%= style %>"/>
    <meta charset="utf-8" />  
  </head>
  
  <body>

    <nav id="nav" epub:type="toc">      
      <ol>
        <li><a href="xhtml/<%= cover_page %>">Cover</a></li>
		<li><a href="xhtml/<%= title_page %>">Title Page</a></li>
		<li><a href="xhtml/<%= copyright %>">Copyright Page</a></li>
		<li><a href="xhtml/<%= score_page %>"><%= title %></a></li>
      </ol>  
    </nav>	

	
    <nav id="landmarks" epub:type="landmarks" hidden="hidden">	  
      <ol>
        <li><a epub:type="cover frontmatter bodymatter" href="xhtml/<%= cover_page %>">Cover</a></li>
		<li><a epub:type="titlepage" href="xhtml/<%= title_page %>">Title Page</a></li>
		<li><a epub:type="copyright-page" href="xhtml/<%= copyright %>">Copyright Page</a></li>
		<li><a epub:type="chapter" href="xhtml/<%= score_page %>"><%= title %></a></li>
      </ol>  
    </nav>	

  </body>	
</html>