<?xml version="1.0" encoding="UTF-8"?>

<package  xmlns="http://www.idpf.org/2007/opf"
      xmlns:opf="http://www.idpf.org/2007/opf"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:dcterms="http://purl.org/dc/terms/"
      prefix="rendition: http://www.idpf.org/vocab/rendition/#
          ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0/"
      version="3.0"
      unique-identifier="pub-id"
      xml:lang="<%= language %>"
      dir="ltr">



  <metadata>
  
    <dc:identifier  id="pub-id"><%= uid %></dc:identifier>
      <meta     refines="#pub-id" property="identifier-type" scheme="onix:codelist5">03</meta>
    <dc:title     id="title"><%= title %></dc:title>
      <meta     refines="#title" property="title-type">main</meta>
    <% if subtitle.present? %>
    <dc:title     id="sub-title"><%= subtitle %></dc:title>
      <meta     refines="#sub-title" property="title-type">subtitle</meta>
    <% end %>
    <dc:language  id="language"><%= language %></dc:language>
    <dc:date    id="date"><%= date %></dc:date>
      <meta     property="dcterms:modified"><%= date %></meta>
    <dc:source    id="source">https://soundnotation.com</dc:source>
    <dc:type    id="type"><%= preview ? 'preview' : 'distributable-object' %></dc:type>
    <dc:format    id="format">application/epub+zip</dc:format>
    <% creators.each_with_index do |creator, index| %>
    <dc:creator   id="creator<%= index + 1 %>"><%= creator.full_name %></dc:creator>
      <meta     refines="#creator<%= index + 1 %>" property="file-as"><%= creator.last_name.upcase %><%= ", #{creator.first_name}" if creator.first_name.present? %></meta>
      <meta     refines="#creator<%= index + 1 %>" property="role" scheme="marc:relators"><%= creator.author_type == 'composer' ? 'cmp' : 'lyr' %></meta>
    <% end %>
    <% contributors.each_with_index do |contributor, index| %>
    <dc:contributor id="contributor<%= index + 1 %>"><%= contributor.full_name %></dc:contributor>
      <meta     refines="#contributor<%= index + 1 %>" property="file-as"><%= contributor.last_name.upcase %><%= ", #{contributor.first_name}" if contributor.first_name.present? %></meta>
      <meta     refines="#contributor<%= index + 1 %>" property="role" scheme="marc:relators"><%= contributor.author_type == 'artist' ? 'art' : 'arr' %></meta>
    <% end %>
    <dc:publisher   id="publisher"><%= copyright %></dc:publisher>
      <meta     refines="#publisher"  property="role" scheme="marc:relators">pbl</meta>    <!-- ROLE TERMS: http://www.loc.gov/marc/relators/ -->
    <dc:subject   id="sub1">MUSIC / Printed Music / General</dc:subject>
      <meta     refines="#sub1" property="identifier-type">MUS037000</meta>    <!-- BISAC CODES: http://bisg.org/page/bisacedition -->
    <% descriptions.each_with_index do |description, index| %>
      <% locale = description.language.lang_locale %>
    <dc:description id="description<%= index + 1 %>" xml:lang="<%= "#{locale.downcase}-#{locale}" %>"><%= description.text %></dc:description>
    <% end %>
  
    <!-- EPUB3 General Metadata -->
    <meta   property="rendition:layout">reflowable</meta>
    <meta   property="rendition:orientation">auto</meta>
    <meta   property="rendition:flow">auto</meta>
    <meta   property="rendition:spread">auto</meta>
    <meta   name="cover"  content="cover-image" />
    
    <!--iBooks Specific and necessary -->
    <meta   property="ibooks:specified-fonts">true</meta>
    <meta   property="ibooks:binding">false</meta>
    <meta   property="ibooks:version">1.0.0</meta>

  </metadata>
  
  
  
  <manifest>
  
    <!-- nav -->
    <item id="nav"              href="<%= files[:nav] %>"              media-type="application/xhtml+xml"   properties="nav"/>
    <item id="toc"              href="<%= files[:toc] %>"                media-type="application/x-dtbncx+xml" />  

    <!-- xhtml -->              
    <item id="coverPage"          href="xhtml/<%= files[:cover_page] %>"        media-type="application/xhtml+xml" />
    <item id="titlePage"          href="xhtml/<%= files[:title_page] %>"       media-type="application/xhtml+xml" />
    <item id="copyrightPage"        href="xhtml/<%= files[:copyright] %>"     media-type="application/xhtml+xml" />
    <% score_pages.each_with_index do |score_page, index| %>
    <item id="scorePage<%= index + 1 %>"           href="xhtml/<%= score_page %>"      media-type="application/xhtml+xml" />
    <% end %>

    <!-- css -->              
    <item id="style"            href="css/<%= files[:style] %>"            media-type="text/css" />

    <!-- images -->             
    <item id="cover-image"          href="images/<%= files[:cover] %>"           media-type="image/<%= cover_ext == 'png' ? 'png' : 'jpeg' %>"   properties="cover-image"/>
    <% svgs.each_with_index do |svg, index| %>
    <item id="score<%= index + 1 %>"             href="images/<%= svg %>"          media-type="image/svg+xml" />
    <% end %>
    
    <!-- fonts -->
    <item id="sourceSansPro-LightItalic"  href="fonts/<%= fonts[:italic] %>"  media-type="application/x-font-ttf"/>
    <item id="sourceSansPro-Regular"    href="fonts/<%= fonts[:regular] %>"    media-type="application/x-font-ttf"/>
    <item id="sourceSansPro-Semibold"     href="fonts/<%= fonts[:semibold] %>"   media-type="application/x-font-ttf"/>
  
  </manifest>
  
  
  
  <spine toc="toc" page-progression-direction="ltr" >
  
    <itemref  idref="coverPage"       linear="yes"  properties="rendition:spread-none" />
    <itemref  idref="titlePage"       linear="yes"/>
    <itemref  idref="copyrightPage"     linear="yes"/>
    <% score_pages.count.times do |n| %>
    <itemref  idref="scorePage<%= n + 1 %>"      linear="yes"/>
    <% end %>
  
  </spine>



</package>