<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:epub="http://www.idpf.org/2007/ops"
		xmlns:ibooks="http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0"
		epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0
		             z3998: http://www.daisy.org/z3998/2012/vocab/structure/#"
		xml:lang="<%= language %>"
		lang="<%= language %>">
			
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../css/<%= style %>"/>
    <meta charset="utf-8" /> 
  </head>

  <body> 
  <section id="titlePage" class="sourceSansPro-regular sans align-left" epub:type="titlepage">
  
    <div class="wrap-90 margin-bottom-l">
      <h2 class="composer"><%= composer %></h2>
      <h1 class="composition"><%= title %></h1>
    </div>

    <hr class="transition"/>
	
    <div class="wrap-90 margin-bottom-l">
      <% authors.each do |k, v| %>
        <% if v.present? %>
      <p class="credit"><%= k.to_s.upcase %><%= 'S' if v.size > 1 %></p>
          <% v.each_with_index do |author, index| %>
            <% if index == v.size - 1 %>
      <p class="credited margin-bottom-s"><%= author.full_name %></p>
            <% else %>
      <p class="credited"><%= author.full_name %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <p class="credit">GENRE</p>
      <p class="credited margin-bottom-s"><%= genre %></p>
      <p class="credit">INSTRUMENTATION</p>
      <p class="credited margin-bottom-s"><%= instrumentation %></p>
    </div>
    
  </section>
  </body>
</html>