<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:epub="http://www.idpf.org/2007/ops"
		xmlns:ibooks="http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0"
		epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0
		             z3998: http://www.daisy.org/z3998/2012/vocab/structure/#"
		xml:lang="<%= language %>"
		lang="<%= language %>">
			
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../css/<%= style %>"/>
    <meta charset="utf-8" />
  </head>

  <body>   
  <section id="copyrightPage" class="sourceSansPro-regular sans align-left" epub:type="copyright-page">

    <div class="wrap-90 margin-bottom-l">
      <p class="credit">PUBLISHED BY</p>
      <p class="credited margin-bottom-s"><%= company %></p>
      <p class="address"><%= address[:street] %></p>
      <p class="address"><%= address[:zip] %> <%= address[:city] %></p>
      <% if website.present? %>
      <p class="address"><%= address[:country] %></p>
      <p class="address margin-bottom-m"><%= website %></p>	  
      <% else %>
      <p class="address margin-bottom-m"><%= address[:country] %></p>   
      <% end %>
      <p class="credit">TRANSCRIPTION BY SOUNDNOTATION</p>
      <p class="credited margin-bottom-s"><a href="https://soundnotation.com">www.soundnotation.com</a></p>
    </div>
    
    <hr class="transition"/>

    <div class="wrap-90">
      <p class="copyright margin-bottom-m">Unauthorized copying of music is forbidden by law and may result in criminal or civil action.</p>
      <p class="copyright">All rights reserved</p>
      <p class="copyright">© <%= Time.now.year %> by <%= copyright %></p>
    </div>

  </section>
  </body>
</html>