<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:epub="http://www.idpf.org/2007/ops"
		xmlns:ibooks="http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0"
		epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0
		             z3998: http://www.daisy.org/z3998/2012/vocab/structure/#"
		xml:lang="<%= language %>"
		lang="<%= language %>">
			
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../css/<%= style %>"/>
    <meta charset="utf-8" />
  </head>
  
  <body id="scorePage1">
  
    <figure class="h-100 align-center" epub:type="z3998:figure">
      <img class="portrait" src="../images/<%= svg %>" alt=""/>
    </figure>
	
  </body>
</html>