@charset "UTF-8";



/**********************************************************************/
/*                                                                    */
/*   CSS framework for reflowable eBooks                              */
/*   Version 1.0.0 by Luca Funari                                     */
/*                                                                    */
/**********************************************************************/



/**************/
/* NAMESPACES */
/**************/

@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace m "http://www.w3.org/1998/Math/MathML/";
@namespace svg "http://www.w3.org/2000/svg";



/*************/
/* BEGIN CSS */
/*************/



/*********/
/* RESET */
/*********/

article, address, aside, blockquote, canvas, dd, details, div, dl, dt, figure, figcaption, footer,
h1, h2, h3, h4, h5, h6, header, hr, li, main, nav, ol, p, pre, section, summary, ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
}

article, aside, figure, figcaption, footer, header, main, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

h1, h2, h3, h4, h5, h6, dt, pre {
  text-align: left;
}

ol, ul {
  list-style-type:none;
}

nav[epub|type~="toc"] ol {
  list-style-type: none !important;
}

nav[epub|type~="landmarks"],
nav[epub|type~="page-list"] {
  display: none;
}

a, abbr, b, bdi, bdo, cite, code, data, del, dfn, em, i, ins, kbd, mark,
q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, sup, time,var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

q {
  quotes: none;
}

body > :last-child, body > section > :last-child {
  margin-bottom: 0;
}



/***************/
/* PAGE LAYOUT */
/***************/

@page {
  margin: 30px 30px 20px 30px;
  padding: 0;
}

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  widows: 2;
  orphans: 2;
}



/***********/
/*  FONTS  */
/***********/

.sans {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url('../fonts/<%= fonts[:italic] %>');
}

.sourceSansPro-lightItalic {
  font-family: "SourceSansPro-LightItalic", sans-serif;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url('../fonts/<%= fonts[:regular] %>');
}

.sourceSansPro-regular {
  font-family: "SourceSansPro-Regular", sans-serif;
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url('../fonts/<%= fonts[:semibold] %>');
}

.sourceSansPro-semiBold {
  font-family: "SourceSansPro-Semibold", sans-serif;
}



/**************/
/* TYPOGRAPHY */
/**************/

h1, h2, h3, h4, h5, h6,
dt, pre, address, caption,
.align-left,
.align-center,
.align-right {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6, dt, hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}



/********************/
/* SPECIFIC CLASSES */
/********************/

.composer {
  font-family: "SourceSansPro-LightItalic", sans-serif;
  font-size: 1.8em;
  line-height: 0.8333;
  margin-bottom: 0.6em;
  text-align: left;
  page-break-after: avoid;
}

.composition {
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 1.5em;
  text-align: left;
  page-break-after: avoid;
}

.credit {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: left;
  page-break-after: avoid;
}

.credited {
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
}

.address {
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: left;
}

.copyright {
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 0.875em;
  line-height: 1.5;
  text-align: left;
}

.soundnotation {
  font-family: "SourceSansPro-Semibold", sans-serif;
  font-size: 0.875em;
  color: #<%= gray_45_hex %>;
  line-height: 1.5;
  text-align: center;
}



/*********************/
/* FIGURES + IMAGES  */
/*********************/

figure {
  page-break-inside: avoid;
  break-inside: avoid;
}

@supports not ((page-break-inside: avoid) and (break-inside: avoid)) {
  figure {
    -webkit-column-break-inside: avoid;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.portrait {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 95%;
}

@supports (height: 99vh) {
  img.img-portrait {
    height: 99vh;
  }
}


  
/*********/
/*  SVG  */
/*********/

svg {
  fill: currentColor;
}



/*********/
/* LINKS */
/*********/

a {
  color: inherit;
  -webkit-text-fill-color: inherit;
  text-decoration: underline;
}



/********************/
/* HORIZONTAL RULES */
/********************/

.transition {
  width: 90%;
  margin: 1.42em 5%;
  height: 0;
  border: none;
  border-top: 0.16em solid #000000;
}



/********************/
/* STANDARD CLASSES */
/********************/

/*********/
/* Wraps */
/*********/

.wrap-90 {
  width: 90%;
  margin: 1.5em 5%;
}



/**********/
/* Widths */
/**********/

.w-50 {
  width: 50%;
}



/***********/
/* Heights */
/***********/

.h-100 {
  height: 99%;
}

@supports (height: 100vh) {
  .h-100 {
    height: 99vh;
  }
}



/***********/
/* Margins */
/***********/

.margin-bottom-s {
  margin-bottom: 0.5em;
}

.margin-bottom-m {
  margin-bottom: 1.5em;
}

.margin-bottom-l {
  margin-bottom: 3em;
}



/**************/
/* Alignments */
/**************/

.align-left {
  text-align: left;
}

.align-center {
  text-indent: 0;
  text-align: center;
}

.align-right {
  text-indent: 0;
  text-align: right;
}



/**************/
/* Font sizes */
/**************/

.fs-s {
  font-size: 0.9375em;
  line-height: 1.6;
}
.fs-m {
  font-size: 1em;
  line-height: inherit;
}
.fs-l {
  font-size: 1.125em;
  line-height: 1.3333;
}



/***********/
/* END CSS */
/***********/