<?xml version="1.0" encoding="UTF-8"?>


<ncx	xmlns="http://www.daisy.org/z3986/2005/ncx/"
		version="2005-1"
		xml:lang="<%= language %>">
		
	<head>
		<meta name="dtb:uid"  content="<%= uid %>"/>
	</head>

	<docTitle>
		<text><%= title %></text>
	</docTitle>

	<navMap>

		<navPoint id="cover" playOrder="1"><navLabel><text>Cover</text></navLabel><content src="xhtml/<%= cover_page %>"/></navPoint>
		<navPoint id="titlePage" playOrder="2"><navLabel><text>Title Page</text></navLabel><content src="xhtml/<%= title_page %>"/></navPoint>
		<navPoint id="copyrightPage" playOrder="3"><navLabel><text>Copyright Page</text></navLabel><content src="xhtml/<%= copyright %>"/></navPoint>
		<navPoint id="scorePage1" playOrder="4"><navLabel><text>Boi Da Cara Preta</text></navLabel><content src="xhtml/<%= score_page %>"/></navPoint>

	</navMap>
</ncx>