<%= t('.thanks') %>
<%= t('.distribution_order_successfully_received') %>
<%= t('.score') %>: <%= @score.scoring.try(:humanize) %>
<%= t('.title') %>: <%= @score.composition.try(:title) %>
<%= t('.composer') %>: <%= @score.composition.try(:author_name) %>
<%= t('.difficulty') %>: <%= @score.difficulty.try(:humanize) %>
