<% meta_tag :description, t('.meta_desc') %>
<div class="container blog-nav col-md-12 center-block">
    <%= render 'layouts/landing_nav' %>
    <%= render 'logo_section' %>
    <%= image_tag("blog_header_1177x174.png", class: "blog-header-background hidden-xs hidden-sm") %>
</div>
<div class="container center-block col-sm-12 contact-promo-section col-lg-12 col-md-12">
	<div style="margin-left: 80px; margin-right: 150px;">
		<div class="col-sm-12 col-lg-6 col-md-12">
			<br>
				<%= form_for @contact do |f| %>
				<% if @contact.errors.any? %>
				  <div id="error_explanation">
				    <div class="alert alert-error">
				      The form contains <%= pluralize(@contact.errors.count, "error") %>.
				    </div>
				    <ul>
				    <% @contact.errors.full_messages.each do |msg| %>
				      <li>* <%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% end %>
				  <%= f.label :name, t('.page.name') %>
					<%= f.text_field :name, class: 'form-control', :required => true %>
					<br>
					<%= f.label :email, t('.page.email') %>
					<%= f.email_field :email, class: 'form-control', :required => true %>
					<br>
					<%= f.label :message, t('.page.message') %>
					<%= f.text_area :message, class: 'form-control', rows: 10, :required => true %>
					<br>
					<%= f.submit t('.send_message'), class: "btn contacts-form-btn" %>
				<% end %>
			<br>
		</div>

		<div class="col-sm-12 col-lg-6 col-md-12 contact_us_text">
			<br>
			<br>
			<p>
			<%= t('.page.text_html') %>
			</p>
			<p class="desktop-phone">
			<%= t('.page.phone') %>: +49 408740 8898
			</p>
      <div class="mobile-phone">
			<p><%= t('.page.phone') %></p>:
        <p style="margin-top: -35px;"><a href="tel:+494087408898">+49 408740 8898</a></p>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>

<%= render 'layouts/newsletter_modal' %>
