<div class="bs-example-modal-lg login-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header login-header">
        <h2 class="change-password"><%= t('passwords.edit.change_your_password') %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>

              <div class="form-inputs change-password">
                <%= f.input :password, label: t('passwords.edit.new_password'), autofocus: true, hint: (t('passwords.edit.minimum', min_length: @minimum_password_length) if @minimum_password_length) %>
                <%= f.input :password_confirmation, label: t('passwords.edit.confirm') %>
              </div>

              <div class="form-actions">
                <%= f.submit t('passwords.edit.change'), class: 'btn btn-small contacts-form-btn' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
