<% meta_tag :description, t('passwords.new.meta_desc') %>
<div class="bs-example-modal-lg login-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header login-header">
        <h2 class="forgot-password-title"><%= t('passwords.new.title') %></h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
              <div class="form-group">
                <%= f.label :email, t('login.email'), :class => "form-label forgot-password-label" %>
                <%= f.email_field :email, :class => "form-control", :autofocus => true %>
              </div>
              <!--<div class="form-inputs">
                <%#= f.input :email, required: true, autofocus: true %>
              </div>-->

              <div class="form-actions">
                <%= f.submit t('passwords.new.send_instructions'), class: 'btn btn-small contacts-form-btn' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>