<h2><%= link_to "All Compositions", download_lyric_parts_path %></h2>
<% @compositions.each do |composition| %>
  <div style="display: block; background: #ddd; margin: 10px 0 10px 0; top: 10px;">
	  <span> <%= composition.id %> </span> | 
	  <span> <%= composition.title %> </span> | 
	  <span> <%= composition.subtitle %> </span> | 
	  <span> <%= composition.key %> </span> | 
	  <span> <%= composition.copyright %> </span> |
	  <span> <%= link_to "[download lyric parts]", download_lyric_parts_file_path(composition.title), class: 'download-link' %></span>
  </div>
<% end %>

<script type="text/javascript">
	$(".download-link").click(
    function(e) {
      e.preventDefault();
      window.open( $(this).attr("href") );
      window.location="/download_lyric_parts";
      window.focus();
    }
	);
</script>
