<%= t('.first_text', locale: @locale) %><br /><br />
<%= t('.score', locale: @locale) %>: <%= @score.product.try(:title).try(:titleize) %><br />
<%= t('.title', locale: @locale) %>: <%= @composition.title %><br />
<%= t('.composer', locale: @locale) %>: <%= @composition.author_name %><br />
<%= t('.difficulty', locale: @locale) %>: <%= I18n.t('activerecord.attributes.user.' + @score.difficulty, locale: @locale) %><br />
