<div class="col-sm-6 col-lg-4 col-xs-12 col-md-6 no_padding">
  <div class="blog-card">
    <div class="blog_image_container">
      <%= link_to  blog_path(article.slug, locale: I18n.locale) do%>
        <div class="blog_image_filter"></div>
      <% end%>
      <%= link_to image_tag(article.image.thumb.url, alt: "#{article.alt_tag_content}", class: 'blog-card-img-top'), blog_path(article.slug, locale: I18n.locale), style: 'padding-left: 0px;' %>
    </div>
    <%= link_to blog_path(article.slug, locale: I18n.locale), style: 'text-decoration: none;' do %>
        <div class="blog-card-title">
          <h2><%= simple_format(article.title) %></h2>
        </div>
    <% end %>
    <div class="blog-card-block blog-preview-text">
      <div style="margin-left: 10px; margin-right: 10px; font-size: 18px;">
        <%= (strip_tags(article.text.html_safe)).truncate_words(18) %>
      </div>
      <div class="read_more_container">
        <%= link_to t('.read_more'), blog_path(article.slug, locale: I18n.locale), class: 'read-more-button' %>
      </div>
    </div>
  </div>
</div>
