<div class="row">
  <div class="col-sm-12 hidden-lg hidden-md no_padding blog-mobile-header">
    <%= link_to root_path do %>
      <div class="overlay_sec_header_background hidden-lg hidden-md"></div>
    <% end %>
  </div>
  <div class="logo-section col-lg-12 hidden-xs hidden-sm">
    <div class="col-lg-6 ">
      <%= link_to image_tag("logo.png", class: "logo-blog"), root_path %>
    </div>
    <div class="col-lg-6 ">
      <div class="sub_header">
        <%= link_to blog_index_path do %>
          <div class="blog-promo-text">
            <h1 class=<%= I18n.locale == :en ? "en-blog-title" : "blog-title" %>>
              <%= t('.promo.title') %>
            </h1>
            <p class=<%= I18n.locale == :en ? "knowledge-text" : "de-knowledge-text" %>>
              <strong><%= t('.promo.text.bold') %></strong>
              <br/>
              <%= t('.promo.text.normal') %>.
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
