<div class="container blog-container col-sm-12 center-block categories-section categories-container">
  <div class="row col-sm-12">
    <div class="group">
      <div class="categories-item categories-line"></div>
      <div class="categories-item categories-text text-center">
        <p><b style="font-size: 30px !important"><%= t('.categories') %></b></p></div>
      <div class="categories-item categories-line"></div>
    </div>
  </div>
  <div class="row vertical-divider categories-divider col-sm-12">
    <% BlogCategory.find_each do |bc| %>
      <div class="col-sm-12 col-md-12 col-lg-3 col-xs-12">
        <%= link_to image_tag(bc.image.category_thumb.url), category_blog_index_path(bc.slug) if bc.image.present? %>
      </div>
    <% end %>
  </div>
</div>
