<div class="container blog-nav center-block">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
  <%= render 'layouts/landing_nav' %>
  <%= render 'blog_logo_section' %>
  <%= image_tag('blog_header_1177x174.png', class: 'blog-header-background hidden-xs hidden-sm') %>
  </div>
</div>
