<% meta_tag :description, @meta_description unless @meta_description.nil? %>
<% title @category.name.humanize unless @category.nil? %>
<%= render 'header' %>

<div class="container col-sm-6 col-lg-4 col-xs-12 col-md-6 center-block articles-section" style="background: none; padding: 0px;">

  <div class="row categories-menu col-sm-12">
    <div  class="col-sm-12 col-md-12 col-lg-2 col-xs-12">
      <a href="#" class="cat_title"><%= t('.articles_filter') %></a>
    </div>
    <% BlogCategory.find_each do |bc| %>
      <div class="col-sm-4 col-md-3 col-lg-2 col-xs-12">
        <%= link_to bc.name.humanize, category_blog_index_path(bc.slug) %>
      </div>
    <% end %>
  </div>

  <div class="row blog-cards">
    <% @articles.each do |article| %>
      <%= render 'article_card', article: article %>
    <% end %>
  </div>
</div>

<% if @category.present? %>
<div class="text-center">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
<% end %>

<%= render 'categories' %>
<%= render 'layouts/footer' %>
<%= render 'layouts/newsletter_modal' %>
