<% meta_tag :description, @article.meta_description %>
<% title @article.title %>
<%= render 'header' %>

<div class="container blog_container">
  <div class="col-md-12">
    <div class="group">
      <div class="categories-item categories-line"></div>
      <div class="categories-item categories-text text-center">
        <p>
          <%= @article.blog_category.name.humanize %>
        </p>
      </div>
      <div class="categories-item categories-line"></div>
    </div>
    <div class="single-article-title">
      <h1><%= @article.title %></h1>
    </div>
    <div class="article-image text-center">
      <%= image_tag @article.image.url, alt: "#{@article.alt_tag_content}", class: 'blog_image' %>
    </div>
    <div class="article-show-links">
      <%= raw @article.text %>
    </div>
  </div>
</div>
<%= render 'categories' %>

<%= render 'layouts/footer' %>
