<div class="row col-lg-12">
  <div class="col-lg-4">
    <p style="color: #265580; font-weight: bold"><%= t('my_soundnotation.options.catalogue.my_files') %></p>
  </div>
  <div class="col-lg-4 hidden-xs hidden-sm">
    <p style="font-style: italic; font-size: 15px;">
      <% creator_link_text = @scores.blank? ? 'my_soundnotation.options.catalogue.is_empty_html' : 'my_soundnotation.options.catalogue.is_not_empty_html' %>
      <%= t(creator_link_text, creator_link: link_to(image_tag('creator-icon.png', class: 'creator_logo'), '#', class: 'creator-link', id: 'to_creator')) %>
    </p>
  </div>
  <div class="col-lg-4">
    <div class="input-group changethisone search-bar">
      <input type="text" class="form-control search-input" data-tab-name='catalogue' data-search-path='<%= my_soundnotation_catalogue_path %>' placeholder="<%= t('my_soundnotation.options.catalogue.search') %>">
      <span class="input-group-addon search-addon catalogue-search-addon"><%= image_tag 'loop.png', :id => "loop-img" %></span>
    </div>
  </div>
</div>
<div class="catalogue-table">
  <table class="table table-striped sortable" id="table-catalogue">
    <thead class="catalogue-table-header">
    <tr>
      <th><%= t('my_soundnotation.options.catalogue.title') %></th>
      <th class="visible-md visible-lg"><%= t('my_soundnotation.options.catalogue.composer') %></th>
      <th class="visible-md visible-lg"><%= t('my_soundnotation.options.catalogue.uploaded') %></th>
      <th class="visible-md visible-lg"><%= t('my_soundnotation.options.catalogue.last_edit') %></th>
      <th class="visible-md visible-lg"><%= t('my_soundnotation.options.catalogue.version') %></th>
      <th class="visible-md visible-lg"><%= t('my_soundnotation.options.catalogue.process') %></th>
      <th style="width: 15%"><%= t('my_soundnotation.options.catalogue.edit') %></th>
    </tr>
    </thead>
    <tbody class="catalogue-data-fields">
    <% @scores.present? && @scores.each_with_index do |score, index| %>
      <% composition = ComposerDecorator.new(score.composition) %>
      <tr class="catalog-row-<%= score.id %>">
        <td class="catalogue-table-title composition-title">
          <span <%= "title=#{score.id}" if current_user.admin? %>><%= composition.title %></span>
          <% if score.demo_product? %>
            <br>
            <span class="demo-word" id="<%= 'demo-tour' if index == 0 %>">DEMO</span>
          <% end %>
        </td>
        <td class="catalogue-table-title visible-md visible-lg composition-author"><%= composition.author_name %></td>
        <!-- <td class="catalogue-table-title visible-md visible-lg composition-author"><%= score.composition.composer_name %></td> -->
        <td class="catalogue-table-title visible-md visible-lg"><%= composition.created_at.to_date %></td>
        <td class="catalogue-table-title visible-md visible-lg"><%= score.updated_at.to_date %></td>
        <td class="catalogue-table-title visible-md visible-lg">
          <% if score.product.nil? %>
            <%= score.scoring.humanize %><br>
            <%= "-" %>
          <% else %>
            <%= score.product.title %><br>
            <%= score.product.maximum_difficulties == 0 ? '' : t('activerecord.attributes.user.' + score.difficulty.to_s) %>
          <% end %>
        </td>
        <td class="catalogue-table-title visible-md visible-lg">
          <img src="<%= score.created? ? image_path('soundnotation_dashboard/catalogue-created.png') : image_path('soundnotation_dashboard/catalogue-not-created.gif')%>">
          <div class="status-text">
            <% if score.created? %>
            <%= t('my_soundnotation.options.catalogue.created') %>
            <% elsif score.default? || score.preprocessing? %>
            <%= t('my_soundnotation.options.catalogue.in_transcription') %>
            <% else %>
            <%= t('my_soundnotation.options.catalogue.in_review') %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="row">
            <% if score.sheet_music_player.try(:has_notation) %>
              <%= link_to sheet_music_player_path(score.sheet_music_player), :data => {remote: true}, title: "play sheet music file" do %>
                <span class="catalogue-table-image play-image"></span>
              <% end %>
            <% else %>
              <span class="catalogue-table-image play-image btn-catalogue-play" title="play sheet music file"></span>
            <% end %>
            <%= link_to meta_data_editor_path(score_id: score.id), :data => {remote: true}, title: "edit metadata and cover" do %>
              <span class="catalogue-table-image pencil-image"></span>
            <% end %>
            <span class="catalogue-table-image <%= score.created? ? 'download-image regular-image' : 'btn-empty-download' %>" title="download sheet music files"></span>
            <div class="download-options">
              <%= link_to "<p class='download-pdf'>PDF</p>".html_safe, final_pdf_download_score_path(score.id) if score.created? %>
              <%= link_to "<p class='download-pdf'>EPUB</p>".html_safe, final_epub_download_score_path(score.id) if score.created? && score.combined_epub.present? %>
              <% score.created? && score.score_files.no_pdf.each do |file| %>
                <% if file.format == 'flac' %>
                  <%= link_to "<p class='download-pdf'>MP3</p>".html_safe, download_flac_as_mp3_score_file_path(file), target: '_blank', data: {turbolinks: false} %>
                <% else %>
                  <%= link_to "<p class='download-pdf'>#{file.format.upcase}</p>".html_safe, download_score_file_path(file), target: '_blank', data: {turbolinks: false} %>
                <% end %>
              <% end %>
            </div>
            <span class="catalogue-table-image basket-image btn-delete-score" data-score-id="<%= score.id %>" title="delete"></span>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @scores.count > 10 %>
  <div class="text-center catalogue-pagination">
    <div class="col-md-1">
      <p class="per_page_text">
        <%= t('my_soundnotation.options.catalogue.pagination_view') %>
      </p>
      <%= form_tag url_for(controller: :my_soundnotation, action: :catalogue), method: :get, id:'catalogue_limit_page', remote: true do %>
        <%= select_tag :cat_per_page, options_for_select([10, 20, 50], selected: params[:cat_per_page] || 10), class: 'form-control per_page' %>
      <% end %>
    </div>
    <%= will_paginate_remote @scores, :catalogue, per_page: params[:cat_per_page] %>
  </div>
  <% end %>

  <div class="text-center total-items catalogue-total-items">
    <p><%= "#{t('my_soundnotation.options.catalogue.total_items')}: #{@scores.count}" %></p>
  </div>
</div>
<script type="text/javascript" >
  $(function(){
    $('#cat_per_page').change(
      function() {
        $('#catalogue_limit_page').submit();
      });
  });
</script>
