<%= form_for(composition, url: creator_wizard_step_compositions_path(CreatorWizard::ADD_DETAILS_STEP), method: :post, html: {class: 'form-horizontal info-form', id: 'composition-info-form'}) do |f| %>
  <div class="form-group" id="composition-title-field">
    <label class="col-sm-2 control-label upload-file-form-label"><%= t('.metadata.title') %>*</label>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control creator-form-input score-form-input creator-form-input-width cf-required' %>
    </div>
  </div>

  <div class="form-group" id="default-composer-name">
    <label class="col-sm-2 control-label upload-file-form-label"><%= t('.metadata.composer') %>*</label>
    <div class="col-sm-10">
      <input class="form-control creator-form-input score-form-input creator-form-input-width cf-required" value="<%= @composition.title %>" name="composition[title]"/>
    </div>
    <!-- -->
  </div>

  <div class="form-group group_dynamic">
    <button class="btn form-button add-author-button"><i class="fa fa-plus-square"></i></button>
  </div>

  <!-- Container for extra lyric (added dynamically via my_soundnotation.js) -->
  <div class="extra-composer-container">
    <div class="composer-container"></div>
  </div>
  <!-- End of container for extra lyric -->

  <!-- ugly stuff, will separate current form into two ones and then create right margin -->
  <div class="divider"></div>
  <!-- end of ugly stuff -->


  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t('meta_data.editor_modal.copyright') %></label>
    <div class="col-sm-10">
      <input class="form-control creator-form-input score-form-input creator-form-input-width" value="<%= current_user.default_copyright %>" name="composition[copyrights_attributes][0][name]"/>
    </div>
  </div>

  <div class="form-group group_dynamic">
    <button class="btn form-button add-copyright-button"><i class="fa fa-plus-square"></i></button>
  </div>

  <div class="extra-copyright-container">
    <div class="copyright-container"></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t('.metadata.main_genre') %>*</label>

    <div class="col-sm-6" id="composition-genre-field">
      <%= f.select :genre, Score::GENRE_DISPLAY.collect { |g| [I18n.t('activerecord.attributes.score.genres.' + g.to_s).titleize, g] }.sort, {include_blank: I18n.t('my_soundnotation.composer_info_form.metadata.please_choose')}, {class: 'form-control creator-form-input score-form-input select-background select-composition-genre'} %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label"><%= t('my_soundnotation.composer_info_form.metadata.lyrics.title') %></label>
    <button type="button" class="btn add-lyrics-button" data-toggle="modal" data-target="#myModal">
      <%= t('my_soundnotation.composer_info_form.metadata.lyrics.add_lyrics') %>
    </button>

    <%= render 'lyrics_in_composition' %>
  </div>


  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-6 preview-lyrics" style="margin-left: 30px;"></div>
  </div>
<% end %>

<div class="row form-nav">
  <a class="pull-right btn btn-nav" id="to_options"><%= t('.nav_buttons.next') %></a>
  <a class="pull-left btn btn-nav" id="back_to_uploads"><%= t('.nav_buttons.back') %></a>
</div>

<script type="text/template" id="first-composer">
  <label class="col-sm-2 control-label"><%= t('.metadata.composer') %>*</label>
  <div class="col-sm-10">
    <!--TODO::Fix me required field-->
    <!--<input class="form-control creator-form-input first-composer creator-form-input-width cf-required" name="composition[authors_attributes][{{= composition_form_number }}][full_name_str]" value="{{= composer.full_name }}"/>-->
    <input class="form-control creator-form-input first-composer creator-form-input-width" name="composition[authors_attributes][{{= composition_form_number }}][full_name_str]" value="{{= composer.full_name }}"/>
    <input type="hidden" class="first-composer-id" name="composition[authors_attributes][{{= composition_form_number }}][id]" value="{{= composer.id }}"/>
    <input type="hidden" name="composition[authors_attributes][{{= composition_form_number }}][author_type]" value="composer"/>
    <!-- <input type="hidden" name="composition[authors_attributes][{{= composition_form_number }}][main_composer]" value="true"/> -->
  </div>
</script>

<script type="text/template" id="composer-form">
  <div class="form-group group_dynamic">
    <div class="col-sm-2">
      <select name="composition[authors_attributes][{{= composition_form_number }}][author_type]" class="form-control creator-composer-dynamic-select" data-sequence="{{=composition_form_number}}">
        {{ _.each(author_types, function(key, value){ }}
        <option value="{{= value }}">
          {{= upperFirst(key) }}
        </option>
        {{ }) }}
      </select>
    </div>
    <div class="col-sm-10">
      {{ if(author.id) { }}
      <input type="hidden" name="composition[authors_attributes][{{= composition_form_number }}][id]" value="{{= author.id }}"/>
      {{ } else { }}
      <input type="hidden" name="composition[authors_attributes][{{= composition_form_number }}][id]"/>
      {{ } }}
      <input name="composition[authors_attributes][{{= composition_form_number }}][full_name_str]" class="form-control composer-dynamic-field" value="{{= author ? author.full_name : '' }}"/>
    </div>
    <button class="delete-composer-field btn delete-field-button"><i class="fa fa-minus-square"></i></button>
  </div>
</script>

<script type="text/template" id="copyright-form">
  <div class="form-group group_dynamic">
    <label class="col-sm-2 control-label"><%= t('meta_data.editor_modal.copyright') %></label>
    <div class="col-sm-8">
      {{ if(copyright.id) { }}
      <input type="hidden" name="composition[copyrights_attributes][{{= copyright_form_number }}][id]" value="{{= copyright.id }}"/>
      {{ } else { }}
      <input type="hidden" name="composition[copyrights_attributes][{{= copyright_form_number }}][id]"/>
      {{ } }}
      <input name="composition[copyrights_attributes][{{= copyright_form_number }}][name]" class="form-control copyright-dynamic-field" value="{{= copyright ? copyright.name : '' }}"/>
    </div>

    <button class="delete-copyright-field btn delete-field-button"><i class="fa fa-minus-square"></i></button>
  </div>
</script>

<script type="text/javascript">
  window.genre = <%= Score::GENRE_DISPLAY.to_json.html_safe %>;
</script>
