<div class="tab-pane fade in active" id="upload-file">
  <div class="upload-options-buttons">
    <%= form_for(@composition, url: creator_wizard_compositions_path, method: :post) do |f| %>
      <div class="row">

      </div>
      <div class="row file-button-container">
            <span class="btn btn-default btn-file">
                + <%= t('.upload.button_text') %><%= f.file_field :audio_file, class: 'required' %>
            </span>
      </div>
      <br/>

      <div class="row">
        <div class="progress">
          <div id="audio_uploading_progress" class="progress-bar progress-bar-sound-notation" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only"><span id="audio_uploading_progress">0%</span></span>
          </div>
        </div>
      </div>
    <% end %>
    <br/>
  </div>
  <div class="row form-nav">
    <a class="pull-right btn btn-nav" id="to_song_info"><%= t('.nav_buttons.next') %></a>
  </div>
</div>

<!-- Composition additional information: BEGIN  -->
<div id="song-info" class="tab-pane fade">
  <%= render 'composer_info_form', composition: @composition %>
</div>
<!-- Composition additional information: END  -->

<div id="options" class="tab-pane fade container-fluid">
  <%= render 'score_form', composition: @composition %>
</div>

<div id="chordsheet" class="tab-pane fade">
  <div class="checkout-information">

    <div class="invoice-sentence">
      <div class="text-center" id="invoice-sentence"><%= t('.shop_checkout.invoice_sentence') %></div>
    </div>

    <div class="invoice-total-price">
      <div class="text-right" id="invoice-total-price">Total $0.0</div>
    </div>

    <%= form_for(@composition, url: creator_wizard_step_compositions_path(CreatorWizard::CHECKOUT_STEP), method: :post, html: {class: 'form-horizontal info-form', id: 'payment-form'}) do |f| %>

      <input type="hidden" name="billing_address" class="payment-billing-address">

      <div class="alert alert-danger hide" id="payment-error">
        <strong><%= t('.shop_checkout.error') %>:&nbsp;<span id="error-message"></span></strong>
      </div>
      <div class="checkout-credit-card">
        <div class="row credit-card-block">
          <%= image_tag("soundnotation_dashboard/visa-icon.png", class: "credit-card-image") %>
          <%= image_tag("soundnotation_dashboard/master-card-icon.png", class: "credit-card-image") %>
          <%= image_tag("soundnotation_dashboard/amex-icon.png", class: "credit-card-image") %>
          <%= image_tag("soundnotation_dashboard/discover-card-icon.png", class: "credit-card-image") %>
        </div>
        <div class="form-group" id="number">
          <label for="card_number" class="control-label"><%= t('.shop_checkout.card_number') %></label>
          <input type="text" class="form-control" data-stripe="number">
        </div>
        <div class="form-group">
          <label class="control-label expiration_cc">
            <span><%= t('.shop_checkout.expiration') %></span>
            <input type="text" size="2" data-stripe="exp-month"/>
          </label>
          <span> / </span>
          <input type="text" size="4" data-stripe="exp-year"/>
        </div>
        <div class="form-group">
          <label for="card_holder" class="control-label"><%= t('.shop_checkout.card_holder') %></label>
          <input type="text" class="form-control" data-stripe="data-name" value="<%= current_user.try(:full_name) %>">
        </div>
        <div class="form-group" id="cvc">
          <label for="security_code" class="control-label"><%= t('.shop_checkout.security_code') %></label>
          <input type="text" class="form-control" data-stripe="cvc" style="-webkit-text-security: disc;">
        </div>
        <div class="credit-card-line"></div>
        <div class="total-credit-card-summ" id="total-price"></div>
      </div>
    <% end %>

    <div class="row checkout-options" id="order_details">

    </div>

    <div class="form-nav">
      <a class="pull-left btn btn-nav" id="back_to_options"><%= t('.nav_buttons.back') %></a>
      <a class="pull-left btn btn-nav" id="back_to_cart"><%= t('.nav_buttons.back') %></a>

      <div class="tooltip_handler" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('.buy_button') %>">

      </div>
      <button class="pull-right btn buy_button" disabled id="buy_button"><%= t('.shop_checkout.buy') %></button>
    </div>
  </div>
</div>

<div class="order-confirmation">
  <div class="text-center">
    <p class="creator-thank-you"><%= t('.shop_checkout.thank_you_order').mb_chars.upcase.to_s %></p>
    <p><%= t(".shop_checkout.send_confirmation_html", :href => content_tag('a', t(".shop_checkout.catalogue_href"), id: "to_catalogue_after_purchase")) %></p>
  </div>
</div>

<script>
  function AutoGrowTextArea(textField) {
    if (textField.clientHeight < textField.scrollHeight) {
      textField.style.height = textField.scrollHeight + "px";
      if (textField.clientHeight < textField.scrollHeight) {
        textField.style.height = (textField.scrollHeight * 2 - textField.clientHeight) + "px";
      }
    }
  }
</script>

<script type="text/template" id="composition-title">
  <label class="col-sm-2 control-label"><%= t('.metadata.title') %>*</label>

  <div class="col-sm-10">
    <input class="form-control creator-form-input creator-form-input-width cf-required" name="composition[title]" value="{{= composition.title }}"/>
    <input type="hidden" name="composition[id]" value="{{= composition.id }}">
  </div>
</script>

<script type="text/template" id="composition-id-field">
  <input type="hidden" name="composition[id]" value="{{= composition.id }}">
</script>

<script type="text/template" id="total-price-tpl">
  <p><%= t('.shop_checkout.total') %> {{= price_with_unit(grand_total) }}</p>
</script>

<script type="text/template" id="composition-cart-details">
  <div class="row checkout-options">
    {{ _.each(cart_items, function(item){ }}
    <p style="margin-left: 10px; font-weight: bold; margin-bottom: 10px; margin-top: -10px;">
      {{= humanize(item.product.title) }}
    </p>

    <div class="well creator-well" style="margin-left: 10px;">
      <p><%= t('.shop_checkout.title') %>:
        {{= composition.title }}</p>

      <p><%= t('.shop_checkout.composer') %>:
        {{= composition.composer_name }}</p>
      <p>{{ _.each(composition.other_authors, function(author){ }}
        {{= author.full_name }}</p>
      {{ }); }}
    </div>
    <div class="row checkout-result">
      <p class="pull-left" style="margin-left: 26px;"><%= t('.shop_checkout.difficulty') %>
        <b>{{= I18n.t('activerecord.attributes.user.'+item.score.difficulty)}}</b>
        <%= t('.shop_checkout.arrangement') %>
        <b>Original</b></p>

      <p class="pull-right" style="margin-right: 40px;">{{= price_with_unit(item.price) }}</p>
    </div>
    <div class="chordsheet-line"></div>
    {{ }); }}
    {{ if(gift_code) { }}
    <div class="row gift-code-section">
      <p class="pull-left" style="margin-top: 15px; margin-left: 26px;"><b>{{= gift_code.code }}</b></p>

      <p class="pull-right" style="margin-top: 15px; margin-right: 45px;">
        {{ if (gift_code.discount_type == "percentage") { }}
        - {{= gift_code.discount_amount }} {{='%'}}
        {{ } else { }}
        - {{= price_with_unit(gift_code.discount_amount) }}
        {{ } }}
      </p>
    </div>
    {{ } }}
    <div class="gift-code-line"></div>
    <div class="checkout-price-calculation-text">
      <div>
        <p class="row" style="margin-bottom: 5px; margin-right: 27px;">
          <%= t('.shop_checkout.net_amount') %>: {{= price_with_unit(cart.total_price) }}</p>

        <p class="row" style="margin-right: 27px;">
          <%= t('.shop_checkout.vat') %> (19%) {{= price_with_unit(cart.tax) }}</p>
      </div>
      <div class="price-calculation-line"></div>
      <p style="margin-right: 27px;" class="row">
        <%= t('.shop_checkout.total') %> {{= price_with_unit(cart.grand_total)}} </p>
    </div>
  </div>
</script>

<script type='text/javascript'>

  var envProduction = <%= Rails.env.production? %>;

  if (envProduction) {
    function goodbye(e) {
      if (creatorTabActive() && creatorUploadInProgress() && !creatorPaymentSuccessful()) {
        if (!e) e = window.event;
        //e.cancelBubble is supported by IE - this will kill the bubbling process.
        e.cancelBubble = true;
        e.returnValue = 'You sure you want to leave?'; //This is displayed on the dialog

        //e.stopPropagation works in Firefox.
        if (e.stopPropagation) {
          e.stopPropagation();
          e.preventDefault();
        }
      } else {
        return undefined;
      }
    }

    window.onbeforeunload = goodbye;
  }
</script>
