<div class="col-lg-12 col-xs-12 col-sm-12">
  <div class="col-lg-4 col-xs-12 col-sm-12">
    <div class="upload-text">
      <div class="row">
        <p style="color: #FF4747; font-weight: bold; margin-left: 20px;"><%= t('my_soundnotation.options.creator.upload.upload_files') %></p>
      </div>
      <div class="row">
        <p style="margin-left: 20px;" class="visible-md visible-lg">
          <%= t('my_soundnotation.options.creator.upload.description') %>
        </p>
      </div>
    </div>
    <div class="add-details">
      <div class="row col-xs-12 col-sm-12">
        <p style="color: #FF4747; font-weight: bold; margin-left: 20px;"><%= t('my_soundnotation.options.creator.metadata.add_details') %></p>
      </div>
      <div class="row">
        <p style="margin-left: 20px;" class="visible-md visible-lg">
          <%= t('my_soundnotation.options.creator.metadata.description') %>
        </p>
      </div>
    </div>
    <div class="add-version">
      <div class="row col-xs-12 col-sm-12">
        <p style="color: #e94f3b; font-weight: bold; margin-left: 20px;"><%= t('my_soundnotation.options.creator.add_version.add_version') %></p>
      </div>
      <div class="row col-xs-12 col-sm-12">
        <p style="margin-left: 20px;" class="visible-md visible-lg">
          <%= t('my_soundnotation.options.creator.add_version.description') %>
        </p>
      </div>
      <div class="row col-xs-12 col-sm-12">
        <div class="cart">
          <%= image_tag('cart-icon.png', class: "card-img") %>
        </div>
      </div>
      <div class="cart-line"></div>
      <div class="row summary-wrapper col-xs-12 col-sm-12">
        <div class="summary">
        </div>
      </div>
    </div>
    <div class="checkout-section col-xs-12 col-sm-12">
      <p class="creator-checkout-header"><%= t('my_soundnotation.options.creator.shop_checkout.checkout') %></p>
      <div class="checkout-line"></div>
      <p style="font-size: 15px !important;" class="visible-md visible-lg">
        <b><%= t('my_soundnotation.options.creator.shop_checkout.billing_address') %></b></p>
      <p class="billing-address"><%= current_user.company %></p>
      <p class="address-line billing-address"><%= current_user.street_house_number %></p>
      <p class="address-line billing-address"><%= current_user.zip_code_city %></p>
      <p class="country-line billing-address"><%= current_user.country.name %></p>
      <p class="edit-button edit-address"><%= t('my_soundnotation.options.creator.shop_checkout.edit') %></p>
      <p class="edit-button save-address"><%= t('profiles.payment_details.save') %></p>
      <div class="edit-line"></div>
      <div class="form-group checkout-form">
        <div class="col-sm-12">
          <label for="payment_method" class="payment-label control-label"><%= t('my_soundnotation.options.creator.shop_checkout.payment_method') %></label>
        </div>
        <div class="col-sm-12 payment-info">
          <select class="form-control payment-select">
            <!--<option value="paypal" name="paypal">Paypal</option>-->
            <option value="other" name="other" selected="selected"><%= t('my_soundnotation.options.creator.shop_checkout.please_choose') %></option>
            <option value="credit-card" name="credit-card"><%= t('my_soundnotation.options.creator.shop_checkout.credit_card') %></option>
            <option value="invoice" name="invoice_only"><%= t('my_soundnotation.options.creator.shop_checkout.invoice_only') %></option>
          </select>
        </div>
      </div>
      <div class="payment-line"></div>
      <%= form_for(@current_cart, url: apply_coupon_path, method: :post, html: {id: 'coupon-gift-form'}) do |f| %>
          <div class="form-group checkout-form">
            <div class="col-sm-12">
              <label for="gift_code" class="gift-code-label control-label"><%= t('my_soundnotation.options.creator.shop_checkout.enter_gift_code') %></label>
            </div>
            <div class="col-sm-12 gift-code">
              <input class="form-control gift-code-input" id="gift-code-input" name="code"/>
            </div>
            <div class="col-sm-12 gift-code">
              <input type="submit" value="<%= t('my_soundnotation.options.creator.shop_checkout.apply') %>" class="btn btn-default gift-code-input">
            </div>
          </div>
      <% end %>
      <div class="gift-line"></div>
    </div>
    <div class="col-md-12 no_padding">
      <ul id="steps" class="nav nav-pills form-steps hidden-xs hidden-sm">
        <li class="active">
          <a title="<%= t('my_soundnotation.options.creator.upload.upload_files') %>" data-toggle="pill" href="#upload-file" id="wrapper-nav-upload-text"></a>
        </li>
        <li>
          <a title="<%= t('my_soundnotation.options.creator.metadata.add_details') %>" data-toggle="pill" href="#song-info" id="wrapper-nav-song-info"></a>
        </li>
        <li>
          <a title="<%= t('my_soundnotation.options.creator.add_version.add_version') %>" data-toggle="pill" href="#options" id="wrapper-nav-options"></a>
        </li>
        <li>
          <a title="<%= t('my_soundnotation.options.creator.shop_checkout.checkout') %>" data-toggle="pill" href="#chordsheet" id="wrapper-nav-chordsheet"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 tab-content creator-steps">
    <%= render 'creator_form' %>
  </div>
</div>
