<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
    <span class="sr-only"><%= t('layouts.toggle_navigation') %></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to image_tag("logo.png", class: "customer_logo"), root_path, class: "navbar-brand" %>
</div>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="nav links-nav customer-nav navbar-nav navbar-right">
    <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to t('layouts.nav.my_soundnotation'), my_soundnotation_path, class: 'nav-link', 'data-turbolinks' => false %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.account'), current_user, class: 'nav-link', 'data-turbolinks' => false %>
        </li>
        <li class="nav-item">
          <%= link_to "Faq", freelancers_faq_path, class: 'nav-link', 'data-turbolinks' => false %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.logout'), destroy_user_session_path, class: 'nav-link', :method => :delete %>
        </li>
    <% else %>
        <li class="nav-item">
          <%= link_to t('layouts.nav.sign_up'), "#user_sign_up", "data-toggle" => "modal", class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.login'), "#user_login", "data-toggle" => "modal", class: 'nav-link' %>
        </li>
    <% end %>
  </ul>
</div>
