<div class="row col-lg-12">
  <div class="col-lg-4">
    <p style="color: #209977; font-weight: bold"><%= t('.my_files') %></p>
    <%= link_to distributors_sales_report_path, :data => {remote: true} do %>
      <div class="sales-report-nav distributor-color">
        <div class="sales-icon"><%= image_tag 'sales-report.png' %></div>
        <div class="sales-label">Daily Sales & Analytics</div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 hidden-xs hidden-sm">
    <p style="font-style: italic; font-size: 15px;"><%= t('.main_text_html') %></p>
  </div>
  <div class="col-lg-4">
    <div class="input-group changethisone">
      <input type="text" class="form-control search-input" data-tab-name='distributor' data-search-path='<%= my_soundnotation_distributor_path %>' placeholder="search">
      <span class="input-group-addon search-addon distributor-search-addon">
          <%= image_tag 'loop.png', :id => "loop-img" %>
      </span>
    </div>
  </div>
</div>
<div class="distributor-table-container">
  <table class="table table-striped sortable" id="table-distributor">
    <thead class="distributor-table-header">
    <tr>
      <th width="15%" class="visible-md visible-lg"><%= t('.table.cover') %></th>
      <th width="12%" class="visible-md visible-lg"><%= t('.table.release_date') %></th>
      <th width="20%"><%= t('.table.title') %></th>
      <th width="18%" class="visible-md visible-lg"><%= t('.table.composer') %></th>
      <th width="15%" class="visible-md visible-lg"><%= t('.table.version') %></th>
      <th width="15%"><%= t('.table.edit') %></th>
    </tr>
    </thead>
    <tbody>
    <% @created_scores.each do |score| %>
      <tr class="distributor-table-row-<%= score.id %>">
        <%= render partial: 'distributors/distributor_table_item', locals: {score: score} %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= select_tag :options, options_from_collection_for_select(@chains_and_lone_shops, :name, :name), prompt: 'Select Shop', class: "form-control shop-options" %>
      </div>
      <div class="col-md-3">
        <button class="btn btn-sm btn-score-export distribute-button" disabled><%= t('admin.actions.export.menu') %></button>
      </div>
    </div>
  <% end %>
  
  <% if @created_scores.count > 10 %>
  <div class="text-center distributor-pagination">
    <div class="col-md-1">
      <p class="per_page_text">
        <%= t('my_soundnotation.options.catalogue.pagination_view') %>
      </p>
      <%= form_tag url_for(controller: :my_soundnotation, action: :distributor), method: :get, id:'distributor_per_page', remote: true do %>
        <%= select_tag :dis_per_page, options_for_select([10, 20, 50], selected: params[:dis_per_page] || 10), class: 'form-control per_page' %>
      <% end %>
    </div>
    <%= will_paginate_remote @created_scores, :distributor, per_page: params[:dis_per_page] %>
  </div>
  <% end %>

  <div class="text-center total-items distributor-total-items">
    <p><%= "#{t('my_soundnotation.options.catalogue.total_items')}: #{@created_scores.count}" %></p>
  </div>
</div>
<div class="option-modal"></div>

<script type="application/javascript">
  $(function(){
    $('#dis_per_page').change(
      function() {
      $('#distributor_per_page').submit();
    });
  });

  $('.btn-score-export').click(function () {
    var scoreIds = [];
    var shopName = $('.shop-options :selected').val();
    var exportPath = '/scores/export';
    $("input:checkbox[name=score]:checked").map(function () {
      scoreIds.push($(this).data('score-id'));
    });

    window.location = exportPath + '?shop_name=' + shopName + '&score_ids=' + scoreIds;
  });

  $('.shop-options').change(function () {
    if ($(this).val()) {
      $('.btn-score-export').prop('disabled', false);
    } else {
      $('.btn-score-export').prop('disabled', true);
    }
  });

  $('.distributor-select').unbind().change(function () {
    selectedOption = $(this).val();
    scoreId = $(this).data('score-id');
    $('.option-modal').html("<a data-remote=true href=/distributors/settings?score_id=" + scoreId + "&selected_option=" + selectedOption + ">x</a>");
    $('.option-modal > a').click();
  });
</script>
