<div class="modal fade bs-example-modal-lg lyrics-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header lyrics-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('my_soundnotation.composer_info_form.lyrics.lyrics') %></h4>
      </div>
      <div class="modal-body lyrics-modal-content">
        <div class="col-sm-4">
          <p>
            <%= t('my_soundnotation.composer_info_form.lyrics.howto_html') %>
          </p>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= t('my_soundnotation.composer_info_form.lyrics.language') %></label>
            <div class="col-sm-5">
              <%= select_tag "composition[product_language_id]", options_for_select(Language.visible.collect { |c| [c.name, c.id] }), class: 'form-control select-background' %>
            </div>
          </div>
          <div class="form-group lyrics-form">
            <div class="col-sm-12">
              <textarea class="form-control lyrics-form-input" name="composition[lyrics]" onkeyup="AutoGrowTextArea(this)" rows="8"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer lyrics-modal-footer">
        <button type="button" class="btn lyrics-modal-action-button" data-dismiss="modal" data-action="cancel"><%= t('my_soundnotation.composer_info_form.lyrics.cancel') %></button>
        <button type="button" class="btn lyrics-modal-action-button" data-dismiss="modal" data-action="save"><%= t('my_soundnotation.composer_info_form.lyrics.save') %></button>
      </div>
    </div>
  </div>
</div>

