<div class="tab-pane fade" id="creator">
  <%= render 'creator' %>
</div>
<div class="tab-pane fade in active" id="catalogue">
  <%= render 'catalogue' %>
</div>
<div class="tab-pane fade" id="promoter">
  <%= render 'promoters' %>
</div>
<div class="tab-pane fade" id="distributor">
  <%= render 'distributors' %>
</div>

<div class="open-modal"></div>

<div class="open-promoter-modal"></div>
