<div class="row col-lg-12">
  <div class="col-lg-4">
    <p style="color: #931f2a !important; font-weight: bold"><%= t('.my_files') %></p>
  </div>
  <div class="col-lg-4 hidden-xs hidden-sm">
    <p style="font-style: italic; font-size: 15px;"><%= t('.main_text_html') %></p>
  </div>
  <div class="col-lg-4">
    <div class="input-group changethisone">
      <input type="text" class="form-control search-input" data-tab-name='promoter' data-search-path='<%= my_soundnotation_promoter_path %>' placeholder="search">
      <span class="input-group-addon search-addon promoter-search-addon">
          <%= image_tag 'loop.png', :id => "loop-img" %>
        </span>
    </div>
  </div>
</div>
<div class="promoter-table-container">
  <table class="table table-striped sortable" id="table-promoter">
    <thead class="promoter-table-header">
    <tr>
      <th class="visible-md visible-lg"><%= t('.table.cover') %></th>
      <th class="visible-md visible-lg"><%= t('.table.release_date') %></th>
      <th><%= t('.table.title') %></th>
      <th class="visible-md visible-lg"><%= t('.table.composer') %></th>
      <th class="visible-md visible-lg"><%= t('.table.version') %></th>
      <th><%= t('.table.edit') %></th>
    </tr>
    </thead>
    <tbody>
    <% @created_scores.each do |score| %>
      <tr class="promoters-table-row-<%= score.id %>">
        <%= render partial: 'promoters/promoter_table_item', locals: {score: score} %>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <% if @created_scores.count > 10 %>
  <div class="text-center promoter-pagination">
    <div class="col-md-1">
      <p class="per_page_text">
        <%= t('my_soundnotation.options.catalogue.pagination_view') %>
      </p>
      <%= form_tag url_for(controller: :my_soundnotation, action: :promoter), method: :get, id:'promoters_per_page', remote: true do %>
        <%= select_tag :pro_per_page, options_for_select([10, 20, 50], selected: params[:pro_per_page] || 10), class: 'form-control per_page' %>
      <% end %>
    </div>
    <%= will_paginate_remote @created_scores, :promoter, per_page: params[:pro_per_page] %>
  </div>
  <% end %>

  <div class="text-center total-items promoter-total-items">
    <p><%= "#{t('my_soundnotation.options.catalogue.total_items')}: #{@created_scores.count}" %></p>
  </div>
</div>
<script type="text/javascript" >

  $(function(){
    $('#pro_per_page').change(
      function() {
      $('#promoters_per_page').submit();
      });
  });

</script>