<%= form_for(composition, url: creator_wizard_step_compositions_path(CreatorWizard::ADD_VERSION_STEP), method: :post, html: {class: 'form-horizontal info-form', id: 'score-details-form'}) do |f| %>
  <div class="song_wrapper row">
    <% @products.in_groups_of(2, false).each do |products| %>
      <div class="row">
        <% products.each do |product| %>
          <% next if product.nil? %>
          <div class="main-card-block col-md-5 col-lg-5 col-sm-5 section-<%= product.code %> price-cards-section price-<%= product.code %>-section <%= product.html_class %>">
            <div class="price-cards <%= product.code %>">
              <div class="price-card <%= product.code %>-notes">
                <%= image_tag(product.icon.url, class: "card-price-image #{product.code}-image") %>
                <div class="price-card-title row">
                  <p>
                    <span class="text-center score-title"><%= product.title %></span><br/>
                    <span class="score-price score-price-<%= product.id %>"> <%= 'per page = ' if product.pdf? %> <%= price_with_unit(product.default_user_price) %></span>
                    <span class="score-details-<%= product.id %>"></span>
                  </p>
                </div>
                <div class="price-line"></div>
                <div class="price-card-block">
                  <div class="product-card-description">
                    <span class="score-details-<%= product.id %>"><%= product.description %></span>
                  </div>
                  <div class="price-wrapper <%= product.code %>-wrapper">

                  </div>

                  <% if product.uberchord? %>
                    <button type="button" class="btn add-lyrics-button btn-uberchord-lyrics" data-toggle="modal" data-target="#myModal2" style="display: none">
                      <%= t('my_soundnotation.composer_info_form.metadata.lyrics.add_lyrics') %>
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row form-nav">
    <a class="pull-right btn btn-nav" id="to_chordsheet"><%= t('.nav_buttons.next') %></a>
    <a class="pull-left btn btn-nav" id="back_to_song_info"><%= t('.nav_buttons.back') %></a>
  </div>
  <%= render 'lyrics_in_score' %>
<% end %>


<script type="text/javascript">
  window.products = <%= raw @products.to_json %>;
  window.prices = <%= raw @prices.to_json %>;
  window.current_user = <%= raw @current_user.to_json %>;
</script>

<script type="text/template" id="score-summary">
  <div class="summary-purchase">
    {{ _.each(selected_scores, function(score){ }}
    <div class="score version-option">
      <p style="font-weight: bold">{{= humanize(score.title) }}</p>

      <p>{{= window.composition.title }}</p>
      <p>{{= window.composition.composer_name }}</p>
      <p style="font-weight: bold">
        {{= score.difficulty }} - Original {{= price_with_unit(score.price) }}</p>
    </div>
    {{ }); }}
    <div class="row total-summ"><p><%= t('.checkout.total') %>: {{= price_with_unit(window.totalPrice) }}</p></div>
    <div class="add-track-line"></div>
  </div>
</script>
