<nav class="navbar navbar-default soundnotation-nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#soundnotationNav" aria-expanded="false">
      <span class="sr-only"><%= t('layouts.toggle_navigation') %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="soundnotationNav">
    <ul class="nav links-nav customer-nav navbar-nav navbar-right">

      <% if user_signed_in? %>
        <% if current_user.admin? || current_user.admin_light? %>
          <li class="nav-item">
            <%= link_to t('layouts.nav.admin'), admin_root_path, class: 'nav-link', 'data-turbolinks' => false %>
          </li>
          <li class="nav-item">
            <%= link_to t('layouts.nav.dashboard'), freelancers_dashboard_path, class: 'nav-link', 'data-turbolinks' => false %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to t('layouts.nav.my_soundnotation'), my_soundnotation_path, class: 'nav-link', 'data-turbolinks' => false %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.account'), profile_path, class: 'nav-link', 'data-turbolinks' => false %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.logout'), destroy_user_session_path, class: 'nav-link', :method => :delete %>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to t('layouts.nav.sign_up'), "#user_sign_up", "data-toggle" => "modal", class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('layouts.nav.login'), "#user_login", "data-toggle" => "modal", class: 'nav-link' %>
        </li>

      <% end %>
    </ul>
  </div>
</nav>
