<div class="container soundnotation-container">
    <%= render 'soundnotation_nav' %>
    <div class="soundnotation-content">
        <%= render 'soundnotation_logo_section' %>
        <div class="tab-wrapper">
            <div class="fluid-soundnotation">
                <ul id="mytabs" class="nav nav-pills nav-justified" role="tablist">
                    <li class="creator soundnotation-tab" id="creator-step-container"><a href="#creator" class="unactive" role="tab" data-toggle="tab"><%= image_tag "creator-#{params['tab'] == 'creator' ? 'white' : 'normal'}.png", id: 'creator-bg', data: { normal: image_path('creator-normal.png'), white: image_path('creator-white.png') } %></a></li>
                    <li class="catalogue active soundnotation-tab" id="catalogue-step-container"><a href="#catalogue" class="catalogue-color" role="tab" data-toggle="tab"><%= image_tag "catalogue-#{params['tab'] == 'creator' ? 'normal' : 'white'}.png", id: 'catalogue-bg', data: { normal: image_path('catalogue-normal.png'), white: image_path('catalogue-white.png') } %></a></li>
                    <li class="promoter soundnotation-tab" id="promoter-step-container"><a href="#promoter" class="unactive" role="tab" data-toggle="tab"><%= image_tag 'promoter-normal.png', id: 'promoter-bg', data: { normal: image_path('promoter-normal.png'), white: image_path('promoter-white.png') } %></a></li>
                    <li class="distributor" id="distributor-step-container"><a href="#distributor" class="unactive distributor-modal-toggle" role="tab" data-toggle="tab"><%#= image_tag 'distributor-normal.png', id: 'distributor-bg', data: { normal: image_path('distributor-normal.png'), white: image_path('distributor-white.png') } %><img src="<%= image_path('distributor-normal.png') %>" id="distributor-bg" data-normal="<%= image_path('distributor-normal.png') %>" data-white="<%= image_path('distributor-white.png') %>"></a></li>
                </ul>
            </div>
            <div class="tab-content">
                <%= render 'options' %>
            </div>
        </div>
    </div>
</div>
<script data-skip-moving="true">
        (function(w,d,u,b){
               s=d.createElement('script');r=(Date.now()/1000|0);s.async=1;s.src=u+'?'+r;
               h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
       })(window,document,'<%= t('.bitrix_chat_link') %>');
</script>
